{% extends "PelagosAppBundle::layout.html.twig" %}

{% block pagetitle %}{{ title }}{% endblock %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css">
    <link type="text/css" rel="stylesheet" href="//cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.css" media="all" />
    {% for css in csses %}
        <link href="{{ css }}" rel="stylesheet" type="text/css" />
    {% endfor %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/qtip2/2.2.1/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    {% for js in jses %}
        <script type="text/javascript" src="{{ js }}"></script>
    {% endfor %}
{% endblock %}

{% block body %}
    {{ body | raw }}
{% endblock %}
