        {% if person.employeeNumber.value %}
        <tr>
            <td><span class=account_required>RPIS ID:</span></td>
            <td style='height:25px'>{{person.employeeNumber.value}}<input type=hidden name=employeeNumber value='{{person.employeeNumber.value}}'></td>
        </tr>
        {% endif %}
        <tr>
            <td><span class=account_required>E-mail:</span></td>
            <td style='height:25px'>{{person.mail.value}}<input type=hidden name=mail value='{{person.mail.value}}'></td>
        </tr>
        <tr>
            <td><span class=account_required>First Name:</span></td>
            <td><input type=text name=givenName size=20 class="{{person.givenName.class}}" value='{{person.givenName.value}}'></td>
        </tr>
        <tr>
            <td><span class=account_required>Last Name:</span></td>
            <td><input type=text name=sn size=20 class="{{person.sn.class}}" value='{{person.sn.value}}'></td>
        </tr>
        <tr>
            <td><span class=account_required>Display Name:</span></td>
            <td><input type=text name=cn size=40 class="{{person.cn.class}}" value='{{person.cn.value}}'></td>
        </tr>
        <tr>
            <td>Title:</td>
            <td><input type=text name=title size=40 class="{{person.title.class}}" value='{{person.title.value}}'></td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td><input type=text name=telephoneNumber size=20 class="{{person.telephoneNumber.class}}" value='{{person.telephoneNumber.value}}'> <span style='font-size:75%;color:#555'>(XXX) XXX-XXXX</span></td>
        </tr>
