{% extends "template/UI.html.twig" %}

{% block body %}
    <div class="messages warning">
        <h2 class="element-invisible">Error message</h2>
        You are already logged in to the website. Please look at the right corner of your browser, you should find your username. For any additional help please contact
        <a href="mailto:help@griidc.org">help@griidc.org</a>.
    </div>
{% endblock %}
