{% extends "template/UI.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/js/entity/FundingCycle.js') }}"></script>
{% endblock %}

{% block body %}
    <table border="0" width="100%">
        <tr>
            <td width="25%" valign="top">
            </td>
            <td style="padding:10px;" width="60%" valign="top">
                <div id="orgdetails">
                    <h2>Funding Cycle Details</h2>
                    {% include 'template/forms/FundingCycle.html.twig' %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
