{% extends "template/UI.html.twig" %}

{% block body %}
    <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        The link you have selected is invalid. The link may have already been used to create an account. If you have forgotten your password please visit <a href="{{ path('pelagos_app_ui_account_passwordreset') }}">password reset</a>. For any additional help please contact <a href=
        "mailto:help@griidc.org">help@griidc.org</a>.
    </div>
{% endblock %}
