{% extends "template/UI.html.twig" %}

{% block title %}
    System is in read-only mode
{% endblock %}

{% block body %}
    <h1>Site temporarily under maintenance/read-only mode</h1>
    <p>Sorry for the inconvenience, we will get back soon !</p>
{% endblock %}