{% extends "template/UI.html.twig" %}

{% block body %}
    <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        The email address you have entered is already associated with a GRIIDC account. If you have forgotten your password or would like to create a new password please visit <a href="{{ path('pelagos_app_ui_account_passwordreset') }}">password reset</a>. For any additional questions please contact <a href=
            "mailto:help@griidc.org">help@griidc.org</a>.
    </div>
{% endblock %}
