{% extends "template/UI.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('build/js/Account.js') }}"></script>
{% endblock %}

{% block body %}
    <table width="100%" border="0">
        <tr>
            <td width="50%">
                 <h2>Please provide the email address associated with your funding agreement when requesting an account.</h2>
            </td>
        </tr>
        <tr>
            <td width="50%">
                    <form id="accountForm" method="post" action="{{ path('pelagos_app_ui_account_sendverificationemail') }}">
                        <label for="emailAddress">E-mail Address:</label>
                        <input type="email" size="100" name="emailAddress" id="emailAddress" required>
                        <label style="display:inline;" for="emailAddress" class="error"></label>
                        <p>
                            <button type="submit">Submit</button>
                        </p>
                    </form>
            </td>
        </tr>
        <tr>
            <td width="50%">
                Accounts are governed by rules of Texas A&amp;M University–Corpus Christi. Accounts are issued to individuals and shall not be shared.</br>
                <p>
                    Unauthorized use is prohibited.< br/>
                    Usage may be subject to security testing and monitoring.< br/>
                    Misuse is subject to criminal prosecution.<br />
                    Users have no expectation of privacy except as otherwise provided by applicable privacy laws.<br />
                </p>
            </td>
        </tr>
        </p>
    </table>
{% endblock %}
