{% extends "template/UI.html.twig" %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/xregexp/2.0.0/xregexp-all-min.js"></script>

    <script type="text/javascript" src="{{ asset('build/js/Account.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="w-75 mx-auto" style="width:66%">
        <form id="passwordForm" method="post" action="{{ path('pelagos_app_ui_account_changepasswordpost') }}">
        <p>
            Please make a new password.
        </p>
        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" size="40" required>&nbsp;
        <label style="display:inline;" for="password" class="error"></label>
        <p>
            <label for="verify_password">Verify Password:</label>
            <input type="password" id="verify_password" name="verify_password" size="40">&nbsp;
            <label style="display:inline;" for="verify_password" class="error"></label>
        </p>
        <p>
            <ul>
                <li>Passwords must be a minimum of eight characters/numerals.</li>
                <li>Passwords must contain a combination of three of the the following:
                    <ul>
                        <li>Upper Case Letters (A, B, C, etc...)</li>
                        <li>Lower Case Letters (a, b, c, etc...)</li>
                        <li>Numbers (1, 2, 3, etc...)</li>
                        <li>Non-Alphabetic Characters (!, @, #, etc...)</li>
                    </ul>
                </li>
            </ul>
        </p>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Next</button>
        </form>
    </div>
{% endblock %}
