{% extends "template/UI.html.twig" %}

{% block body %}
    <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        The email address you have entered could not be found in the GRIIDC system. Please contact <a href=
        "mailto:help@griidc.org">help@griidc.org</a> for additional help.
    </div>
{% endblock %}
