{% extends "template/UI.html.twig" %}

{% block body %}
    <div class="w-75 mx-auto" style="width:66%">
        <div class="messages status">
            <h2 class="element-invisible">Status message</h2>
            {% if reset == true %}
                If the email address you have entered is found in the GRIIDC system, an email will be sent with additional information on how to reset your account password.
            {% else %}
                If the email address you have entered is found in the GRIIDC system, an email will be sent with additional information to finish the account creation process.
            {% endif %}
        </div>
    </div>
{% endblock %}
