{% extends "template/UI.html.twig" %}

{% block body %}
    <div class="w-75 mx-auto" style="width:66%">
        <div class="messages status">
            <h2 class="element-invisible">Status message</h2>
            {% if reset == true %}
                The email address you have entered has been located in the GRIIDC system. An email will be sent to this address with additional information on how to reset your the account password.
            {% else %}
                The email address you have entered has been located in the GRIIDC system. An email will be sent to this address with additional information to finish the account creation process.
            {% endif %}
        </div>
    </div>
{% endblock %}
