{% extends "template/UI.html.twig" %}

{% block body %}
    <div class="w-75 mx-auto" style="width:66%">
        <div class="messages error">
            <h2 class="element-invisible">Error message</h2>
            The email address you have entered could not be found in the GRIIDC system. Please contact <a href=
            "mailto:griidc@gomri.org">help@griidc.org</a> for additional help.
        </div>
    </div>
{% endblock %}
