{% extends "template/UI.html.twig" %}

{% block body %}
    <div class="w-75 mx-auto" style="width:66%">
        <table width="100%" border="0">
            <tr>
                <td width="50%">
                    <h3>To reset your password, please provide the email address associated with your funding agreement.</h3>
                </td>
            </tr>
                <tr>
                <td width="50%">
                        <form id="accountForm" method="post" action="{{ path('pelagos_app_ui_account_sendverificationemail') }}">
                            <label for="emailAddress">E-mail Address:</label>
                            <input type="hidden" name="reset" value="reset">
                            <input type="email" size="50" name="emailAddress" id="emailAddress" required>
                            <label style="display:inline;" for="emailAddress" class="error"></label>
                            <p>
                                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white py-2 px-4 rounded">Request Password Reset</button>
                            </p>
                        </form>
                </td>
            </p>
        </table>
    </div>
{% endblock %}
