{% extends "template/UI.html.twig" %}

{% block body %}
    <div class="w-75 mx-auto" style="width:66%">
        <table width="100%" border="0">
            <tr>
                <td width="50%">
                    <h3>Password Reset</h3>
                    To reset your password, please provide the email address associated with your funding agreement.
                </td>
            </tr>
                <tr>
                <td width="50%">
                        <form id="accountForm" method="post" action="{{ path('pelagos_app_ui_account_sendverificationemail') }}">
                            <label for="emailAddress">Email Address:</label>
                            <input type="hidden" name="reset" value="reset">
                            <input type="email" size="50" name="emailAddress" id="emailAddress" required class="block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300s focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            <label style="display:inline;" for="emailAddress" class="error"></label>
                            <div class="py-2">
                               <button type="submit" class="flex w-small justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Request Password Reset</button>
                            </div>
                        </form>
                </td>
            </p>
        </table>
    </div>
{% endblock %}
