{% extends "PelagosAppBundle::layout.html.twig" %}

{% block body %}
    Sorry, we cannot find what you are looking for. Please contact us at <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>. Sorry for any inconvenience.
{% endblock %}
