[status_icons]
-1 = "na.png"
 0 = "x.png"
 1 = "check.png"
 2 = "triangle_yellow.png"
 3 = "check.png"
 4 = "triangle_yellow.png"

[status_titles]
-1_identified = ""
 0_identified = ""
 1_identified = "This dataset has been identified and the DIF has been approved."
 2_identified = "A DIF has been submitted for this dataset, but it has not yet been approved."

-1_registered = ""
 0_registered = "This dataset has not yet been registered."
 1_registered = "This dataset has been registered successfully."
 2_registered = ""

-1_metadata = "This dataset has not yet been registered, therefore no metadata is available."
 0_metadata = "This dataset has been registered, but no metadata has been provided."
 1_metadata = "Metadata for this dataset is available, ISO compliant, and has been reviewed and accepted."
 2_metadata = "Metadata for this dataset is available, but has not been validated for ISO compliance or reviewed and accepted."

-1_available = "This dataset has not yet been registered, therefore it is not yet available."
 0_available = "This dataset has been registered, but the data is not yet available."
 1_available = "This dataset is available for all users to download."
 2_available = "This dataset is available, but download is restricted to certain users."
 3_available = "This dataset has been marked as available for all users to download, but is remotely hosted on a non-GRIIDC server, so availability status is not guaranteed to be accurate."
 4_available = "This dataset has been marked as restricted to certain users, but is remotely hosted on a non-GRIIDC server, so availability status is not guaranteed to be accurate."
