{% if fundingOrganization %}
    <span class="font-bold block text-lg">Datasets for: {{ fundingOrganization.name }}</span>

    {% for fundingCycle in fundingOrganization.fundingCycles %}
        <span class="font-bold block">Funding Cycle: {{fundingCycle.name}}</span>

        {% for researchGroup in fundingCycle.researchGroups %}
            {% include 'DatasetMonitoring/v2/researchGroups.html.twig' with {'researchGroup': researchGroup} %}
        {% endfor %}
    {% endfor %}
{% endif %}

{% if fundingCycle %}
    <span class="font-bold block">Datasets for: {{ fundingCycle.name }}</span>

    {% for researchGroup in fundingCycle.researchGroups %}
        {% include 'DatasetMonitoring/v2/researchGroups.html.twig' with {'reseachGroup': researchGroup} %}
    {% endfor %}
{% endif %}

{% if researchGroup %}
    <span class="font-bold block">Datasets for: {{ researchGroup.name }}</span>

    {% include 'DatasetMonitoring/v2/researchGroups.html.twig' with {'reseachGroup': researchGroup} %}
{% endif %}