# Read the documentation: https://github.com/FriendsOfSymfony/FOSElasticaBundle/blob/master/Resources/doc/setup.md
fos_elastica:
    clients:
        default: { host: localhost, port: 9200 }
    indexes:
        pelagos:
            client: default
            index_name: "%env(PELAGOS_NAME)%"
            types:
                dataset:
                    properties:
                        udi: ~
                        title: { boost: 3 }
                        abstract: ~
                        availabilityStatus: ~
                        identifiedStatus: ~
                        researchGroup:
                            type: 'nested'
                            properties:
                                id: ~
                                name: ~
                                fundingCycle:
                                    type: 'nested'
                                    properties:
                                        id: ~
                                        fundingOrganization:
                                            type: 'nested'
                                            properties:
                                                id: ~
                                                name: ~
                        datasetSubmission:
                            type: 'nested'
                            properties:
                                authors: ~
                                datasetFileTransferStatus: ~
                                datasetFileUri: ~
                                datasetFileSize: ~
                                restrictions: ~
                                placeKeywords: { boost: 3 }
                                themeKeywords: { boost: 3 }
                        doi:
                            type: 'nested'
                            properties:
                                doi: { boost: 3 }
                        publications:
                            type: 'nested'
                            properties:
                                doi: { boost: 3 }
                        geometry:
                            type: 'text'
                            property_path: false
                        simpleGeometry:
                            type: 'geo_shape'
                            ignore_malformed: true
                            property_path: false
                        year:
                            property_path: false
                        estimatedStartDate:
                            property_path: false
                        estimatedEndDate:
                            property_path: false
                        updatedDateTime:
                            type: 'date'
                            format: 'basic_date_time_no_millis'
                            property_path: false
                    persistence:
                        driver: orm
                        model: App\Entity\Dataset
                        provider:
                            query_builder_method: createSortedQueryBuilder
                        listener:
                            logger: true
                        finder: ~

        search_pelagos:
            client: default
            index_name: "%env(SEARCH_TOOL_INDEX)%"
            types:
                dataset:
                    properties:
                        udi:
                            type: 'text'
                        title:
                            type: 'text'
                        abstract:
                            type: 'text'
                        researchGroup:
                            type: 'nested'
                            properties:
                                id:
                                    type: 'keyword'
                                fundingCycle:
                                    type: 'nested'
                                    properties:
                                        fundingOrganization:
                                            type: 'nested'
                                            properties:
                                                id:
                                                    type: 'keyword'
                        datasetSubmission:
                            type: 'nested'
                            include_in_parent: true
                            properties:
                                authors:
                                    type: 'text'
                                themeKeywords:
                                    type: 'text'
                        availabilityStatus:
                            type: 'integer'
                        collectionStartDate:
                            property_path: false
                            type: 'date'
                        collectionEndDate:
                            property_path: false
                            type: 'date'
                        doi:
                            type: 'nested'
                            properties:
                                doi:
                                    type: 'text'
                    persistence:
                        driver: orm
                        model: App\Entity\Dataset
                        provider:
                            query_builder_method: createSortedQueryBuilder
                        listener:
                            logger: true
                        finder: ~
