# Read the documentation: https://symfony.com/doc/master/bundles/FOSRestBundle/index.html
fos_rest:
    routing_loader:
        default_format: json
        include_format: false
        parse_controller_name: false
    view:
        view_response_listener:  true
    serializer:
      serialize_null: true
    exception:
        enabled: true
        messages:
          'Symfony\Component\HttpKernel\Exception\BadRequestHttpException': true
#    format_listener:
#        rules:
#            - { path: ^/api, prefer_extension: true, fallback_format: json, priorities: [ json, html ] }
