old_sound_rabbit_mq:
    connections:
        default:
            url: '%env(RABBITMQ_URL)%'
    producers:
        dataset_submission:
            connection:       default
            exchange_options: { name: 'dataset_submission', type: topic }
        create_homedir:
            connection:       default
            exchange_options: { name: 'create_homedir', type: direct }
        dataset_file_hasher:
            connection:       default
            exchange_options: { name: 'dataset_file_hasher', type: direct }
        doi_issue:
            connection:       default
            exchange_options: { name: 'doi_issue', type: topic }
    consumers:
        filer:
            connection:       default
            exchange_options: { name: 'dataset_submission', type: topic }
            callback:         consumer.dataset_submission.filer
            qos_options:      { prefetch_count: 1, global: false }
            queue_options:
                name: 'filer'
                routing_keys:
                    - 'dataset.upload'
                    - 'dataset.SFTP'
                    - 'metadata.#'
        retriever:
            connection:       default
            exchange_options: { name: 'dataset_submission', type: topic }
            callback:         consumer.dataset_submission.retriever
            qos_options:      { prefetch_count: 1, global: false }
            queue_options:
                name: 'retriever'
                routing_keys:
                    - 'dataset.HTTP'
        create_homedir:
            connection:       default
            exchange_options: { name: 'create_homedir', type: direct }
            callback:         App\Consumer\CreateHomedirConsumer
            queue_options:
                name: 'create_homedir'
        dataset_file_hasher:
            connection:       default
            exchange_options: { name: 'dataset_file_hasher', type: direct }
            callback:         App\Consumer\DatasetFileHasherConsumer
            qos_options:      { prefetch_count: 1, global: false }
            queue_options:
                name: 'dataset_file_hasher'
        doi_issue:
            connection:       default
            exchange_options: { name: 'doi_issue', type: topic }
            callback:         App\Consumer\DoiConsumer
            qos_options:      { prefetch_count: 1, global: false }
            queue_options:
                name: 'doi_issue'
                routing_keys:
                    - 'doi'
                    - 'delete'
