{% block subject 'GRIIDC Account Created' %}

{% block body_html %}
Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},<br>
<br>
Thank you for creating an account with the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC).<br>
<br>
Your username is: <strong>{{ account.userId }}</strong><br>
<br>
If you have any questions or concerns please contact GRIIDC at <a href="mailto:griidc@gomri.org">griidc@gomri.org</a><br>
<br>
Thank you,<br>
The GRIIDC Team
{% endblock %}

{% block body_text %}
Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},

Thank you for creating an account with the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC).

Your username is: {{ account.userId }}

If you have any questions or concerns please contact GRIIDC at griidc@gomri.org

Thank you,
The GRIIDC Team
{% endblock %}
