<div class="header">
    <div id="logo">
        <h2>{% image '@PelagosAppBundle/Resources/public/images/search-logo.png' %}
                <img src="{{asset_url}}">
            {% endimage %}
        </h2>
    </div>
    <form id="searchForm" name="searchForm">
        <div class="box">
            <div class="container-4" align="center">
                <input type="search" id="search" name="query" placeholder="Search..."/>
                <button class="icon"
                        type="button"
                        onclick="window.location.href='{{ path('pelagos_app_ui_searchpage_default') }}?query=' +
                                document.getElementById('search').value.trim()">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
</div>