<form id="searchForm" name="searchForm" action="{{ path('pelagos_app_ui_searchpage_default') }}" method="get">
    <div id="custom-search-input" align="center">
        <div class="input-group col-md-12">
            <input type="search" id="searchBox" name="query" class="search-query form-control" placeholder="Search..."
                   value = "{{ query|default }}">
            <input type="hidden" id="pageNo" name="page" value="{{ page | default }}">
            <span class="input-group-btn">
                <button id="searchSubmit" class="btn btn-danger" type="submit">
                    <span class=" glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
</form>
