<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2 data-content="{{ count }}" id="count">
                        {{ count }} results found for: <span class="text-navy">"{{ query }}"</span>
                    </h2>

                    <div class="search-form">
                        <form id="searchForm" name="searchForm">
                            <div id="custom-search-input" align="center">
                                <div class="input-group col-md-12">
                                    <input type="text" class="search-query form-control" placeholder="Search..."/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger"
                                                type="button"
                                                onclick="window.location.href='{{ path('pelagos_app_ui_searchpage_default') }}?query=' +
                                                        document.getElementById('search').value.trim()">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                    {% for result in results %}
                        {% include 'PelagosAppBundle:Search:dataset-row.html.twig'  %}
                    {% endfor %}

                    <div class="text-center">
                        <div class="btn-group">
                            <nav aria-label="Search results pages">
                                <ul class="pagination" id="paginate">
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
