<form id="difForm"
      action="{{ path('pelagos_api_difs_post') }}"
      method="post"
      researchgroup="{{ path('pelagos_api_research_groups_get_collection') }}"
      personresearchgroup="{{ path('pelagos_api_person_research_groups_get_collection') }}"
      dataset="{{ path('pelagos_api_datasets_get_collection') }}"
>
    <input type="hidden" id="id" name="id">
    <input type="hidden" id="status" name="status" value="0">
    <input type="hidden" id="projectid" name="projectid">
    <input type="hidden" id="taskid" name="taskid">
    <input type="hidden" id="fundsrcid" name="fundsrcid">
    <input type="hidden" id="udi" name="udi">
    <input type="hidden" id="btn" name="button">
    <input type="hidden" id="submitter" name="submitter">
    <input type="hidden" id="personid" value="this is the logged in person id">
    {% if is_granted('ROLE_DATA_REPOSITORY_MANAGER') %}
    <input type="hidden" id="isadmin" name="isadmin" value="{{ is_granted('ROLE_DATA_REPOSITORY_MANAGER') }}">
    {% endif %}
    <div id="udidiv" style="display:none;">
        <h1>Unique Dataset Identifier (UDI):<span class="title" id="udilabel"></span></h1>
    </div>
    {% image '@PelagosAppBundle/Resources/public/images/warning.png' %}
    <div id="imgwarning" src="{{ asset_url }}">
    {% endimage %}
    <div class="frmSection">
        <fieldset>
            <span class="helpSection">
                {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                <img class="info" src="{{ asset_url }}">
                {% endimage %}
                <div class="tooltiptext">
                    <p>This is a required field. The drop-down menu will list all projects that you are associated with.</p>
                </div>
            </span>
            {{ form_row(form.researchGroup) }}
        </fieldset>
    </div>

    <div class="frmSection">
        <fieldset>
            <span class="helpSection">
                {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                <img class="info" src="{{ asset_url }}">
                {% endimage %}
                <div class="tooltiptext">
                    <p>This is a required field. Please provide a descriptive title that briefly explains the contents of your dataset. This will be similar to titles used in publications, and may include location where, and time period when the research was completed. It should be understandable by a user unfamiliar with your methods, site collections or research platforms.</p>
                </div>
            </span>
            {{ form_row(form.title) }}
        </fieldset>
    </div>

    <table width="100%">
        <tr>
            <td width="50%" >
                <div class="frmSection">
                    <fieldset >
                        <span class="helpSection">
                            {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                            <img class="info" src="{{ asset_url }}">
                            {% endimage %}
                            <div class="tooltiptext">
                                <p>This is a required field. This is the person responsible for answering questions associated with this dataset and responding to requests for the dataset. Please select the appropriate person from the dropdown list.</p>
                            </div>
                        </span>
                        {{ form_row(form.primaryPointOfContact) }}
                </fieldset>
                </div>
            </td>
            <td width="50%">
                <div class="frmSection">
                    <fieldset >
                        <span class="helpSection">
                            {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                            <img class="info" src="{{ asset_url }}">
                            {% endimage %}
                            <div class="tooltiptext">
                                <p>The additional data point of contact will be contacted if the primary data point of contact cannot be reached or is unable to respond to questions about the dataset. Please select the appropriate person from the drop down list.</p>
                            </div>
                        </span>
                        {{ form_row(form.secondaryPointOfContact) }}
                    </fieldset>
                </div>
            </td>
        </tr>
    </table>

    <div class="frmSection">
        <fieldset>
            <span class="helpSection">
                {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                <img class="info" src="{{ asset_url }}">
                {% endimage %}
                <div class="tooltiptext">
                    <p>This is a required field. This field should summarize the rationale for collecting the dataset, methods that will be used to collect or generate the dataset, period of data collection and what the dataset will contain. This may be similar to a publication abstract, however, it does not need to include details about conclusions drawn or statistical analysis completed using the dataset.</p>
                </div>
            </span>
            {{ form_row(form.abstract) }}
        </fieldset>
    </div>

    <div class="frmSection">
        <fieldset>
            <span class="helpSection">
                {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                <img class="info" src="{{ asset_url }}">
                {% endimage %}
                <div class="tooltiptext">
                    <p>Datasets may be categorized based on the discipline for which they are collected. Please check all the boxes that categorize the discipline(s) for which your dataset will be created. Note that datasets can be multidisciplinary so select all disciplines that apply. If your field of study is not listed, please specify additional details in the &ldquo;other&rdquo; field.</p>
                </div>
            </span>
            <label for="difDatafor"><b>Field of Study:</b></label>
            <table id="difDatafor" width="100%" class="choice-label">
                <tr>
                    <td>
                        {{ form_widget(form.fieldOfStudyEcologicalBiological) }}
                        {{ form_label(form.fieldOfStudyEcologicalBiological) }}
                    </td>
                    <td>
                        {{ form_widget(form.fieldOfStudyPhysicalOceanography) }}
                        {{ form_label(form.fieldOfStudyPhysicalOceanography) }}
                    </td>
                    <td>
                        {{ form_widget(form.fieldOfStudyAtmospheric) }}
                        {{ form_label(form.fieldOfStudyAtmospheric) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(form.fieldOfStudyChemical) }}
                        {{ form_label(form.fieldOfStudyChemical) }}
                    </td>
                    <td>
                        {{ form_widget(form.fieldOfStudyHumanHealth) }}
                        {{ form_label(form.fieldOfStudyHumanHealth) }}
                    </td>
                    <td>
                        {{ form_widget(form.fieldOfStudySocialCulturalPolitical) }}
                        {{ form_label(form.fieldOfStudySocialCulturalPolitical) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(form.fieldOfStudyEconomics) }}
                        {{ form_label(form.fieldOfStudyEconomics) }}
                    </td>

                    <td colspan="2">
                        <table width="100%">
                            <tr>
                                 <td>Others:</td>
                                 <td>{{ form_widget(form.fieldOfStudyOther) }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

    <div class="frmSection">
        <fieldset >
            <span class="helpSection">
                {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                <img class="info" src="{{ asset_url }}">
                {% endimage %}
                <div class="tooltiptext">
                    <p>Please provide an estimate of the total size of the dataset files you expect will be created. This field can be estimated based on data files you have created in the past. This field will help GRIIDC formulate strategies to access and distribute your dataset.</p>
                </div>
            </span>
            <label for="difSize"><b>Approximate Dataset Size: </b></label>
            <table width="75%" class="choice-label">
                <tr>
                    {% for key, dataSizeItem in form.dataSize.children %}
                    <td>
                        {{ form_widget(dataSizeItem) }} {{ form_label(dataSizeItem) }}
                    </td>
                    {% endfor %}
                </tr>
            </table>
        </fieldset>
    </div>

    <div class="frmSection">
    <fieldset>
        <span class="helpSection">
            {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
            <img class="info" src="{{ asset_url }}">
            {% endimage %}
            <div class="tooltiptext">
                <p>Please provide a comma separated list of the data parameters or variables with units that will be included in the dataset.</p>
            </div>
        </span>
        {{ form_row(form.variablesObserved) }}
    </fieldset>
    </div>

    <div class="frmSection">
        <fieldset>
            <span class="helpSection">
                {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                <img class="info" src="{{ asset_url }}">
                {% endimage %}
                <div class="tooltiptext">
                    <p>Please select all the procedures or methods that you will use to collect or generate data in the dataset. If not available on the list, please provide additional information in the &ldquo;other&rdquo; field.</p>
                </div>
            </span>
            <label for="difApproach"><b>Method(s) for Collecting or Generating the Data: </b></label>
            <table width="100%" class="choice-label">
                <tr>
                    <td>
                        {{ form_widget(form.collectionMethodFieldSampling) }}
                        {{ form_label(form.collectionMethodFieldSampling) }}
                    </td>
                    <td>
                        {{ form_widget(form.collectionMethodSimulatedGenerated) }}
                        {{ form_label(form.collectionMethodSimulatedGenerated) }}
                    </td>
                    <td>
                        {{ form_widget(form.collectionMethodLaboratory) }}
                        {{ form_label(form.collectionMethodLaboratory) }}
                    </td>
                </tr>
                <tr>
                    <td>
                        {{ form_widget(form.collectionMethodLiteratureBased) }}
                        {{ form_label(form.collectionMethodLiteratureBased) }}
                    </td>
                    <td>
                        {{ form_widget(form.collectionMethodRemoteSensing) }}
                        {{ form_label(form.collectionMethodRemoteSensing) }}
                    </td>
                    <td>
                        <table width="100%">
                            <tr>
                                <td>Others:</td>
                                <td>{{ form_widget(form.collectionMethodOther) }}</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </fieldset>
    </div>

   <div class="frmSection">
        <fieldset>
            <span class="helpSection">
                {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                <img class="info" src="{{ asset_url }}">
                {% endimage %}
                <div class="tooltiptext">
                    <p>The approximate time period when the data is expected to be collected and generated based on the information provided in your GoMRI proposal.</p>
                </div>
            </span>
            <label><b>Estimated Data Sampling/Generation Period: </b></label>
            <center>
               <b>Start Date</b>
               {{ form_widget(form.estimatedStartDate) }}
               to
               {{ form_widget(form.estimatedEndDate) }}
               <b>End Date</b>
               <label for="estimatedStartDate" class="error"></label>
               <label for="estimatedEndDate" class="error"/></label>
          </center>
        </fieldset>
    </div>

    <div class="frmSection">
        <fieldset>
            <span class="helpSection">
                {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                <img class="info" src="{{ asset_url }}">
                {% endimage %}
                <div class="tooltiptext">
                    <p>The approximate geographic area where the data will be collected. Alternatively, the geographic area the data will be generated for or about, for example the area to be included in a model. Please use the spatial extent wizard to provide the geographic area. If available, please provide location in latitude and longitude in decimal degrees to create a point or a series to create a closed polygon. Alternatively, the spatial extent tool allows you to create an approximate point or polygon of the area where you expect to collect data, or the area that your data will be generated for or about. If your research is purely lab-based, you can indicate this using the spatial extent wizard.</p>
                </div>
            </span>
            <table>
                <tr>
                    <td valign="top">
                        <div id="spatial">
                            <label for="cgeoloc"><b>Geographic/Study Area: </b></label>
                            <div>
                                <div style="width:500px;height:300px;" id="difMap"></div>
                            </div>
                            {{ form_widget(form.spatialExtentGeometry) }} <!-- Previously Called id:difGeoloc & hidden -->
                        </div>
                        <div id="nonspatial" style="display:none;width:500px;margin:15px;">
                            {{ form_row(form.spatialExtentDescription) }} <!-- Previously Called id:spatialdesc -->
                        </div>
                    </td>
                    <td>
                        <div id="spatwizbtn"></div>
                    </td>
                </tr>
            </table>
            <div id="geoWizard" style="width:100%;height:100%;"></div>
        </fieldset>
    </div>

    <div class="frmSection">
        <fieldset>
            <span class="helpSection">
                {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                <img class="info" src="{{ asset_url }}">
                {% endimage %}
                <div class="tooltiptext">
                    <p>All research projects funded by the Gulf of Mexico Research Initiative (GoMRI) are required to make data publicly accessible. Datasets can be submitted directly to GRIIDC, however, your dataset may also be submitted to a national data archival center. If your dataset is submitted to a national data archive center you must still register your dataset with the GRIIDC system so that the dataset can be cataloged with other datasets produced by GoMRI research projects. If you will be submitting your dataset to a national data center not on the list provided, please specify the data center and associated URL in the &ldquo;other&rdquo; field.</p>
                </div>
            </span>
            <label for="difNatRepo"><b>Identify a National Data Archive for your Dataset, if applicable: </b></label>
            <div class="choice-label">
                {{ form_widget(form.nationalDataArchiveNODC) }}
                {{ form_label(form.nationalDataArchiveNODC) }}
                <br>
                {{ form_widget(form.nationalDataArchiveStoret) }}
                {{ form_label(form.nationalDataArchiveStoret) }}
                <br>
                {{ form_widget(form.nationalDataArchiveGBIF) }}
                {{ form_label(form.nationalDataArchiveGBIF) }}
                <br>
                {{ form_widget(form.nationalDataArchiveNCBI) }}
                {{ form_label(form.nationalDataArchiveNCBI) }}
                <br>
                {{ form_widget(form.nationalDataArchiveDataGov) }}
                {{ form_label(form.nationalDataArchiveDataGov) }}
                <br>
                <table width="100%">
                    <tr>
                        <td>Others:</td>
                        <td width="100%">{{ form_widget(form.nationalDataArchiveOther) }}</td>
                    </tr>
                </table>
            </div>
        </fieldset>
    </div>

    <div class="frmSection">
        <fieldset>
            <span class="helpSection">
                {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                <img class="info" src="{{ asset_url }}">
                {% endimage %}
                <div class="tooltiptext">
                    <p>Datasets that contain human health information or personal identifying information may have ethical and/or privacy issues that prevent the data from being shared or distributed. If such conditions exist, please select &ldquo;yes&rdquo;. If uncertain, please select &ldquo;uncertain&rdquo; and provide a short description of potential issues. GRIIDC staff will then follow up to help determine if privacy or ethical issues apply to your dataset.</p>
                </div>
            </span>
            <div class="choice-label">
                <label for="difPrivacy"><b>Will this dataset include any data governed under the Institutional Review
                        Board (IRB) or Health Insurance Portability and Accountability Act of 1996 (HIPAA), or data
                        with other ethical issues?</b></label>
                <br>
                {% for key, ethicalIssuesItem in form.ethicalIssues.children %}
                    {{ form_widget(ethicalIssuesItem) }}
                    {{ form_label(ethicalIssuesItem) }}
                    <br>
                {% endfor %}

                <table width="100%">
                    <tr>
                        <td>If yes or uncertain, please explain:
                           {{ form_widget(form.ethicalIssuesExplanation) }}
                        </td>
                    </tr>
               </table>
           </div>
        </fieldset>
    </div>

    <div class="frmSection">
        <fieldset>
            <span class="helpSection">
                {% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                <img class="info" src="{{ asset_url }}">
                {% endimage %}
                <div class="tooltiptext">
                    <p>Please provide any additional information that would help GRIIDC understand the contents or format of your dataset that would assist in GRIIDC obtaining, using or distributing your dataset.</p>
                </div>
            </span>
            {{ form_row(form.remarks) }}
        </fieldset>
    </div>

    <div id="diftoolbar" class="ui-widget-header ui-corner-all">
        <center>
            {% if is_granted('ROLE_DATA_REPOSITORY_MANAGER') %}
            <button type="button" id="btnApprove" value="approve">Approve</button>
            <button type="button" id="btnReject" value="reject">Reject</button>
            <button type="button" id="btnUpdate" value="update">Update</button>
            <button type="button" id="btnUnlock" value="unlock">Unlock</button>
            {% endif %}
            <button type="button" id="btnSave" value="save">Save and Continue Later</button>
            <button type="button" id="btnSubmit" value="submit">Save and Submit to GRIIDC</button>
            <button style="display:none;" type="button" id="btnReqUnlock" value="requnlock">Request Unlock</button>
            <button type="button" id="btnDS" value="submit">Continue to Dataset Submission</button>
            <button type="button" id="btnReset">Reset Form</button>
            <!--button type="button" id="btnTop">Top</button-->
        </center>
    </div>
</form>
