{% block sender 'GRIIDC <griidc@gomri.org>' %}

{% block subject '[GRIIDC] DIF Unlocked Request' %}

{% block body_html %}
    Dear DIF Approver(s),<br>
    <br>
    Please unlock DIF: <a href="{{url}}">{{udi}}</a>.<br>
    <br>
    Thank you,<br>
    The GRIIDC Team<br>
{% endblock %}

{% block body_text %}
Dear DIF Approver(s),

Please unlock DIF: <a href="{{url}}">{{udi}}</a>.

Thank you,
The GRIIDC Team
{% endblock %}