{
    "env": {
        "browser": true
    },
    "globals": {
        "$": 2,
        "jQuery": 2,
        "FormData": 2,
        "pelagosBasePath": 2,
        "pelagosComponentPath": 2,
        "pelagosBaseUri": 2,
        "pelagosComponentUri": 2,
        "XRegExp": 2,
        "sortObject": 2,
        "showDialog": 2,
        "showConfirmation": 2
    },
    "rules": {
        "no-underscore-dangle": 0,
        "no-use-before-define": [2, "nofunc"],
        "space-in-parens": 2,
        "shadow-exception/no-shadow": [2, {
            "exceptions": {
                "$": true
            }
        }],
        "no-shadow": 0,
        "new-cap": [2, {
            "capIsNewExceptions": [
                "Deferred",
                "XRegExp",
                "DataTable"
            ],
            "newIsCapExceptions": [
                "OpenLayers.Format.GML.v3",
                "OpenLayers.Bounds.fromArray"
            ]
        }],
        "quotes": [2, "double", "avoid-escape"]
    },
    "plugins": [
        "shadow-exception"
    ]
}
