.gitconfig
config.ini
config.php
/app/config/parameters.yml
/app/config/parameters_drupal_dev.yml
/app/config/parameters_drupal_prod.yml
/app/config/*.local.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
/vendor/
/web/bundles/
bin/symfony_requirements
/src/Pelagos/Bundle/AppBundle/DataFixtures/ORM/Test*
/web/css
/web/images
/web/js
/app/supervisor
