<phpunit bootstrap="tests/bootstrap.php" beStrictAboutOutputDuringTests="true">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/integration</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory>./vendor</directory>
        </blacklist>
        <whitelist>
            <directory suffix=".php">src</directory>
            <directory suffix=".php">web</directory>
        </whitelist>
    </filter>
</phpunit>
