<div class="wrapper">
    <div class="section group">
        <h2>Datasets</h2>
        <div class='widget page'>
            <h3>{{fund.Name}}<em>*</em></h3>
            <table>
                <tr>
                    <th>Registered</th>
                    <th>Identified</th>
                    <th>Project</th>
                </tr>
                {% for project in projects %}
                    <tr>
                        <td>{{project.registered_count}}</td>
                        <td>{{project.identified_count}}</td>
                        <td class="longtxt">
                            <button class="short" type="button" onclick="location.href='https://data.gulfresearchinitiative.org/dataset-monitoring#{{project.tree_node_id}}';">View</button>
                            <span class="piName">{{project.PI.LastName}}</span> - {{project.Title}}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <p class="note">* ordered by number of datasets registered then number datasets identified then PI last name</p>
            <div style="width:330px;">
    	        {% include 'html/provided_by_griidc.html' %}
            </div>
        </div>
    </div>
</div>
