<div class="widget grid">
    <h3><br />Datasets by Funding Source<em>*</em></h3>
    <form action="funding-datasets-view.php" method="POST">
        <table>
            <tr>
                <th>Registered</th>
                <th>Identified</th>
                <th>Funding<br />Source</th>
            </tr>
            {% for fund in funds %}
                <tr>
                    <td>{{fund.registered_count}}</td>
                    <td>{{fund.identified_count}}</td>
                    <td><button type="submit" name="fundsrc" value="{{fund.ID}}">{{fund.Abbr}}</button></td>
                </tr>
            {% endfor %}
        </table>
    </form>
    <p class="note">* ordered by number of datasets registered then datasets identified</p>
</div>
