<div style="margin-top:25px;text-align:center;border:1px solid #aaa;padding:5px;border-radius: 4px;background-color:#fff;">
    <div style="font-size:80%;">
        This module is provided by <a target="_blank" href="https://data.gulfresearchinitiative.org">GRIIDC</a>.
    </div>
    <div style="font-size:70%;margin-top:5px;">
        For questions regarding this data, please contact GRIIDC at:<br />
        Email: <a href="mailto:griidc@gomri.org">griidc@gomri.org</a> or Phone: <a href="tel:3618253604">361-825-3604</a>
    </div>
</div>
