<?php

drupal_add_library('system', 'ui.dialog');

$config = parse_ini_file(__DIR__ . '/config.ini');

$metadata_api_path = $config['metadata_api_path'];

?>

<script>
function getURLbyUDI()
{
    var udival = document.getElementById("udi").value;

    <?php
    echo 'var metadata_api_path = "' . $config['metadata_api_path'] . '";';
    echo 'var metadata_editor_path = "' . $config['metadata_editor_path'] . '";';
    ?>

    if (udival != "")
    {
        jQuery.ajax({
            url: metadata_api_path + "?udi=" + udival.substring(0,16),
            type: "HEAD",
            async: true,
            statusCode: {
                400: function(message,text,jqXHR) {
                    jQuery('<div title="Warning"><p>Cannot load Dataset with UDI:' + udival + '.</p></div>').dialog({
                        autoOpen: true,
                        resizable: false,
                        minWidth: 300,
                        height: "auto",
                        width: "auto",
                        modal: true,
                        buttons: {
                            Ok: function() {
                                jQuery(this).dialog( "close" );
                            }
                        }
                    });
                },
                404: function(message,text,jqXHR) {
                    jQuery('<div title="Warning"><p>Dataset with UDI:' + udival + ', not found.</p></div>').dialog({
                        autoOpen: true,
                        resizable: false,
                        minWidth: 300,
                        height: "auto",
                        width: "auto",
                        modal: true,
                        buttons: {
                            Ok: function() {
                                jQuery(this).dialog( "close" );
                            }
                        }
                    });
                },
                415: function(message,text,jqXHR) {
                    dMessage = 'Sorry, the GRIIDC Metadata Editor is unable to load ';
                    dMessage += 'the submitted metadata file because it is not valid ';
                    dMessage += 'ISO 19115-2 XML. Please contact griidc@gomri.org for ';
                    dMessage += 'assistance.';
                    jQuery('<div title="Warning"><p>' + dMessage + '</p></div>').dialog({
                        autoOpen: true,
                        resizable: false,
                        minWidth: 300,
                        height: "auto",
                        width: "auto",
                        modal: true,
                        buttons: {
                            Ok: function() {
                                jQuery(this).dialog( "close" );
                            }
                        }
                    });
                },
            },
            success: function(message,text,jqXHR) {
                location.href = metadata_editor_path + "?dataUrl=https://" + location.hostname + metadata_api_path + "?udi=" + udival.substring(0,16);
            }
        });
    }
    else
    jQuery('<div title="Warning"><p>No UDI provided.</p></div>').dialog({
        modal: true,
        buttons: {
            Ok: function() {
                jQuery(this).dialog( "close" );
            }
        }
    });
}

function loadExternalURL()
{
    var urlval = document.getElementById("url").value;

    if (urlval != "")
    {
        location.href = "/metadata-editor/?dataUrl=" + urlval;
    }
    else
    jQuery('<div title="Warning"><p>No URL provided.</p></div>').dialog({
        modal: true,
        buttons: {
            Ok: function() {
                jQuery(this).dialog( "close" );
            }
        }
    });

}

function uploadFile()
{
    jQuery("#uploadfrm").submit();
}

(function ($) {
    $(function() {

        $("#file").change(function() {
            uploadFile();
        });

        $( "#upload" )
        .click(function( event ) {
            $("#file").val("");
            $("#file").click();
        });
    });
})(jQuery);

</script>

<table width="700px">
    <tr>
        <td>
            <fieldset>
                <u><h1>Ways to Use The Metadata Editor</h1></u>
                <p><button onclick="location.href='/metadata-editor/';" type="button">Start from Scratch</button> (start with a blank form)</p>
                <p><button id="upload" type="button">Load from File</button> (load a file from your computer)</p>
                <p><button onclick="getURLbyUDI();" type="button">Load from Submitted Dataset</button> UDI: <input type="text" id="udi"></p>
                <p><button onclick="loadExternalURL();" type="button">Load from External URL</button> URL: <input type="text" id="url" size="70"></p>
            </fieldset>
        <td>
    <tr>
</table>

<div id="loadfrm" style="display:none;">
    <frameset>
        Please select a file...
        <form action="/metadata-editor/" id="uploadfrm" method="post" enctype="multipart/form-data">
            <input onfocus="uploadFile();"  id="file" name="file" type="file" />
        </form>
    </frameset>
</div>
