body {
  font: normal medium/1.4 sans-serif;
}
table {
  border-collapse: collapse;
  width: 66%;
}
th, td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}
tbody tr:hover {
  background: yellow;
}
