<div id="navigation">
    <div class="region region-navigation">
        <div id="block-pelagos-menu-1" class="block block-superfish">
            <div class="content">
                <ul id="pelagos-menu-1" class="menu sf-menu sf-main-menu sf-horizontal sf-style-none sf-js-enabled sf-shadow">
                    <li class="first odd"><a href="{{ path('pelagos_homepage')  }}" >Home</a></li>
                    <li class="middle even menuparent">
                        <span class="nav-chart menuparent nolink sf-with-ul">
                            Search Data
                            <span class="sf-sub-indicator"> »</span>
                        </span>
                        <ul class="sf-hidden" style="float: none; width: 13.1111em;">
                            <li class="first odd "><a href="{{ vanitypath('pelagos_app_ui_searchpage_default')  }}">Search GRIIDC Data</a></li>
                            <li class="middle even "><a href="/additional-gulf-mexico-data-resources">Gulf of Mexico Data Sources</a></li>
                            <li class="last odd "><a href="https://erddap.griidc.org/erddap" target="_top">GRIIDC ERDDAP</a></li>
                        </ul>
                    </li>
                    <li class="middle even menuparent"><span class="nav-chart menuparent nolink sf-with-ul">Tracking &amp; Stats<span class="sf-sub-indicator"> »</span><span class="sf-sub-indicator"> »</span></span>
                        <ul class="sf-hidden" style="float: none; width: 12em;">
                            <li class="first odd "><a href="{{  path('pelagos_app_ui_datasetmonitoring_default')  }}">Dataset monitoring</a></li>
                            <li class="last even "><a href="{{  path('pelagos_app_ui_stats_default')  }}">GRIIDC system statistics</a></li>
                        </ul>
                    </li>
                    <li class="first odd"><a href="https://research.gulfresearchinitiative.org/" >Research</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
