{% extends "base.html.twig" %}
{% block title %}Dataset Monitoring{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/devextreme/22.1.13/css/dx.light.css" rel="stylesheet">
    <link href="/css/dx.generic.griidc-scheme.css" rel="stylesheet">

    <style>
      .dx-widget {
        font-size: 1rem!important;
      }

      .dx-treeview li {
        margin-bottom: revert;
        line-height: 1rem;
        font-size: 1rem!important;
      }

      input.dx-texteditor-input:focus-visible {
        outline-style: none!important;
      }

      input[type='text'].dx-texteditor-input:focus {
        box-shadow: none!important;
      }

      .dsmonitoringcols {
        white-space: nowrap;
      }

      .dx-treelist [tabindex]:not([tabindex="-1"]):focus-visible:focus-visible {
        outline: none;
      }
      .dx-datagrid [tabindex]:not([tabindex="-1"]):focus-visible:focus-visible {
        outline: none;
      }

      .dx-data-row.dx-state-hover:not(.dx-selection):not(.dx-row-inserted):not(.dx-row-removed):not(.dx-edit-row) > td:not(.dx-focused) {
        cursor: pointer;
      }
    </style>
{% endblock stylesheets  %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme/22.1.13/js/dx.all.js"></script>

    <script type="text/javascript" src="{{ asset('build/js/datasetMonitoring.js') }}"></script>
{% endblock javascripts %}

{% block body %}
  <div class="max-w-screen-xl mx-auto py-6">
    <div class="grid grid-cols-[20%_80%] m-4 gap-2">
      <div class="overflow-y-auto">
        <div id="dsm-side-picker">
          <div id="dsm-toolbar"></div>
          <div id="dsm-search"></div>
          <div id="dsm-treelist"></div>
        </div>
      </div>
        <div>
          <div id="dsm-datasets" class="m-2 h-full overflow-y-auto">
            Dataset monitoring can be used to view the status of a dataset in the data package review process.
            Use the search bar or dropdown to find a funding organization, funding cycle, or research group.
        </div>
    </div>
  </div>
<div class="dsm-loadpanel"></div>
{% endblock %}
