{% extends "base.html.twig" %}
{% block title %}Dataset Monitoring{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/devextreme/22.1.13/css/dx.material.blue.light.css" rel="stylesheet">
{% endblock stylesheets  %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme/22.1.13/js/dx.all.js"></script>

    <script type="text/javascript" src="{{ asset('build/js/datasetMonitoring.js') }}"></script>
{% endblock javascripts %}

{% block body %}
   <div class="grid grid-cols-[20%_80%] h-screen m-4 gap-2">
  <div class="border-solid border-4">
    Block one
    <div id="simple-treeview"></div>
    </div>
    <div class="border-solid border-4">
    Block Two
    </div>
  </div>
{% endblock %}
