{% extends "base.html.twig" %}
{% block title %}Dataset Monitoring{% endblock title %}

{% block stylesheets %}
    {{ parent() }}

    <link href="https://cdnjs.cloudflare.com/ajax/libs/devextreme/22.1.13/css/dx.light.css" rel="stylesheet">

    <style>
      .dx-treeview li {
        margin-bottom: revert;
        line-height: 1rem;
      }
    </style>
{% endblock stylesheets  %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/devextreme/22.1.13/js/dx.all.js"></script>

    <script type="text/javascript" src="{{ asset('build/js/datasetMonitoring.js') }}"></script>
{% endblock javascripts %}

{% block body %}
  <div class="w-3/5 mx-auto py-6 px-3.5">
    <div class="grid grid-cols-[20%_80%] m-4 gap-2">
      <div class="overflow-y-auto">
        <div id="simple-treeview"></div>
        </div>
        <div class="overflow-y-auto">
        <div id="datasets-here" class="m-2">
          Dataset monitoring can be used to view the status of a dataset in the data package review process.
          Use the search bar or dropdown to find a funding organization, funding cycle, or research group.
      </div>
    </div>
  </div>
{% endblock %}
