{% extends "PelagosAppBundle::layout.ui.html.twig" %}

{% block body %}
    <div class="messages status alert alert-success">
        <h2 class="element-invisible">Status message</h2>
        You have successfully reset your GRIIDC account password.
    </div>
    <p>
        Please log in to the GRIIDC system in order to access data submission webpages.
    </p>
{% endblock %}
