{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="messages status">
        <h2 class="element-invisible">Status message</h2>
        You have successfully reset your GRIIDC account password.
    </div>
    <p>
        Please log in to the GRIIDC system in order to access data submission webpages.
    </p>
{% endblock %}
