{% extends "PelagosAppBundle:template:UI.html.twig" %}

{%block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{%endblock stylesheets  %}

{% block body %}
    <div class="messages status alert alert-success">
        <h2 class="element-invisible">Status message</h2>
        You have successfully created a GRIIDC account.
    </div>
    Your user name is: <strong>{{Account.getUserId}}</strong><br>
    <p>
        Please log in to the GRIIDC system in order to access data submission webpages.
    </p>
{% endblock %}
