{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent() }}
    
    {% javascripts '@PelagosAppBundle/Resources/public/js/Account.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <table width="100%" border="0">
        <tr>
            <td width="50%">
                 <h2>Please provide the email address associated with your funding agreement when requesting an account.</h2>
            </td>
        </tr>
            <tr>
            <td width="50%">
                    <form id="accountForm" method="post" action="{{ path('pelagos_app_ui_account_sendverificationemail') }}">
                        <label for="emailAddress">E-mail Address:</label>
                        <input type="email" size="100" name="emailAddress" id="emailAddress" required>
                        <label style="display:inline;" for="emailAddress" class="error"></label>
                        <p>
                            <button type="submit">Submit</button>
                        </p>
                    </form>
            </td>
        </p>
    </table>
{% endblock %}
