{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        The email address you have entered could not be found in the GRIIDC system. Please contact <a href=
        "griidc@gomri.org">griidc@gomri.org</a> for additional help.
    </div>
{% endblock %}