{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="messages error alert alert-danger">
        <h2 class="element-invisible">Error message</h2>
        The email address you have entered is not associated with a GRIIDC account. If you would like to request an account, please visit <a href="{{ path('pelagos_app_ui_account_default') }}" class="alert-link">Account Request</a>. For any additional questions please contact <a href=
            "griidc@gomri.org" class="alert-link">griidc@gomri.org</a>.
    </div>
{% endblock %}