{% block subject '[GRIIDC] Password expiring soon' %}

{% block body_html %}
    Dear {{ person.getFirstName }} {{ person.getLastName }},<br>
    <br>
    The password for your GRIIDC account will expire on {{ expireTimeStamp | date("F jS \\a\\t g:i a T") }}. Please click on the link below to change your password before this time.<br>
    <br>
    <a href="https://{{ hostname }}{{ path('pelagos_app_ui_account_changepassword') }}">https://{{ hostname }}{{ path('pelagos_app_ui_account_changepassword') }}</a><br>
    <br>
    Thank you,<br>
    <br>
    The GRIIDC Team<br>
    <br>
    *You are receiving this email because you are identified as a user of the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) system. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
{% endblock %}

{% block body_text %}
Dear {{ person.getFirstName }} {{ person.getLastName }},

The password for your GRIIDC account will expire on {{ expireTimeStamp | date("F jS \\a\\t g:ia T") }}. Please use the link below to change your password before this time.

https://{{ hostname }}{{ path('pelagos_app_ui_account_changepassword') }}

Thank you,

The GRIIDC Team

*You are receiving this email because you are identified as a user of the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) system. If you believe you should not be receiving this email please notify griidc@gomri.org.*
{% endblock %}
