{% block sender 'GRIIDC <griidc@gomri.org>' %}

{% block subject '[GRIIDC] Password Reset Account Confirmation' %}

{% block body_html %}
    Dear {{ person.getFirstName }} {{ person.getLastName }},<br>
    <br>
    To reset your GRIIDC account password, please click on the link below to verify your email address.<br>
    <br>
    <a href="{{ url('pelagos_app_ui_account_verifyemail') }}?person_token={{ personToken.getTokenText }}">{{ url('pelagos_app_ui_account_verifyemail') }}?person_token={{ personToken.getTokenText }}</a><br>
    <br>
    Thank you,<br>
    <br>
    The GRIIDC Team<br>
    <br>
    *You are receiving this email because you are identified as a user of the Gulf of Mexico Research Initiative  Information and Data Cooperative (GRIIDC) system. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
{% endblock %}

{% block body_text %}
Dear {{ person.getFirstName }} {{ person.getLastName }},

Your GRIIDC account creation is almost complete. Please click on the link below to verify your email address.

{{ url('pelagos_app_ui_account_verifyemail') }}?person_token={{ personToken.getTokenText }}

Thank you,

The GRIIDC Team

*You are receiving this email because you are identified as a user of the Gulf of Mexico Research Initiative  Information and Data Cooperative (GRIIDC) system. If you believe you should not be receiving this email please notify griidc@gomri.org.*
{% endblock %}
