{% if dataset.datasetSubmission.datasetFileTransferStatus | default == 'RemotelyHosted' %}
    {% if not dataset.datasetSubmission.datasetFileUri matches '!^https?://data.gulfresearchinitiative.org!' %}
        <div class="attr"><span class="remote">Note: This dataset is not hosted by GRIIDC.</span></div>
    {% endif %}
    <div class="attr"><span class="attr">Dataset Location:</span> <a href="{{ dataset.datasetSubmission.datasetFileUri }}" target="_blank">{{ dataset.datasetSubmission.datasetFileUri }}</a></div>
{% endif %}
    <div class="attr"><span class="attr">Dataset Title:</span> {{ dataset.title }}</div>
    <div class="attr"><span class="attr">UDI:</span> {{ dataset.udi }}</div>
{% if dataset.datasetSubmission.authors | default %}
    <div class="attr"><span class="attr">Dataset Author(s):</span> {{ dataset.datasetSubmission.authors }}</div>
{% endif %}
{% if dataset.primaryPointOfContact | default %}
    <div class="attr">
        <span class="attr">Point of Contact:</span> {{ dataset.primaryPointOfContact.lastName }}, {{ dataset.primaryPointOfContact.firstName }}
        (<a href="mailto:{{ dataset.primaryPointOfContact.emailAddress }}">{{ dataset.primaryPointOfContact.emailAddress }}</a>)
    </div>
{% endif %}

{% if dataset.datasetSubmission.restrictions | default != "None" %}
    <div class="attr">
        <span class="attr">Restrictions:</span>
        {% if dataset.datasetSubmission.restrictions | default == "Restricted" %}
            {% if dataset.datasetSubmission.datasetFileTransferStatus == 'RemotelyHosted' and not dataset.datasetSubmission.datasetFileUri matches '!^https?://data.gulfresearchinitiative.org!' %}
                This dataset is restricted for download but is hosted by another website so availability status is not guaranteed to be accurate.
            {% else %}
                This dataset is restricted for download.
            {% endif %}
        {% else %}
            unknown
        {% endif %}
    </div>
{% endif %}

{% if not dataset.datasetSubmission %}
    {% if dataset.dif.estimatedStartDate %}
        <div class="attr">
            <span class="attr">Start Date:</span> {{ dataset.dif.estimatedStartDate|date('Y-m-d') }}
        </div>
    {% endif %}
    {% if dataset.dif.estimatedEndDate %}
        <div class="attr">
            <span class="attr">End Date:</span> {{ dataset.dif.estimatedEndDate|date('Y-m-d') }}
        </div>
    {% endif %}
{% endif %}
<div class="abstract">
    <div><span class="attr">Abstract:</span></div>
    <div>{{ dataset.abstract }}</div>
</div>
