{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent() }}

    {{
        add_library (
            [
                'jquery.cookie',
            ]
        )
    }}

    {% stylesheets
        '@PelagosAppBundle/Resources/public/css/data-discovery.css'
        '@PelagosAppBundle/Resources/public/css/data-discovery-scrollbars.css'
        '@PelagosAppBundle/Resources/public/css/data-discovery-datasets.css'
        '@PelagosAppBundle/Resources/public/css/downloads.css'
        '@PelagosAppBundle/Resources/public/css/dataset_details.css'
        '@PelagosAppBundle/Resources/public/css/download.css'
    %}
        {{ add_css(asset_url) }}
    {% endstylesheets %}

    {{ 
        add_js(
            [
                '//cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js',
                '//maps.google.com/maps/api/js?v=3&key=' ~ google_maps_api_key,
            ]
        )
    }}

    {% javascripts
        '@PelagosAppBundle/Resources/public/js/geoviz.js'
        '@PelagosAppBundle/Resources/public/js/data-discovery.js'
        '@PelagosAppBundle/Resources/public/js/tree.js'
        '@PelagosAppBundle/Resources/public/js/download.js'
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
    %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

    {{ add_js(path('fos_js_routing_js', { callback: 'fos.Router.setData' })) }}
{% endblock %}

{% block body %}
    <input id="by-input" type="hidden">
    <input id="id-input" type="hidden">

    <div id="container">

        <div id="left">
            <div>
                <div id="map_pane">
                    <div id="olmap"></div>
                    <div id="map_buttons">
                        <div class="map_button_container">
                            <label for="show_all_extents_checkbox" id="show_all_extents_label">Show All Extents</label>
                            <input type="checkbox" id="show_all_extents_checkbox" class="map_button" onclick="showAllExtents();">
                        </div>
                        <div class="map_button_container">
                            <input type="button" id="clearGeoFilterButton" class="map_button" value="Clear Filter" disabled onclick="$(this).button('disable');myGeoViz.clearFilter();trees['tree'].geo_filter = null;applyFilter();">
                        </div>
                        <div class="map_button_container">
                            <input type="button" id="drawGeoFilterButton" class="map_button" value="Draw Filter" onclick="myGeoViz.drawFilter();$(this).button('disable');$('body').css('cursor','crosshair');$('#olmap').css('cursor','crosshair');$('input').css('cursor','crosshair');" disabled>
                        </div>
                    </div>
                    <div class="map_border map_border_top_bottom map_border_top map_border_top_bg"></div>
                    <div class="map_border map_border_top_bottom map_border_top map_border_top_fg"></div>
                    <div class="map_border map_border_top_bottom map_border_bottom map_border_bottom_bg"></div>
                    <div class="map_border map_border_top_bottom map_border_bottom map_border_bottom_fg"></div>
                    <div class="map_border map_border_left_right map_border_left map_border_left_bg"></div>
                    <div class="map_border map_border_left_right map_border_left map_border_left_fg"></div>
                    <div class="map_border map_border_left_right map_border_right map_border_right_bg"></div>
                    <div class="map_border map_border_left_right map_border_right map_border_right_fg"></div>
                </div>
            </div>
            <div>
                <div id="menu-wrapper">
                    <div id="menu">
                        <div class="viewport">
                            <div class="overview">
                                <script type="text/javascript">addTree();</script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="right" style="left: 45%; width: 55%;">
            <div>
                <div id="filter" class="right-panel">
                    <table>
                        <tr>
                            <td valign="top" style="width:100%; padding-right:10px;">
                                <input id="filter-input" class="textbox" type="text" size="50" value="{{defaultFilter}}">
                                <input id="filter-applied" type="hidden" value="{{defaultFilter}}">
                            </td>
                            <td valign="top">
                                <input type="button" id="filter-button" class="button" value="Filter" onclick="applyFilter();">
                            </td>
                            <td valign="top">
                                <input type="button" id="clear-button" class="button" value="Clear/Show All" onclick="clearAll();">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div>
                <div id="dataset_listing_wrapper" class="right-panel">
                    <div id="dataset_listing"></div>
                    <div class="spinner">
                        <div>
                            {% image '@PelagosAppBundle/Resources/public/images/spinner.gif' %}
                                <img src="{{asset_url}}">
                            {% endimage %}
                        </div>
                    </div>
                </div>
            </div>
            <div id="expand-collapse"
                {% image '@PelagosAppBundle/Resources/public/images/CollapseLeft-12.gif' %}
                    collapse-image="{{ asset_url }}"
                {% endimage %}
                {% image '@PelagosAppBundle/Resources/public/images/CollapseRight-12.gif' %}
                    expand-image="{{ asset_url }}"
                {% endimage %}
                >
                <div style="height:50px; width:12px"></div>
            </div>
        </div>

    </div>

    {% if download %}
        <script type="text/javascript">
            showDatasetDownload('{{download}}');
        </script>
    {% endif %}
{% endblock %}
