<!DOCTYPE html>
<html>
    {% include "PelagosAppBundle::layout-head.html.twig" %}
<body class="html page-pelagos-full">
{% block htmlbody %}
    <ul class="atlassian-btns">
        <li>
            <a href="#" id="atlwdg-issue" class="atlwdg-trigger">
                Report Issue
            </a>
        </li>
        <li>
            <a href="#" id="atlwdg-suggest" class="atlwdg-trigger">
                Suggest Improvement
            </a>
        </li>
    </ul>
    <div id="page-wrapper">
        <div id="page">
            <div id="header"><div class="section clearfix">

                    <div class="region region-header">
                        <div id="block-pelagos-pelagos-login-logout-links" class="block block-pelagos">
                            <div class="content">
                                <a href="/user/login?destination=">Log In</a>  </div>
                        </div>
                    </div>

                    <div id="branding" class="container">
                        <div id="logo-wrapper">
                            <a href="http://gulfresearchinitiative.org" title="Gulf of Mexico Research Initiative" rel="home" id="logo">
                                <img src="{{asset('/build/images/logo.png')}}" alt="Home">
                            </a>
                        </div>

                        <div id="name-and-slogan">

                            <div id="site-slogan">Investigating the effect of oil spills <br> on the environment and public health.</div>
                        </div>

                        <div id="griidc-logo-wrapper">
                            <a href="/" title="Home" rel="home" id="logo">
                                <img src="{{asset('/build/images/griidc-logo.png')}}" alt="GRIIDC">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            {% include "PelagosAppBundle::layout-menu.html.twig" %}
            <div id="pelagos-container">
                <div id="pelagos-container-row">
                    <div id="pelagos-container-cell">
                        <div id="pelagos-wrapper">
                            <div id="pelagos-wrapper-row">
                                <div id="pelagos-content">
                                    <h1 style="margin: 0 auto;">{% block pagetitle %}{% endblock %}</h1>
                                    {% block body %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {#END Main Content #}
        </div>{#End div page#}
    </div> {#End div wrapper#}
{% endblock htmlbody %}
</body>
</html>