{% block head %}
<head>
    {%block stylesheets %}
        <link href="{{ asset('/build/common.css') }}" rel="stylesheet" />

    {%endblock stylesheets  %}

    <title>{% block title %}{% endblock %}</title>

    {% block javascripts %}
        <script src="{{ asset('/build/common.js') }}"></script>

        <script type="text/javascript" src="https://griidc.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-2rfjj7/b/29/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=8b54034b"></script>

        <script type="text/javascript" src="https://griidc.atlassian.net/s/d41d8cd98f00b204e9800998ecf8427e-T/-2rfjj7/b/29/a44af77267a987a660377e5c46e0fb64/_/download/batch/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector/com.atlassian.jira.collector.plugin.jira-issue-collector-plugin:issuecollector.js?locale=en-US&collectorId=a5e3f887"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                window.ATL_JQ_PAGE_PROPS =  {
                    "8b54034b" : {
                        "triggerFunction": function(showCollectorDialog) {
                            $("#atlwdg-issue").click(function(e) {
                                e.preventDefault();
                                showCollectorDialog();
                            });
                        }
                    },
                    "a5e3f887" : {
                        "triggerFunction": function(showCollectorDialog) {
                            $("#atlwdg-suggest").click(function(e) {
                                e.preventDefault();
                                showCollectorDialog();
                            });
                        }
                    },
                };
            });
        </script>
    {% endblock %}
</head>
{% endblock %}
