<!DOCTYPE html>
<html style="height:100%;">
    <head>
        <title>{% block title %}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body style="height:100%; margin:0; padding:0;">
        {% block body %}{% endblock %}
    </body>
</html>
