{% if not wrapped %}
<!DOCTYPE html>
<html style="height:100%;">
    <head>
        <title>{% block title %}{% endblock %}</title>
{% endif %}
        {% block head %}{% endblock %}
{% if not wrapped %}
    </head>
    <body style="height:100%; margin:0; padding:0;">
        <div style="height:100%;">
            <div style="display:table; width:100%; height:100%">
                <div style="display:table-row">
                    <div style="display:table-cell; padding: 10px 10px 0px 10px;">
                        <h1 style="margin: 0 auto;">{% block pagetitle %}{% endblock %}</h1>
                    </div>
                </div>
                <div style="display:table-row">
                    <div style="display:table-cell; height:100%; padding:10px;">
{% endif %}
                        {% block body %}{% endblock %}
{% if not wrapped %}
                    </div>
                </div>
            </div>
        </div>
{% endif %}
    </body>
{% if not wrapped %}
</html>
{% endif %}
