{% if mdata.Program_Title %}
<h2>Project Title:</h2>
<div>
<a target="_blank" href="http://research.gulfresearchinitiative.org/research-awards/projects/?pid={{mdata.Program_ID}}">{{mdata.Program_Title}}</a>
</div>
{% endif %}

{% if mdata.Project_Title %}
<h2>Task Title:</h2>
<div>
{{mdata.Project_Title}}
</div>
{% endif %}

{% if pdata.purpose %}
<h2>Purpose:</h2>
<div>
    {{pdata.purpose}}
</div>
{% endif %}

{% if pdata.keywords %}
<h2>Keywords:</h2>
<div>
    {{pdata.keywords}}
</div>
{% endif %}

{% if pdata.abstract %}
<h2>Abstract:</h2>
<div>
    {{pdata.abstract}}
</div>
{% endif %}

{% if pdata.file_format %}
<h2>File Format:</h2>
<div>
{{pdata.file_format}}
</div>
{% endif %}
