<div style="position: relative;">
<font size="3">
<div style="float:right;" class="minitoolbar">
	<span ><img width="40px" height="40px" id="downloadds" src="/data-discovery/includes/images/download-package.png"></span>
	<span ><img title="test" width="40px" height="40px" id="metadatadl" src="{{baseurl}}/includes/images/xmlc.png"></span>
</div>

<h2>{{pdata.dataset_title}}</h2>

<h3>{{mdata.Program_Title}}</h3>

<table width="90%">
<tr><td colspan="2"><b>UDI:</b><br/> {{pdata.dataset_udi}}</td></tr>
<tr><td colspan="2">&nbsp;</td></tr>

<tr><td valign="top"><b>Dataset Originator:</b><br/> {{pdata.dataset_poc_name}}</td>
	<td rowspan="4" valign="top"><b>Point of Contact:</b><br/> {{mpdata.People_LastName}}, {{mpdata.People_FirstName}}<br/>
	{{mpdata.Institution_Name}}<br/><a href="{{mpdata.Department_URL}}" title="Link to Department" target="_blank">{{mpdata.Department_Name}}</a></span> <br>{{mpdata.Department_Addr1}}<br>{{mpdata.Department_Addr2}}<br>{{mpdata.Department_City}}, {{mpdata.Department_State}}&nbsp;&nbsp;{{mpdata.Department_Zip}}<br>{{mpdata.Department_Country}}<br><a href="mailto:{{mpdata.People_Email}}">{{mpdata.People_Email}}</a>
</td>
</tr>

<tr><td valign="top"><b>Funding Source:</b><br/> {{mdata.Fund_Source}}</td></tr>
<tr><td valign="top"><b>Program Start Date:</b><br/> {{mdata.Program_StartDate}}</td></tr>
	<tr><td><b>Program End Date:</b><br/> {{mdata.Program_EndDate}}</td></tr>
</td></tr>



</tr><tr>

</td>
	


	{% if pdata.extent_description %}
	
	<tr><td colspan="2">&nbsp;</td></tr>
	<tr><td colspan="2"><b>Extent Description:</b><br/> {{pdata.extent_description}}</td></tr>
	{% endif %}
	</tr>
</table>

</font>
<p/>
<table width="90%" !style="position: absolute; bottom: 0; left: 0; " border="1">
	<tr>
        <th class="udi">UDI</th>
        <th>Title</th>
        <th class="status">Identified</th>
        <th class="status">Registered</th>
        <th class="status">Metadata</th>
        <th class="status">Available</th>
    </tr>
	<tr>
        <td class="udi">{{pdata.dataset_udi}}</td>
        <td>{{pdata.title}}</td>
        <td class="status" title="{{(pdata.identified ~ '_identified') | statusToTitle}}">
            <img src="{{baseurl}}/includes/images/{{pdata.identified | statusToImg}}">
        </td>
        <td class="status" title="{{(pdata.registered ~ '_registered') | statusToTitle}}">
            <img src="{{baseurl}}/includes/images/{{pdata.registered | statusToImg}}">
        </td>
        <td class="status" title="{% if pdata.registered %}{{(pdata.metadata ~ '_metadata') | statusToTitle}}{% else %}{{'-1_metadata' | statusToTitle}}{% endif %}">
            <img src="{{baseurl}}/includes/images/{% if pdata.registered %}{{pdata.metadata | statusToImg}}{% else %}{{'-1' | statusToImg}}{% endif %}">
        </td>
        <td class="status" title="{% if pdata.registered %}{{(pdata.available ~ '_available') | statusToTitle}}{% else %}{{'-1_available' | statusToTitle}}{% endif %}">
            <img src="{{baseurl}}/includes/images/{% if pdata.registered %}{{pdata.available | statusToImg}}{% else %}{{'-1' | statusToImg}}{% endif %}">
        </td>
    </tr>
	</table>
</div>
