{% if auth %}
    {% include 'html/logged_in.html' %}
{% else %}
    {{auth_type.name}} Authentication Options
    {% if auth_type.providers %}
        <ul>
            {% for provider in auth_type.providers|keys %}
                <li><a href="/auth/{{auth_type_key}}/{{provider}}">{{auth_type.providers[provider].name}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endif %}
