{% if auth %}
    {% include 'html/logged_in.html' %}
{% else %}
Authentication Options
<ul>
    {% for auth_type in auth_types|keys %}
        <li><a href="{{baseUrl}}/{{auth_type}}">{{auth_types[auth_type].name}}</a></li>
        {% if auth_types[auth_type].providers %}
            <ul>
                {% for provider in auth_types[auth_type].providers|keys %}
                    <li><a href="{{baseUrl}}/{{auth_type}}/{{provider}}">{{auth_types[auth_type].providers[provider].name}}</a></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
