<p>
    You are currently authenticated as:
</p>
<table id="auth_info">
    <tr><td class="field_name">Type:</td><td>{{auth.type}}</td></tr>
    {% if auth.provider %}
        <tr><td class="field_name">Provider:</td><td>{{auth.provider}}</td></tr>
    {% endif %}
    <tr><td class="field_name">Username:</td><td>{{auth.username}}</td></tr>
</table>
<p style="margin-top:20px;">
    <button onclick="location.href='/auth/logout';">Logout</button>
</p>
