<h2>Abstract:</h2>
<div>
    {{ dataset.abstract|default }}
</div>

{% if dataset.metadataStatus == constant('Pelagos\\Entity\\DatasetSubmission::METADATA_STATUS_ACCEPTED') %}

    {% if dataset.datasetSubmission.purpose|default %}
        <h2>Purpose:</h2>
        <div>
            {{ dataset.datasetSubmission.purpose }}
        </div>
    {% endif %}

    {% if dataset.datasetSubmission.themeKeywords|default %}
        <h2>Theme Keywords:</h2>
        <div>
            {% set keywords = [] %}
            {% for keyword in dataset.datasetSubmission.themeKeywords %}
                {% set keywords = keywords|merge([keyword|trim('"')]) %}
            {% endfor %}
            {{ keywords|join(', ') }}
        </div>
    {% endif %}

    {% if dataset.datasetSubmission.distributionFormatName|default %}
        <h2>File Format:</h2>
        <div>
            {{ dataset.datasetSubmission.distributionFormatName }}
        </div>
    {% endif %}

    {% if downloads is not null %}
        <h2>Dataset Downloads:</h2>
        <div>
            {{ downloads }}
        </div>
    {% endif %}

{% endif %}
