{% set dl_ok = 0 %}
{% set dataset_available = 0 %}

{% if dataset.metadataStatus == constant('Pelagos\\Entity\\DatasetSubmission::METADATA_STATUS_ACCEPTED') %}
    {% set dl_ok = 1 %}
{% endif %}
{% if dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE') or dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE_REMOTELY_HOSTED') %}
    {% set dataset_available = 1 %}
{% endif %}

<div style="position: relative;">
    <font size="3">
        <div style="float:right;" class="minitoolbar">
            <div>
                {% if dl_ok == 1 %}
                    {% if dataset_available %}
                        {% image '@PelagosAppBundle/Resources/public/images/download-package.png' %}
                            <img width="40px" height="40px" id="downloadds" src="{{ asset_url }}">
                        {% endimage %}
                    {% elseif dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_RESTRICTED') %}
                        {% image '@PelagosAppBundle/Resources/public/images/download-package.png' %}
                            <img width="40px" height="40px" id="downloaddsdenrestricted" src="{{ asset_url }}">
                        {% endimage %}
                    {% else %}
                        {% image '@PelagosAppBundle/Resources/public/images/download-package-grey.png' %}
                            <img width="40px" height="40px" id="downloaddsden" src="{{ asset_url }}">
                        {% endimage %}
                    {% endif %}
                    {% if dataset.metadataStatus == constant('Pelagos\\Entity\\DatasetSubmission::METADATA_STATUS_ACCEPTED') %}
                        {% image '@PelagosAppBundle/Resources/public/images/xmlc.png' %}
                            <img title="test" width="40px" height="40px" id="metadatadl" src="{{ asset_url }}">
                        {% endimage %}
                    {% else %}
                        {% image '@PelagosAppBundle/Resources/public/images/xmlc-bw.png' %}
                            <img title="test" width="40px" height="40px" id="metadatadl-dis" src="{{ asset_url }}">
                        {% endimage %}
                    {% endif %}
                {% else %}
                    {% image '@PelagosAppBundle/Resources/public/images/download-package-grey.png' %}
                        <img width="40px" height="40px" id="downloaddsdenmd" src="{{ asset_url }}">
                    {% endimage %}
                    {% image '@PelagosAppBundle/Resources/public/images/xmlc-bw.png' %}
                        <img title="test" width="40px" height="40px" id="metadatadl-dis" src="{{ asset_url }}">
                    {% endimage %}
                {% endif %}
            </div>
        </div>

        <h2>{{ dataset.title }}</h2>

        <h3>{{ dataset.researchGroup.name }}</h3>


        <table width="90%" datasetId="{{ dataset.id }}">
            {% if dataset.doi|default %}
                {% if dataset.datasetSubmissionStatus == constant('Pelagos\\Entity\\DatasetSubmission::STATUS_COMPLETE') %}
                    <tr>
                        <td colspan="2"><b>DOI:</b><br/> {{ dataset.doi.doi }}</td>
                    </tr>
                    <tr>
                        <td colspan="2">&nbsp;</td>
                    </tr>
                {% endif %}
            {% endif %}
            <tr>
                <td><b>UDI:</b><br/><span id="udi">{{ dataset.udi }}</span></td>
                <td>
                    <b>Last Update:</b><br>
                    {% if dataset.datasetSubmission %}
                        {{ dataset.datasetSubmission.submissionTimeStamp|date('M d Y H:i T', 'UTC') }}
                    {% else %}
                        {{ dataset.dif.modificationTimeStamp|date('M d Y H:i T', 'UTC') }}
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td colspan="2">&nbsp;</td>
            </tr>

            <tr>
                <td valign="top"><b>Dataset Author(s):</b><br/> {{ dataset.datasetSubmission.authors|default }}</td>
                <td rowspan="4" valign="top">
                    {% if dataset.primaryPointOfContact %}
                        <b>Point of Contact:</b><br/>
                        {{ dataset.primaryPointOfContact.lastName }}, {{ dataset.primaryPointOfContact.firstName }}<br/>
                        {{ dataset.primaryPointOfContact.organization }}<br/>
                        {{ dataset.primaryPointOfContact.deliveryPoint }}<br>
                        {{ dataset.primaryPointOfContact.city }}, {{ dataset.primaryPointOfContact.administrativeArea }}&nbsp;&nbsp;{{ dataset.primaryPointOfContact.postalCode }}
                        <br>
                        {{ dataset.primaryPointOfContact.country }}<br>
                        <a href="mailto:{{ dataset.primaryPointOfContact.emailAddress }}">
                            {{ dataset.primaryPointOfContact.emailAddress }}
                        </a>
                    {% endif %}
                </td>
            </tr>

            <tr>
                <td valign="top">
                    {% if dataset.researchGroup.fundingCycle %}
                        <b>Funding Source:</b><br/>
                        {{ dataset.researchGroup.fundingCycle.name }}
                    {% endif %}
                </td>
            </tr>

            {% if dl_ok == 1 %}
                {% if dataset.datasetSubmission|default %}

                    {% set showExtent = false %}
                    {% set showExtentDescription = false %}

                    {# datasetSubmission has an extent description and does not have a temporal extent. Presence of beginPosition or endPosition constitutes a temporal extent. #}
                    {# Display the extent description. #}
                    {% if dataset.datasetSubmission.spatialExtentDescription|default and not (dataset.datasetSubmission.temporalExtentBeginPosition|default or dataset.datasetSubmission.temporalExtentEndPosition|default) %}
                        {% set showExtentDescription = true %}
                    {% endif %}

                    {# datasetSubmission has a temporal extent and does not have at extent description. #}
                    {# Display the temporal extent. #}
                    {% if (dataset.datasetSubmission.temporalExtentBeginPosition|default or dataset.datasetSubmission.temporalExtentEndPosition|default) and not dataset.datasetSubmission.spatialExtentDescription|default %}
                        {% set showExtent = true %}
                    {% endif %}

                    {# datasetSubmission has both an extent description and a temporal extent and extent contains a gmd:geograpicElement. #}
                    {# Display the temporal extent. #}
                    {% if (dataset.datasetSubmission.temporalExtentBeginPosition|default or dataset.datasetSubmission.temporalExtentEndPosition|default) and dataset.datasetSubmission.spatialExtentDescription|default and dataset.geometry|default %}
                        {% set showExtent = true %}
                    {% endif %}

                    {# datasetSubmission has both an extent description and a temporal extent and extent does not contain a gmd:geograpicElement. #}
                    {# Display the extent description. #}
                    {% if (dataset.datasetSubmission.temporalExtentBeginPosition|default or dataset.datasetSubmission.temporalExtentEndPosition|default) and dataset.datasetSubmission.spatialExtentDescription|default and not dataset.geometry|default %}
                        {% set showExtentDescription = true %}
                    {% endif %}

                    {# datasetSubmission has neither extent description nor temporal extent.  #}
                    {# Display nothing.  This is the default case. #}

                    {% if showExtent == true %}

                        {% if not dataset.datasetSubmission.temporalExtentBeginPosition|date('Y-m-d') |default %}
                            {% set begin = 'N/A' %}
                        {% else %}
                            {% set begin = dataset.datasetSubmission.temporalExtentBeginPosition|date('Y-m-d') %}
                        {% endif %}

                        {% if not dataset.datasetSubmission.temporalExtentEndPosition|date('Y-m-d') |default %}
                            {% set end = 'N/A' %}
                        {% else %}
                            {% set end = dataset.datasetSubmission.temporalExtentEndPosition|date('Y-m-d') %}
                        {% endif %}

                        <tr>
                            <td valign="top">
                                <b>Data Collection Period:</b><br/>
                                {{ begin }}
                                to
                                {{ end }}
                            </td>
                        </tr>
                    {% endif %}

                    {% if showExtentDescription == true %}
                        <tr>
                            <td valign="top">
                        <tr>
                            <td colspan="2">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="2"><b>Extent
                                    Description:</b><br/> {{ dataset.datasetSubmission.spatialExtentDescription }}</td>
                        </tr>
                        </td>
                        </tr>
                    {% endif %}
                {% endif %}
            {% endif %}
        </table>

    </font>
    <p/>
    {% include 'PelagosAppBundle:DatasetMonitoring:datasets.html.twig' with
        { 'datasets' : [dataset], 'dataland' : true } %}
</div>

