{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        {{errormessage}}. For any additional help please contact <a href=
        "griidc@gomri.org">griidc@gomri.org</a>.
    </div>
{% endblock %}
