{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent() }}

    {% javascripts '@PelagosAppBundle/Resources/public/js/entity/FundingCycle.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <table border="0" width="100%">
        <tr>
            <td width="25%" valign="top">
            </td>
            <td style="padding:10px;" width="60%" valign="top">
                <div id="orgdetails">
                    <h2>Funding Cycle Details</h2>
                    {% include '@templates/forms/FundingCycle.html.twig' %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
