{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent () }}

    {% javascripts '@PelagosAppBundle/Resources/public/js/entity/NationalDataCenter.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

{% endblock %}

{% block body %}

    <div>
        <table border="0" width="100%">
            <tr>
                <td width="25%">
                    <div id="placeholder" style="height:100px;">
                    </div>
                </td>
                <td style="padding:10px;" width="60%" valign="top">
                    <div id="orgdetails">
                        <h2>National Data Center Details</h2>
                        {% include '@templates/forms/NationalDataCenter.html.twig' %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}