{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        You have to be logged in to perform this action. If you have forgotten your password please visit <a href="{{ path('pelagos_app_ui_account_passwordreset') }}">password reset</a>. For any additional help please contact <a href=
        "griidc@gomri.org">griidc@gomri.org</a>.
    </div>
{% endblock %}
