{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent() }}

    {% javascripts '@PelagosAppBundle/Resources/public/js/entity/PersonFundingOrganization.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}
{% endblock %}

{% block body %}
    <div>
        <table border="0" width="100%">
            <tr>
                <td width="25%" valign="top">
                </td>
                <td style="padding:10px;" width="60%" valign="top">
                    <div id="details">
                        <h2>Person Funding Organization Details</h2>
                        {% include '@templates/forms/PersonFundingOrganization.html.twig' %}
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endblock %}
