{% extends "PelagosAppBundle::layout.html.twig" %}

{% block body %}
<ul>
    <li><a href="{{ path('pelagos_app_list_peoplelist') }}" target="_blank">Person</a></li>
    <li><a href="{{ path('pelagos_app_list_researchgrouplist') }}" target="_blank">Research Group</a></li>
    <li><a href="{{ path('pelagos_app_list_fundingorganizationlist') }}" target="_blank">Funding Organization</a></li>
</ul>
{% endblock %}

