<table border="0" width="100%">
    <tr>
        <td>
            <h2>Person:</h2>
            <a class="button" href="{{basePath}}/applications/entity-list/Person" target="_blank">List</a>
            <a class="button" href="{{basePath}}/applications/entity/Person" target="_blank">Create</a>
        </td>
 
        <td>
            <h2>Funding Organization:</h2>
            <a class="button" href="{{basePath}}/applications/entity-list/FundingOrganization" target="_blank">List</a>
            <a class="button" href="{{basePath}}/applications/entity/FundingOrganization" target="_blank">Create</a>
        </td>
        
        <td>
            <h2>Funding Cycle:</h2>
            <a class="button" href="{{basePath}}/applications/entity-list/FundingCycle" target="_blank">List</a>
            <a class="button" href="{{basePath}}/applications/entity/FundingCycle" target="_blank">Create</a>
        </td>
        
        <td>
            <h2>Research Group:</h2>
            <a class="button" href="{{basePath}}/applications/entity-list/ResearchGroup" target="_blank">List</a>
            <a class="button" href="{{basePath}}/applications/entity/ResearchGroup" target="_blank">Create</a>
        </td>
        
    </tr><tr>
        
        <td>
            <h2>Person Research Group:</h2>
            <a disabled class="button">List</a>
            <a class="button" href="{{basePath}}/applications/entity/PersonResearchGroup" target="_blank">Create</a>
        </td>
        
        <td>
            <h2>Person Funding Organization:</h2>
            <a disabled class="button">List</a>
            <a class="button" href="{{basePath}}/applications/entity/PersonFundingOrganization" target="_blank">Create</a>
        </td>
        
        <td>
            <h2>Funding Organization Role:</h2>
            <a disabled class="button">List</a>
            <a class="button" href="{{basePath}}/applications/entity/FundingOrganizationRole" target="_blank">Create</a>
        </td>
        
        <td>
            <h2>Research Group Role:</h2>
            <a disabled class="button">List</a>
            <a class="button" href="{{basePath}}/applications/entity/ResearchGroupRole" target="_blank">Create</a>
        </td>
    </tr>
</table>
