#log{
    position: fixed;
    background-color: white;
    display: none;
    border: 2px solid black;
    padding: 5px;
    width: 80%;
    left: 10%;
    margin-top: 10px;
    top: 15%;
    z-index: 1000;
    border-radius: 8px;
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 22%, #fefefe 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(22%,#dbdbdb), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 22%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 22%,#fefefe 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 22%,#fefefe 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 22%,#fefefe 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
    /* credit to: http://www.colorzilla.com/gradient-editor/ */

    display: none;
}
#log_close {
    text-align: right;
    padding-top: 2px;
    padding-right: 2px;
}
#log_content{
    height: 400px;
    overflow: auto;
    margin-right: 3px;
    margin-bottom: 2px;
}
#filedisp{
}
#filedisp td{
    padding: 5px;
}
#filedisp td button {
    width: 40px;
}
#filedisp td file_dl_icon {
    width: 20px;
    min-width: 20px;
}
#filedisp td db_dl_icon {
    width: 20px;
    min-width: 20px;
}
#filedisp td md_filename {
    width: 100px;
    min-width: 100px;
}

.jiraTicketClass {
    width: 200px;
}
.jiraForm {
    display:none;
    top: 5px;
    border-spacing: 0px;
    border-collapse: collapse;
    position:absolute;
    border: 1px solid black;
}
