<table hidden>
<tr data-link-url="{{ path("pelagos_app_ui_dataland_default", {"udi": "~udi~"}) }}" id="template-data-row-available" hidden>
    <td class="info">
        <span id="container-dataset-authors">
            <span id="dataset-authors"></span>.
        </span>
        <span id="container-dataset-year">
            <span id="dataset-year"></span>.
        </span>
        <span id="dataset-title">.</span>
        <span id="container-dataset-research-group">
            <span id="dataset-research-group"></span>.
        </span>
        <span id="container-dataset-doi">
            <span id="label-dataset-doi">DOI: </span>
            <span id="dataset-doi">.</span>
        <span id="container-dataset-udi">
            <span id="label-dataset-udi">UDI: </span>
            <span id="dataset-udi">.</span>
        </span>
    </td>
</tr>
</table>
