<script type="text/javascript">
    var $ = jQuery.noConflict();

    var start = 0;
    var end = 0;

    function TestDownload() {
        start = new Date().getTime();
        $.ajax({
            type: "GET",
            url: "/download/testfile.bin?id=" + start,
            success: function(msg) {
                end = new Date().getTime();
                diff = (end - start) / 1000;
                bytes = msg.length;
                speed = (bytes / diff);
                time = {{filesize}} / speed;
                unit = "second";
                if (time > 60) {
                    time = time / 60;
                    unit = "minute";
                }
                if (time > 60) {
                    time = time / 60;
                    unit = "hour";
                }
                if (Math.round(time) > 1) unit += "s";
                $('#dl_time').html(Math.round(time) + " " + unit);
            }
        });
    }

    $(document).ready(function() {
        TestDownload();
    });

</script>

<h3>The dataset you selected is ready for download.</h3>

<p><strong>Dataset UDI:</strong> {{dataset.udi}}</p>

<p><strong>Dataset Title:</strong> {{dataset.title}}</p>

{% if dataset.metadata_filename %}
<p><strong>Dataset Metadata:</strong> <a href="/metadata/{{dataset.udi}}">{{dataset.metadata_filename}}</a></p>
{% endif %}

<p><strong>Dataset Filename:</strong> {{dataset.dataset_filename}}</p>

<p><strong>Dataset Size:</strong> {{size}} {{size_unit}}</p>

<p><strong>Approximate Download Time:</strong> <span id="dl_time">calculating...</span></p>

<button onclick="location.href='http://{{server}}/download/{{uid}}/{{dataset.dataset_filename}}'" style="font-weight:bold;margin:10px;">Download Now</button>

<p style="margin-top:10px;"><a href="{{baseUrl}}{% if filt %}?filter={{filt}}{% endif %}">Return to Data Discovery</a></p>
