<div id="dataset_download_content">

<h3 style="text-align:center;">The dataset you selected is hosted by an external repository.</h3>

<div style="border: 1px solid #aaa; padding: 10px; border-radius: 4px;">
    <p style="margin-top:0"><strong>UDI:</strong> {{dataset.udi}}</p>

    <p><strong>Title:</strong> {{dataset.title}}</p>

    <p><strong>Originator:</strong> {{dataset.dataset_originator}}</p>

    {% if dataset.metadata_filename %}
        <p><strong>Metadata:</strong> <a href="/metadata/{{dataset.udi}}">{{dataset.metadata_filename}}</a></p>
    {% endif %}

    <p><strong>Location:</strong> <a href="{{dataset.url_data}}" target=_BLANK>{{dataset.url_data}}</a></p>

    {% if dataset.access_status == 'Restricted' %}
        <p style="color:#A00">This dataset has been marked as restricted for author use only.<br>To obtain access to this dataset, please click the location link above and follow any instructions provided.</p>
    {% elseif dataset.access_status == 'Approval' %}
        <p style="color:#A00">This dataset has been marked as requiring author approval for download.<br>To obtain access to this dataset, please click the location link above and follow any instructions provided.</p>
    {% else %}
        <p>To download this dataset, please use the location link above.</p>
    {% endif %}

</div>

<div style="border: 1px solid #aaa; padding: 10px; margin-top: 20px; border-radius: 4px;">
    <p style="margin-top:0">
        <strong>DISCLAIMER:</strong> The Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) aggregates data from researchers funded by the Gulf of Mexico Research Initiative and other scientists working in the region. These data are furnished "as is" for the convenience of all data users. GRIIDC makes no warranties (including no warranties as to merchantability, timeliness or fitness) either expressed or implied with respect to the data or their fitness for any specific application.  This particular dataset is not hosted directly by GRIIDC, so additional terms and conditions may be imposed by the hosting entity.  
    </p>
    <div style="text-align:center;">
        <p>
            By using the link above, you agree to the GRIIDC terms in the above disclaimer.
        </p>
        <p style="margin-bottom:0">
            <button onclick="jQuery('#dataset_download').hide();" style="font-weight:bold;margin:10px 10px 10px 0px;">Cancel</button>
        </p>
    </div>
</div>

</div>
