<script type="text/javascript">
    var $ = jQuery.noConflict();

    var start = 0;
    var end = 0;

    function TestDownload() {
        start = new Date().getTime();
        $.ajax({
            type: "GET",
            url: "/download/testfile.bin?id=" + start,
            success: function(msg) {
                end = new Date().getTime();
                diff = (end - start) / 1000;
                bytes = msg.length;
                speed = (bytes / diff);
                time = {{bytes}} / speed;
                unit = "second";
                if (time > 60) {
                    time = time / 60;
                    unit = "minute";
                }
                if (time > 60) {
                    time = time / 60;
                    unit = "hour";
                }
                if (Math.round(time) > 1) unit += "s";
                $('#dl_time').html(Math.round(time) + " " + unit);
            }
        });
    }

    $(document).ready(function() {
        TestDownload();
    });

</script>

<h3>The dataset you selected is ready for download.</h3>

<div style="border: 1px solid black; padding: 10px;">
<p style="margin-top:0"><strong>UDI:</strong> {{dataset.udi}}</p>

<p><strong>Title:</strong> {{dataset.title}}</p>

<p><strong>Originator:</strong> {{dataset.dataset_originator}}</p>

{% if dataset.metadata_filename %}
<p><strong>Metadata:</strong> <a href="/metadata/{{dataset.udi}}">{{dataset.metadata_filename}}</a></p>
{% endif %}

<p><strong>Filename:</strong> {{dataset.dataset_filename}}</p>

<p><strong>Size:</strong> {{filesize}}</p>

<p style="margin-bottom:0"><strong>Approximate Download Time:</strong> <span id="dl_time">calculating...</span></p>
</div>

<div style="border: 1px solid black; padding: 10px; margin-top: 10px;">
<p style="margin-top:0">
<strong>DISCLAIMER:</strong> Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) aggregates data from researchers funded by the Gulf of Mexico Initiative and other scientists working in the region. These data are furnished "as is" for the convenience of all data users. GRIIDC makes no warranties (including no warranties as to merchantability, timeliness or fitness) either expressed or implied with respect to the data or their fitness for any specific application.
</p>
<p>
By clicking "Agree &amp; Download Now" you agree to the above disclaimer.
</p>
<p style="margin-bottom:0">
<button onclick="location.href='http://{{server}}/download/{{uid}}/{{dataset.dataset_filename}}'" style="font-weight:bold;margin:10px;">Agree &amp; Download Now</button>
</p>
</div>

<p style="margin-top:10px;"><a href="{{baseUrl}}{% if filt %}?filter={{filt}}{% endif %}">Return to Data Discovery</a></p>
