{% if alternateDownloadSite == 1 %}
<div id="main">
    <p>
        <h2>The dataset for {{udi}} is available for direct download as:</h2>
        <a href="{{downloadUrl}}">https://poseidon-cs.tamu.edu/download/{{uid}}/{{dataset_filename}}</a>
    </p>
    <p>
        <a href="{{downloadUrl}}"><button onclick="jQuery('#dataset_download').hide();">Start Download</button></a>
    </p>
</div>
{% else %}
<div id="main">
    <p>
        <h2>The dataset for {{udi}} is available for direct download as:</h2>
        <a href="{{downloadUrl}}">https://{{server}}/download/{{uid}}/{{dataset_filename}}</a>
    </p>
    <p>
        <a href="{{downloadUrl}}"><button onclick="jQuery('#dataset_download').hide();">Start Download</button></a>
    </p>
</div>
{% endif %}
