<div id="package_datasets"></div>

<br>

<input id="download-button" type="button" value="Download" onclick="emptyPackage('{{baseUrl}}/package/download/' + udis);">
<input id="empty-button" type="button" value="Empty Package" onclick="emptyPackage();">
<br>
<br>
<a href="{{baseUrl}}">Back to Data Discovery</a>

<script type="text/javascript">

    var package_list = true;

    var udis;

    function loadPackage(url) {
        jQuery.ajax({
            "url": "{{baseUrl}}/package/items",
            "success": function(data) {
                udis = data.items.join(',');
                jQuery.ajax({
                    "url": "{{baseUrl}}/package/datasets/" + udis,
                    "success": function(data) {
                        if (udis == '') {
                            jQuery('#package_datasets').html('{no datasets in package}');
                        }
                        else {
                            jQuery('#package_datasets').html(data);
                            jQuery('input').attr('checked', 'checked');
                        }
                        if (url) {
                            location.href = url;
                        }
                    }
                });
                if (udis == '') {
                    jQuery('#download-button').attr('disabled','disabled');
                    jQuery('#empty-button').attr('disabled','disabled');
                }
            }
        });
    }

    jQuery(document).ready(function() {
        loadPackage();
    });


</script>
