<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">
<html>
    <head>
        <title>Index of /{{directory}}</title>
    </head>
    <body>
        <h1>Index of /{{directory}}</h1>
        <pre><img src="/icons/blank.gif" alt="Icon "> <a href="?C=N;O=D">Name</a>{% for i in range(1,filename_max_len-5) %} {% endfor %} <a href="?C=M;O=A">Last modified</a>      <a href="?C=S;O=A">Size</a>  <a href="?C=D;O=A">Description</a><hr><img src="/icons/back.gif" alt="[DIR]"> <a href="{{parent}}/">Parent Directory</a>{% for i in range(1,filename_max_len-16) %} {% endfor %}                     -   
{% for file in files %}
<img src="/icons/{{file.type}}.gif" alt="[DIR]"> <a href="{{file.name}}">{{file.name}}</a>{% for i in range(1,filename_max_len-(file.name|length)) %} {% endfor %}{{file.last_modified}}  {% if file.size %}{{file.size}}{% else %}  -{% endif %}   
{% endfor %}
<hr></pre>
    </body>
</html>
