<script>
    var pelagos_base_path = '{{pelagos_base_path}}';
</script>

<fieldset id="publication">
    <legend>Publication</legend>
    DOI: <input id="doi" class="id" type="text"> <button id="retrieve_publication" class="retrieve">Retrieve</button>
    <div class="pelagos-citation-container">
        <div id="publication_spinner" class="pelagos-spinner"></div>
        <div class="pelagos-citation"></div>
    </div>
</fieldset>

<fieldset id="dataset">
    <legend>Dataset</legend>
    UDI: <input id="udi" class="id" type="text"> <button id="retrieve_dataset" class="retrieve">Retrieve</button>
    <div class="pelagos-citation-container">
        <div id="dataset_spinner" class="pelagos-spinner"></div>
        <div class="pelagos-citation"></div>
    </div>
</fieldset>

<button id="link" class="pelagos-button" style="margin-top:20px;" disabled>Link</button>
