<script>
    var pelagos_component_path = '{{pelagos_component_path}}';
    var pelagos_base_path = '{{pelagos_base_path}}';
</script>
<h2>UDI to DOI Relations maintained by Pelagos</h2>
<table id="linkList" class="display">
<thead>
    <tr>
        <th>FC</th>
        <th>Project</th>
        <th>UDI</th>
        <th>DOI</th>
        <th>Link Creator</th>
        <th>Created On</th>
    </tr>
</thead>
<tbody>
</tbody>
</table>
<button id="delete_button" disabled>Delete Selected Row</button>
<div id="dialog-confirm" title="Are you sure?">
</div>
