<script type="text/javascript">
    var tree = {
        theme: "classic",
        max_depth: 3,
        expand_to_depth: 0,
        animation: 250,
        type: "ra",

        yr1_folder_color: "#00A",
        yr1_folder_action: "alert('YR1');",

        yr1_color: "#00A",
        yr1_action: "alert('fundSrcId = \{\{fundSrc.ID\}\}');",

        rfp_color: "#00A",
        rfp_action: "alert('fundSrcId = \{\{fundSrc.ID\}\}');",

        project_color: "#00A",
        project_action: "alert('projectId = \{\{project.ID\}\}');",

        task_color: "#00A",
        task_action: "alert('taskId = \{\{task.ID\}\}');",

        dataset_color: "#00A",
        dataset_action: "alert('dataset_udi = \{\{dataset.udi\}\}');",

        researcher_color: "#00A",
        researcher_action: "alert('peopleId = \{\{person.ID\}\}');",

        institution_color: "#00A",
        institution_action: "alert('institutionId = \{\{institution.ID\}\}');",

        other_sources_color: "#00A",
        other_sources_action: "alert('fundSrcId = \{\{fundSrc.ID\}\}');"
    }

    insertTree(tree);
</script>
