<p>This Web service establishes a REST API for the creation and storage of Pelagos Entities.</p>

Web Service Usage:
<ul>
    <li>GET / - This message</li>
    <li>POST /<em>entityName</em> - <strong>C</strong>reate an entity of type <em>entityName</em></li>
    <li>GET /<em>entityName</em>/<em>id</em> - <strong>R</strong>etrieve an entity of type <em>entityName</em> identified by <em>id</em></li>
    <li>PUT /<em>entityName</em>/<em>id</em> - <strong>U</strong>pdate an entity of type <em>entityName</em> identified by <em>id</em></li>
</ul>

JSON response will indicate success and return JSON representation of the entity or failure with error.
