<p>
This Web service establishes a REST API for the creation and storage
of a person.
<p>

Web Service Usage:
<ol>
    <li>GET / - This message</li>
    <li>POST /
        <ul>
            <li>* firstName = string</li>
            <li>* LastName = string</li>
            <li>* emailAddress = string</li>
        </ul>
        * = mandatory
   <br />
        Result - Person will be created.  JSON
        response will indicate success or failure with error.<br />Authentication
        is required to use this feature.</li>
</ol>
