<form class="entityForm" entityType="FundingCycle"
{% include '@templates/forms/permissionsBlock.html.twig' with {'Entity': FundingCycle} %}
action="{{path('pelagos_api_funding_cycles_post')}}">

    {{ form_widget(form) }}

    {% include '@templates/forms/innerForm.html.twig' with {'Entity': FundingCycle} %}

</form>
