<fieldset>
<form id="personForm">
    <label for="firstName">Given Name:</label>
    <input type="text" id="firstName" name="firstName" required>
    <label for="lastName">Family Name:</label>
    <input type="text" id="lastName" name="lastName" required>
    <label for="eMailAddress">E-Mail Address:</label>
    <input type="email" id="eMailAddress" name="eMailAddress" required>
    <p>
        <button type="submit" id="btnSave">Save</button>
        <button type="reset" id="btnReset">Reset</button>
    </p>
</form>
</fieldset>
<div id="personFormDialog"></div>