# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
    _defaults: { public: true }
    postgres_session_init.listener:
        class: Pelagos\DoctrineExtensions\DBAL\Event\Listeners\PostgresSessionInit
        arguments:
            - { timezone: UTC, intervalstyle: iso_8601 }
        tags:
            - { name: doctrine.event_listener, event: postConnect }

    person_token_user_provider:
        class: Pelagos\Bundle\AppBundle\Security\PersonTokenUserProvider
        arguments: ["@doctrine.orm.entity_manager"]

    person_token_authenticator:
        class: Pelagos\Bundle\AppBundle\Security\PersonTokenAuthenticator
        arguments: ["@twig"]
        public: false

    pelagos.ldap_client:
        class: Pelagos\Component\Ldap\LdapClient
        arguments: ["%ldap_host%"]

    pelagos.ldap:
        class: Pelagos\Component\Ldap\Ldap
        arguments: ["@pelagos.ldap_client","%ldap_bind_dn%","%ldap_bind_pw%","%ldap_people_ou%"]

    pelagos.router:
        public: false
        class: Pelagos\Routing\Router
        decorates: router
        arguments: ["@pelagos.router.inner", "%pelagos.prefix%"]

    pelagos.util.udi:
        class: Pelagos\Util\Udi
        arguments: ["@doctrine.orm.entity_manager"]

    pelagos.util.posixify_account:
        class: Pelagos\Util\POSIXifyAccount
        arguments:
            - "@doctrine.orm.entity_manager"
            - "@pelagos.ldap"
            - "@pelagos.entity.handler"
            - '%posix_starting_uid%'
            - '%posix_gid%'
            - '%homedir_prefix%'
            - "@old_sound_rabbit_mq.create_homedir_producer"

    pelagos.util.publink:
        class: Pelagos\Util\PubLinkUtil
        arguments: ["@pelagos.entity.handler"]

    pelagos.util.geometry:
        class: Pelagos\Util\Geometry
        arguments: ["@doctrine.orm.entity_manager"]

    pelagos.util.mdapplogger:
        class: Pelagos\Util\MdappLogger
        arguments: ["%mdapp_logfile%"]

    pelagos.util.metadata:
        class: Pelagos\Util\Metadata
        arguments:
            - "@twig"

    pelagos.util.data_store:
        class: Pelagos\Util\DataStore
        arguments:
            - "%data_store_directory%"
            - "%data_download_directory%"
            - "%data_store_owner%"
            - "%data_store_group%"
            - "%data_download_browser_group%"
            - "%web_server_user%"
            - "%anonymous_ftp_user%"
            - "%anonymous_ftp_pass%"

    pelagos.event.entity_event_dispatcher:
        class: Pelagos\Event\EntityEventDispatcher
        arguments: ["@event_dispatcher"]

    pelagos.event.log_action_item_event_dispatcher:
        class: Pelagos\Event\LogActionItemEventDispatcher
        arguments: ["@event_dispatcher"]

    monolog.processor.process_id:
        class: Monolog\Processor\ProcessIdProcessor
        tags:
            - { name: monolog.processor, channel: filer }
            - { name: monolog.processor, channel: retriever }
            - { name: monolog.processor, channel: dataset_file_hasher }
            - { name: monolog.processor, channel: doi_issue }

    pelagos.console.listener:
        class: Pelagos\Event\ConsoleListener
        tags:
            - { name: kernel.event_listener, event: console.exception, method: onException }

    doctrine.postgis.subscriber:
        class: Jsor\Doctrine\PostGIS\Event\ORMSchemaEventSubscriber
        tags:
            - { name: doctrine.event_subscriber, connection: default }

    pelagos.event.dataset_index_subscriber:
        class: Pelagos\Event\DatasetIndexSubscriber
        arguments: ["@pelagos.util.geometry"]
        tags:
            - { name: kernel.event_subscriber }

    pelagos.util.dataset_index:
        class: Pelagos\Util\DatasetIndex
        arguments: ["@fos_elastica.index.pelagos.dataset"]
