
<tr><td>
<label for="CIAD1_{{instanceName}}"><em>*</em>{{instanceVars.deliveryPoint_name}}</label>
<textarea class="required" rows="3" cols="80" id="CIAD1_{{instanceName}}" name="{{instanceType}}-gmd:deliveryPoint-gco:CharacterString">{{xmlArray["gmd:deliveryPoint"]["gco:CharacterString"]}}</textarea></td>
<td><pre>{{instanceVars.deliveryPoint_description}}</pre></td></tr>

<tr><td>
<label for="CIAD2_{{instanceName}}"><em>*</em>{{instanceVars.city_name}}</label>
<input value="{{xmlArray["gmd:city"]["gco:CharacterString"]}}" class="required" type="text" id="CIAD2_{{instanceName}}" size="80" name="{{instanceType}}-gmd:city-gco:CharacterString"/></td>
<td><pre>{{instanceVars.city_description}}</pre></td></tr>

<tr><td>
<label for="CIAD3_{{instanceName}}"><em>*</em>{{instanceVars.administrativeArea_name}}</label>
<input value="{{xmlArray["gmd:administrativeArea"]["gco:CharacterString"]}}" class="required" type="text" id="CIAD3_{{instanceName}}" size="80" name="{{instanceType}}-gmd:administrativeArea-gco:CharacterString"/></td>
<td><pre>{{instanceVars.administrativeArea_description}}</pre></td></tr>

<tr><td>
<label for="CIAD4_{{instanceName}}"><em>*</em>{{instanceVars.postalCode_name}}</label>
<input value="{{xmlArray["gmd:postalCode"]["gco:CharacterString"]}}" class="required" type="text" id="CIAD4_{{instanceName}}" size="80" name="{{instanceType}}-gmd:postalCode-gco:CharacterString"/></td>
<td><pre>{{instanceVars.postalCode_description}}</pre></td></tr>

<tr><td>
<label for="CIAD5_{{instanceName}}"><em>*</em>{{instanceVars.country_name}}</label>
<!--<input value="{{xmlArray["gmd:country"]["gco:CharacterString"]}}" class="required" type="text" id="CIAD5_{{instanceName}}" size="80" name="{{instanceType}}-gmd:country-gco:CharacterString"/></td>-->
<select class="required" id="CIAD5_{{instanceName}}" name="{{instanceType}}-gmd:country-gco:CharacterString">
	{% for key, country in isoCountries %}
		{% if key == xmlArray["gmd:country"]["gco:CharacterString"]%}
			<option selected value="{{key}}">{{country}}</option>
		{% elseif key == "USA" and xmlArray["gmd:country"]["gco:CharacterString"] == "" %}
			<option selected value="{{key}}">{{country}}</option>
		{% else %}
			<option value="{{key}}">{{country}}</option>
		{% endif %}
	{% endfor %}
</select>
</td>

<td><pre>{{instanceVars.country_description}}</pre></td></tr>

<tr><td>
<label for="CIAD6_{{instanceName}}"><em>*</em>{{instanceVars.electronicMailAddress_name}}</label>
<input value="{{xmlArray["gmd:electronicMailAddress"]["gco:CharacterString"]}}" class="required email" type="text" id="CIAD6_{{instanceName}}" size="80" name="{{instanceType}}-gmd:electronicMailAddress-gco:CharacterString"/></td>
<td><pre>{{instanceVars.electronicMailAddress_description}}</pre></td></tr>
