<fieldset>
<legend>Contact_{{instanceName}}</legend>
<table width="100%">

<tr><td  colspan="3">
{{Telephone}}
</td></tr>

<tr><td  colspan="3">
{{Address}}
</td></tr>

{% if operationHours == true %}
<label for="CONTACT1_{{instanceName}}">hoursOfService</label>
<input type="text" id="CONTACT1_{{instanceName}}" name="{{instanceName}}-gmd:hoursOfService-gco:CharacterString"/><br/>

<label for="CONTACT2_{{instanceName}}">contactInstructions</label>
<input type="text" id="CONTACT1_{{instanceName}}" name="{{instanceName}}-gmd:contactInstructions-gco:CharacterString"/><br/>
{% endif %}

</table>
</fieldset>