<table width="100%">
<tr><td>
<label for="CIT1_{{instanceName}}"><em>*</em>Title</label>
<textarea rows="5" cols="80" class="required" type="text" id="CIT1_{{instanceName}}" size="80" name="{{instanceType}}-gmd:title-gco:CharacterString">{{xmlArray["gmd:title"]["gco:CharacterString"]}}</textarea></td>
<td><pre>Name by which the cited resource is known.  It is recommended the title include (where applicable) a description of the data, a date or date range, and geographic area.</pre></td></tr>

<tr><td>
<label for="CIT2_{{instanceName}}">Short Title</label>
<input value="{{xmlArray["gmd:alternateTitle"]["gco:CharacterString"]}}" type="text" id="CIT2_{{instanceName}}" size="80" name="{{instanceType}}-gmd:alternateTitle-gco:CharacterString"/></td>
	<td><pre>Short name or other language name by which the cited information is known.</pre></td></tr>

{{Date}}

{% if complex == true %}
<label for="CIT3_{{instanceName}}">edition</label>';
<input class="required" type="text" id="CIT3_{{instanceName}}" name="{{instanceType}}-gmd:edition-gco:CharacterString"/><br/>

<label for="CIT4_{{instanceName}}">editionData</label>
<input class="required" type="text" id="CIT4_{{instanceName}}" name="{{instanceType}}-gmd:editionData-gco:CharacterString"/><br/>
{% endif %}

</table>