<fieldset>
<legend>Citation_{{instanceName}}</legend>
		
<label for="CIT1_{{instanceName}}">title</label>
<input type="text" id="CIT1_{{instanceName}}" name="{{instanceType}}-gmd:title-gco:CharacterString"/><br/>

<label for="CIT2_{{instanceName}}">alternateTitle</label>
<input type="text" id="CIT2_{{instanceName}}" name="{{instanceType}}-gmd:alternateTitle-gco:CharacterString"/><br/>

{{Date}}

{% if complex == true %}
<label for="CIT3_{{instanceName}}">edition</label>';
<input type="text" id="CIT3_{{instanceName}}" name="{{instanceType}}-gmd:edition-gco:CharacterString"/><br/>

<label for="CIT4_{{instanceName}}">editionData</label>
<input type="text" id="CIT4_{{instanceName}}" name="{{instanceType}}-gmd:editionData-gco:CharacterString"/><br/>
{% endif %}

</fieldset>