
{{Telephone}}

{{Address}}

{% if operationHours == true %}
<label for="CONTACT1_{{instanceName}}">hoursOfService</label>
<input class="required" type="text" id="CONTACT1_{{instanceName}}" name="{{instanceName}}-gmd:hoursOfService-gco:CharacterString"/><br/>

<label for="CONTACT2_{{instanceName}}">contactInstructions</label>
<input class="required" type="text" id="CONTACT2_{{instanceName}}" name="{{instanceName}}-gmd:contactInstructions-gco:CharacterString"/><br/>
{% endif %}

{% if online == true %}
	{{OnlineResource}}
{% endif %}

