
<tr><td>
<label for="DATE1_{{instanceName}}"><em>*</em>Date</label>
<input value="{{xmlArray["gmd:date"]["gco:Date"]}}" class="required dateISO" type="text" id="DATE1_{{instanceName}}" name="{{instanceType}}-gmd:date-gco:Date"/></td>
	<td><pre>Reference date for the cited dataset. This date can refer to dataset creation, publication, or revision. Format should be YYYY-MM-DD.</pre></td></tr>

<tr><td>
<label for="DATECode_{{instanceName}}"><em>*</em>Date Type</label>
<select class="required" id="DATECode_{{instanceName}}" name="__dateType" onchange="copyValue(this,'DATE2_{{instanceName}}');" value="{{dateType}}"/>
{% for key, dateCode in dateTypes %}
	{% if key == dateType %}
	<option selected value="{{key}}">{{dateCode}}</option>
	{% else %}
	<option value="{{key}}">{{dateCode}}</option>
	{% endif %}
{% endfor %}
</select>
	</td><td>
<pre>Creation: Date identifies when the resource was brought into existence. 
Publication: Date identifies when the resource was issued. 
Revision: Date identifies when the resource was examined or re-examined and improved or amended.</pre></td></tr>
<input type="hidden" id="DATE2_{{instanceName}}" name="{{instanceType}}-gmd:dateType-gmd:CI_DateTypeCode" value="{{dateType}}"/>
