<tr>
<td><label for="RoleCode_{{instanceName}}"><em>*</em>Role</label>
<select {% if disabledCtrl == true %}disabled{% endif %} required id="RoleCode_{{instanceName}}" onchange="copyValue(this,'CRIP4_{{instanceName}}');" value="{{selrole}}"/>
	{% for key, role in RoleCodes %}
	{% if key == selrole %}
	<option selected value="{{key}}">{{role}}</option>
	{% elseif key == "pointOfContact" and selrole == "" %}
	<option selected value="{{key}}">{{role}}</option>
	{% else %}
	<option value="{{key}}">{{role}}</option>
	{% endif %}
	{% endfor %}
</select>
	</td><td>
<pre>Resource Provider: Party that supplies the resource.
Custodian: Party that accepts accountability and responsibility for the data and ensures appropriate care and maintenance of the resource.
Owner: Party that owns the resource.
Distributor: Party who distributes the resource.
Originator: Party who created the resource.
Point of Contact: Party who can be contacted for acquiring knowledge about or acquisition of the resource.
Principal Investigator: Key party responsible for gathering information and conducting research.
Processor: Party who has processed the data in a manner such that the resource has been modified.
Publisher: Party who published the resource.
Author: Party who authored the resource.</pre></td>
</tr>
