
<fieldset>

<legend>{{Legend}}</legend>
	<fieldset>
{% if role == "distributor" %}
	This section collects contact information about the organization or person primarily responsible for the distribution of the dataset. Generally this will contain GRIIDC contact information, but externally hosted datasets should provide their distributor contact information here.
{% elseif role == "pointOfContact" %}
	This section collects contact information about the person primarily responsible for the creation and maintenance of this metadata record. Provides GRIIDC and future researchers the means to contact the metadata author if additional information is needed.
{% else %}
	This section collects contact information about the person primarily responsible for the creation and maintenance of the dataset. Provides future researchers the means to contact the dataset originator if additional information is needed.
{% endif %}
	</fieldset>
	
<table width="100%">
{% if role == "distributor" %}
<input type="hidden" id="lastdata_{{instanceName}}">
<tr><td><input id="CRPF_{{instanceName}}" onchange="prefill_{{instanceName}}(this);" type="checkbox"><b>This data is hosted with GRIIDC.</b></td>
<td><pre>Check this box if your data is hosted with GRIIDC, this will fill the following fields with GRIIDC contact information.</pre></td></tr>
{% elseif role == "pointOfContact" %}
<tr>
<td><label for="CRIP1_{{instanceName}}"><em>*</em>Name</label>
<input value="{{xmlArray["gmd:individualName"]["gco:CharacterString"]}}" class="required" type="text" id="CRIP1_{{instanceName}}" size="80" name="{{instanceType}}-gmd:individualName-gco:CharacterString"/></td>
<td><pre>The name of the individual responsible for maintaining the metadata, typically the scientists or researcher who created the dataset.</pre></td>
</tr>
{% elseif role == "principalInvestigator" %}
	<tr>
		<td><label for="CRIP1_{{instanceName}}"><em>*</em>Name</label>
		<input value="{{xmlArray["gmd:individualName"]["gco:CharacterString"]}}" class="required" type="text" id="CRIP1_{{instanceName}}" size="80" name="{{instanceType}}-gmd:individualName-gco:CharacterString"/></td>
		<td><pre>The name of the individual responsible for the creation of the majority of the dataset.</pre></td>
	</tr>
{% endif %}

{% if role != "distributor" %}
<tr>		
<td><label for="CRIP2_{{instanceName}}"><em>*</em>Organization</label>
<input value="{{xmlArray["gmd:organisationName"]["gco:CharacterString"]}}"class="required" type="text" id="CRIP2_{{instanceName}}" size="80" name="{{instanceType}}-gmd:organisationName-gco:CharacterString"/></td>
	<td><pre>Responsible individual's organization, generally this is the University and Department where this person resides. This information can be found at research.gomri.org</pre></td>
</tr>
{% else %}
<tr>		
	<td><label for="CRIP2_{{instanceName}}"><em>*</em>Organization</label>
	<input value="{{xmlArray["gmd:organisationName"]["gco:CharacterString"]}}"class="required" type="text" id="CRIP2_{{instanceName}}" size="80" name="{{instanceType}}-gmd:organisationName-gco:CharacterString"/></td>
	<td><pre>Name of organization responsible for distribution.  If your data is hosted with GRIIDC, this should be 'GRIIDC'.</pre></td>
</tr>
{% endif %}
	
{% if role != "distributor" %}
<tr>	
<td><label for="CRIP3_{{instanceName}}"><em>*</em>Position</label>
<input value="{{xmlArray["gmd:positionName"]["gco:CharacterString"]}}"class="required" type="text" id="CRIP3_{{instanceName}}" size="80" name="{{instanceType}}-gmd:positionName-gco:CharacterString"/></td>
	<td><pre>Position of the responsible individual within their organization, e.g., Assistant Professor.</pre></td>
</tr>
{% endif %}

{{Roles}}

{{Contact}}

<input class="required" type="hidden" id="CRIP4_{{instanceName}}" size="80" name="{{instanceType}}-gmd:role-gmd:CI_RoleCode" value="{{selrole}}"/>

</table>
</fieldset>

