<fieldset>
<legend>Responsible Party_{{instanceName}}</legend>
<table width="100%">
<tr>
<td><label for="CRIP1_{{instanceName}}">individualName</label>
<input type="text" id="CRIP1_{{instanceName}}" name="{{instanceType}}-gmd:individualName-gco:CharacterString"/></td>
<td>TEXT</td><td><pre>The name of the researcher</pre></td></tr>

<tr>		
<td><label for="CRIP2_{{instanceName}}">organisationName</label>
<input type="text" id="CRIP2_{{instanceName}}" name="{{instanceType}}-gmd:organisationName-gco:CharacterString"/></td>
<td>TEXT</td><td><pre>The name of the Organisation</pre></td></tr>
	
<tr>	
<td><label for="CRIP3_{{instanceName}}">positionName</label>
<input type="text" id="CRIP3_{{instanceName}}" name="{{instanceType}}-gmd:positionName-gco:CharacterString"/></td>
<td>TEXT</td><td><pre>The name of the Position</pre></td></tr>

<tr><td colspan="3">
{{Contact}}
</td></tr>

<tr>
<td><label for="CRIP4_{{instanceName}}">role</label>
<input type="text" id="CRIP4_{{instanceName}}" name="{{instanceType}}-gmd:role-gmd:CI_RoleCode" value="{{role}}"/></td>
<td>TEXT</td><td><pre>The name of the Role</pre></td></tr>

</table>
</fieldset>