		
<tr><td>
<label for="CITP1_{{instanceName}}"><em>*</em>{{instanceVars.voice_name}}</label>
<input value="{{xmlArray["gmd:voice"]["gco:CharacterString"]}}" class="required" type="text" id="CITP1_{{instanceName}}" size="80" name="{{instanceType}}-gmd:voice-gco:CharacterString"/></td>
<td><pre>{{instanceVars.voice_description}}</pre></td></tr>

<tr><td>		
<label for="CITP2_{{instanceName}}">{{instanceVars.facsimile_name}}</label>
<input value="{{xmlArray["gmd:facsimile"]["gco:CharacterString"]}}" type="text" id="CITP2_{{instanceName}}" size="80" name="{{instanceType}}-gmd:facsimile-gco:CharacterString"/></td>
<td><pre>{{instanceVars.facsimile_description}}</pre></td></tr>
			