
<tr id="BPL1_{{instanceName}}row"><td>

<label for="BPL1_{{instanceName}}"><em>*</em>Geometry</label>
<div style="width:100%;height:300px;padding:10px;" id="BPLmap_{{instanceName}}"></div>

<textarea hidden readonly class="required" id="BPL1_{{instanceName}}" rows="5" cols="80" name="{{instanceType}}-gmd:polygons"/>{{gmlCoordinates}}</textarea></td>
<td><pre>Coordinates of points (vertices of a polygon) defining the outline of the area covered by this dataset. The coordinates are in +/- decimal degrees and should be formatted as Latitude,Longitude with a space between coordinate pairs.  The first coordinate should also be repeated as the last coordinate, meaning that a four point polygon will have five coordinates in its list.
Ex.  25,-80 25,-95 30,-95 30,-80 25,-80</pre></td></tr>

<div id="geoWizard" style="width:100%;height:100%;"></div>
