
<tr id="BPL1_{{instanceName}}row"><td>

<label for="BPLmap_{{instanceName}}"><em>*</em>Spatial Extent</label>
<div style="width:100%;height:300px;padding:10px;" id="BPLmap_{{instanceName}}"></div>

<textarea hidden readonly class="required" id="BPL1_{{instanceName}}" rows="5" cols="80" name="{{instanceType}}-gmd:polygons"/>{{gmlCoordinates}}</textarea></td>
<td>
	
<pre>
	<div id="spatwizbtn" class="ui-widget-header ui-corner-all"><button style="color:#039203;font-size:larger;width:100%;" id="BPLbtn_{{instanceName}}" type="button">Define Spatial Extent</button></div>
The Spatial Extent Wizard provides users with guided instruction and tools to describe the Spatial Extent of their dataset. Users can 1) indicate that their data has no spatial or temporal extent, or 2) Create a spatial extent geometry by either providing a list of coordinates or drawing a geometry using a map.</pre></td></tr>

<div id="geoWizard" style="width:100%;height:100%;"></div>
