
<fieldset>
<b>1)</b> If your data has a geographic component (i.e. coordinates could be used to describe where the data or samples were captured), provide the 4 bounding coordinates.
</fieldset>

<fieldset>
<b>2)</b> If your data has a temporal component (i.e. was collected at certain time, represents modeled conditions at a certain point in time, etc.) provide the starting and end dates and/or times, and description on what the time period represents (ground condition, sample date, simulation date).
</fieldset>

<fieldset>
<b>3)</b> Some data may not have geographic or temporal elements, such as some laboratory experiment data.  For these datasets provide a short statement such as 'No relevant geographic or temporal extents'.
</fieldset>

<fieldset>
<legend>Data Extent</legend>

<table width="100%">

<input onclick="changeExtent{{instanceName}}(this.checked);" id="EX0_{{instanceName}}" type="checkbox" />This dataset does not have any relevant spatial or temporal components.

<tr id="EX1_{{instanceName}}row" style="display:none;"><td>
<label for="EX1_{{instanceName}}"><em>*</em>Description</label>
<textarea disabled class="required" rows="5" cols="80" id="EX1_{{instanceName}}" name="{{instanceType}}-gmd:description-gco:CharacterString">{{xmlArray["gmd:description"]["gco:CharacterString"]}}</textarea></td>
<td><pre>Textual information about horizontal, vertical, and temporal extent.  This field should only be used if the dataset has no geographic or temporal elements to describe.</pre>
</td></tr>

{{GeographicBoundingBox}}

{{TemporalExtent}}

</table>

</fieldset>
