


<fieldset>
<legend>Data Extent</legend>
<fieldset>
This section collects information describing the spatial and temporal extent of the dataset contents. Provides GRIIDC and future researchers the means to search for datasets by location and/or time. Some datasets may not have relevant a location or time (ex. lab simulations); a short explanation is provided in these cases.
</fieldset>

<table width="100%">

<input hidden onclick="changeExtent{{instanceName}}(this.checked);" id="EX0_{{instanceName}}" type="checkbox" />

{{GeographicSection}}

{{TemporalExtent}}

</table>

</fieldset>
