
<fieldset>
<b>1)</b> If your dataset has a geographic component (i.e., study area or data collection localities can be plotted on a map), provide the coordinates for a minimum bounding polygon (or line). Click the green link below Data Extend ("Click here for a map") for a tool to help finding coordinates for bounding polygon.
</fieldset>

<fieldset>
<b>2)</b> If your dataset has a temporal component (i.e., data was collected at a certain time, data is modeled to represent conditions at a certain time of day, etc.), provide the starting and ending dates and/or times. Also provide, if appropriate, a description of what the time period represent: sampling dates, simulation dates, or other.
</fieldset>

<fieldset>
<b>3)</b> Some datasets, such as laboratory experiments or certain modeling data, may not have relevant geographic or temporal elements. In those cases, provide a short statement such as &quot;No relevant geographic or temporal extents.&quot;
</fieldset>

<fieldset>
<legend>Data Extent</legend>

<table width="100%">

<input onclick="changeExtent{{instanceName}}(this.checked);" id="EX0_{{instanceName}}" type="checkbox" />This dataset does not have any relevant spatial or temporal components.

<tr id="EX1_{{instanceName}}row" style="display:none;"><td>
<label for="EX1_{{instanceName}}"><em>*</em>Description</label>
<textarea disabled class="required" rows="5" cols="80" id="EX1_{{instanceName}}" name="{{instanceType}}-gmd:description-gco:CharacterString">{{xmlArray["gmd:description"]["gco:CharacterString"]}}</textarea></td>
<td><pre>Textual information about horizontal, vertical, and temporal extent.  This field should only be used if the dataset has no geographic or temporal elements to describe.</pre>
</td></tr>

{{GeographicSection}}

{{TemporalExtent}}

</table>

</fieldset>
