	
<input type="hidden" id="GDD1_{{instanceName}}" name="{{instanceType}}-gmd:extentTypeCode-gco:Boolean" value="1"/>

<tr id="GDD2_{{instanceName}}row"><td>
<label for="GDD2_{{instanceName}}"><em>*</em>West Bound Coordinate</label>
<input value="{{xmlArray["gmd:westBoundLongitude"]["gco:Decimal"]}}" class="required number longcoord" type="text" id="GDD2_{{instanceName}}" size="80" name="{{instanceType}}-gmd:westBoundLongitude-gco:Decimal"/></td>
	<td><pre>Westernmost coordinate of the limit of the dataset extent, expressed in longitude in decimal degrees. Longitudes in the  western hemisphere should be negative (e.g., -95.123).</pre></td></tr>
	
<tr id="GDD3_{{instanceName}}row"><td>
<label for="GDD3_{{instanceName}}"><em>*</em>East Bound Coordinate</label>
<input value="{{xmlArray["gmd:eastBoundLongitude"]["gco:Decimal"]}}" class="required number longcoord" type="text" id="GDD3_{{instanceName}}" size="80" name="{{instanceType}}-gmd:eastBoundLongitude-gco:Decimal"/></td>
	<td><pre>Easternmost coordinate of the limit of the dataset extent, expressed in longitude in decimal degrees. Longitudes in the eastern hemisphere should be negative (e.g., -92.123).</pre></td></tr>

<tr id="GDD4_{{instanceName}}row"><td>	
<label for="GDD4_{{instanceName}}"><em>*</em>South Bound Coordinate</label>
<input value="{{xmlArray["gmd:southBoundLatitude"]["gco:Decimal"]}}" class="required number latcoord" type="text" id="GDD4_{{instanceName}}" size="80" name="{{instanceType}}-gmd:southBoundLatitude-gco:Decimal"/></td>
<td><pre>Southernmost coordinate of the limit of the dataset extent, expressed in latitude in decimal degrees. (e.g., 27.123)</pre></td></tr>

<tr id="GDD5_{{instanceName}}row"><td>	
<label for="GDD5_{{instanceName}}"><em>*</em>North Bound Coordinate</label>
<input value="{{xmlArray["gmd:northBoundLatitude"]["gco:Decimal"]}}" class="required number latcoord" type="text" id="GDD5_{{instanceName}}" size="80" name="{{instanceType}}-gmd:northBoundLatitude-gco:Decimal"/></td>
	<td><pre>Northernmost coordinate of the limit of the dataset extent, expressed in latitude in decimal degrees. (e.g., 29.123)</pre></td></tr>
