
	
<input type="hidden" id="GDD1_{{instanceName}}" name="{{instanceType}}-gmd:extentTypeCode-gco:Boolean" value="1"/>

<tr><td>
<label for="GDD2_{{instanceName}}">West Bound Longitude</label>
<input class="required number coord" type="text" id="GDD2_{{instanceName}}" size="80" name="{{instanceType}}-gmd:westBoundLongitude-gco:Decimal"/></td>
<td><pre>West Bound Longitude
<i>Example: -97.123</pre></td></tr>
	
<tr><td>
<label for="GDD3_{{instanceName}}">East Bound Longitude</label>
<input class="required number coord" type="text" id="GDD3_{{instanceName}}" size="80" name="{{instanceType}}-gmd:eastBoundLongitude-gco:Decimal"/></td>
<td><pre>East Bound Longitude
<i>Example: -95.123</pre></td></tr>

<tr><td>	
<label for="GDD4_{{instanceName}}">South Bound Latitude</label>
<input class="required number coord" type="text" id="GDD4_{{instanceName}}" size="80" name="{{instanceType}}-gmd:southBoundLatitude-gco:Decimal"/></td>
<td><pre>South Bound Latitude
<i>Example: 27.123</pre></td></tr>

<tr><td>	
<label for="GDD5_{{instanceName}}">North Bound Latitude</label>
<input class="required number coord" type="text" id="GDD5_{{instanceName}}" size="80" name="{{instanceType}}-gmd:northBoundLatitude-gco:Decimal"/></td>
<td><pre>North Bound Latitude
<i>Example: 28.987</pre></td></tr>

