<fieldset>
<legend>GeographicBoundingBox_{{instanceName}}</legend>
	
<label for="GDD1_{{instanceName}}">extentTypeCode</label>
<input type="text" id="GDD1_{{instanceName}}" name="{{instanceType}}-gmd:extentTypeCode-gco:Boolean" value="1"/><br/>
	
<label for="GDD2_{{instanceName}}">westBoundLongitude</label>
<input type="text" id="GDD2_{{instanceName}}" name="{{instanceType}}-gmd:westBoundLongitude-gco:Decimal" value="0"/><br/>
	
<label for="GDD3_{{instanceName}}">eastBoundLongitude</label>
<input type="text" id="GDD3_{{instanceName}}" name="{{instanceType}}-gmd:eastBoundLongitude-gco:Decimal" value="0"/><br/>
	
<label for="GDD4_{{instanceName}}">southBoundLatitude</label>
<input type="text" id="GDD4_{{instanceName}}" name="{{instanceType}}-gmd:southBoundLatitude-gco:Decimal" value="0"/><br/>
	
<label for="GDD5_{{instanceName}}">northBoundLatitude</label>
<input type="text" id="GDD5_{{instanceName}}" name="{{instanceType}}-gmd:northBoundLatitude-gco:Decimal" value="0"/><br/>
	
</fieldset>