	
	<div id="dtabs-1" style="background-color:#CFDCD4;">  
	
	<table width="100%">
	
		<fieldset>
			<legend>{{Legend}}</legend>
		{{Citation}}
		
		<tr><td>
		<label for="MDD1_{{instanceName}}"><em>*</em>Abstract</label>
		<textarea class="required" rows="5" cols="80" onchange="copyValue(this,'MDD1h_{{instanceName}}');" id="MDD1_{{instanceName}}">{{xmlArray["gmd:abstract"]["gco:CharacterString"]}}</textarea></td>
			<td><pre>Brief narrative summary of the dataset's contents.</pre></td></tr>
		
		<tr><td>
		<label for="MDD2_{{instanceName}}"><em>*</em>Purpose</label>
		<textarea class="required" rows="5" cols="80" onchange="copyValue(this,'MDD2h_{{instanceName}}');" id="MDD2_{{instanceName}}">{{xmlArray["gmd:purpose"]["gco:CharacterString"]}}</textarea></td>
			<td><pre>Summary of the intentions for which the dataset was developed.</pre></td></tr>
		
		<!--
		<label for="MDD3_{instanceName}}">status</label>
		<input onchange="copyValue(this,'MDD3h_{{instanceName}}');" type="text" id="MDD3_{{instanceName}}"/><br/>
		-->
		
		<tr><td>
		<label for="MDD5_{{instanceName}}">Supplemental Information</label>
		<textarea size="80" onchange="copyValue(this,'MDD5h_{{instanceName}}');" rows="5" cols="80" id="MDD5_{{instanceName}}">{{xmlArray["gmd:supplementalInformation"]["gco:CharacterString"]}}</textarea></td>
			<td><pre>Other descriptive information about the dataset.  This field is broken out in to several sections to gather specific information would normally be captured in ISO metadata elements that the Metadata Editor does not currently support.</pre></td></tr>
		
		
		</fieldset>
		
	</table>
		
	</div>

	<input type="hidden" id="MDD1h_{{instanceName}}" name="{{instanceType}}-gmd:abstract-gco:CharacterString"/>

	<input type="hidden" id="MDD2h_{{instanceName}}" name="{{instanceType}}-gmd:purpose-gco:CharacterString"/>

	<input type="hidden" id="MDD3h_{{instanceName}}" name="{{instanceType}}-gmd:status-gmd:MD_ProgressCode" value="completed"/>

	<div id="dtabs-2">  
	{{ResponsibleParty}}
	</div>

	<div id="dtabs-3">  
	{{ThemeKeywords}}
	<hr/>  
	{{PlaceKeywords}}
	<hr/>
	{{TopicCategory}}
	</div>

	<input type="hidden" id="MDD4h_{{instanceName}}" name="{{instanceType}}-gmd:language-gco:CharacterString" value="ISO 639-2"/>

	<div id="dtabs-4">  
	{{Extent}}
	</div>
	
	<input type="hidden" id="MDD5h_{{instanceName}}" name="{{instanceType}}-gmd:supplementalInformation-gco:CharacterString"/>


