
	<div id="dtabs-1">  
	
	
	
	<fieldset>
		<legend>{{Legend}}</legend>
		<fieldset>
		This section collects identifying and amplifying information about the dataset. Provides future researchers with specific details on the dataset content and additional context regarding the broader purpose of the dataset.
		</fieldset>
	{{Citation}}
	<table width="100%">	
		<tr><td>
		<label for="MDD1_{{instanceName}}"><em>*</em>Abstract</label>
		<textarea id="MDD1_{{instanceName}}" class="required" rows="5" cols="80" onchange="copyValue(this,'MDD1h_{{instanceName}}');"  name="__abstract">{{xmlArray["gmd:abstract"]["gco:CharacterString"]}}</textarea></td>
			<td><pre>Brief narrative summary of the dataset's contents.</pre></td></tr>
		
		<tr><td>
		<label for="MDD2_{{instanceName}}"><em>*</em>Purpose</label>
		<textarea name="__purpose" class="required" rows="5" cols="80" onchange="copyValue(this,'MDD2h_{{instanceName}}');" id="MDD2_{{instanceName}}">{{xmlArray["gmd:purpose"]["gco:CharacterString"]}}</textarea></td>
			<td><pre>Summary of the intentions for which the dataset was developed.</pre></td></tr>
		
		<!--
		<label for="MDD3_{instanceName}}">status</label>
		<input onchange="copyValue(this,'MDD3h_{{instanceName}}');" type="text" id="MDD3_{{instanceName}}"/><br/>
		-->
		
		</td></tr>

	<tr><td>
		<label for="MDD5a_{{instanceName}}"><em>*</em>Supplemental Information - Data Parameters and Units</label>
		<textarea class="required" name="__suplemental" size="80" onchange="addFields{{instanceName}}('MDD5h_{{instanceName}}');" rows="3" cols="80" id="MDD5a_{{instanceName}}">{{suplemental[0]}}</textarea>
		</td><td>
			<pre>Descriptive Information about the Data Parameters and Units.</pre>
		</td></tr>
		
		<tr><td>
		<label for="MDD5b_{{instanceName}}">Supplemental Information - Methods</label>
		<textarea size="80" onchange="addFields{{instanceName}}('MDD5h_{{instanceName}}');" rows="3" cols="80" id="MDD5b_{{instanceName}}">{{suplemental[1]}}</textarea>
		</td>
		<td><pre>Descriptive Information about the methods used.</pre></td></tr>
		
		<tr><td>
			<label for="MDD5c_{{instanceName}}">Supplemental Information - Instruments</label>
			<textarea size="80" onchange="addFields{{instanceName}}('MDD5h_{{instanceName}}');" rows="3" cols="80" id="MDD5c_{{instanceName}}">{{suplemental[2]}}</textarea>
			</td>
		<td><pre>Descriptive Information about the instruments and equipment used.</pre></td></tr>
		
		<tr><td>
			<label for="MDD5d_{{instanceName}}">Supplemental Information - Sampling Scales and Rates</label>
			<textarea size="80" onchange="addFields{{instanceName}}('MDD5h_{{instanceName}}');" rows="3" cols="80" id="MDD5d_{{instanceName}}">{{suplemental[3]}}</textarea>
			</td>
		<td><pre>Descriptive Information about the sampling spatial and temporal scales and rates.</pre></td></tr>
		
		<tr><td>
			<label for="MDD5e_{{instanceName}}">Supplemental Information - Error Analysis</label>
			<textarea size="80" onchange="addFields{{instanceName}}('MDD5h_{{instanceName}}');" rows="3" cols="80" id="MDD5e_{{instanceName}}">{{suplemental[4]}}</textarea>
			</td>
		<td><pre>Descriptive Information about the error analysis.</pre></td></tr>

		<tr><td>
			<label for="MDD5f_{{instanceName}}">Supplemental Information - Provenance and Historical References</label>
			<textarea size="80" onchange="addFields{{instanceName}}('MDD5h_{{instanceName}}');" rows="3" cols="80" id="MDD5f_{{instanceName}}">{{suplemental[5]}}</textarea>
			</td>
		<td><pre>Descriptive Information about the provenance, historical data, key information packaged elsewhere.</pre></td></tr>
		
	</table>
	</fieldset>
	</div>

	<input type="hidden" id="MDD1h_{{instanceName}}" name="{{instanceType}}-gmd:abstract-gco:CharacterString" value="{{xmlArray["gmd:abstract"]["gco:CharacterString"]}}"/>

	<input type="hidden" id="MDD2h_{{instanceName}}" name="{{instanceType}}-gmd:purpose-gco:CharacterString" value="{{xmlArray["gmd:purpose"]["gco:CharacterString"]}}"/>

	<input type="hidden" id="MDD3h_{{instanceName}}" name="{{instanceType}}-gmd:status-gmd:MD_ProgressCode" value="completed"/>

	<div id="dtabs-2">  
	{{ResponsibleParty}}
	</div>
	
	
	
	<div id="dtabs-3">  
		<fieldset>
			This section collects keywords/key phrases describing the theme and location of the dataset. Provides GRIIDC and future researchers with short descriptions to aid search. Some datasets may not have relevant place keywords (ex. lab simulations).
		</fieldset>
	{{ThemeKeywords}}
	<hr/>  
	{{PlaceKeywords}}
	<hr/>
	{% if xmlArray["gmd:language"]["gco:CharacterString"] != "" %}
	<input type="hidden" id="MDD4h_{{instanceName}}" name="{{instanceType}}-gmd:language-gco:CharacterString" value="{{xmlArray["gmd:language"]["gco:CharacterString"]}}"/>
	{% else %}
	<input type="hidden" id="MDD4h_{{instanceName}}" name="{{instanceType}}-gmd:language-gco:CharacterString" value="eng;USA"/>
	{% endif %}
	{{TopicCategory}}
	</div>

	<div id="dtabs-4">  
	{{Extent}}
	</div>
	
	<input type="hidden" id="MDD5h_{{instanceName}}" name="{{instanceType}}-gmd:supplementalInformation-gco:CharacterString" value="{{xmlArray["gmd:supplementalInformation"]["gco:CharacterString"]|e}}"/>
