<fieldset>
<legend>{{Legend}}</legend>

<table width="100%">

{% if complex == true %}
<tr><td>
<label for="DTO1_{{instanceName}}">unitsOfDistribution</label>
<input value="{{xmlArray["gmd:unitsOfDistribution"]["gco:CharacterString"]}}" type="text" id="MDF1_{{instanceName}}" size="80" name="{{instanceType}}-gmd:unitsOfDistribution-gco:CharacterString"/></td>
<td><pre>Units of distribution</pre></td></tr>
{% endif %}

<tr><td>
<label for="DTO2_{{instanceName}}"><em>*</em>Transfer Size</label>
<input value="{{xmlArray["gmd:transferSize"]["gco:Real"]}}" class="required positiveReal" type="text" id="MDF2_{{instanceName}}" size="80" name="{{instanceType}}-gmd:transferSize-gco:Real"/></td>
<td><pre>Estimated size of the transfer unit in the specified format, expressed in megabytes.</pre></td></tr>

{{OnlineResource}}
	
</table>

</fieldset>