<fieldset>
<legend>Data_Identification_{{instanceName}}</legend>

<label for="MDD1_{{instanceName}}">abstract</label>
<input type="text" id="MDD1_{{instanceName}}" name="{{instanceType}}-gmd:abstract-gco:CharacterString"/><br/>

<label for="MDD2_{{instanceName}}">purpose</label>
<input type="text" id="MDD2_{{instanceName}}" name="{{instanceType}}-gmd:purpose-gco:CharacterString"/><br/>

<label for="MDD3_{instanceName}}">status</label>
<input type="text" id="MDD3_{{instanceName}}" name="{{instanceType}}-gmd:status-gmd:MD_ProgressCode" value="completed"/><br/>

{{ResponsibleParty}}

{{ThemeKeywords}}
{{PlaceKeywords}}

<label for="MDD4_{{instanceName}}">language</label>
<input type="text" id="MDD2_{{instanceName}}" name="{{instanceType}}-gmd:language-gco:CharacterString"/><br/>

{{TopicCategory}}

{{Extent}}

<label for="MDD5_{{instanceName}}">supplementalInformation</label>
<textarea rows="5" cols="80" id="MDD5_{{instanceName}}" name="{{instanceType}}-gmd:supplementalInformation-gco:CharacterString"></textarea>

</fieldset>

