<fieldset>
<legend>{{Legend}}</legend>

<table width="100%">

<tr><td>
<label for="MDF1_{{instanceName}}">Data Transfer Format</label>
<input value="{{xmlArray["gmd:name"]["gco:CharacterString"]}}" type="text" id="MDF1_{{instanceName}}" size="80" name="{{instanceType}}-gmd:name-gco:CharacterString"/></td>
<td><pre>Name of the data transfer format, e.g. CSV, Excel Spreadsheet, ASCII TXT, netCDF, GRIB, HDF5, TIFF, etc</pre></td></tr>

{% if xmlArray["gmd:version"]["gco:CharacterString"] != "" %}
<input value="{{xmlArray["gmd:version"]["gco:CharacterString"]}}" type="hidden" id="MDF2_{{instanceName}}" size="80" name="{{instanceType}}-gmd:version-gco:CharacterString"/>
{% else %}
<input value="" type="hidden" id="MDF2_{{instanceName}}" size="80" name="{{instanceType}}-gmd:version"/>
{% endif %}

<tr><td>
<label for="MDF2_{{instanceName}}">File Decompression Technique</label>
<input value="{{xmlArray["gmd:fileDecompressionTechnique"]["gco:CharacterString"]}}" type="text" id="MDF2_{{instanceName}}" size="80" name="{{instanceType}}-gmd:fileDecompressionTechnique-gco:CharacterString"/></td>
<td><pre>Description of recommended processes or algorithms to apply to the compressed resource.</pre></td></tr>




</table>

</fieldset>