<fieldset>
<legend>{{instanceVars["name"]}}</legend>
<table width="100%">
<tr><td>
<label for="kwtxt{{instanceName}}">Keyword</label>
<input onkeypress="{if (event.keyCode==13)additem{{instanceName}}()}" style="width:250px;" type="text" id="kwtxt{{instanceName}}">
<td>
<button style="width:60px;" type="button" size="10" onclick="javascript:additem{{instanceName}}();">add</button>
<br>
<button style="width:60px;" type="button" size="10" onclick="javascript:removeitem{{instanceName}}();">remove</button>
</td>
<td>
	<label>{% if required == true %}<em>*</em>{% endif %}{{instanceVars["name"]}}</label>
	<select {% if required == true %}required{% endif %} name="__kwlist{{instanceName}}" size="5" id="kwlist{{instanceName}}">
	{% for keyword in keyWordList %}
		<option selected value="{{keyword}}">{{keyword}}</option>
	{% endfor %}
	</select>
</td>
	<td><pre>{{instanceVars["description"]}}</pre></td>
</tr>
</table>

<input type="hidden" id="kws{{instanceName}}" name="{{instanceType}}-gmd:keyword{{type}}" value="{{skwlist}}"/>
<!--<input type="text" id="kwtype{{instanceName}}" name="{{instanceType}}-gmd:type-gmd:MD_KeywordTypeCode" value="{{type}}"/>-->
<input type="hidden" id="kwtype{{instanceName}}" value="{{type}}"/>
</fieldset>