<fieldset>
<legend>{{instanceVars["name"]}}</legend>
<table>
<tr><td>
<label for="kwtxt{{instanceName}}">Keyword</label>
<input type="text" id="kwtxt{{instanceName}}">
<td>
<button style="width:60px;" type="button" size="10" onclick="javascript:additem{{instanceName}}();">add</button>
<br>
<button style="width:60px;" type="button" size="10" onclick="javascript:removeitem{{instanceName}}();">delete</button>
</td>
<td>
	<label><em>*</em>{{instanceVars["name"]}}</label>
	<select class="required" size="5" id="kwlist{{instanceName}}">
	</select>
</td>
	<td><pre>{{instanceVars["description"]}}</pre></td>
</tr>
</table>

<input type="hidden" id="kws{{instanceName}}" name="{{instanceType}}-gmd:keyword{{type}}"/>
<!--<input type="text" id="kwtype{{instanceName}}" name="{{instanceType}}-gmd:type-gmd:MD_KeywordTypeCode" value="{{type}}"/>-->
<input type="hidden" id="kwtype{{instanceName}}" value="{{type}}"/>
</fieldset>