<fieldset>
<legend>Topic Keywords</legend>

<table><td><td>
<label>Topic Keyword List</label>
	<select ondblclick="addTopicKWItem{{instanceName}}();" size=10 id="TOPKlist_{{instanceName}}" >
		<option value="biota">Biota</option>
		<option value="boundaries">Boundaries</option>
		<option value="economy">Economy</option>
		<option value="elevation">Elevation</option>
		<option value="environment">Environment</option>
		<option value="farming">Farming</option>
		<option value="geoscientificInformation">Geoscientific Information</option>
		<option value="health">Health</option>
		<option value="imageryBaseMapsEarthCover">Imagery/Base Maps/Earth Cover</option>
		<option value="inlandWaters">Inland Waters</option>
		<option value="location">Location</option>
		<option value="intelligenceMilitary">Military Intelligence</option>
		<option value="oceans">Oceans</option>
		<option value="planningCadastre">Planning/Cadastre</option>
		<option value="society">Society</option>
		<option value="structure">Structure</option>
		<option value="transportation">Transportation</option>
		<option value="utilitiesCommunication">Utilities/Communication</option>
	</select>
	</td>
	<td>
	<button type="button" onclick="addTopicKWItem{{instanceName}}();">&gt;&gt;&gt;</button><br/>
	<button type="button" onclick="removeTopicKWItem{{instanceName}}();">&lt;&lt;&lt;</button>
	</td>
	<td>
	<label><em>*</em>Selected Topic Keyword</label>
	<select ondblclick="removeTopicKWItem{{instanceName}}();" class="required" size=10 id="TOPKselect_{{instanceName}}" >
	</select>
	</td>
	<td><pre>Topic Keywords<br><i>(Hint: Double click to add or remove)<i></pre></td>
	</tr>
	</table>
	
	<input type="hidden" id="TOPK_{{instanceName}}" name="{{instanceType}}">
	<!--input type="hidden" id="TOPK_{{instanceName}}" name="{{instanceType}}-gmd:MD_TopicCategoryCode"-->
</fieldset>