<fieldset>
<legend>Topic Category Keywords</legend>

<table><td>
<label>Topic Category Keyword List</label>
	<select ondblclick="addTopicKWItem{{instanceName}}();" size="10" id="TOPKlist_{{instanceName}}" >
		{% for key, keyword in topicKeywords %}
			<option id="topicKW{{instanceName}}{{key}}" value="{{key}}">{{keyword}}</option>
		{% endfor %}
	</select>
	</td>
	<td>
	<button style="width:60px;" type="button" onclick="addTopicKWItem{{instanceName}}();">add</button><br/>
	<button style="width:60px;" type="button" onclick="removeTopicKWItem{{instanceName}}();">remove</button>
	</td>
	<td>
	<label><em>*</em>Selected Topic Category Keywords</label>
	<select ondblclick="removeTopicKWItem{{instanceName}}();" class="required" size="10" name="__TOPKselect{{instanceName}}" id="TOPKselect_{{instanceName}}" >
		{% for key, keyword in selectedTopicKeyword %}
		<option id="topicKW{{instanceName}}{{key}}" selected value="{{key}}">{{keyword}}</option>
		{% endfor %}
	</select>
	</td>
	<td><pre>The main theme(s) of the dataset. Must be selected from the provided keyword list. These keywords are predefined by ISO and may not be very applicable to your dataset but at least one is required.<i>(Hint: Double click to add or remove.)</i></pre></td>
	</tr>
	</table>
	
	<input value="{{sTopiclist}}" type="hidden" id="TOPK_{{instanceName}}" name="{{instanceType}}s">
	<!--input type="hidden" id="TOPK_{{instanceName}}" name="{{instanceType}}-gmd:MD_TopicCategoryCode"-->
</fieldset>