<fieldset>
<legend>Topic Keywords</legend>

<table><td>
<label>Topic Keyword List</label>
	<select ondblclick="addTopicKWItem{{instanceName}}();" size="10" id="TOPKlist_{{instanceName}}" >
		{% for key, keyword in topicKeywords %}
			<option value="{{key}}">{{keyword}}</option>
		{% endfor %}
	</select>
	</td>
	<td>
	<button style="width:60px;" type="button" onclick="addTopicKWItem{{instanceName}}();">&gt;&gt;&gt;</button><br/>
	<button style="width:60px;" type="button" onclick="removeTopicKWItem{{instanceName}}();">&lt;&lt;&lt;</button>
	</td>
	<td>
	<label><em>*</em>Selected Topic Keyword</label>
	<select ondblclick="removeTopicKWItem{{instanceName}}();" class="required" size="10" name="__TOPKselect{{instanceName}}" id="TOPKselect_{{instanceName}}" >
		{% for key, keyword in selectedTopicKeyword %}
		<option value="{{key}}">{{keyword}}</option>
		{% endfor %}
	</select>
	</td>
	<td><pre>The main theme(s) of the dataset. Pick from the codelist. These keywords are defined by ISO and may not be very applicable.<br><i>(Hint: Double click to add or remove)<i></pre></td>
	</tr>
	</table>
	
	<input type="hidden" id="TOPK_{{instanceName}}" name="{{instanceType}}s">
	<!--input type="hidden" id="TOPK_{{instanceName}}" name="{{instanceType}}-gmd:MD_TopicCategoryCode"-->
</fieldset>