
<div style="background: transparent;" id="dtabs">
        <ul>
            <!--
				<li><a href="#dtabs-0">Metadata Contact</a></li>
			<li><a href="#dtabs-1">Dataset Information</a></li>
			<li><a href="#dtabs-2">Dataset Contact</a></li>
			<li><a href="#dtabs-3">Keywords</a></li>
			<li><a href="#dtabs-4">Extent</a></li>
			<li><a href="#dtabs-5">Distribution Contact</a></li>
			<li><a href="#dtabs-6">Distribution Info</a></li>
			<li><a href="#dtabs-7">Suplemental Information</a></li>
			-->

			<li><a href="#dtabs-2" style="outline:none;">Dataset Contact&nbsp;<img src="includes/images/blank.png" id="chkimgtab2"></a></li>
			<li><a href="#dtabs-1" style="outline:none;">Dataset Information&nbsp;<img src="includes/images/blank.png" id="chkimgtab1"></a></li>
			<li><a href="#dtabs-3" style="outline:none;">Keywords&nbsp;<img src="includes/images/blank.png" id="chkimgtab3"></a></li>
			<li><a href="#dtabs-4" style="outline:none;">Data Extent&nbsp;<img src="includes/images/blank.png" id="chkimgtab4"></a></li>
			<li><a href="#dtabs-6" style="outline:none;">Distribution Info&nbsp;<img src="includes/images/blank.png" id="chkimgtab6"></a></li>
			<li><a href="#dtabs-5" style="outline:none;">Distribution Contact&nbsp;<img src="includes/images/blank.png" id="chkimgtab5"></a></li>
			<li><a href="#dtabs-0" style="outline:none;">Metadata Contact&nbsp;<img src="includes/images/blank.png" id="chkimgtab0"></a></li>

        </ul>

		<fieldset><i><b>NOTE:</b> Fields with <em>*</em> are required.</i></fieldset>

	<input type="hidden" id="MI1" name="{{instanceType}}-gmd:fileIdentifier-gco:CharacterString" value="{{fileIdentifier}}"/>

	<input type="hidden" id="MI2" name="{{instanceType}}-gmd:language-gco:CharacterString" value="eng; USA">

	<input type="hidden" id="MI3" name="{{instanceType}}-gmd:characterSet-gmd:MD_CharacterSetCode" value="utf8"/>

	<input type="hidden" id="MI4" name="{{instanceType}}-gmd:hierarchyLevel-gmd:MD_ScopeCode" value="dataset"/>

	<div id="dtabs-0">
		{{ResponsibleParty}}
	</div>

	<input type="hidden" id="MI5" name="{{instanceType}}-gmd:dateStamp-gco:DateTime" value="{{now}}"/>

	<input type="hidden" id="MI6" name="{{instanceType}}-gmd:metadataStandardName-gco:CharacterString" value="ISO 19115-2 Geographic Information - Metadata - Part 2: Extensions for Imagery and Gridded Data"/>

	<input type="hidden" id="MI7" name="{{instanceType}}-gmd:metadataStandardVersion-gco:CharacterString" value="ISO 19115-2:2009(E)"/>

	<!--input type="hidden" id="MI8" name="{{instanceType}}-gmd:dataSetURI-gco:CharacterString" value="https://data.griidc.org/metadata/{{fileIdentifier}}"/-->

	{{DataIdentification}}

	{{DistributionInfo}}

</div>
