	<label for="MI5">dateStamp</label>
	<input type="text" id="MI5" name="gmd:dateStamp-gco:Date" value="{{now}}"/><br/>

	<label for="MI6">metadataStandardName</label>
	<input type="text" id="MI6" name="gmd:metadataStandardName-gco:CharacterString" value="ISO 19115-2 Geographic Information - Metadata - Part 2: Extensions for Imagery and Gridded Data"/><br/>

	<label for="MI7">metadataStandardVersion</label>
	<input type="text" id="MI7" name="gmd:metadataStandardVersion-gco:CharacterString" value="ISO 19115-2:2009(E)"/><br/>

	<hr>