<label for="MI1">fileidentifier</label>
<input type="text" id="MI1" name="gmd:fileIdentifier-gco:CharacterString" value="{{fileIdentifier}}"/><br/>

<label for="MI2">language</label>
<input type="text" id="MI2" name="gmd:language-gco:CharacterString" value="eng; USA"><br/>

<label for="MI3">characterSet</label>
<input type="text" id="MI3" name="gmd:characterSet-gmd:MD_CharacterSetCode" value="utf8"/><br/>

<label for="MI4">hierarchyLevel</label>
<input type="text" id="MI4" name="gmd:hierarchyLevel-gmd:MD_ScopeCode" value="dataset"/><br/>