	
<tr id="TM1_{{instanceName}}row"><td>
<label for="TM1_{{instanceName}}"><em>*</em>Time Period Description</label>
<input value="{{xmlArray["gml:description"]}}" class="required" type="text" id="TM1_{{instanceName}}" size="80" name="{{instanceType}}-gml:description"/></td>
	<td><pre>Description of the date and time documented.  Examples include, Ground Condition for data collected on a cruise, or Model Period for simulated data. This should also include the time zone.</pre></td></tr>

<tr id="TM2_{{instanceName}}row"><td>
<label for="TM2_{{instanceName}}"><em>*</em>Start date</label>
<input value="{{xmlArray["gml:beginPosition"]}}" class="required starttime" type="text" id="TM2_{{instanceName}}" name="{{instanceType}}-gml:beginPosition"/></td>
	<td><pre>The beginning date and/or time of the content of the dataset. Format should be YYYY-MM-DD</pre></td></tr>

<tr id="TM3_{{instanceName}}row"><td>
<label for="TM3_{{instanceName}}"><em>*</em>End date</label>
<input value="{{xmlArray["gml:endPosition"]}}" class="required endtime" type="text" id="TM3_{{instanceName}}" name="{{instanceType}}-gml:endPosition"/></td>
	<td><pre>The ending date and/or time of the content of the dataset. Format should be YYYY-MM-DD</pre></td></tr>
		
{% if duration == true %}
		
<label for="TM4_{{instanceName}}">duration</label>
<input type="text" id="TM4_{{instanceName}}" name="{{instanceType}}-gml:duration-gco:date"/><br/>
		
<label for="TM5_{{instanceName}}">timeInterval</label>
<input type="text" id="TM5_{{instanceName}}" name="{{instanceType}}-gml:timeInterval-gco:float"/><br/>
		
{% endif %}
		
