	
<tr><td>
<label for="TM1_{{instanceName}}">Time Period Description</label>
<input class="required" type="text" id="TM1_{{instanceName}}" size="80" name="{{instanceType}}-gml:description"/></td>
<td><pre>A description</pre></td></tr>

<tr><td>
<label for="TM2_{{instanceName}}">Start date</label>
<input class="required dateISO" type="text" id="TM2_{{instanceName}}" name="{{instanceType}}-gml:beginPosition"/></td>
<td><pre>A description</pre></td></tr>

<tr><td>
<label for="TM3_{{instanceName}}">End date</label>
<input class="required dateISO" type="text" id="TM3_{{instanceName}}" name="{{instanceType}}-gml:endPosition"/></td>
<td><pre>A description</pre></td></tr>
		
{% if duration == true %}
		
<label for="TM4_{{instanceName}}">duration</label>
<input type="text" id="TM4_{{instanceName}}" name="{{instanceType}}-gml:duration-gco:date"/><br/>
		
<label for="TM5_{{instanceName}}">timeInterval</label>
<input type="text" id="TM5_{{instanceName}}" name="{{instanceType}}-gml:timeInterval-gco:float"/><br/>
		
{% endif %}
		
