{% if knownEmail %}
    <div class="messages status">
        <h2 class="element-invisible">Status message</h2>
        The email address you have entered has been located in the GRIIDC system. An email will be sent to this address with additional information to finish the account creation process.
    </div>
{% else %}
    <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        The email address you have entered could not be found in the GRIIDC system. Please contact <a href=
        "griidc@gomri.org">griidc@gomri.org</a> for additional help.
    </div>
{% endif %}