<form class="entityForm" entityType="FundingOrganization">

    <input type="hidden" name="id" value="{{FundingOrganization.getId}}">

    <label for="name">Name:</label>
    <input type="text" name="name" size="100" value="{{FundingOrganization.getName}}" required><br>

    <label for="emailAddress">E-Mail Address:</label>
    <input type="text" name="emailAddress" size="100" value="{{FundingOrganization.getEmailAddress}}"><br>

    <label for="description">Description:</label><br>
    <textarea name="description" cols="100" rows="5">{{FundingOrganization.getDescription}}</textarea><br>

    <label for="url">Website:</label>
    <input type="text" name="url" class="clickableLink" size="100" value="{{FundingOrganization.getUrl}}"><br>

    <label for="phoneNumber">Phone Number:</label>
    <input type="text" name="phoneNumber" size="100" value="{{FundingOrganization.getPhoneNumber}}"><br>

    <label for="deliveryPoint">Delivery Point:</label><br>
    <textarea name="deliveryPoint" cols="100" rows="5">{{FundingOrganization.getDeliveryPoint}}</textarea><br>

    <label for="city">City:</label>
    <input type="text" name="city" size="100" value="{{FundingOrganization.getCity}}"><br>

    <label for="administrativeArea">Administrative Area:</label>
    <input type="text" name="administrativeArea" size="100" value="{{FundingOrganization.getAdministrativeArea}}"><br>

    <label for="postalCode">Postal Code:</label>
    <input type="text" name="postalCode" size="100" value="{{FundingOrganization.getPostalCode}}"><br>

    <label for="country">Country:</label>
    <input type="text" name="country" size="100" value="{{FundingOrganization.getCountry}}"><br>

    <span class="showOnEdit">
        <label for="logo">Logo:</label>
        <input name="logo" type="file" 
            base64="{{FundingOrganization.serializeBinary(FundingOrganization.getLogo).base64}}" 
            mimeType="{{FundingOrganization.serializeBinary(FundingOrganization.getLogo).mimeType}}">
        <br>
    </span>

</form>
