<div userLoggedIn="{{userLoggedIn}}"></div>
<table border="0" width="100%">
    <tr>
        <td width="25%" valign="top">
            <div id="fundingOrganizationLogo">
                {% if FundingOrganization.getLogo %}
                    <img src="data:{{FundingOrganization.serializeBinary(FundingOrganization.getLogo).mimeType}};base64,{{FundingOrganization.serializeBinary(FundingOrganization.getLogo).base64}}">
                {% endif %}
            </div>
        </td>
        <td style="padding:10px;" width="50%" valign="top">
            <div id="orgdetails">
                <h2>Funding Organization Details</h2>
                {% include 'FundingOrganization.html' %}
            </div>
        </td>
        <td width="25%" valign="top">
            <div id="leadership">
                {% include 'PersonFundingOrganizationLeadership.html' %}
            </div>
        </td>
    </tr>
    {% if FundingOrganization.getFundingCycles | length > 0 %}
        <tr>
            <td></td>
            <td><h2>Funding Cycles</h2></td>
        </tr>
        {% for FundingCycle in FundingOrganization.getFundingCycles %}
        <tr>
            <td width="25%" valign="top">

            </td>
            <td>
                <div>
                    <p>
                        {% include 'FundingCycle.html' %}
                    </p>
                </div>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
    {% if FundingOrganization.getPersonFundingOrganizations | length > 0 %}
        <tr>
            <td></td>
            <td><h2>People</h2></td>
        </tr>
        {% for PersonFundingOrganization in FundingOrganization.getPersonFundingOrganizations %}
        <tr>
            <td width="25%" valign="top">

            </td>
            <td>
                <div>
                    <p>
                        {% include 'PersonFundingOrganization.html' %}
                    </p>
                </div>
            </td>
        </tr>
        {% endfor %}
    {% endif %}
</table>
