<form class="entityForm" entityType="PersonResearchGroup">

    <input type="hidden" name="id" value="{{PersonResearchGroup.getId}}">

    <label for="person">Person:</label>
    <select required name="person" person="{{PersonResearchGroup.getPerson.getId}}">
    <option value="">[Please Select a Person]</option>
    {% for Person in entityService.getAll("Person") | sortBy(["lastName","firstName"]) %}
        <option value="{{Person.getId}}"
        {{ (PersonResearchGroup.getPerson.getId == Person.getId ? ' selected ' : '') }}
        >{{Person.getLastName}}, {{Person.getFirstName}}, {{Person.getEmailAddress}}</option>
    {% endfor %}
    </select>
    <label for="person" class="error"></label>
    <br>

    <label for="researchGroup.fundingCycle.fundingOrganization">Funding Organization:</label>
    <select dontvalidate required name="researchGroup.fundingCycle.fundingOrganization" fundingOrganization="{{PersonResearchGroup.getResearchGroup.getFundingCycle.getFundingOrganization.getId}}">
    <option value="">[Please Select a Funding Organization]</option>
    {% for FundingOrganization in entityService.getAll("FundingOrganization") | sortBy(["name"]) %}
        <option value="{{FundingOrganization.getId}}"
        {{ (PersonResearchGroup.getResearchGroup.getFundingCycle.getFundingOrganization.getId == FundingOrganization.getId ? ' selected ' : '') }}
        >{{FundingOrganization.getName}}</option>
    {% endfor %}
    </select><br>

    <label for="researchGroup.fundingCycle">Funding Cycle:</label>
    <select
    {{ (PersonResearchGroup.getResearchGroup.getFundingCycle.getId == '' ? ' disabled ' : '')  }}
    required dontvalidate name="researchGroup.fundingCycle" fundingCycle="{{PersonResearchGroup.getResearchGroup.getFundingCycle.getId}}">
        <option value="">[Please Select a Funding Organization First]</option>
        {% if (PersonResearchGroup) %}
            {% for FundingCycle in PersonResearchGroup.getResearchGroup.getFundingCycle.getFundingOrganization.getFundingCycles | sortBy(["name"]) %}
                <option value="{{FundingCycle.getId}}"
                {{ (PersonResearchGroup.getResearchGroup.getFundingCycle.getId == FundingCycle.getId ? ' selected ' : '') }}
                >{{FundingCycle.getName}}</option>
            {% endfor %}
        {% endif %}
    </select><br>

    <label for="researchGroup">Research Group:</label>
    <select
    {{ (PersonResearchGroup.getResearchGroup.getId == '' ? ' disabled ' : '')  }}
    required name="researchGroup" researchGroup="{{PersonResearchGroup.getResearchGroup.getId}}">
        <option value="">[Please Select a Funding Cycle First]</option>
        {% if (PersonResearchGroup) %}
            {% for ResearchGroup in PersonResearchGroup.getResearchGroup.getFundingCycle.getResearchGroups | sortBy(["name"]) %}
                <option value="{{ResearchGroup.getId}}"
                {{ (PersonResearchGroup.getResearchGroup.getId == ResearchGroup.getId ? ' selected ' : '') }}
                >{{ResearchGroup.getName}}</option>
            {% endfor %}
        {% endif %}
    </select><br>

    <label for="role">Role:</label>
    <select required name="role" researchGroupRole="{{PersonResearchGroup.getRole.getId}}">
    <option value="">[Please Select a Role]</option>
    {% for Role in entityService.getAll("ResearchGroupRole") | sortBy(["weight"]) %}
        <option value="{{Role.getId}}"
        {{ (PersonResearchGroup.getRole.getId == Role.getId ? ' selected ' : '') }}
        >{{Role.getName}}</option>
    {% endfor %}
    </select><br>

    <label for="label">Label:</label>
    <input type="text" name="label" size="50" value="{{PersonResearchGroup.getLabel}}"><br>

</form>
