<form class="entityForm" entityType="ResearchGroup">

    <input type="hidden" name="id" value="{{ResearchGroup.getId}}">

    <label for="name">Name:</label>
    <input type="text" name="name" size="100" value="{{ResearchGroup.getName}}" required><br>

    <label for="fundingOrganization">Funding Organization:</label>
    <select dontvalidate required name="fundingCycle.fundingOrganization" fundingOrganization="{{ResearchGroup.getFundingCycle.getFundingOrganization.getId}}">
    <option value="">[Please Select a Funding Organization]</option>
    {% for FundingOrganization in entityService.getAll("FundingOrganization") | sortBy(["name"]) %}
        <option value="{{FundingOrganization.getId}}" 
        {{ (ResearchGroup.getFundingCycle.getFundingOrganization.getId == FundingOrganization.getId ? ' selected ' : '') }}
        >{{FundingOrganization.getName}}</option>
    {% endfor %}
    </select><br>

    <label for="fundingCycle">Funding Cycle:</label>
    <select
    {{ (ResearchGroup.getFundingCycle.getId == '' ? ' disabled ' : '')  }}
    required name="fundingCycle" fundingCycle="{{ResearchGroup.getFundingCycle.getId}}">
        <option value="">[Please Select a Funding Organization First]</option>
        {% if (ResearchGroup) %}
            {% for FundingCycle in ResearchGroup.getFundingCycle.getFundingOrganization.getFundingCycles %}
                <option value="{{FundingCycle.getId}}" 
                {{ (ResearchGroup.getFundingCycle.getId == FundingCycle.getId ? ' selected ' : '') }}
                >{{FundingCycle.getName}}</option>
            {% endfor %}
        {% endif %}
    </select><br>

    <label for="url">Website:</label>
    <input type="text" name="url" class="clickableLink" size="100" value="{{ResearchGroup.getUrl}}"><br>

    <label for="phoneNumber">Phone Number:</label>
    <input type="text" name="phoneNumber" size="100" value="{{ResearchGroup.getPhoneNumber}}"><br>

    <label for="deliveryPoint">Delivery Point:</label><br>
    <textarea maxlength="300" name="deliveryPoint" cols="150" rows="2">{{ResearchGroup.getDeliveryPoint}}</textarea><br>

    <label for="city">City:</label>
    <input type="text" name="city" size="100" value="{{ResearchGroup.getCity}}"><br>

    <label for="administrativeArea">State/Province:</label>
    <input type="text" name="administrativeArea" size="100" value="{{ResearchGroup.getAdministrativeArea}}"><br>

    <label for="postalCode">Postal Code:</label>
    <input type="text" name="postalCode" size="100" value="{{ResearchGroup.getPostalCode}}"><br>

    <label for="country">Country:</label>
    <input type="text" name="country" size="100" value="{{ResearchGroup.getCountry}}"><br>

    <label for="description">Description:</label><br>
    <textarea name="description" cols="100" rows="5">{{ResearchGroup.getDescription}}</textarea><br>

    <label for="emailAddress">E-Mail Address:</label>
    <input type="text" name="emailAddress" size="100" value="{{ResearchGroup.getEmailAddress}}"><br>

    <span class="showOnEdit">
        <label for="logo">Logo:</label>
        <input name="logo" type="file"
            base64="{{ResearchGroup.serializeBinary(ResearchGroup.getLogo).base64}}"
            mimeType="{{ResearchGroup.serializeBinary(ResearchGroup.getLogo).mimeType}}">
        <br>
    </span>
</form>
