Dear {{dm.firstName}} {{dm.lastName}},<br>
<br>
A Dataset Information Form for dataset {{data.udi}} has been approved by the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) for {{rcbyudi.Title}}.<br>
<br>
Thank you,<br>
<br>
The GRIIDC Team<br>
<br>
*You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research Initiative Research Consortium. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
