{% block subject '[GRIIDC] DIF Approved' %}

dif.{% block body_html %}
Dear {{ recipient.firstName }} {{ recipient.lastName }},<br>
<br>
A Dataset Information Form for dataset {{ dif.dataset.udi }} has been approved by the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) for {{ dif.researchGroup.name }}.<br>
<br>
Thank you,<br>
<br>
The GRIIDC Team<br>
<br>
*You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research Initiative Research Consortium. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
{% endblock %}

{% block body_text %}
Dear {{ recipient.firstName }} {{ recipient.lastName }},

A Dataset Information Form for dataset {{ dif.dataset.udi }} has been approved by the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) for {{ dif.researchGroup.name }}.

Thank you,

The GRIIDC Team

*You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research Initiative Research Consortium. If you believe you should not be receiving this email please notify griidc@gomri.org.*
{% endblock %}
