{% extends "template/UI.html.twig" %}
{% block title %}Inspect Dataset Fileset{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <h2>Fileset Copy has been queued for dataset {{ datasetUdi }}</h2>
    <p>The fileset copy to Mimir has been initiated. You will receive an email when the copy is complete and ready for inspection.</p>
{% endblock %}
