<table id="fundingOrganizationList" width="100%" class="stripe">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Logo</th>
            <th>Creation Time Stamp</th>
            <th>Creator</th>
            <th>Last Modified Time Stamp</th>
            <th>Modifier</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan='7'>
                <div id='selection_buttons'>
                    <button id='button_detail'>View Details</button>&nbsp;
                    <span id='selection_comment'><i>To view details for a Funding Organization, first click on row above.</i></span>
                </div>
            </td>
    </tfoot>
</table>
