<table id="fundingOrganizationList" width="100%" class="stripe">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <!--
            <th>Description</th>
            <th>Phone</th>
            <th>Email Address</th>
            <th>Website</th>
            <th>Delivery Point</th>
            <th>City</th>
            <th>Administrative Area</th>
            <th>Country</th>
            <th>Postal Code</th>
            -->
            <th>Logo</th>
            <th>Creation Time Stamp</th>
            <th>Creator</th>
            <th>Last Modified Time Stamp</th>
            <th>Modifier</th>
        </tr>
    </thead>
    <!--
    <tfoot>
        <tr>
            <td colspan='8'>
                <button id="details_button" disabled>View Person Landing Page</button> &nbsp;
                <span id='detail1'><i>To view details for a Person, first click on row above.</i></span>
            </td>
        </tr>
    </tfoot>
    -->
</table>
