{% extends "base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block body %}
    <div class="bootstrap">
        <div class="site-section" id="features-section">
            <div class="container">
                <div class="row mb-5 justify-content-center text-center"  data-aos="fade-up">
                    <div class="col-7 text-center  mb-5">
                        <h2 class="section-title">National Academy Sciences - GRIIDC</h2>
                        <p class="lead">Ensure Data Legacy</p>
                    </div>
                </div>
                <div class="row align-items-stretch">
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up">

                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary icon-autorenew"></span></span>
                            </div>
                            <div>
                                <h3>Search Data</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                                <p><a href="#">Learn More</a></p>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up" data-aos-delay="100">

                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary icon-store_mall_directory"></span></span>
                            </div>
                            <div>
                                <h3>Submit Data</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                                <p><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4 mb-4 mb-lg-4" data-aos="fade-up"  data-aos-delay="200">
                        <div class="unit-4 d-block">
                            <div class="unit-4-icon mb-3">
                                <span class="icon-wrap"><span class="text-primary icon-shopping_basket"></span></span>
                            </div>
                            <div>
                                <h3>Monitor Data</h3>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quis molestiae vitae eligendi at.</p>
                                <p><a href="#">Learn More</a></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
