<table class="entityTable stripe" width="100%" entityType="{{entityType}}">
    <thead>
        <tr>

        </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="buttons">
                <div>
                    <button id="button_detail">View Details</button>&nbsp;
                    <button id="button_delete">Delete Research Group</button>&nbsp;
                    <span id="selection_comment"><i>To view details, first click on row above.</i></span>
                </div>
            </td>
    </tfoot>
</table>
