@media only screen and (max-width: 768px) {
  div.bootstrap {
    .container {
      .main {
        .title, .sidebar, .other-metadata {
          width: 100% !important;
          float: unset !important;
        }
      }
    }
  }
}
