@media only screen and (max-width: 768px) {
  div.bootstrap {
    .container {
      .main {
        .title, .sidebar, .other-metadata {
          width: 100% !important;
          float: unset !important;
        }
      }
    }
  }
}

.pre-line-white-space {
  white-space: pre-line;
}

.clamped {
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
