@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'components/inputs.scss';
@import 'components/buttons.scss';

.dif-buttons {
	box-sizing: border-box;
	height: 2.275rem !important;
	min-height: 2.275rem !important;
	max-height: 2.275rem !important;
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
