@import '~bootstrap/scss/functions';

// Brand Colors;
$teal: #004250;
$lightBlue: #c2deea;
$dark-cyan: #3f626a;
$light-cyan: #becacd;
$dark-green: #002d38;

$pink: #ffbdaf;
$grey: #ebebeb;
$darkGrey: #252525;
$gradientStart: #022f3a;
$gradientEnd: #4f6e74;

$error: #8c2e0b;
    
$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #043751;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;

$theme-colors: (
    primary: $teal,
    secondary: $light-cyan,
    success: $dark-green,
    info: $lightBlue,
    warning: $teal,
    danger: $pink,
    light: $light-cyan,
    dark: $dark-cyan,
    header: $teal
);


$colors: (
    blue: $teal,
    indigo: $dark-cyan,
    red: $lightBlue,
    tan: $lightBlue,
    yellow: $lightBlue,
    green: $lightBlue,
    black: $black,
    white: $white,
    gray: $gray-600,
    gray-dark: $gray-800
);


$grays: (
    100: $gray-100,
    200: $gray-200,
    300: $gray-300,
    400: $gray-400,
    500: $gray-500,
    600: $gray-600,
    700: $gray-700,
    800: $gray-800,
    900: $gray-900
);

$theme-color-interval: 8%;


$font-family-sans-serif: "Merriweather", Arial, serif;


$font-family-base: $font-family-sans-serif;

$navbar-light-color: color('black');

$navbar-light-active-color: color('black');

$navbar-light-hover-color: theme-color('primary');

$dropdown-link-hover-color: theme-color('primary');
