@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

@import 'nas-colors.scss';
@import 'bootstrap.scss';

:root {
  --color-blue--geyser:#dce4e8;
  --color-blue--bali-hai:#869eaa;
  --color-blue--surf:#00b7c6;
  --color-blue--blueboy:#61a2d8;
  --color-blue--carolina:#50a0bb;
  --color-blue--boston:#3a85b3;
  --color-blue--bahama:#005991;
  --color-blue--rhine:#13465e;
  --color-blue--blueBird:#043751;
  --color-blue--imperial:#003f5c;
  --color-brown--tan:#f1efe8;
  --color-brown--bone:#f3f1eb;
  --color-brown--merino:#e1dace;
  --color-brown--sand:#ddd5c7;
  --color-brown--wood:#bc9b6a;
  --color-green--iguana:#73af7a;
  --color-green--forest:#1d7b5c;
  --color-red--garnet:#a93344;
  --color-yellow--pure:#f6d200;
  --color-yellow--gold:#dcaf27;
  --color-neutral--white-lilac:#eee;
  --color-neutral--pastel:#ccc;
  --color-neutral--dusty:#767676;
  --color-neutral--granite:#666;
  --color-neutral--jet:#333;
  --color-neutral--charcoal:#222;
  --box-shadow--charcoal:rgba(34, 34, 34, 0.25);
  --color-society--sciences:#ab840d;
  --color-society--engineering:#005991;
  --color-society--medicine:#1d7b5c;
  --type-font--fallback:-apple-system,"BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
  --type-font--lato:"Lato", var(--type-font--fallback);
  --type-size--huge:1.375rem;
  --type-size--intro:1.3rem;
  --type-size--small:.8em;
  --type-size--1:1.375rem;
  --type-size--2:1.5rem;
  --type-size--3:1.25rem;
  --type-size--4:1rem;
  --type-size--5:.75rem;
  --type-size--6:.625rem;
  --lato--light:300;
  --lato--regular:400;
  --lato--bold:700;
  --lato--black:900;
  --body-fonts:var(--type-font--lato);
  --main-fonts:var(--type-font--lato);
  --baseFontSize:15px;
  --baseFontFamily:var(--body-fonts);
  --baseLineHeight:1.533em;
  --altFontFamily:var(--main-fonts);
  --headingsFontFamily:inherit;
  --headingsFontWeight:bold;
  --headingsColor:inherit;
  --altHeadingsFontFamily:var(--altFontFamily);
  --weightRegular:400;
  --weightBold:700;
  --headerHeight:110px;
  --color-header:var(--color-brown--tan);
  --color-teal:#004250;
  --color-lightBlue:#c2deea;
  --color-pink:#ffbdaf;
  --color-grey:#ebebeb;
  --color-darkGrey:#252525;
  --color-white:#fff;
  --color-black: #000000;
  --color-froth-white:#fafafa;
  --color-gradientStart:#022f3a;
  --color-gradientEnd:#4f6e74;
  --color-error:#8c2e0b;
  --color-headerTop:var(--color-brown--tan);
  --color-headerMiddle:var(--color-blue--boston);
  --color-headerBottom:var(--color-blue--blueBird);
  --color-main:var(--color-blue--blueBird);
  --color-menu:var(--color-blue--boston);
  --color-primary: var(--color-blue--blueBird);
  --color-secondary: var(--color-blue--boston);
  --color-table-striped:var(--color-brown--tan);
  --atlassion-button-main:var(--color-blue--blueBird);
  --atlassion-button-bg:var(--color-blue--boston);
}

/* Menu bar style */

.main_menu {
  .navbar {
      .navbar-nav a {
        font-size: .85rem;
      }
  }
}

/* Menu bar style  */

.global-nav-before {
  content: "";
  top: 0;
  right: 0;
  left: 0;
  height: .6rem;
  background-image: linear-gradient(90deg, $boston 0,
          $boston 35%, $engineering 64%,
          $medicine 81%, $gold);
}

.login-bar {
  position: relative;
  margin: 0;
  padding: 2px 10px 8px;
  background-color: theme-color('header');
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.jira-buttons-box {
  display: flex;
  flex-direction: row;
  & button {
    color: color('white');
    border-style: solid;
    border-top-color: initial;
    border-right-color: theme-color('secondary');
    border-bottom-color: theme-color('secondary');
    border-left-color: theme-color('secondary');
    font-size: 9pt;
    font-family: sans-serif;
    font-weight: normal;
    padding: 0 5px;
    border-width: 0px 1px 1px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5px 5px;
    background-color: theme-color('primary');
    cursor: pointer;
    border-top-width: 0;
    position: relative!important;
    white-space: nowrap;
    line-height: 23px;
  }
}

.login-info-box {
  top: 0;
  right: 0;
  color: theme-color('secondary');
}

#main-wrapper {
  height: 100vh !important;
}

/** Responsive styles for other devices **/

@media (max-width: 1091px) {
  .main_menu {
    padding: 15px 0;
  }

  .main_menu .navbar .main-menu-item .navbar-nav {
    margin-left: 0%;
    background-color: var(--color-white);
  }

  .main_menu .navbar .main-menu-item .navbar-nav a {
    padding: 10px 22px;
    margin-bottom: 2px;
  }

  .login-info-box {
      font-size: 0.75rem;
  }

  .login-bar {
    flex-wrap: wrap;
  }

  .navbar-collapse {
    z-index: 9999 !important;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    box-shadow: 0 7px 11px 0 rgba(0, 0, 0, 0.2);
  }

  .collapsing {
    -webkit-transition: none;
    transition: none;
    display: none;
  }
}

@media only screen and (min-width: 0px) and (max-width: 1091px) {
  .navbar-brand {
    max-width: 150px;
  }

  .login-bar {
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

img,video {
  height: auto;
  max-width: 100%;
}

/* Font for applications */
#pelagos-content {
  font-family: var(--type-font--lato) !important;
}

.ui-widget {
  font-family: var(--type-font--lato) !important;
}

.qtip-tipped {
  font-family: var(--type-font--lato) !important;
}

.ui-button {
  font-weight: bold !important;
}

@media only screen and (min-width: 1092px) {
  .main_menu {
    .nav-link {
      padding: 0 1rem !important;
    }
    .dropdown-menu {
      left: -20% !important;
      float: left !important;
    }
  }
  #help-sub-menu {
    left: -80% !important;
  }
}
