{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent() }}

    {% stylesheets
        '@PelagosAppBundle/Resources/public/css/publink.css'
    %}
        {{ add_css(asset_url) }}
    {% endstylesheets %}

    {% if is_granted('ROLE_DATA_REPOSITORY_MANAGER') %}
        {{ add_js(
            [
                '//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js'
            ]
        ) }}

        {% javascripts
            '@PelagosAppBundle/Resources/public/js/publink.js'
            '@FOSJsRoutingBundle/Resources/public/js/router.js'
        %}
            {{ add_js(asset_url) }}
        {% endjavascripts %}

        {{ add_js(path('fos_js_routing_js', { callback: 'fos.Router.setData' })) }}
    {% endif %}

{% endblock %}

{% block body %}
    {% if is_granted('ROLE_DATA_REPOSITORY_MANAGER') %}
        <fieldset id="dataset">
            <legend>Dataset</legend>
            UDI: <input id="udi" class="id" type="text"> <button id="retrieve_dataset" class="retrieve">Retrieve</button>
            <div class="pelagos-citation-container">
                <div id="dataset_spinner" class="pelagos-spinner"></div>
                <div class="pelagos-citation"></div>
            </div>
        </fieldset>

        <fieldset id="publication">
            <legend>Publication</legend>
            DOI: <input id="doi" class="id" type="text"> <button id="retrieve_publication" class="retrieve">Retrieve</button>
            <div class="pelagos-citation-container">
                <div id="publication_spinner" class="pelagos-spinner"></div>
                <div class="pelagos-citation"></div>
            </div>
        </fieldset>

        <div>
            <a href="{{ path('pelagos_app_ui_publicationdatasetlink_list') }}">All Links</a>
        </div>

        <button id="link" class="pelagos-button" style="margin-top:20px;" disabled>Link</button>

        <div id="dialog-linked" title="Linked Successfully">
          <p><span class="dialog-text"></span></p>
        </div>

        <div id="dialog-error" title="Linking Error" class="ui-state-error">
          <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span><span class="dialog-text"></span></p>
        </div>
        <div id="publicationId" style="display:none"></div>
        <div id="datasetId" style="display:none"></div>
    {% else %}
        <div class="messages error">
            <h2 class="element-invisible">Error message</h2>
            This feature is only accessible by Data Repository Managers.
        </div>
    {% endif %}
{% endblock %}
