<div
   id="popup-modal"
   tabindex="-1"
   aria-hidden="true"
   class="fixed inset-0 hidden h-full w-full overflow-y-auto overflow-x-hidden p-4 md:p-8"
   style="z-index: 9999;"
>
   <div class="relative mx-auto w-full max-w-4xl">
      <div class="relative rounded-lg bg-white shadow-xl">
         <div class="border-b border-gray-200 p-5 text-center">
            <h2 class="text-2xl font-semibold">{{title}}</h2>
         </div>
         <div class="space-y-4 p-6 text-gray-500">
            {{{content}}}
         </div>
         <!-- Close Buttons -->
             <div class="py-4 flex items-center justify-center gap-3">
           <button id="modal-close-button" type="button" class="button button-regular button-form" aria-label="Close modal">
               Close
           </button>
           <button id="modal-close-button-for-good" type="button" class="button button-regular button-form" aria-label="Close modal and don't show again">
               Close and don't show again
           </button>
         </div>
      </div>
   </div>
</div>
