<div style="background: transparent; padding:0px;" id="tabs">

    <ul>
        <li style="text-align:center"><a href="#submitted" onClick="clearStatusMessages()">Submitted ({{ m_dataset.submitted|length }})</a></li>
        <li style="text-align:center"><a href="#inreview" onClick="clearStatusMessages()">In Review ({{ m_dataset.inreview|length }})</a></li>
        <li style="text-align:center"><a href="#accepted" onClick="clearStatusMessages()" >Accepted ({{ m_dataset.accepted|length }})</a></li>
        <li style="text-align:center"><a href="#uploadnewmetadata" onClick="clearStatusMessages()">Upload New Metadata</a></li>
        <li style="text-align:center"><a href="#GeoTester">Test a Geometry</a></li>
    </ul>


    {% for sname,section in m_dataset %} <!-- allows key,value iteration -->
      {% if section|length %}
        <div id="{{sname}}" class="tab" style="padding:0">
          <fieldset>
            <table>
                <thead>
                    <tr>
                        <th style="width:125px"><a href={{baseUrl}}/sorter/udi>UDI</a></th>
                        <th style="width:80px">Action</th>
                        <th style="width:150px"><a href={{baseUrl}}/sorter/timestamp>Timestamp</a></th>
                        <th style="width:50%"><a href={{baseUrl}}/sorter/filename>Filename</a></th>
                    </tr>
                </thead>
                <tbody>
                    {% for dta in section %}
                        <tr>
                            <td valign="top"><a href="{{pagelessBaseUrl}}/data/{{dta.dataset_udi}}" target="0" >{{dta.dataset_udi}}</a></td>
                            {% if sname == 'accepted' %}
                                <td valign="top"><input type="button" value="Un-accept" onclick="location.href='{{baseUrl}}/un-accept/{{dta.dataset_udi}}';" title='Un-accept {{dta.dataset_udi}} and mark it as "In Review".'></td>
                            {% elseif sname == 'inreview' %}
                                <td valign="top">
                                    <input type="button" value="Accept" onclick="location.href='{{baseUrl}}/accept/{{dta.dataset_udi}}';" title="Accept {{dta.dataset_udi}}.">
                                    <input type="button" value="End Review" onclick="location.href='{{baseUrl}}/end-review/{{dta.dataset_udi}}';" title='Un-mark {{dta.dataset_udi}} as "In Review".'>
                                </td>
                            {% else %}
                                <td valign="top"><input type="button" value="Start Review" onclick="location.href='{{baseUrl}}/start-review/{{dta.dataset_udi}}';" title='Mark {{dta.dataset_udi}} as "In Review".'></td>
                            {% endif %}
                            <td valign="top">{{dta.submittimestamp}}</td>
                            <td valign="top"><a href="{{baseUrl}}/download-metadata/{{dta.dataset_udi}}"><img src="{{baseUrl}}/includes/images/download.png"></a>&nbsp;{% if dta.hasxml == true %}<a href="{{baseUrl}}/download-metadata-db/{{dta.dataset_udi}}"><img src="{{baseUrl}}/includes/images/download-from-db.png"></a>&nbsp;{% endif %}{{dta.dataset_metadata}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
          </fieldset>
        </div>
       {% endif %}
     {% endfor %}

        <div id="uploadnewmetadata">
            <div>
                <!-- The data encoding type, enctype, MUST be specified as below -->
                <form enctype="multipart/form-data" action="{{baseUrl}}/upload-new-metadata-file" method="POST">
                    <!-- MAX_FILE_SIZE must precede the file input field -->
                    <input type="hidden" name="MAX_FILE_SIZE" value="60000" />
                    <!-- Name of input element determines name in $_FILES array -->
                    <input name="newMetadataFile" type="file" style="width:100%" />
                    <hr width=40% align=left>
                    <div>
                        <input type="checkbox" name="approveMetadata">Approve Metadata<br />
                        <input type="checkbox" name="contactOwner">Notify data manager of approval<br />
                        <input type="checkbox" name="overrideGML">Override GML with the following<br />
                        <textarea name=GMLOverride cols=60 rows=4></textarea>
                        <p>options only performed on successful upload</p>
                    </div>
                    <hr width=40% align=left>
                    <input type="submit" value="Upload File" /><br />
                </form>
            </div>
        </div>
        <div id="GeoTester">
            <form action="{{baseUrl}}/TestGeometry" method="POST">
            Polygon as (latitude,longitude) tuples separated by single space, no line breaks, clockwise, first point repeated as last point<br />
            <textarea name="testPolygon" style="width:100%" rows="4" id="testGeometry">{{testPolygon}}</textarea><br />
            <input type="submit" value="Test This Geometry" />&nbsp; <button type="button" onClick="clearTestGeometry()">Clear This Geometery</button>
            </form>
        </div>

</div>
