<div style="background: transparent; padding:0px;" id="tabs">
  <div class="ui-tabs">
    <ul class="ui-tabs-nav">
        <li style="text-align:center"><a href="#submitted" onClick="clearStatusMessages()">Submitted ({{ m_dataset.submitted|length }})</a></li>
        <li style="text-align:center"><a href="#inreview" onClick="clearStatusMessages()">In Review ({{ m_dataset.inreview|length }})</a></li>
        <li style="text-align:center"><a href="#secondcheck" onClick="clearStatusMessages()" >2nd Chk ({{ m_dataset.secondcheck|length }})</a></li>
        <li style="text-align:center"><a href="#accepted" onClick="clearStatusMessages()" >Accepted ({{ m_dataset.accepted|length }})</a></li>
        <li style="text-align:center"><a href="#backtosubmitter" onClick="clearStatusMessages()" >Bk to Sub ({{ m_dataset.backtosubmitter|length }})</a></li>
        <li style="text-align:center"><a href="#uploadnewmetadata" onClick="clearStatusMessages()">Upload New Metadata</a></li>
        <li style="text-align:center"><a href="#GeoTester">Test a Geometry</a></li>
    </ul>
  </div>


    {% for sname,section in m_dataset %} <!-- allows key,value iteration -->
      {% if section|length %}
        <div id="{{sname}}" class="tab" style="padding:0">
          <fieldset>
            <table id="metadata_fancy" class="display">
                <thead>
                    <tr>
                        <th><div class="title">UDI</div></th>
                        <th><div class="title">Action</div></th>
                        <th><div class="title">Approval</div></th>
                        <th><div class="title">Timestamp</div></th>
                        <th><div class="title">Filename</div></th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th><div class="title">UDI</div></th>
                        <th><div class="title">Action</div></th>
                        <th><div class="title">Approval<br />* email submitter</div></th>
                        <th><div class="title">Timestamp</div></th>
                        <th><div class="title">Filename</div></th>
                    </tr>
                </tfoot>
                <tbody>
                    {% for dta in section %}
                        <tr>
                            <td valign="top"><a href="{{pagelessBaseUrl}}/data/{{dta.dataset_udi}}" target="0" >{{dta.dataset_udi}}</a></td>
                            <td valign="top"><form name="AcceptedState" action="{{baseUrl}}/change_status/{{dta.dataset_udi}}" method="post">
                            <select name="to">
                                    {% if sname == 'submitted' %}
                                        <option value="Submitted">Submitted</option>
                                        <option value="InReview" style="background-color: yellow;">InReview</option>
                                        <option value="SecondCheck">SecondCheck</option>
                                        <option value="Accepted">Accepted</option>
                                        <option value="BackToSubmitter">BackToSubmitter</option>
                                    {% elseif sname == 'inreview' %}
                                        <option value="InReview">InReview</option>
                                        <option value="SecondCheck" style="background-color: yellow;">SecondCheck</option>
                                        <option value="Accepted">Accepted</option>
                                        <option value="BackToSubmitter">BackToSubmitter</option>
                                    {% elseif sname == 'secondcheck' %}
                                        <option value="SecondCheck">SecondCheck</option>
                                        <option value="InReview">InReview</option>
                                        <option value="Accepted" style="background-color: yellow;">Accepted</option>
                                        <option value="BackToSubmitter">BackToSubmitter</option>
                                    {% elseif sname == 'accepted' %}
                                        <option value="Accepted">Accepted</option>
                                        <option value="InReview">InReview</option>
                                        <option value="SecondCheck">SecondCheck</option>
                                        <option value="BackToSubmitter">BackToSubmitter</option>
                                    {% elseif sname == 'backtosubmitter' %}
                                        <option value="BackToSubmitter">BackToSubmitter</option>
                                        <option value="InReview" style="background-color: yellow;">InReview</option>
                                        <option value="SecondCheck">SecondCheck</option>
                                        <option value="Accepted">Accepted</option>
                                    {% else %}
                                        <option value="InReview">InReview</option>
                                        <option value="SecondCheck">SecondCheck</option>
                                        <option value="Accepted">Accepted</option>
                                        <option value="BackToSubmitter">BackToSubmitter</option>
                                    {% endif %}
                                        
                            </select>
                            <input type="image" src="{{baseUrl}}/includes/images/runningman.png" alt="Submit">
                            </form>
                            </td>
                            <td>
                                <form name="setApprovalForm" action="{{baseUrl}}/change_appr_status/{{dta.dataset_udi}}" method="post">
                                    <select name="approval">
                                        {% if dta.approval == 'Approved' %}
                                        <option value='Approved' SELECTED>Approved</option>
                                        <option value='NotRequired'>Not Required</option>
                                        <option value='ApprovalRequired'>Apr Required</option>
                                        <option value='ApprovalRequiredEmail'>Apr Required *</option>
                                        {% elseif dta.approval == 'NotRequired' %}
                                        <option value='Approved'>Approved</option>
                                        <option value='NotRequired' SELECTED>Not Required</option>
                                        <option value='ApprovalRequired'>Apr Required</option>
                                        <option value='ApprovalRequiredEmail'>Apr Required *</option>
                                        {% elseif  dta.approval == 'ApprovalRequired' %}
                                        <option value='Approved'>Approved</option>
                                        <option value='NotRequired'>Not Required</option>
                                        <option value='ApprovalRequired' SELECTED>Apr Required</option>
                                        <option value='ApprovalRequiredEmail'>Apr Required *</option>
                                        {% else %}
                                        <option value=''>Error</option>
                                        {% endif %}
                                    </select>
                                    <input type="image" src="{{baseUrl}}/includes/images/runningman.png" alt="Submit">
                                </form>
                            </td>
                            <td valign="top">{{dta.submittimestamp}}</td>
                            <td valign="top"><button style="font-size:66%" onclick="javascript:showLogEntries('{{dta.dataset_udi}}')">Log</button> <a href="{{baseUrl}}/download-metadata/{{dta.dataset_udi}}"><img src="{{baseUrl}}/includes/images/download.png"></a>&nbsp;{% if dta.hasxml == true %}<a href="{{baseUrl}}/download-metadata-db/{{dta.dataset_udi}}"><img src="{{baseUrl}}/includes/images/download-from-db.png"></a>&nbsp;{% endif %}{{dta.dataset_metadata}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
          </fieldset>
        </div>
       {% endif %}
     {% endfor %}

        <div id="uploadnewmetadata">
            <div>
                <!-- The data encoding type, enctype, MUST be specified as below -->
                <form enctype="multipart/form-data" action="{{baseUrl}}/upload-new-metadata-file" method="POST">
                    <!-- MAX_FILE_SIZE must precede the file input field -->
                    <input type="hidden" name="MAX_FILE_SIZE" value="1000000" />
                    <!-- Name of input element determines name in $_FILES array -->
                    <input name="newMetadataFile" type="file" style="width:100%" />
                    <hr width=40% align=left>
                    <div>
                        <input type="checkbox" name="approveMetadata">Approve Metadata<br />
                        <input type="checkbox" name="contactOwner">Notify data manager of approval<br />
                        <input type="checkbox" name="overrideDatestamp">Override gmi:MI_Metadata/gmd:dateStamp with current timestamp<br />
                        <input type="checkbox" name="overrideGML">Override GML with the following<br />
                        <textarea name=GMLOverride cols=60 rows=4></textarea>
                        <p>options only performed on successful upload</p>
                    </div>
                    <hr width=40% align=left>
                    <input type="submit" value="Upload File" /><br />
                </form>
            </div>
        </div>
        <div id="GeoTester">
            <form action="{{baseUrl}}/TestGeometry" method="POST">
            Polygon as (latitude,longitude) tuples separated by single space, no line breaks, clockwise, first point repeated as last point<br />
            <textarea name="testPolygon" style="width:100%" rows="4" id="testGeometry">{{testPolygon}}</textarea><br />
            <input type="submit" value="Test This Geometry" />&nbsp; <button type="button" onClick="clearTestGeometry()">Clear This Geometery</button>
            </form>
        </div>

</div>
<div id='log'>
    <div id="log_close"><input type="image" src="{{baseUrl}}/includes/images/close.gif" onclick="jQuery('#log').hide();"></div>
    <div id='log_title'>Log replaces by js</div>
    <div id='log_content'>
        Log replaced by AJAX call to /getlog/:udi
    </div>
</div>
