<div style="background: transparent; padding:0px;" id="tabs">

    <ul>
        {% if m_dataset.accepted %}
            <li style="text-align:center"><a href="#accepted">({{ m_dataset.accepted|length }}) Accepted</a></li>
        {% endif %}

        {% if m_dataset.submitted %}
            <li style="text-align:center"><a href="#submitted">({{ m_dataset.submitted|length }}) Submitted</a></li>
        {% endif %}

            <li style="text-align:center"><a href="#uploadnewmetadata">Upload New Metadata</a></li>
    </ul>


    {% for sname,section in m_dataset %} <!-- allows key,value iteration -->
      {% if section|length %}
        <div id="{{sname}}" class="tab" style="padding:0">
          <fieldset>
            <table>
                <thead>
                    <tr>
                        <th style="width:140px">UDI</th>
                        {% if sname == 'accepted' %}
                            <th style="width:75px">Un-accept</th>
                        {% else %}
                            <th style="width:75px">Accept</th>
                        {% endif %}
                        <th stile="width:50%">Filename</th>
                    </tr>
                </thead>
                <tbody>
                    {% for dta in section %}
                        <tr>
                            <td valign="top"><a href="{{pagelessBaseUrl}}/data/{{dta.dataset_udi}}" target="0" >{{dta.dataset_udi}}</a></td>
                            {% if sname == 'accepted' %}
                            <td valign="top"><a href="{{baseUrl}}/un-accept/{{dta.dataset_udi}}" target="0" >U</a></td>
                            {% else %}
                            <td valign="top"><a href="{{baseUrl}}/accept/{{dta.dataset_udi}}" target="0" >A</a></td>
                            {% endif %}
                            <td valign="top"><a href="{{baseUrl}}/download-metadata/{{dta.dataset_udi}}"><img src="{{baseUrl}}/includes/images/download.png"></a>&nbsp;{% if dta.hasxml == true %}<a href="{{baseUrl}}/download-metadata-db/{{dta.dataset_udi}}"><img src="{{baseUrl}}/includes/images/download-from-db.png"></a>&nbsp;{% endif %}{{dta.dataset_metadata}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
          </fieldset>
        </div>
       {% endif %}
     {% endfor %}

        <div id="uploadnewmetadata">
            <div>
                <!-- The data encoding type, enctype, MUST be specified as below -->
                <form enctype="multipart/form-data" action="{{baseUrl}}/upload-new-metadata-file" method="POST">
                    <!-- MAX_FILE_SIZE must precede the file input field -->
                    <input type="hidden" name="MAX_FILE_SIZE" value="60000" />
                    <!-- Name of input element determines name in $_FILES array -->
                    <input name="newMetadataFile" type="file" style="width:100%" />
                    <hr width=40% align=left>
                    <div>
                        <input type="checkbox" name="approveMetadata">Approve Metadata<br />
                        <input type="checkbox" name="contactOwner">Notify data manager of approval<br />
                        <input type="checkbox" name="overrideGML">Override GML with the following<br />
                        <textarea name=GMLOverride cols=60 rows=4></textarea>
                        <p>options only performed on successful upload</p>
                    </div>
                    <hr width=40% align=left>
                    <input type="submit" value="Upload File" /><br />
                </form>
            </div>
        </div>

</div>
