.hiddenFormField{
    display:none;
}

.toolbarbutton {
    padding: 4px;
    font-size: 12px;
}

#helpinfo .ui-button{
    display:block;
}

#navbuttons .ui-button{
    display:block;
}

.emRequired::before
{
    font-weight: bold; color:#FF0000;
    content:"*";
}

.keywordbutton {
    width:80px;
}

.keywordinput {
    width:350px;
    height:100%;
}

.dstablink {
    outline:none;
}

.topictooltip {
    display:none;
}

.tab-table {
    width: 100%;
    margin: 2px;
}

.tab-table td {
    padding: 5px;
}

input[type=text],select,textarea,input[type=email] {
    width:90%;
}

textarea{
    resize: vertical;
}

.tab-table tr:nth-child(even) {
    background-color: #CCC
}

.tab-table tr:nth-child(odd) {
    background-color: #DDD
}

.field-help {
    font-family: monospace;
}

legend
	{
		text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.75);
		font-size:1.4em;
		padding: 3px;
		border-top: 1px solid #000;
		border-left: 1px solid #000;
		border-right:  1px solid #000;
		border-bottom:  1px solid #000;
		background-color: white;
	}

fieldset
{
    border: 1px dotted #AAA;
}

.sftphidden {
    display: none;
}

.validdsform {
    display: none;
}

.tabimg {
    margin: 2px;
    height: 16px;
    width: 16px;
    display: none;
}

#filetabs .file_force label {
    display: inline;
}

#spinner {
    display: none;
}

#restrictions label{
    display: inline;
}

table.dataTable.stripe tbody tr:hover {
    cursor: pointer;
    background-color: var(--color-table-striped);
}

.helpSection img
{
    opacity:.5;
}

.helpSection img:hover
{
    opacity:1;
}

.helpSection
{
    float:right;
	margin-right:42px;
}

.tooltiptext
{
    display: none;
}

.delete-contact
{
    outline:2px solid rgba(255,0,0,0.5);
    padding:2px;
    opacity:.7;
}

#contact-prototype
{
    display:none;
}

#links-prototype
{
    display:none;
}

#clearLargeFilePath {
    margin-left: 0.5rem;
}

.dx-list-item-content {
    padding-top: 0px;
    padding-bottom: 0px;
}

input[type="text"], textarea, select {
    margin: 0.5rem;
    padding-top: inherit;
    padding-bottom: inherit;
    padding-left: 0.25rem;
}

input[type="radio"] {
    height: initial;
    width: initial;
    appearance: revert;
    margin: revert;
    margin-top: -1px;
    vertical-align: middle;
}

.ui-widget {
    font-family: inherit;
}

.qtip-tipped {
    font-family: inherit;
}

.dx-treeview li {
    margin-bottom: revert;
    font-size: 14px;
    line-height: 0.5rem;
}

input.dx-texteditor-input:focus-visible {
    outline-style: none !important;
    --tw-ring-shadow: 0 0 #000 !important;
}

#funderTagBox.dx-texteditor.dx-state-focused.dx-editor-outlined {
    border-color: #2563eb !important;
    border-width: 2px !important;
    border-radius: 0px;
    outline-style: solid !important;
    outline-width: 2px !important;
    outline-offset: 4px !important;
    outline-color: #2563eb !important;
}
