#container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

#left {
    position: absolute;
    width: 25%;
    height: 100%;
}

#right {
    position: absolute;
    left: 25%;
    width: 75%;
    height: 100%;
}

#right .spinner {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -30px;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-row {
    display: table-row;
}

.display-table-cell {
    display: table-cell;
}

#pelagos-content table {
    border-collapse: collapse;
}

.awesome-icon {
    cursor: pointer;
}

img {
    display:inline-block;
}

