div.yr1-header {
    font-weight: bold;
    font-size: 135%;
    margin-top: 1em;
}

div.projects-header {
    color: black;
    font-weight: bold;
    font-size: 125%;
}

span.header-inst-name {
    color: #555;
    font-size: 85%;
}

a.download-pdf {
    font-size: 75%;
}


div.project {
    margin-top: 1em;
}

div.project:first-child {
    margin-top: 0.5em;
}

div.project-title {
    font-weight: bold;
    color: #004250;
    font-size: 110%;
    margin-bottom: 5px;
}

div.project-container {
    margin-left: 1em;
}

div.fundSrc,
div.pi,
div.institutions {
    margin-top: .15em;
    font-size: 85%;
}

span.attr {
    font-weight: bold;
}


table.datasets {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
    clear: both;
    page-break-after: always;
}

table.datasets th {
    border: 1px solid black;
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    font-size: 85%;
}

table.datasets td {
    border: 1px solid black;
    padding: 2px 5px;
}

table.datasets > tbody tr:hover td {
    background-color: #DFD;
}

table.datasets .udi {
    width: 8em;
    text-align: center;
    vertical-align: top;
}

table.datasets .status {
    width: 4em;
    text-align: center;
}

table.datasets .status img {
    vertical-align: middle;
}

table.datasets .status-totals table {
    width: 100%;
    border-collapse: collapse;
    margin: 3px 0px;
}
table.datasets .status-totals td {
    border: none;
    width: 33%;
    padding: 1px 0px;
    text-align: center;
}

table.datasets .status-totals img {
    vertical-align: middle;
}

table.datasets .details {
    cursor: pointer;
}

table.datasets a {
    text-decoration: none;
}

table.datasets .tablesorter-header {
    cursor: pointer;
}

table.datasets .sorter-false {
    cursor: default;
}

table.datasets .dataset-title {
    white-space: break-spaces;
}

table.datasets thead .tablesorter-headerAsc {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gIZEyEdQsj4mQAAAFJJREFUOMtjYBgFQwrs37+/fP/+/eWk6GEiwfAGBgaGDgYGhg4omyjASILh9WjCjY6Ojg0UW4DDcKItYaTAcKIsYaTQcIKWMFLBcJLiZBQMQwAAHF8k+vk2dOoAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position: right center;
}

table.datasets thead .tablesorter-headerDesc {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAQCAYAAAAMJL+VAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gIZEyEznh71VgAAAFFJREFUOMvt07EVgDAMA1ExmqdKSZjsVmMB48h08KLSxf3K0t7vd2RHYEo6m60rIqYFvEDSeAk0kMf4EjCQMm4BBbKM20CCWPH2gAGM/Xzf2g2huyNvQYJWcwAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: right center;
}

table.datasets thead .tablesorter-headerAsc.status {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gIaES4co2avQAAAAEtJREFUCNeNjLkNgDAAAy9r0XknepIadrrRQpNIEQKJayw/MgzUqdvqeRlUtat1zYtKEkZxAB0oQEtSVcp8GIMnLUkt6gnsfHPxhxuvoygqSdSqpgAAAABJRU5ErkJggg==');
    background-repeat: no-repeat;
    background-position: right top;
}

table.datasets thead .tablesorter-headerDesc.status {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3gIaES8XLa9HiQAAAEpJREFUCNeNyrENgDAQQ1GTsdJ5J9Jf6rDTHy0UKOiEBMKVbT3pRzZgSNo/zFFsN0n9BXTbrQCyHQnOBAK41ipAABOI/N9JsD7BCf8dJGKK3lKIAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position: right top;
}

div.nodata {
    margin-top: 0.75em;
    color: red;
}

div.spinner div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
}

.qtip-default {
    border-width: 2px;
}

.qtip-tipped .qtip-content {
    color: #222;
}

.dotchartcontainer{
    width: 100%;
    font-size: 11pt;
    stroke-width: 1;
}
.dotchart{
    width: 100%;
}
.circleColor_a{
    fill: #1b8d1b;
    stroke: #888;
}
.circleColor_r{
    fill: #fedc00;
    stroke: #aaa;
}
.circleColor_i{
    fill: #ddd;
    stroke: #aaa;
}
