/*For tooltip target element that has class="tooltip" */
span.tooltip {#36c;color: #36c; outline: none; cursor: help; text-decoration: none;}

/*For tooltip box*/
#mcTooltip {padding:20px;color:#333;line-height:16px;font-size: 12px; font-family: Verdana, Arial;}

/*Special effects*/
#mcTooltip 
{
    /*Following specified a rounded-corner. Note: Old IE browsers do not support it.*/
    -moz-border-radius:6px; -webkit-border-radius:6px; border-radius:6px; 
}

/*Close button. Only available when sticky or overlay has been set to true.*/
#mcttCloseButton 
{
    width:45px;height:13px;position:absolute;background-image:url(https://proteus.tamucc.edu/sites/all/themes/litejazz/images/info.png);cursor:pointer; overflow:hidden;
}            

/* Only applicable when overlay has been set to true.*/
#mcOverlay 
{
    background-color: black;
    -moz-opacity: 0.7; opacity:0.7; filter: alpha(opacity=70); 
    display:none;top:0;left:0;width:100%;height: 100%;overflow:visible;z-index:1001; 
}

/*Following settings should remain unchanged*/
#mcTooltipWrapper {position:absolute;visibility:hidden;overflow:visible;z-index:8888;}
#mcTooltip {float:left;position:relative; border-style:solid;}
#mcttCo {position:absolute;text-align:left;}
#mcttCo em, #mcttCo b {display:block; width:0; height:0;overflow:hidden;}
