[Twig]
twigDirectory = "/usr/share/pear/Twig"

[GOMRI_DB]
connstr = "pgsql:host=localhost;dbname=gomri;"
username = "my_username"
password = "my_password"

[RPIS_DB]
connstr = "mysql:host=localhost;dbname=gomri_rpis;"
username = "my_username"
password = "my_password7"

[Distributor]
Institution_Name = "Gulf of Mexico Research Initiative"
Email = "griidc@gomri.org"
Phone = "361-825-3604"
Fax = "361-825-2050"
Street1 = "6300 Ocean Drive"
Street2 = "Unit 5869"
City = "Corpus Christi"
State = "TX"
Zip = "78412-5869"
Country = "USA"
WebsiteURL = "https://data.gulfresearchintitiative.org"
WebsiteProtocol = "https"
