[Twig]
twigDirectory = "/usr/share/pear/Twig"

[Distributor]
Institution_Name = "Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC)"
Email = "griidc@gomri.org"
Phone = "+1-361-825-3604"
Fax = "+1-361-825-2050"
Street1 = "6300 Ocean Drive"
Street2 = "Unit 5869"
City = "Corpus Christi"
State = "TX"
PostalCode = "78412-5869"
Country = "USA"
WebsiteURL = "https://data.gulfresearchintitiative.org"
WebsiteProtocol = "https"
