<h2>Funding Organization Details</h2>

<form id="fundingOrganizationForm" entityType="FundingOrganization" entityId="{{entity.id}}">
    <label for="name">Name:</label>
    <input readonly type="text" id="name" name="name" size="100" value="{{entity.getName}}" required><br>
    <label for="emailAddress">E-Mail Address:</label>
    <input readonly type="text" id="emailAddress" name="emailAddress" size="100" value="{{entity.getEmailAddress}}"><br>
    <label for="description">Description:</label><br>
    <textarea readonly id="description" name="description" cols="100" rows="5">{{entity.getDescription}}</textarea><br>
    <label for="url">Website:</label>
    <input readonly type="text" id="url" name="url" size="100" value="{{entity.getUrl}}"><br>
    <label for="phoneNumber">Phone Number:</label>
    <input readonly type="text" id="phoneNumber" name="phoneNumber" size="100" value="{{entity.getPhoneNumber}}"><br>
    <label for="deliveryPoint">Delivery Point:</label><br>
    <textarea readonly id="deliveryPoint" name="deliveryPoint" cols="100" rows="5">{{entity.getDeliveryPoint}}</textarea><br>
    <label for="city">City:</label>
    <input readonly type="text" id="city" name="city" size="100" value="{{entity.getCity}}"><br>
    <label for="administrativeArea">Administrative Area:</label>
    <input readonly type="text" id="administrativeArea" name="administrativeArea" size="100" value="{{entity.getAdministrativeArea}}"><br>
    <label for="postalCode">Postal Code:</label>
    <input readonly type="text" id="postalCode" name="postalCode" size="100" value="{{entity.getPostalCode}}"><br>
    <label for="country">Country:</label>
    <input readonly type="text" id="country" name="country" size="100" value="{{entity.getCountry}}"><br>
    <span class="showOnEdit">
        <label for="logo">Logo:</label>
        <input name="logo" type="file" 
            base64="{{entity.serializeBinary(entity.getLogo).base64}}" 
            mimeType="{{entity.serializeBinary(entity.getLogo).mimeType}}">
        <br>

    </span>
    
</form>
    

