    <h2>Person Details</h2>
    <form id="personForm">
    
        <label for="firstName">Given Name:</label>
        <input readonly type="text" id="firstName" name="firstName" size="80" required><br>
        <label class="editable" for="lastName">Family Name:</label>
        <input readonly type="text" id="lastName" name="lastName" size="80" required><br>
        <label for="emailAddress">E-Mail Address:</label>
        <input readonly type="email" id="emailAddress" name="emailAddress" size="80" required><br>
        
    </form>

    
    <input>