<?php


define('GOMRI_DB_CONN_STRING','host=localhost port=5432 dbname=test user=test password=pw');

define('RPIS_DB_CONN_STRING','host=localhost;dbname=test');
define('RPIS_DB_USERNAME','user');
define('RPIS_DB_PASSWORD','pass');


?>
