[Unit]
Description=Control GRP consumers
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/local/bin/control-grp-consumers.sh start
ExecStop=/bin/bash /usr/local/bin/control-grp-consumers.sh stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
