{% extends "template/UI.html.twig" %}

{% block body %}
<h1>{{reportTitle|default('Research Group Report')}}</h1>
{{ form_start(form) }}
    {{ form_widget(form) }}
 {{ form_end(form) }}
{% endblock %}
