{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{
        add_library (
            [
                'ui.dialog'
            ]
        )
    }}

    {{
        add_js(
            [
                '//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.5/packaged/jquery.noty.packaged.min.js'
            ]
        )
    }}

    {% javascripts
        '@PelagosAppBundle/Resources/public/js/common.js'
        '@PelagosAppBundle/Resources/public/js/pelagosNoty.js'
        '@PelagosAppBundle/Resources/public/js/endReviewTool.js'
    %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

{% endblock %}


{% block body %}
    <h2> End review tool</h2>
        {% if app.session.flashbag %}
            {% for label, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="pelagosNoty" text="{{message}}" type="{{label}}"></div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
        <div id="confirmationText" style="display: none;">Are you sure you want to end review for the dataset</div>
{% endblock %}
