div.yr1-header {
    font-weight: bold;
    font-size: 135%;
    margin-top: 1em;
}

div.projects-header {
    color: black;
    font-weight: bold;
    font-size: 125%;
}

span.header-inst-name {
    color: #555;
    font-size: 85%;
}

a.download-pdf {
    font-size: 75%;
}


div.project {
    margin-top: 1em;
}

div.project:first-child {
    margin-top: 0.5em;
}

div.project-title {
    font-weight: bold;
    color: #004250;
    font-size: 110%;
    margin-bottom: 5px;
}

div.project-container {
    margin-left: 1em;
}

div.fundSrc,
div.pi,
div.institutions {
    margin-top: .15em;
    font-size: 85%;
}

span.attr {
    font-weight: bold;
}


div.task {
    margin-top: 1em;
    margin-left: 2em;
}

div.task-title {
    color: #005;
    font-size: 100%;
    font-weight: bold;
    page-break-after: avoid;
}

div.task-container {
    margin-left: 1em;
    page-break-before: avoid;
}



table.datasets {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-collapse: collapse;
    clear: both;
    page-break-after: always;
}

table.datasets th {
    border: 1px solid black;
    font-weight: bold;
    padding: 2px 5px;
    text-align: center;
    font-size: 85%;
}

table.datasets td {
    border: 1px solid black;
    padding: 2px 5px;
}

table.datasets > tbody tr:hover td {
    background-color: #DFD;
}

table.datasets .udi {
    width: 8em;
    text-align: center;
    vertical-align: top;
}

table.datasets .status {
    width: 4em;
    text-align: center;
}

table.datasets .status img {
    vertical-align: middle;
}

table.datasets .status-totals table {
    width: 100%;
    border-collapse: collapse;
    margin: 3px 0px;
}
table.datasets .status-totals td {
    border: none;
    width: 33%;
    padding: 1px 0px;
    text-align: center;
}

table.datasets .status-totals img {
    vertical-align: middle;
}

table.datasets .details {
    cursor: pointer;
}

table.datasets a {
    text-decoration: none;
}

table.datasets .tablesorter-header {
    cursor: pointer;
}

table.datasets .sorter-false {
    cursor: default;
}

table.datasets thead .tablesorter-headerAsc {
    background-image: url({{baseUrl}}/includes/images/ascending-ltgrey.png);
    background-repeat: no-repeat;
    background-position: right center;
}

table.datasets thead .tablesorter-headerDesc {
    background-image: url({{baseUrl}}/includes/images/descending-ltgrey.png);
    background-repeat: no-repeat;
    background-position: right center;
}

table.datasets thead .tablesorter-headerAsc.status {
    background-image: url({{baseUrl}}/includes/images/ascending-ltgrey-small.png);
    background-repeat: no-repeat;
    background-position: right top;
}

table.datasets thead .tablesorter-headerDesc.status {
    background-image: url({{baseUrl}}/includes/images/descending-ltgrey-small.png);
    background-repeat: no-repeat;
    background-position: right top;
}

div.nodata {
    margin-top: 0.75em;
    color: red;
}

div.spinner div {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -30px;
}

.qtip-default {
    border-width: 2px;
}

.qtip-tipped .qtip-content {
    color: #222;
}

.dotchartcontainer{
    width: 100%;
    font-size: 11pt;
    stroke-width: 1;
}
.dotchart{
    width: 100%;
}
.circleColor_a{
    fill: #1b8d1b;
    stroke: #888;
}
.circleColor_r{
    fill: #fedc00;
    stroke: #aaa;
}
.circleColor_i{
    fill: #ddd;
    stroke: #aaa;
}
