<div style="height:100%; width:100%; display:table-cell;">
    <div style="height:100%; width:100%; display:table;">
        <div style="display:table-row; height:100%;">
            <div style="display:table-cell; height:100%;">
                <div style="height:100%; width:100%; position:relative;">
                <div style="position:absolute; top:0px; right:0px; bottom:-1px; left:-1px; right:1px;">
                    <div style="height:100%; width:100%; display:table; padding:0px; border-bottom-left-radius:0; border-bottom-right-radius:0;" id="cattabs">
                        <ul>
                            <li><a href="#_dataset_for_">Dataset For</a></li>
                            <li><a href="#_dataset_type_">Dataset Type</a></li>
                            <li><a href="#_dataset_procedure_">Dataset Procedure</a></li>
                        </ul>
                        <div id="_dataset_for_" style="display:table-row;">
                            <div style="display:table-cell; height:100%;">
                                {% set category_type = 'dataset_for' %}
                                {% include 'html/category_type.html' %}
                            </div>
                        </div>
                        <div id="_dataset_type_" style="display:table-row;">
                            <div style="display:table-cell; height:100%;">
                                {% set category_type = 'dataset_type' %}
                                {% include 'html/category_type.html' %}
                            </div>
                        </div>

                        <div id="_dataset_procedure_" style="display:table-row;">
                            <div style="display:table-cell; height:100%;">
                                {% set category_type = 'dataset_procedure' %}
                                {% include 'html/category_type.html' %}
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div style="display:table-row;">
            <div style="display:table-cell;">
                <div id="categories_legend">
                    <div style="display:table-row; height:100%;">
                        {% for range in size_ranges %}
                            <div class="legend-cell">
                                <div class="legend-item" style="background-color:{{range.color}};">{{range.label}}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
