<script>
    var base_url = '{{baseUrl}}';
    var categories = {{ categories | json_encode | raw }};
    var pie_conf = {
            series: {
                pie: {
                    show: true,
                    stroke: false,
                    label: false
                }
            },
            colors: {{ size_range_colors | json_encode | raw }},
            legend: { show: false }
        };
    var page = '{{page}}';
    var type = '{{type}}';
</script>
{% if page and type %}
    {% include "html/" ~ page ~ "/" ~ type ~ ".html" %}
{% else %}
    <div id="stats-tabs">
        {% include "html/overview.html" %}
    </div>
{% endif %}
<form id="download_image_form" method="post" action="/data-uri-filename" style="display:none">
    <input id="download_image_filename" type="hidden" name="filename" value="download.png"/>
    <input id="download_image_data" type="hidden" name="data" value=""/></form>
</form>
<div id="section_canvas_div">
</div>
