<div style="display: table-cell; height:100%;">
    <div class="stats-overview" style="margin-bottom: -10px;">
        <div class="stats-overview-row">

            {% include "html/overview/total-records-over-time.html" %}

        </div>
    </div>
    <div class="stats-overview">

        <div class="stats-overview-row">

            <div class="stats-overview-cell stats-section">
                <div style="height:100%; width:100%; display:table;">
                    <div style="display:table-row;">
                        <div class="caption" style="display:table-cell;">Dataset Size Ranges<br><span style="font-size:75%">(number of datasets)</span></div>
                    </div>
                    <div style="display:table-row; height:100%">
                        <div style="display:table-cell; width:100%; height:100%;">
                            <div style="height:100%; width:100%; display:table; border-spacing:0px;">
                                <div style="display:table-row; height:100%">
                                    <div style="display:table-cell; width:100%; height:100%;">
                                        <div id="dataset-size-ranges" style="width:100%; height:100%;"></div>
                                    </div>
                                </div>
                                <div style="display:table-row;">
                                    <div style="display:table-cell; width:100%;">
                                        <div id="dataset-size-ranges-legend"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="program-resources" class="stats-overview-cell stats-section">
                <div style="height:100%; width:100%; display:table;">
                    <div style="display:table-row;">
                        <div class="caption" style="display:table-cell;">Program Resources</div>
                    </div>
                    <div style="display:table-row;">
                        <div style="display:table-cell;">
                            <table>
                                <tr>
                                    <td>
                                        <img src="{{base_path}}/static/images/icon-datasets.png">
                                        <div class="count">{{datasetCount}}</div>
                                        <div class="label">Datasets</div>
                                    </td>
                                    <td>
                                        <img src="{{base_path}}/static/images/icon-institutions.png">
                                        <div class="count">{{ris.institutions_count}}</div>
                                        <div class="label">Institutions</div>
                                    </td>
                                    <td>
                                        <img src="{{base_path}}/static/images/icon-projects.png">
                                        <div class="count">{{ris.projects_count}}</div>
                                        <div class="label">Projects</div>
                                    </td>
                                    <td>
                                        <img src="{{base_path}}/static/images/icon-researchers.png">
                                        <div class="count">{{ris.researchers_count}}</div>
                                        <div class="label">Researchers</div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
