<div style="display: table-cell; height:100%;">
    <div id="stats-overview">

        <div class="stats-overview-row">

            {% include "html/overview/summary-of-records.html" %}

            {% include "html/overview/total-records-over-time.html" %}

            <div class="stats-section stats-overview-cell">
                <div style="height:100%; width:100%; display:table;">
                    <div style="display:table-row;">
                        <div class="caption" style="display:table-cell;">Total Size Over Time</div>
                    </div>
                    <div style="display:table-row;">
                        <div style="display:table-cell; width:100%; height:100%;">
                            <div id="total-size-over-time" style="width:100%; height:100%;"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="stats-overview-row">

            <div class="stats-overview-cell stats-section">
                <div style="height:100%; width:100%; display:table;">
                    <div style="display:table-row;">
                        <div class="caption" style="display:table-cell;">Dataset Size Ranges<br><span style="font-size:75%">(number of datasets)</span></div>
                    </div>
                    <div style="display:table-row;">
                        <div style="display:table-cell; height:100%; width:100%; text-align:center;">
                            <div id="dataset-size-ranges" style="width:100%; height:100%;"></div>
                        </div>
                    </div>
                    <div style="display:table-row;">
                        <div style="display:table-cell; text-align:center;">
                            <div id="categories_legend" style="border-spacing:5px; margin-bottom:-5px;">
                                <div style="display:table-row; height:100%;">
                                    {% for range in size_ranges %}
                                        <div class="legend-cell">
                                            <div class="legend-item" style="background-color:{{range.color}}; font-size:9px;">{{range.label}}</div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="research-details" class="stats-overview-cell stats-section">
                <div style="height:100%; width:100%; display:table;">
                    <div style="display:table-row;">
                        <div class="caption" style="display:table-cell;">Research Details</div>
                    </div>
                    <div style="display:table-row;">
                        <div style="display:table-cell">
                            <table class="counts" style="width:100%;">
                                <tr>
                                    <td><span class="research-label">Projects:</span> {{ris.projects_count}}</td>
                                    <td><span class="research-label">Tasks:</span> {{ris.tasks_count}}</td>
                                    <td><span class="research-label">Researchers:</span> {{ris.researchers_count}}</td>
                                    <td><span class="research-label">Institutions:</span> {{ris.institutions_count}}</td>
                                    <td><span class="research-label">Countries:</span> {{ris.countries_count}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="display:table-row;">
                        <div style="display:table-cell; height:100%; vertical-align:middle; border:1px solid #ccc;">
                            <div id="researcher_map" style="height:100%; width:100%; background-color:white;"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
