{% block subject 'New dataset file for ' ~ datasetSubmission.dataset.udi %}

{% block body_html %}
A new dataset file for {{ datasetSubmission.dataset.udi }} has been submitted:<br>
<br>
Submitter: {{ datasetSubmission.submitter.firstName }} {{ datasetSubmission.submitter.lastName }}<br>
File Name: {{ datasetSubmission.datasetFileName }}<br>
File Size: {{ datasetSubmission.datasetFileSize|formatBytes }}<br>
UDI: {{ datasetSubmission.dataset.udi }}<br>
Dataset Title: {{ datasetSubmission.dataset.title }}<br>
Research Group: {{ datasetSubmission.dataset.researchGroup.name }}<br>
{% endblock %}

{% block body_text %}
A new dataset file for {{ datasetSubmission.dataset.udi }} has been submitted:

Submitter: {{ datasetSubmission.submitter.firstName }} {{ datasetSubmission.submitter.lastName }}
File Name: {{ datasetSubmission.datasetFileName }}
File Size: {{ datasetSubmission.datasetFileSize|formatBytes }}
UDI: {{ datasetSubmission.dataset.udi }}
Dataset Title: {{ datasetSubmission.dataset.title }}
Research Group: {{ datasetSubmission.dataset.researchGroup.name }}
{% endblock %}
