{% block subject %}
    GRIIDC Dataset {{ datasetSubmission.dataset.udi }} Submission
{% endblock %}

{% block body_html %}
    Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},<br>
    <br>
    The Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) has received your dataset submission {{ datasetSubmission.dataset.udi }}.
    The dataset landing page is <a href="{{ url('pelagos_app_ui_dataland_default', { 'udi': datasetSubmission.dataset.udi}) }}">{{url('pelagos_app_ui_dataland_default', { 'udi': datasetSubmission.dataset.udi})}}</a>.<br>
    This dataset has been assigned the doi: {{datasetSubmission.dataset.doi.doi}}.<br><br>
    The dataset package will be reviewed by GRIIDC.<br><br>
    If you have any questions regarding this dataset submission please email griidc@gomri.org.<br>
    <br>
    Thank you,<br>
    The GRIIDC Team<br>
{% endblock %}

{% block body_text %}
Dear {{ recipient.getFirstName }} {{ recipient.getLastName }},

    The Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) has received your dataset submission {{ datasetSubmission.dataset.udi }}. The dataset landing page is The dataset landing page is {{  url('pelagos_app_ui_dataland_default', { 'udi': datasetSubmission.dataset.udi}) }}.
    This dataset has been assigned the doi: {{datasetSubmission.dataset.doi.doi}}.

    The dataset package will be reviewed by GRIIDC.

    If you have any questions regarding this dataset submission please email griidc@gomri.org.

Thank you,
The GRIIDC Team
{% endblock %}
