div.details {
    display: none;
    padding: 5px;
    margin-top: 10px;
}

div.details div.attr {
    margin-bottom: .5em;
}

div.details span.attr {
    font-weight: bold;
}

div.details span.remote {
    font-weight: bold;
    color: #A00;
}
