.card-product {
    margin-bottom: 1rem;
}

.card-product:hover .btn-overlay {
    opacity: 1;
}

.card-product:hover {
    box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    transition: .5s;
    cursor: pointer;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}
