.leaflet-control-zoom-in span,
.leaflet-control-zoom-out span {
    color: black
}

.leaflet-control-zoom-in:focus span,
.leaflet-control-zoom-in:hover span,
.leaflet-control-zoom-out:focus span,
.leaflet-control-zoom-out:hover span {
    color: black;
}

.leaflet-bar a {
    background-color: rgba(255, 255, 255, 0.8);
}

.leaflet-bar a:hover,
.leaflet-bar a:focus {
    background-color: rgba(255, 255, 255, 0.8);
}
