@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

:root {
    --color-blue--geyser:#dce4e8;
    --color-blue--bali-hai:#869eaa;
    --color-blue--surf:#00b7c6;
    --color-blue--blueboy:#61a2d8;
    --color-blue--carolina:#50a0bb;
    --color-blue--boston:#3a85b3;
    --color-blue--bahama:#005991;
    --color-blue--rhine:#13465e;
    --color-blue--blueBird:#043751;
    --color-blue--imperial:#003f5c;
    --color-brown--tan:#f1efe8;
    --color-brown--bone:#f3f1eb;
    --color-brown--merino:#e1dace;
    --color-brown--sand:#ddd5c7;
    --color-brown--wood:#bc9b6a;
    --color-green--iguana:#73af7a;
    --color-green--forest:#1d7b5c;
    --color-red--garnet:#a93344;
    --color-yellow--pure:#f6d200;
    --color-yellow--gold:#dcaf27;
    --color-neutral--white:#fff;
    --color-neutral--white-lilac:#eee;
    --color-neutral--pastel:#ccc;
    --color-neutral--dusty:#767676;
    --color-neutral--granite:#666;
    --color-neutral--jet:#333;
    --color-neutral--charcoal:#222;
    --color-neutral--black:#000;
    --box-shadow--charcoal:rgba(34,34,34,0.25);
    --color-society--sciences:#ab840d;
    --color-society--engineering:#005991;
    --color-society--medicine:#1d7b5c;
    --type-font--fallback:-apple-system,"BlinkMacSystemFont","Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Open Sans","Helvetica Neue",sans-serif;
    --type-font--lato:"Lato",var(--type-font--fallback);
    --type-size--huge:1.375rem;
    --type-size--intro:1.3rem;
    --type-size--small:.8em;
    --type-size--1:1.375rem;
    --type-size--2:1.5rem;
    --type-size--3:1.25rem;
    --type-size--4:1rem;
    --type-size--5:.75rem;
    --type-size--6:.625rem;
    --lato--light:300;
    --lato--regular:400;
    --lato--bold:700;
    --lato--black:900;

    --body-fonts: var(--type-font--lato);
    --main-fonts: var(--type-font--lato);

    --baseFontSize:          15px;
    --baseFontFamily:        var(--body-fonts);
    --baseLineHeight:        1.533em;
    --altFontFamily:         var(--main-fonts);

    --headingsFontFamily:    inherit;
    --headingsFontWeight:    bold;
    --headingsColor:         inherit;
    --altHeadingsFontFamily: var(--altFontFamily);

    --weightRegular: 400;
    --weightBold: 700;

    --headerHeight: 110px;
    --color-header: var(--color-brown--tan);

    --color-teal: #004250;
    --color-lightBlue: #c2deea;
    --color-pink: #ffbdaf;
    --color-grey: #ebebeb;
    --color-darkGrey: #252525;
    --color-white: #fff;
    --color-black:#000;
    --color-gradientStart: #022f3a;
    --color-gradientEnd: #4f6e74;

    --color-error: #8c2e0b;

    --color-headerTop: var(--color-brown--tan);
    --color-headerMiddle: var(--color-blue--boston);
    --color-headerBottom:var(--color-blue--blueBird);

    --color-main: var(--color-blue--blueBird);
    --color-menu: var(--color-blue--boston);

    --atlassion-button-main: var(--color-blue--blueBird);
    --atlassion-button-bg: var(--color-blue--boston);
}
