.bg {
    background-color: #f8f8f8 !important;
}

article:after, .form-group:after {
    display: block;
    clear: both;
    content: "";
}

.card-group-item {
    border-bottom: 1px solid #dee2e6;
}

.card-header .title {
    margin-bottom: 0;
    line-height: 1.5;
}

.title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 200px;
    display: inline-block;
}

.btn-space {
    margin-right: 5px;
}

label {
    font-weight: normal !important;
}

div.bootstrap .custom-select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
