body {height:100%}

html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--body-fonts);
    font-size: 15px;
    font-weight: 400;
    color: var(--color-black);
    line-height: 23px;
    margin: 0 8px;
}

#page-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

#logo-wrapper {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 225px;
}

#name-and-slogan {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 388.33333px;
}

#griidc-logo-wrapper {
    padding-left: 81.66667px;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 225px;
}

#content-wrapper {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 960px;
}

.container, .block.footer_links .content {
    margin-left: auto;
    margin-right: auto;
    width: 980px;
}

h1 {
    font-family: inherit;
    font-size: 1.733em;
    font-weight: 400;
    color: var(--color-darkGrey);
}

h2 {
    font-family: var(--body-fonts);
    font-size: 1.467em;
    font-weight: 400;
    color: var(--color-main);
    margin-top: 1.25em;
    margin-bottom: 1em;
}

label {
    display: block;
    font-weight: bold;
}

div.error, .error {
    color: var(--color-error);
}

p {
    margin-bottom: 1.5em;
}

a.extlink:after {
    background: url('../images/extlink.png') no-repeat 0 0;
    background-size: contain;
    content: '';
    display: inline-block;
    height: 1em;
    margin-left: 3px;
    width: 1em;
}

#page-wrapper {
    background-color: var(--color-white);
    overflow-x: hidden;
}

div#header {
    height: var(--headerHeight);
    background-color: var(--color-header);
}
div#header .region-header {
    background-color: var(--color-headerTop);
    height: 18px;
    text-align: right;
    padding: 2px 10px 8px;
}
div#header .region-header a {
    font-family: var(--main-fonts);
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-main);
}
div#header #logo-wrapper {
    position: relative;
    top: -11px;
}
div#header #name-and-slogan {
    font-family: var(--main-fonts);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.25em;
    margin-left: 0;
    padding: 20px 0;
}
div#header #griidc-logo-wrapper {
    padding-top: 14px;
    margin-right: 0;
    text-align: right;
    padding-left: 84px;
}

#navigation {
    width: 100%;
    background-color: var(--color-main);
}
#navigation:before {
    background-color: var(--color-headerMiddle);
    content: '';
    display: block;
    height: 18px;
}
#navigation:after {
    display: block;
    height: 0;
    content: '';
    clear: both;
}

#breadcrumb {
    display: none;
}

#main-wrapper {
    background-color: var(--color-grey);
}

#content-wrapper {
    margin-top: 34px;
    padding-bottom: 45px;
}
#content-wrapper > .column {
    padding: 0 34px;
}

#content-bottom {
    background-color: var(--color-grey);
}
#content-bottom .leading-by-example {
    padding: 30px 20px;
    height: 100px;
}
#content-bottom .leading-by-example h2 {
    margin-top: 12px;
    font-family: var(--body-fonts);
    font-weight: 100;
    text-align: center;
    font-size: 26px;
    line-height: 1em;
    margin-bottom: 12px;
}
#content-bottom .leading-by-example .content {
    padding-left: 245px;
    padding-right: 245px;
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 470px;
    text-align: center;
}
#content-bottom .leading-by-example .content p {
    margin: 0;
}

.sidebar-first #main-wrapper {
    background: white url('../images/bg-interior.gif') repeat-y 4px top;
}

#block-pelagos-menu-1 .content {
    position: relative;
    float: left;
    left: 50%;
}
#block-pelagos-menu-1 .content #pelagos-menu-1 {
    position: relative;
    left: -50%;
}

#outer-container {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
}

#outer-container > div {
    display: table-row;
}

#outer-container > div > div {
    display: table-cell;
}

#page-content {
    display: table;
    width: 100%;
}

#page-content > div {
    display: table-row;
}

#page-content > div > div {
    display: table-cell;
}

#main-content {
    display: table;
    margin: 0 auto;
    width: 100%;
}

#main-content > div {
    display: table-row;
}

#main-content > div > div {
    display: table-cell;
}

#filter input {
    font-size: 16px;
}

.ui-tabs .ui-tabs-nav li a {
    font-size: 12px;
}

.ui-widget {
    font-size: 12px !important;
    line-height: 18px !important;
}

#geowizBtn {
    font-size: larger !important;
}

.page-pelagos-full {
    /* Full Window */
    /* layout */
    /* main area */
}

.page-pelagos-full div#main-wrapper {
    /* height: 100% */
}

.page-pelagos-full div#content-main,
.page-pelagos-full div#content-main .section,
.page-pelagos-full div#content-wrapper,
.page-pelagos-full div#main,
.page-pelagos-full div#page,
.page-pelagos-full div#page-wrapper {
    height: 100%;
}
.page-pelagos-full div#page-wrapper {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.page-pelagos-full #main-wrapper {
    background: #fff;
}
.page-pelagos-full #content-main {
    height: 100%;
}
.page-pelagos-full #content-wrapper {
    margin: 0;
    padding: 0px;
    width: 100%;
    display: block;
    float: none;
}
.page-pelagos-full #content-wrapper > .column {
    padding: 0px;
}
.page-pelagos-full #main-wrapper {
    width: 100%;
}
.page-pelagos-full #main-wrapper.opened {
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 15px;
    height: 98% !important;
    z-index: 1000;
}
.page-pelagos-full #main-wrapper.opened .pelagos-full .open,
.page-pelagos-full #main-wrapper .pelagos-full .close {
    display: none;
}
.page-pelagos-full #main-wrapper.opened .pelagos-full .close,
.page-pelagos-full #main-wrapper .pelagos-full .open {
    display: block;
}
.page-pelagos-full #main-wrapper .pelagos-full {
    text-align: center;
    font-weight: 600;
    cursor: pointer;
    color: var(--color-main);
    font-size: 0.875em;
    width: 100%;
    margin-bottom: -22px;
}

.page-pelagos-full #outer-container {
    height: 100%;
}
.page-pelagos-full #main-cell,
.page-pelagos-full #main-content,
.page-pelagos-full .region-content,
.page-pelagos-full #block-system-main,
.page-pelagos-full #block-system-main > div,
.page-pelagos-full #page-outer-wrapper,
.page-pelagos-full #page-inner-wrapper,
.page-pelagos-full #page-content {
    height: 100%;
}

#pelagos-menu-1 a, #pelagos-menu-1 span.nolink {
    background: var(--color-main);
    color: var(--color-white);
    display: block;
    padding: 6px 21px;
    text-decoration: none;
    font-weight: 100;
    font-family: var(--main-fonts);
    font-size: 14px;
    text-transform: uppercase;
    border: none;
}

#pelagos-menu-1 ul.menu li li a:link, #pelagos-menu-1 ul.menu li li a:visited, #pelagos-menu-1 ul.menu li li span {
    color: var(--color-white);
    border-right: 0;
    font-weight: normal;
    line-height: 24px;
}

#pelagos-menu-1 {
    float: left;
    line-height: 28px;
    background: var(--color-main);
    margin-bottom: 0;
}
#pelagos-menu-1 .block {
    margin-bottom: 0;
    padding-bottom: 0;
    padding: 0;
}
#pelagos-menu-1 .box {
    padding: 0;
}
#pelagos-menu-1 h2 {
    display: none;
}

#pelagos-menu-1 a > .sf-sub-indicator, #pelagos-menu-1 span.nolink > .sf-sub-indicator {
    top: 1em;
}
#pelagos-menu-1 span {
    cursor: default;
}
#pelagos-menu-1 span:active {
    background: var(--color-main);
}
#pelagos-menu-1 li {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    height: 1%;
}
#pelagos-menu-1 li > ul > li {
    border-top: 1px solid var(--color-menu);
}
#pelagos-menu-1 li > ul > li a {
    text-transform: capitalize;
}
#pelagos-menu-1 > li.menuparent > a, #pelagos-menu-1 > li.menuparent > span {
    padding-right: 25px;
}
#pelagos-menu-1 .separator hr {
    height: 0;
    margin: 1px 0 0;
    border: 0;
}
#pelagos-menu-1 ul.menu {
    padding: 0;
    list-style: none;
    z-index: 3;
    display: inline;
}
#pelagos-menu-1 ul.menu ul {
    padding: 0;
    list-style: none;
    background: var(--color-main);
}
#pelagos-menu-1 ul.menu li ul {
    position: absolute;
    width: 230px;
    left: -999em;
}
#pelagos-menu-1 ul.menu li li {
    float: left;
    width: 230px;
}
#pelagos-menu-1 ul.menu li li a {
    text-transform: capitalize;
}

#pelagos-menu-1 ul.menu li li span:hover,
#pelagos-menu-1 ul.menu li li span:active,
#pelagos-menu-1 ul.menu li li a:active,
#pelagos-menu-1 ul.menu li li a:hover {
    background: var(--color-menu);
    text-decoration: none;
}

#pelagos-menu-1 ul.menu li li.expanded ul {
    margin: -25px 0 0 230px;
}

#pelagos-menu-1 a:active, #pelagos-menu-1 span.nolink:active,
#pelagos-menu-1 ul.menu li li.expanded ul.menu a,
#pelagos-menu-1 ul.menu li li.expanded ul.menu span {
    background: var(--color-main);
}

#pelagos-menu-1 ul.menu li li.expanded ul.menu span:active,
#pelagos-menu-1 ul.menu li li.expanded ul.menu span:hover,
#pelagos-menu-1 ul.menu li li.expanded ul.menu a:hover,
#pelagos-menu-1 ul.menu li li.expanded ul.menu a:active,
#pelagos-menu-1 a:hover, #pelagos-menu-1 span.nolink:hover {
    background: var(--color-menu);
}

#pelagos-menu-1 ul.menu li li.expanded ul.menu li.expanded a,
#pelagos-menu-1 ul.menu li li.expanded ul.menu li.expanded span,
#pelagos-menu-1 ul.menu li li.expanded a,
#pelagos-menu-1 ul.menu li li.expanded span {
    background: var(--color-main) url("../images/menu_arrow.png") 100% 50% no-repeat;
}
#pelagos-menu-1 ul.menu li li.expanded ul.menu li.expanded a:active,
#pelagos-menu-1 ul.menu li li.expanded ul.menu li.expanded a:hover,
#pelagos-menu-1 ul.menu li li.expanded ul.menu li.expanded span:active,
#pelagos-menu-1 ul.menu li li.expanded ul.menu li.expanded span:hover,
#pelagos-menu-1 ul.menu li li.expanded span:active,
#pelagos-menu-1 ul.menu li li.expanded span:hover,
#pelagos-menu-1 ul.menu li li.expanded a:active,
#pelagos-menu-1 ul.menu li li.expanded a:hover {
    background: var(--color-menu) url("../images/menu_arrow.png") 100% 50% no-repeat;
}

#pelagos-menu-1 ul.menu li li li:hover ul,
#pelagos-menu-1 ul.menu li li li.sfhover ul,
#pelagos-menu-1 ul.menu li li:hover ul,
#pelagos-menu-1 ul.menu li li.sfhover ul {
    left: auto;
}

#pelagos-menu-1 ul.menu li:hover ul ul,
#pelagos-menu-1 ul.menu li:hover ul ul ul,
#pelagos-menu-1 ul.menu li.sfhover ul ul,
#pelagos-menu-1 ul.menu li.sfhover ul ul ul {
    left: -999em;
}

table.datasets td {
    padding: 10px !important;
}

.dx-header-filter {
    color: rgba(0, 0, 0, 1)!important;
}

.dx-header-filter-empty{
    color: rgba(149,149,149,.5)!important;
}

#ui-datepicker-div {
    z-index: 100 !important;
}

.olMapViewport {
    z-index: 99 !important;
}