<h3>Publications associated with {{ fundingCycle.name }}</h3>

{% for publication in publications %}
    {% if publication.doi is not empty %}
        <a href="https://doi.org/{{ publication.doi }}" target="_blank" class="block">
    {% endif %}
    <div class="publication p-4 rounded-lg mb-4 border-black shadow-lg">
        <p>{{ publication.citationText|default }}</p>
    </div>
    {% if publication.doi is not empty %}
        </a>
    {% endif %}
{% endfor %}
