templatePath = "../templates/"

[journal_rejected]
description = "When a Journal is Rejected"
mail_template_filename = "../templates/journalRejected_eMail.html"
subject="GRIIDC Journal Rejected"
action="sendmail"

[dif_saved_and_submitted]
description = "When a DIF is Saved & Submitted"
mail_template_filename = "../templates/difSavedSubmitted_eMail.html"
subject="GRIIDC DIF Submitted"
action="emaildm"

[dif_approved]
description = "When a DIF is Approved"
mail_template_filename = "../templates/difApproved_eMail.html"
subject="GRIIDC DIF Approved"
action="emaildm"

[dataset_registration_submitted]
description = "When a dataset is submitted"
mail_template_filename = "../templates/dsSubmitted_eMail.html"
subject="GRIIDC Dataset Registration Submitted"
action="emaildm"

[dataset_registration_updated]
description = "When a dataset is updated"
mail_template_filename = "../templates/dsUpdated_eMail.html"
subject="GRIIDC Dataset Registration Updated"
action="emaildm"

[dif_saved_but_not_submitted]
description = "When a DIF is Saved but NOT Submitted"
mail_template_filename = "../templates/difSavedOnly_eMail.html"
subject="GRIIDC DIF Created"
action="emaildm"

[dif_unlock_request_approved]
description = "When the DIF Unlock Request is approved"
mail_template_filename = "../templates/difUnlockApproved_eMail.html"
subject="GRIIDC DIF Unlocked"
action="emaildm"

[doi_requested]
description = "When a DOI is Requested (And Issued?)"
mail_template_filename = "../templates/doiRequested_eMail.html"
subject="GRIIDC DOI Requested"
action="emaildm"

[account_requested]
description = "When an account is requested"
mail_template_filename = "../templates/acctRequest_eMail.html"
subject="GRIIDC Account Requested"
action="emaildm"

[account_request_approved]
description = "When an account is approved"
mail_template_filename = "../templates/acctApproved_eMail.html"
subject="GRIIDC Approval for Account Request"
action="emaildm"

[dif_unlock_requested]
description = "When the DIF Unlock is requested"
mail_template_filename = "../templates/difUnlockRequested_eMail.html"
subject="GRIIDC DIF Unlock Request"
action="emaildm"

[doi_approved]
description = "When a DOI is Issued"
mail_template_filename = "../templates/doiApproved_eMail.html"
subject="GRIIDC DOI Issued"
action="emaildm"
