<fieldset>
    <legend>Dataset Information</legend>
    <table class="tab-table">
        <tr>
            <td>
                {{ form_row(form.title) }}
            </td>
            <td>
                <span class="field-help">
                    Name by which the cited resource is known. It is recommended the title include (where applicable) a description of the data, a date or date range, and geographic area.
                <span class="field-help">
            </td>
        </tr>
        <tr>
            <td>
                <label for="CIT2_DataIdent">Short Title</label>
                <input value="" type="text" id="CIT2_DataIdent" size="80" name="">
            </td>
            <td>
                <span class="field-help">
                    Short name or other language name by which the cited information is known.
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="DATE1_DataIdent">Date</label>
                <input value="" class="required dateISO hasDatepicker" type="text" id="DATE1_DataIdent" name="" size="10"><button type="button" class="ui-datepicker-trigger">...</button></td>
            <td>
                <span class="field-help">
                    Reference date for the cited dataset. This date can refer to dataset creation, publication, or revision. Format should be YYYY-MM-DD.
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="DATECode_DataIdent"><em>*</em>Date Type</label>
                <select class="required" id="DATECode_DataIdent" value="publication">
                    <option value="">[Please Select Date Type]</option>
                    <option value="creation">Creation</option>
                    <option selected="" value="publication">Publication</option>
                    <option value="revision">Revision</option>
                </select>
            </td>
            <td>
                <span class="field-help">
                    Creation: Date identifies when the resource was brought into existence.<br>
                    Publication: Date identifies when the resource was issued.<br>
                    Revision: Date identifies when the resource was examined or re-examined and improved or amended.<br>
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ form_row(form.abstract) }}
            </td>
            <td>
                <span class="field-help">
                    Brief narrative summary of the dataset's contents.
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="MDD2_DataIdent"><em>*</em>Purpose</label>
                <textarea name="__purpose" class="required"></textarea></td>
            <td>
                <span class="field-help">
                    Summary of the intentions for which the dataset was developed.
                </span>
            </td>
        </tr>
        <tr>
            <td>
                {{ form_row(form.doi) }}
            </td>
            <td>
                <span class="field-help">
                    If your dataset has been issued a DOI from another repository or archive, please provide it here.<br>
                    Please note that this field is for <strong>dataset</strong> DOIs only, as publication DOIs are recorded elsewhere.
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="MDD5a_DataIdent"><em>*</em>Supplemental Information - Data Parameters and Units</label>
                <textarea></textarea>
                </td><td>
                <span class="field-help">
                    Descriptive Information about the Data Parameters and Units.
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="MDD5b_DataIdent">Supplemental Information - Methods</label>
                <textarea></textarea>
            </td>
            <td>
                <span class="field-help">
                    Descriptive Information about the methods used.
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="MDD5c_DataIdent">Supplemental Information - Instruments</label>
                <textarea></textarea>
            </td>
            <td>
                <span class="field-help">
                    Descriptive Information about the instruments and equipment used.
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="MDD5d_DataIdent">Supplemental Information - Sampling Scales and Rates</label>
                <textarea></textarea>
            </td>
            <td>
                <span class="field-help">
                    Descriptive Information about the sampling spatial and temporal scales and rates.
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="MDD5e_DataIdent">Supplemental Information - Error Analysis</label>
                <textarea></textarea>
            </td>
            <td>
                <span class="field-help">
                    Descriptive Information about the error analysis.
                </span>
            </td>
        </tr>
        <tr>
            <td>
                <label for="MDD5f_DataIdent">Supplemental Information - Provenance and Historical References</label>
                <textarea></textarea>
            </td>
            <td>
                <span class="field-help">
                    Descriptive Information about the provenance, historical data, key information packaged elsewhere.
                </span>
            </td>
        </tr>
    </table>
</fieldset>