<fieldset>
	This section collects technical details related to the distribution of the dataset. Provides GRIIDC and future researchers the means to evaluate the means needed to download and read the dataset.
</fieldset>
<fieldset>
    <legend>Format</legend>
    <table class="tab-table">
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Name of the data transfer format, e.g. CSV, Excel Spreadsheet, ASCII TXT, netCDF, GRIB, HDF5, TIFF, etc
					</div>
				</span>
                {{ form_row(form.distributionFormatName) }}
            </td>
        </tr>
        <tr>
            <td>
				<span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
					<img class="info" src="{{ asset_url }}">
					{% endimage %}
					<div class="tooltiptext">
						Description of recommended processes or algorithms to apply to the compressed resource.
					</div>
				</span>
                {{ form_row(form.fileDecompressionTechnique) }}
            </td>
        </tr>
    </table>
</fieldset>