<fieldset>
    <legend>Data Extent</legend>
    <fieldset>
    This section collects information describing the spatial and temporal extent of the dataset contents. Provides GRIIDC and future researchers the means to search for datasets by location and/or time. Some datasets may not have relevant a location or time (ex. lab simulations); a short explanation is provided in these cases.
    </fieldset>

    <table class="tab-table">

    <input hidden id="EX0" type="checkbox" />

        <tr id="BPL1_row">
            <td valign="top">
                <div id="nonspatial" style="display:none;width:500px;margin:15px;">
                    <label for="cgeoloc"><b>Study Area Description: </b></label>
                    <textarea rows="5" style="width:100%;"></textarea>
                </div>
                <div id="spatial">
                    <label for="cgeoloc"><b><em>*</em>Spatial Extent </b></label>
                    <div>
                        <div style="width:500px;height:300px;" id="smlMDEMap"></div>
                    </div>
                    <textarea hidden name="gmd:polygons"></textarea>
                    
                </div>
            </td>
            <td>
                <div id="spatwizbtn"></div>
            </td>
        </tr>
        <div id="geoWizard" style="width:100%;height:100%;"></div>

        
        <tr id="TM1_row"><td>
            <label for="TM1"><em>*</em>Time Period Description</label>
            <input class="required" type="text" id="TM1" size="80" name="gml-description"/></td>
        <td>
            <span class="field-help">
                Text description of the dates documented below. This field has two possible values <b><i>'ground condition'</i></b> or <b><i>'modeled period'</i></b>.<i>'Ground condition'</i> means the data represent the actual condition of things on the ground during the time period specified. <i>'Ground condition'</i> may be used to characterize data generated from a sample collection in the field when samples are subsequently analyzed in a laboratory. <i>'Modeled period'</i> means that data represent simulated conditions during the time period, and may be used to characterize data generated using a computational model.
            </span>
        </td></tr>
        
        <tr id="TM2_row"><td>
            <label for="TM2"><em>*</em>Start Date</label>
            <input class="required starttime" type="text" id="TM2" name="gml-beginPosition"/></td>
        <td>
            <span class="field-help">
                The beginning date of the content of the dataset. Format should be YYYY-MM-DD
            </span>
        </td></tr>
        
        <tr id="TM3_row"><td>
            <label for="TM3"><em>*</em>End Date</label>
            <input class="required endtime" type="text" id="TM3" name="gml-endPosition"/></td>
        <td>
            <span class="field-help">
                The ending date of the content of the dataset. Format should be YYYY-MM-DD
            </span>
        </td></tr>
        

    </table>

</fieldset>
