{% extends "PelagosAppBundle::layout.html.twig" %}

{% block head %}
    {{
        add_library (
            [
                'ui.datepicker',
                'ui.dialog',
                'ui.tabs',
                'ui.widget',
            ]
        )
    }}

    {{
        add_css (
            [
                '//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css',
                '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css',
                '//cdnjs.cloudflare.com/ajax/libs/file-uploader/5.11.8/fine-uploader-new.min.css',
                '//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css',
                '//cdn.datatables.net/select/1.0.1/css/select.dataTables.min.css'
            ]
        )
    }}

    {% stylesheets
        '@PelagosAppBundle/Resources/public/css/fileBrowser.css'
        '@PelagosAppBundle/Resources/public/css/dataset-submission.css'
        '@PelagosAppBundle/Resources/public/css/dataset-submission-uploader.css'
    %}
        {{ add_css(asset_url) }}
    {% endstylesheets  %}

    {{
        add_js(
            [
                '//cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.5/packaged/jquery.noty.packaged.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js',
                '//cdnjs.cloudflare.com/ajax/libs/file-uploader/5.11.8/jquery.fine-uploader/jquery.fine-uploader.min.js',
                '//maps.google.com/maps/api/js?v=3&key=' ~ google_maps_api_key,
                '//cdn.datatables.net/1.10.7/js/jquery.dataTables.js',
                '//cdn.datatables.net/select/1.0.1/js/dataTables.select.min.js',
            ]
        )
    }}

    {% javascripts
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
        '@PelagosAppBundle/Resources/public/js/common.js'
        '@PelagosAppBundle/Resources/public/js/fileBrowser.js'
        '@PelagosAppBundle/Resources/public/js/geoviz.js'
        '@PelagosAppBundle/Resources/public/js/mapWizard.js'
        '@PelagosAppBundle/Resources/public/js/dataset-submission.js'
        '@PelagosAppBundle/Resources/public/js/datasetsWithApprovedDifs.js'
    %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

    {{ add_js(path('fos_js_routing_js', { callback: 'fos.Router.setData' })) }}

    {% include 'PelagosAppBundle:DatasetSubmission:uploader-template.html.twig' %}

{% endblock %}

{% block body %}

<h1>Dataset Submission{% if datasetSubmission is not null %} for {{ datasetSubmission.dataset.udi }}{% endif %}</h1>

{% if udi is null %}
    {% include 'PelagosAppBundle:DatasetSubmission:form.html.twig' %}
{% else %}
    {% if dataset is null %}
        <div class="messages warning">
            <h2 class="element-invisible">Status message</h2>
            Sorry, the dataset with Unique Dataset Identifier (UDI) {{ udi }} could not be found. Please email <a href="mailto:griidc@gomri.org?subject=REG Form">griidc@gomri.org</a> if you have any questions.
        </div>
        {% include 'PelagosAppBundle:DatasetSubmission:form.html.twig' %}
    {% elseif dataset.dif.status == constant('Pelagos\\Entity\\DIF::STATUS_SUBMITTED') %}
        <div class="messages warning">
            <h2 class="element-invisible">Status message</h2>
            The DIF has not yet been approved for dataset: {{ udi }}. Please email <a href="mailto:griidc@gomri.org?subject=REG Form">griidc@gomri.org</a> if you have any questions.
        </div>
        {% include 'PelagosAppBundle:DatasetSubmission:form.html.twig' %}
    {% elseif dataset.dif.status == constant('Pelagos\\Entity\\DIF::STATUS_UNSUBMITTED') %}
        <div class="messages warning">
            <h2 class="element-invisible">Status message</h2>
            The DIF has not yet been submitted for dataset: {{ udi }}. Please email <a href="mailto:griidc@gomri.org?subject=REG Form">griidc@gomri.org</a> if you have any questions.
        </div>
        {% include 'PelagosAppBundle:DatasetSubmission:form.html.twig' %}
    {% elseif not is_granted('CAN_CREATE', datasetSubmission) and not is_granted('CAN_EDIT', datasetSubmission) %}
        <div class="messages warning">
                <h2 class="element-invisible">Status message</h2>
                Sorry, but you can only create or edit dataset submissions for datasets associated with your research groups.
        </div>
        {% include 'PelagosAppBundle:DatasetSubmission:form.html.twig' %}
    {% elseif datasetSubmission.status == constant('Pelagos\\Entity\\DatasetSubmission::STATUS_COMPLETE')
              and (
                   datasetSubmission.datasetFileTransferStatus == constant('Pelagos\\Entity\\DatasetSubmission::TRANSFER_STATUS_NONE')
                   or (
                       datasetSubmission.datasetFileTransferStatus == constant('Pelagos\\Entity\\DatasetSubmission::TRANSFER_STATUS_COMPLETED')
                       and datasetSubmission.datasetFileSha256Hash is empty
                   )
              )
    %}
        <div class="messages warning">
            <h2 class="element-invisible">Status message</h2>
            The previous Dataset Submission for {{ udi }} is still being processed. Please try again later.
        </div>
        {% include 'PelagosAppBundle:DatasetSubmission:form.html.twig' %}
    {% else %}
        {% for error in xmlStatus.errors %}
        <div class="messages warning">
            <h2 class="element-invisible">Status message</h2>
            {{error}}
        </div>
        {% endfor %}
        {% if xmlStatus.success %}
        <div class="messages status">
            <h2 class="element-invisible">Status message</h2>
            Successfully imported XML.
        </div>
        {% endif %}
        {% if xmlStatus.success is null and  datasetSubmissionLockStatus == true %}
        <div class="messages warning">
            <h2 class="element-invisible">Status message</h2>
            Dataset Identifier <b>'{{ udi }}'</b> was found. The latest version has been loaded.
            This dataset is locked. Please contact griidc@gomri.org if revisions are required.
        </div>
        {% elseif xmlStatus.success is null %}
        <div class="messages status">
            <h2 class="element-invisible">Status message</h2>
            Dataset Identifier <b>'{{ udi }}'</b> was found. The latest version has been loaded.
        </div>
        {% endif %}
        {% include 'PelagosAppBundle:DatasetSubmission:submission-form.html.twig' %}
    {% endif %}
{% endif %}

<div class="modal" id="spinner"></div>
<div style="display:none;">
    {% image '@PelagosAppBundle/Resources/public/images/x.png' %}
        <img id="imgwarning" src="{{ asset_url }}">
    {% endimage %}
    {% image '@PelagosAppBundle/Resources/public/images/check.png' %}
        <img id="imgcheck" src="{{ asset_url }}">
    {% endimage %}
</div>
{% endblock %}
