{{ form_start(xmlForm) }}
    <div style="display:none;">
        {{ form_widget(xmlForm.xmlFile) }}
    </div>
{{ form_end(xmlForm, {'render_rest': false}) }}

{{ form_start(form, {'attr': {'id': 'regForm'}}) }}
{% set distPoint = form.distributionPoints | first %}
    <div id="metatoolbar" class="ui-widget-header ui-corner-all toolbarbutton">
        <button type="button" id="btn-upload" title="This button will allow you to populate tabs with information from a Valid ISO 19115-2 file in xml format from your computer.">Import ISO Metadata XML File</button>
        <button type="button" id="btn-save" title="This button saves the information you have entered into the form but does not submit the information to GRIIDC.">Save and Continue later</button>
    </div>

    <fieldset>
        <div style="background: transparent;" id="dtabs">
            <ul>
                <li>
                    <a class="dstablink" href="#ds-contact">Dataset Contact</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-information">Dataset Information</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-keywords">Keywords</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-extent">Data Extent</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-submit">Submit</a>
                </li>
            </ul>

            <fieldset>
                <i><b>NOTE:</b> Fields with <span class="emRequired"/> are required.</i>
            </fieldset>

            <div id="ds-contact" class="ds-metadata">
                {% include 'PelagosAppBundle:DatasetSubmission:dataset-contact.html.twig' %}
            </div>

            <div id="ds-information" class="ds-metadata">
                {% include 'PelagosAppBundle:DatasetSubmission:dataset-information.html.twig' %}
            </div>

            <div id="ds-keywords" class="ds-metadata">
                {% include 'PelagosAppBundle:DatasetSubmission:keywords.html.twig' %}
            </div>

            <div id="ds-extent" class="ds-metadata">
                {% include 'PelagosAppBundle:DatasetSubmission:extent.html.twig' %}
            </div>

            <div id="ds-metadata-contact">
                {% include 'PelagosAppBundle:DatasetSubmission:distribution-contact.html.twig' %}
            </div>

            <div id="ds-metadata-contact">
                {% include 'PelagosAppBundle:DatasetSubmission:metadata-contact.html.twig' %}
            </div>

            <div id="ds-submit">
                {% include 'PelagosAppBundle:DatasetSubmission:file-submit.html.twig' %}
            </div>
        </div>
    </fieldset>

{{ form_end(form, {'render_rest': false}) }}

    <div id="navtoolbar" class="ui-widget-header ui-corner-all toolbarbutton">
        <table width="100%" id="navbuttons">
            <tr>
                <td width="50%">
                    <button type="button" id="btn-previous">Previous</button>
                </td>
                <td width="50%">
                    <button type="button" id="btn-next">Next</button>
                </td>
            </tr>
        </table>
    </div>
