<form id="xmlUpload" method="post" enctype="multipart/form-data" action="{{ path('pelagos_app_ui_datasetsubmission_postxmluri', { 'udi': udi } ) }}">
    <div>
        <button type="button" id="btn-xml-button">Prefill from XML file/URL.</button>
        <input type="file">
    </div>
</form>

{{ form_start(form, {'attr': {'id': 'regForm'}}) }}
    <div id="metatoolbar" class="ui-widget-header ui-corner-all toolbarbutton">
        <button type="button" id="btn-save">Save and Continue later</button>
    </div>

    <fieldset>
        <div style="background: transparent;" id="dtabs">
            <ul>
                <li>
                    <a class="dstablink" href="#ds-contact">Dataset Contact</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-information">Dataset Information</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-keywords">Keywords</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-extent">Data Extent</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-distribution">Distribution Info</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-metadata-contact">Metadata Contact</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-submit">Submit</a>
                </li>
            </ul>

            <fieldset>
                <i><b>NOTE:</b> Fields with <span class="emRequired"/> are required.</i>
            </fieldset>

            <div id="ds-contact">
                {% include 'PelagosAppBundle:DatasetSubmission:dataset-contact.html.twig' %}
            </div>

            <div id="ds-information">
                {% include 'PelagosAppBundle:DatasetSubmission:dataset-information.html.twig' %}
            </div>

            <div id="ds-keywords">
                {% include 'PelagosAppBundle:DatasetSubmission:keywords.html.twig' %}
            </div>

            <div id="ds-extent">
                {% include 'PelagosAppBundle:DatasetSubmission:extent.html.twig' %}
            </div>

            <div id="ds-distribution">
                {% include 'PelagosAppBundle:DatasetSubmission:distribution-info.html.twig' %}
            </div>

            <div id="ds-metadata-contact">
                {% include 'PelagosAppBundle:DatasetSubmission:metadata-contact.html.twig' %}
            </div>

            <div id="ds-submit">
                {% include 'PelagosAppBundle:DatasetSubmission:file-submit.html.twig' %}
            </div>
        </div>
    </fieldset>

    <div id="navtoolbar" class="ui-widget-header ui-corner-all toolbarbutton">
        <table width="100%" id="navbuttons">
            <tr>
                <td width="50%">
                    <button type="button" id="btn-previous">Previous</button>
                </td>
                <td width="50%">
                    <button type="button" id="btn-next">Next</button>
                </td>
            </tr>
        </table>
    </div>
{{ form_end(form, {'render_rest': false}) }}
