{% extends "PelagosAppBundle::layout.ui.html.twig" %}

{% block body %}
<div class="messages warning alert alert-warning">
    <h2 class="element-invisible">Warning message</h2>
    <i class="fas fa-exclamation-triangle"></i>
    This resource is only available to Data Repository Managers.
</div>

{% endblock %}
