{% extends "PelagosAppBundle::layout.html.twig" %}

{% block body %}
<div class="messages warning">
    <h2 class="element-invisible">Warning message</h2>
    This resource is only available to Data Repository Managers.
</div>

{% endblock %}
