<div id="main">
    <p><h1>The dataset for <font color='red'>{{ dataset.udi }}</font> is now available as <font color='red'>{{ dataset.datasetSubmission.datasetFileName }}</font> in the gomri#griidc repository.</h1>
    </p>
    <p>If you are not familiar with GridFTP, please visit <a href="http://globus.org" target="_new">http://globus.org</a>
and establish a user account.  If you do not already have a GridFTP endpoint,
the <i>Globus Connect Personal</i> software is available for download on the same site for all major platforms.</p>
</div>
