<div id="main">
    <p>
        <h2>The dataset for {{ dataset.udi }} is available for direct download as:</h2>
        <a href="{{ downloadUrl }}">{{ downloadUrl }}</a>
    </p>
    <p>
        <a href="{{ downloadUrl }}"><button onclick="closeSplashScreen();">Start Download</button></a>
    </p>
</div>
