<section class="section-content pt-3 bg">
    <div class="container">
        <div class="row">
            <article class="card card-product">
                <div class="card-body text-center">
                    <h5 class="card-title">
                        GRIIDC Data Sets
                    </h5>
                    <p class="card-text">
                        Choose from hundreds of scientific data sets, focusing on the cryosphere and its interactions. Data are from satellites and field observations, and are from NASA, NSF, NOAA, and other programs.
                        All data are free of charge
                    </p>
                </div>
            </article>
        </div>
    </div>
</section>
