<section class="section-content bg pt-5">
    <div class="container">
        <div class="row d-flex flex-row justify-content-center">
            <h3 data-content="{{ count }}" id="count">
                Found {{ count }} results for: "{{ query }}"
            </h3>
        </div>
    </div>
</section>

<section class="section-content bg padding-y">
    <div class="container">
        <div class="row">
            {% include 'Search/facets.html.twig' %}
            <main class="col-sm-9 overflow-auto">
                {% for result in results %}
                    {% include 'Search/dataset-row.html.twig'  %}
                {% endfor %}
            </main>
        </div>
    </div>
</section>

<nav aria-label="Bootstrap 4 Navigation" class="bg justify-content-center" style="margin-bottom: 100px;" id="search-pagination">

</nav>
