<!-- ========================= SECTION CONTENT ========================= -->

<section class="section-content bg pt-5">
    <div class="container">
        <div class="row d-flex flex-row justify-content-center">
            <h3 data-content="{{ count }}" id="count">
                Found {{ count }} results for: "{{ query }}"
            </h3>
        </div>
    </div>
</section>

<section class="section-content bg padding-y">
    <div class="container">
        <div class="row">
            {% include 'Search/facets.html.twig' %}
            <main class="col-sm-9 overflow-auto">
                {% for result in results %}
                    {% include 'Search/dataset-row.html.twig'  %}
                {% endfor %}
            </main>
        </div>
    </div>
</section>

<!-- ========================= NAVIGATION ========================= -->
<nav aria-label="Bootstrap 4 Navigation" class="bg justify-content-center" style="margin-bottom: 100px;">

    <ul class="pagination justify-content-center">

        <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Prev</a></li>

        <li class="page-item"><a class="page-link" href="#">1</a></li>

        <li class="page-item"><a class="page-link" href="#">2</a></li>

        <li class="page-item"><a class="page-link" href="#">3</a></li>

        <li class="page-item"><a class="page-link" href="#">4</a></li>

        <li class="page-item"><a class="page-link" href="#">5</a></li>

        <li class="page-item"><a class="page-link" href="#">6</a></li>

        <li class="page-item"><a class="page-link" href="#">7</a></li>

        <li class="page-item"><a class="page-link" href="#">Next</a></li>

    </ul>

</nav>
<!-- ========================= NAVIGATION========================= -->

<!-- ========================= SECTION CONTENT END// ========================= -->