<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Symfony 4 with Vue.js</title>
    {{ encore_entry_link_tags('search-app') }}
</head>
<body>
    <div id="app"></div>
    {{ encore_entry_script_tags('search-app') }}
</body>
</html>
