{% if dataset.datasetSubmission|default %}

    {% set showExtent = false %}
    {% set showExtentDescription = false %}

    {# datasetSubmission has an extent description and does not have a temporal extent. Presence of beginPosition or endPosition constitutes a temporal extent. #}
    {# Display the extent description. #}
    {% if dataset.datasetSubmission.spatialExtentDescription|default and not (dataset.datasetSubmission.temporalExtentBeginPosition|default or dataset.datasetSubmission.temporalExtentEndPosition|default) %}
        {% set showExtentDescription = true %}
    {% endif %}

    {# datasetSubmission has a temporal extent and does not have at extent description. #}
    {# Display the temporal extent. #}
    {% if (dataset.datasetSubmission.temporalExtentBeginPosition|default or dataset.datasetSubmission.temporalExtentEndPosition|default) and not dataset.datasetSubmission.spatialExtentDescription|default %}
        {% set showExtent = true %}
    {% endif %}

    {# datasetSubmission has both an extent description and a temporal extent and extent contains a gmd:geograpicElement. #}
    {# Display the temporal extent. #}
    {% if (dataset.datasetSubmission.temporalExtentBeginPosition|default or dataset.datasetSubmission.temporalExtentEndPosition|default) and dataset.datasetSubmission.spatialExtentDescription|default and dataset.geometry|default %}
        {% set showExtent = true %}
    {% endif %}

    {# datasetSubmission has both an extent description and a temporal extent and extent does not contain a gmd:geograpicElement. #}
    {# Display the extent description. #}
    {% if (dataset.datasetSubmission.temporalExtentBeginPosition|default or dataset.datasetSubmission.temporalExtentEndPosition|default) and dataset.datasetSubmission.spatialExtentDescription|default and not dataset.geometry|default %}
        {% set showExtentDescription = true %}
    {% endif %}
    {% if showExtent == true %}

        {% if not dataset.datasetSubmission.temporalExtentBeginPosition|date('Y-m-d') |default %}
            {% set begin = 'N/A' %}
        {% else %}
            {% set begin = dataset.datasetSubmission.temporalExtentBeginPosition|date('Y-m-d') %}
        {% endif %}

        {% if not dataset.datasetSubmission.temporalExtentEndPosition|date('Y-m-d') |default %}
            {% set end = 'N/A' %}
        {% else %}
            {% set end = dataset.datasetSubmission.temporalExtentEndPosition|date('Y-m-d') %}
        {% endif %}

        <div class="py-2">
            <div class="card text-center text-light">
                <div class="card-header bg-chart-primary">
                    Data Collection Period
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="card-text text-dark text-wrap col">{{ begin }}</div>
                    </div>
                    <div class="row">
                        <div class="card-text text-dark text-wrap col">to</div>
                    </div>
                    <div class="row">
                        <div class="card-text text-dark text-wrap col">{{ end }}</div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}
