{% include 'Dataland/v2/download-card.html.twig' %}

<div class="py-2">
    <div class="card text-center text-light">
        <div class="card-header bg-chart-primary">
            Project Information
        </div>
        <div class="card-body">
            <p class="card-text text-dark">
                <u>Funded By:</u> <br>
                <span>{{ dataset.researchGroup.fundingCycle.fundingOrganization.shortName }}</span>
                <span>{{ dataset.researchGroup.fundingCycle.name }}</span>
            </p>
            <p class="card-text text-dark">
                <u>Research Group:</u> <br>
                <span>{{ dataset.researchGroup.shortName }}</span>
            </p>
        </div>
    </div>
</div>
{% include 'Dataland/v2/point-of-contact.html.twig' %}
{% include 'Dataland/v2/collection-period-card.html.twig' %}
<div class="py-2">
    <div class="card text-center text-light">
        <div class="card-header bg-chart-primary">
            Theme keywords
        </div>
        <div class="card-body">
            <p class="card-text text-dark">
                {% set keywords = [] %}
                {% for keyword in dataset.datasetSubmission.themeKeywords %}
                    {% set keywords = keywords|merge([keyword|trim('"')]) %}
                {% endfor %}
                {{ keywords|join(', ') }}
            </p>
        </div>
    </div>
</div>
