{% if dataset.availabilityStatus == constant('App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE')
    or dataset.availabilityStatus == constant('App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE_REMOTELY_HOSTED') %}
    <div class="py-2">
        <div class="card text-center text-light">
            <div class="card-header bg-chart-primary">
                Files
            </div>
            <div class="card-body">
                <div id="download-zip" data-id="{{ dataset.id }}"></div>
                <hr>
                <p class="card-text text-dark">
                    <strong>No. of Downloads: </strong><br>
                    {{ downloads }}
                </p>
            </div>
        </div>
    </div>
{% endif %}
