{% if dataset.datasetStatus == constant('App\\Entity\\Dataset::DATASET_STATUS_ACCEPTED') %}
    <div class="py-2">
        <div class="card text-center text-light">
            <div class="card-header bg-chart-primary">
                ISO 19115-2 Metadata
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" id="metadata-download" data-udi="{{ dataset.udi }}">
                    <i class="fas fa-download"></i>
                    Download Metadata
                </button>
                <hr>
                <a href="" id="metadata-link" data-udi="{{ dataset.udi }}">
                    <img style="display:inline;" src="{{ asset('build/images/up-right-arrow-icon.svg') }}">
                    &nbsp;
                    View Metadata
                </a>
            </div>
        </div>
    </div>
{% endif %}
