<div>
    <span class="badge badge-itemtype">Dataset</span>
    {% if dataset.availabilityStatus == constant("App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_NOT_AVAILABLE") %}
        <span class="badge badge-identified">Identified</span>
    {% elseif dataset.availabilityStatus == constant("App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PENDING_METADATA_SUBMISSION")
        or dataset.availabilityStatus == constant("App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PENDING_METADATA_APPROVAL") %}
        <span class="badge badge-submitted">Submitted</span>
    {% elseif dataset.availabilityStatus == constant("App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_RESTRICTED_REMOTELY_HOSTED")
        or dataset.availabilityStatus == constant("App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_RESTRICTED") %}
        <span class="badge badge-restricted">Restricted</span>
    {% elseif dataset.availabilityStatus == constant("App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE_REMOTELY_HOSTED")
        or dataset.availabilityStatus == constant("App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE") %}
        <span class="badge badge-available">Available</span>
    {% endif %}
    {% if dataset.availabilityStatus == constant("App\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE_REMOTELY_HOSTED") %}
        <span class="badge badge-remotlyhosted">Remotely Hosted</span>
    {% endif %}
    {% if dataset.datasetSubmission and dataset.datasetSubmission.isDatasetFileInColdStorage %}
        <span class="badge badge-coldstorage">Cold Storage</span>
    {% endif %}
    {% if dataset.datasetSubmission and dataset.datasetSubmission.erddapUrl %}
        <span class="badge badge-erddap">ERDDAP</span>
    {% endif %}
    {% if dataset.datasetSubmission.nceiUrl|default %}
        <span class="badge badge-ncei">NCEI</span>
    {% endif %}
</div>
