{% extends '@EasyAdmin/crud/edit.html.twig' %}

{% block page_actions %}
    {{ parent() }}

    <button type="submit"
            class="btn btn-secondary"
            form="edit-{{ ea.entity.name }}-form"
            name="dif_transition"
            value="submit">
        <i class="fa fa-arrow-up"></i> Submit
    </button>

    <button type="submit"
            class="btn btn-secondary"
            form="edit-{{ ea.entity.name }}-form"
            name="dif_transition"
            value="approve">
        <i class="fa fa-check"></i> Approve
    </button>

    <button type="submit"
            class="btn btn-secondary"
            form="edit-{{ ea.entity.name }}-form"
            name="dif_transition"
            value="unlock">
        <i class="fa fa-unlock"></i> Unlock
    </button>
{% endblock %}
