{% block subject '[GRIIDC] DIF Submitted' %}

{% block body_html %}
Dear DIF Approver(s),<br /><br />
Please review DIF: <a href="{{ url('pelagos_app_ui_dif_default') }}?id={{ dif.dataset.udi }}">{{ dif.dataset.udi }}</a>.<br />
<br />
Thank you,<br />The GRIIDC Team<br />
{% endblock %}

{% block body_text %}
Dear DIF Approver(s),

Please review DIF: {{ url('pelagos_app_ui_dif_default') }}?id={{ dif.dataset.udi }}

Thank you,
The GRIIDC Team
{% endblock %}
