Dear {{dm.firstName}} {{dm.lastName}},<br>
<br>
This email is being sent to notify you that {{data.user.FirstName}} {{data.user.LastName}} has completed the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) account creation process. {{data.user.FirstName}} {{data.user.LastName}} is a member of {{ data.user.RCs | join(', ') }}.<br>
<br>
Thank you,<br>
<br>
The GRIIDC Team<br>
<br>
*You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research Initiative Research Consortium. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
