Dear {{dm.firstName}} {{dm.lastName}},<br>
<br>
This email is to notify you that a Dataset Information Form (DIF) has been created by {{data.user.firstName}} {{data.user.lastName}}. The DIF {{data.udi}} has been saved, but has not yet been submitted to the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) for review and approval. {{data.user.firstName}} {{data.user.lastName}} is a member of {{ data.user.RCs | join(', ') }} and the dataset is associated with {{rcbyudi.Title}}.<br>
<br>
Thank you,<br>
<br>
The GRIIDC Team<br>
<br>
*You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research Initiative Research Consortium. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*

