Dear {{dm.firstName}} {{dm.lastName}},<br>
<br>
The Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) has approved the request for a Digital Object Identifier (DOI) for the URL <a href="{{data.doi.url}}">{{data.doi.id}}</a>. This request was submitted by {{data.user.FirstName}} {{data.user.LastName}} who is a member of {{ data.user.RCs | join(', ') }}.
<br>
Thank you,<br>
<br>
The GRIIDC Team<br>
<br>
*You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research Initiative Research Consortium. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
