Dear {{dm.FirstName}} {{dm.LastName}},<br>
<br>
A registration form has been submitted to the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) by {{user.FirstName}} {{user.LastName}} for the dataset {{UDI}}. {{user.FirstName}} {{user.LastName}} is a member of {{list of all Research Consortia researcher is associated with}} and the dataset is associated with {{name of Research Consortium that dataset is registered for}}.<br>
<br>
Thank you,<br>
<br>
The GRIIDC Team<br>
<br>
*You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research Initiative Research Consortium. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
