Dear {{dm.FirstName}} {{dm.LastName}},<br>
<br>
A registration form for the dataset {{UDI}} has been updated in the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) system by {{user.FirstName}} {{user.LastName}}. {{user.FirstName}} {{user.LastName}} is a member of {{list of all Research Consortia researcher is associated with}} and the dataset is associated with {{name of Research Consortium that dataset is updated for}}.<br>
<br>
Thank you,<br>
<br>
The GRIIDC Team<br>
<br>
*You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research Initiative Research Consortium. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
