Dear {{dm.FirstName}} {{dm.LastName}},<br>
<br>
A registration form for the dataset {{data.udi}} has been updated in the Gulf of Mexico Research Initiative Information and Data Cooperative (GRIIDC) system by {{data.user.FirstName}} {{data.user.LastName}}. {{data.user.FirstName}} {{data.user.LastName}} is a member of {% for rc in rcbyuserid %}{{ rc.Title|join(',') }}{% endfor %} and the dataset is associated with {% for rc in rcbyudi %}{{ rc.Title|join(',') }}{% endfor %}.<br>
<br>
Thank you,<br>
<br>
The GRIIDC Team<br>
<br>
*You are receiving this email because you are identified as a data manager for a Gulf of Mexico Research Initiative Research Consortium. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
