Dear {{user.firstName}} {{user.lastName}},<br>
<br>
Thank you for your proposed submission of {{data.journalname}} to be included in the Gulf of Mexico Research Initiative Information & Data Cooperative (GRIIDC) journal list.<br>
GRIIDC staff have reviewed your proposed submission. Unfortunately, at this time, GRIIDC is unable to include {{data.journalname}} in the journal list because {{data.rejectreason}}. If you have any questions or concerns please contact <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.<br>
<br>
Sincerely,<br>
<br>
The GRIIDC Team<br>
<br>
*You are receiving this email because you are associated with the Gulf of Mexico Research Initiative Research Consortium. If you believe you should not be receiving this email please notify <a href="mailto:griidc@gomri.org">griidc@gomri.org</a>.*
