[exclude]
funds[] = 6

tasks[] = "administration"
tasks[] = "management"
tasks[] = "data management"
tasks[] = "education and outreach"

[tree]
show_counts = 0
; Depth Levels
;
; 0 => Research Award (with RFP-I), Researcher, Institution
; 1 => Project
; 2 => Task
; 3 => Dataset

label = "List by:"
theme = "classic"
dots = "true"
icons = "false"
animation = 250
max_depth = 3
expand_to_depth = 0
init_type = "ra"
init_open = "['YR1','projects_fundSrc_7']"
include_datasets = "identified"
show_other_sources = false

yr1_top = true

yr1_folder_color = "black"
yr1_folder_action = ""

yr1_color = "black"
yr1_action = ""

rfp_color = "black"
rfp_action = ""

project_color = "black"
project_action = ""

task_color = "black"
task_action = ""

dataset_color = "black"
dataset_action = ""

researcher_color = "black"
researcher_action = ""

institution_color = "black"
institution_action = ""

other_sources_folder_color = "black"
other_sources_folder_action = ""

other_sources_color = "black"
other_sources_action = ""

other_sources_label = "Other Sources"
