<h2>Publications:</h2>
<div class="pubcite">
    {% for datasetPublication in dataset.datasetPublications %}
        {% set doi = datasetPublication.publication.doi %}
        <p>
            <a href="http://dx.doi.org/{{ doi }}" target="_blank">
                {{ datasetPublication.publication.citationText }}
            </a>
        </p>
        {% endfor %}
</div>
