label {
    display: inline;
}

input {
    -webkit-transition: border-color 250ms ease-in 0ms;
    transition: border-color 250ms ease-in 0ms;
    border: 1px solid rgba(255,255,255,0);
    margin: 1px;
}

.formfield.inactive {
    
}

.formfield.active {
    border: 1px solid #aaa;
}

.editableForm {
    position: relative;
}

.innerForm {
    position: absolute;
    left: -10px;
    right: -10px;
    top: -10px;
    bottom: -10px;
    
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: box-shadow 150ms ease-in 0ms;
    transition: box-shadow 150ms ease-in 0ms;
    border-radius: 2.01px;
    display: inline-block;
    max-width: 100%;
    box-shadow: 0 0 0 0 transparent;
}

.innerForm:hover{
    box-shadow: 0 0 0 3px #ccc;
}


.innerForm:hover::after {
    display:inline;
    background-image: url("/pelagos/dev/mvde/static/images/user_edit.png");
    content: "";
    height: 32px;
    width: 32px;
    background-color: #fff;
    border: 3px solid #ccc;
    position: absolute;
    right: -3px;
    bottom: -3px;
}



    


