#dataset_details {
    position: fixed;
    background-color: white;
    display: none;
    border: 2px solid black;
    padding: 5px;
    width: 50%;
    top: 30%;
    left: 25%;
    margin-top: 10px;
    z-index: 1000;
}

#dataset_details_close {
    float: right;
    margin-top: -3px;
    margin-right: -3px;
    margin-left: 5px;
}

#dataset_details div.attr {
    margin-bottom: .5em;
}

#dataset_details span.attr {
    font-weight: bold;
}
