a {
    text-decoration: none;
    color: black;
}

div.projects-header {
    font-size: 90%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px;
}

div.project-title {
    font-size: 85%;
}

div.fundSrc,
div.pi,
div.institutions {
    font-size: 75%;
}

div.nodata {
    font-size: 80%;
}

table.datasets th {
    font-size: 65%;
    padding: 1px 2px;
}

table.datasets td {
    font-size: 75%;
}

table.datasets td.udi {
    font-size: 75%;
    width: 7em;
}

div.tooltip-note {
    display: none;
}
