#menu {
    clear: both;
    margin: 0 10px 0 0;
    height: 100%;
    border: 1px solid #888;
}

#menu .viewport {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    margin-left: 5px;
    padding-right: 15px;
}

#menu .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 20px 5px 0;
    margin: 0;
    margin-right: 20px;

}

#content {
    clear: both;
    height: 100%;
    border: 1px solid #888;
}

#content .viewport {
    height: 100%;
    overflow: auto;
    position: relative;
}

#content .overview {
    list-style: none;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
    margin: 0;
    right: 0;
}
