 <div class="stats-overview-cell stats-section">
    <div style="height:100%; width:100%; display:table;">
        <div style="display:table-row;">
            <div class="caption" style="display:table-cell;">Dataset Size Ranges<br><span style="font-size:75%">(number of datasets)</span></div>
        </div>
        <div style="display:table-row; height:100%">
            <div style="display:table-cell; width:100%; height:100%;">
                <div style="height:100%; width:100%; display:table; border-spacing:0px;">
                    <div style="display:table-row; height:100%">
                        <div style="display:table-cell; width:100%; height:100%;">
                            <div id="dataset-size-ranges" style="width:100%; height:100%;"></div>
                        </div>
                    </div>
                    <div style="display:table-row;">
                        <div style="display:table-cell; width:100%;">
                            <div id="dataset-size-ranges-legend"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>