<div class="stats-section stats-overview-cell" style="position:relative;" id="total-records-over-time-section">
    <div style="height:100%; width:100%; display:table;">
        <div style="display:table-row;">
            <div class="caption" style="display:table-cell;">Total Datasets Over Time</div>
        </div>
        <div style="display:table-row;">
            <div style="display:table-cell; width:100%; height:100%;">
                <div id="total-records-over-time" style="width:100%; height:100%;"></div>
            </div>
        </div>
    </div>
</div>
