.fund {
    padding-left: 20px;
}

.project {
    padding-left: 20px;
}

.proj_roles {
    padding-left: 20px;
}

.proj_role {
    padding-left: 20px;
}

.tasks {
    padding-left: 20px;
}

.task {
    padding-left: 20px;
}

.task_roles {
    padding-left: 20px;
}

.task_role {
    padding-left: 20px;
}
