	.tab-desc
	{
		border:solid 2px #aaa;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright:5px;
		-moz-border-radius-bottomleft:5px;
		-moz-border-radius-bottomright:5px;
		-webkit-border-top-left-radius:5px;
		-webkit-border-top-right-radius:5px;
		-webkit-border-bottom-left-radius:5px;
		-webkit-border-bottom-right-radius:5px;
		border-top-left-radius:5px;
		border-top-right-radius:5px;
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
		padding:10px;
	}


	.qtip-content{
		font-size: 14px;
		line-height: 1.2em;
	}

	table.altrowstable {
		font-family: verdana,arial,sans-serif;
		font-size:11px;
	}

	table.altrowstable td {
		border-width: 1px;
		padding: 5px;
		border-style: solid;
		border-color: #a9c6c9;
	}
	.oddrowcolor{
		background-color:#98AAAF;
	}
	.evenrowcolor{
		background-color:#C6D0D2;
	}

	input[type=text]
	{

	}
	input[type=text]:focus
	{
		background-color: #FFFFCC;
	}

	textarea:focus
	{
	background-color: #FFFFCC;
	}

	pre
	{
		width:400px;
		white-space: pre-wrap;
	}

	em
	{
		color:red;
		font-weight:bold;
		font-style:italic;
	}

	select:focus
	{
	background-color: #FFFFCC;
	}

	label:not(.button)
    	{
		font-weight: bold;
		display: block;
    }
    /*label:not(.button):after {content:": "}*/


	select {width:250px}

	.toolbarbutton{font-size:1.2em;}

	#metatoolbar
	{
        padding: 4px;
        display: inline-block;
        font-size: 12px;
	}

	#helptext
	{
		text-align:center;
		color:red;
	}

	.option_hover { background-color: #c8c8c8; }

	#loadfrm
	{
		position:fixed;
		top: 50%;
		left: 50%;
		width:auto;
		height:auto;
		float: left;
		font-size:larger;
		box-shadow: 10px 10px 5px #c8c8c8;
		padding: 8px 8px 8px 8px;
		margin-top: -9em; /*set to a negative number 1/2 of your height*/
		margin-left: -15em; /*set to a negative number 1/2 of your width*/
		border: 3px solid;
		background-color: #f3f3f3;
		z-index:99;
	}

	legend
	{
		text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.75);
		font-family:Verdana, Geneva, sans-serif;
		font-size:1.4em;
		padding: 3px;
		border-top: 1px solid #000;
		border-left: 1px solid #000;
		border-right:  1px solid #000;
		border-bottom:  1px solid #000;
		background-color: white;
	}

	fieldset
	{
		border: 1px dotted #eee;
	}

	.fancybuttton{
	-webkit-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	-moz-box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	box-shadow:rgba(0,0,0,0.0.1) 0 1px 0 0;
	background-color:#5B74A8;
	border:1px solid #29447E;
	font-family:'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
	font-size:12px;
	font-weight:700;
	padding:2px 6px;
	height:28px;
	color:#fff;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px
	}

	.openlayers-map img{margin:0px;max-width: none;}

