<h3>Approve Account Request</h3>
<p>Please review and make any necessary changes:</p>

<form method=post action="{{baseUrl}}/approve?uid={{uid}}">
    <table>
        <tr>
            <td><span class=account_required>uid:</span></td>
            <td style='height:25px'>{{person.uid.value}}<input type=hidden name=uid value='{{person.uid.value}}'></td>
        </tr>
        {% include "fields/person.html" %}
        <tr>
            <td colspan=2 style='padding-bottom:15px;'><span class=account_required style='font-size:75%'>(required fields are in bold)</span></td>
        </tr>
    </table>

    <h3 style='margin-top:0px; margin-bottom:10px;'>Access Requested</h3>
    <table>
        {% include "fields/access.html" %}
    </table>        

    <h3 style='margin-bottom:10px;'>For Code Contributors</h3>
    <table>
        {% include "fields/code_contributors.html" %}
    </table>

    <p>
        <input type=submit value='Create Account' onclick='document.forms[0].action="{{baseUrl}}/approve/create?uid={{uid}}"'>
        <input type=submit value="Update Account Request (but don't create)" onclick='document.forms[0].action="{{baseUrl}}/approve?uid={{uid}}"'>
        <input type=submit value='Delete Account Request' onclick='document.forms[0].action="{{baseUrl}}/approve/delete?uid={{uid}}"'>
    </p>

    <input type=hidden name=do value=create>

</form>
