{% if username %}

    {% if effective_user %}
        <p><strong>Effective User:</strong> {{effective_user}}</p>
    {% else %}
        <p><strong>Username:</strong> {{username}}</p>
        <p><strong>Password:</strong> ******** (<a href="{{baseUrl}}/password">change</a>)</p>
    {% endif %}

    {% if ris_id %}
        <p><strong>RIS ID:</strong> {{ris_id}}</p>

        <p><strong>Name:</strong> {{person.first_name}} {{person.last_name}}</p>

        {% if funds %}
            <div id="projects">
                <p><strong>Projects:</strong></p>
                {% for fund in funds %}
                    <div class="fund">
                        <p>{{fund.name}}</p>
                        {% if fund.projects %}
                            {% for project in fund.projects %}
                                <div class="project">
                                    <p><a href="http://research.gulfresearchinitiative.org/research-awards/projects/?pid={{project.ID}}" target="_blank" title="Project ID: {{project.ID}}">{{project.title}}</a></p>
                                    {% if project.roles %}
                                        <div class="proj_roles">
                                            <strong>Project Roles:</strong>
                                            {% for role in project.roles %}
                                                <div class="proj_role">
                                                    <span title="Role ID: {{role.ID}}">{{role.name}}</span>
                                                </div> <!-- proj_role -->
                                            {% endfor %}
                                        </div> <!-- proj_roles -->
                                    {% endif %}
                                    {% if project.tasks %}
                                        <div class="tasks">
                                            <p><strong>Tasks:</strong></p>
                                            {% for task in project.tasks %}
                                                <div class="task">
                                                    <p style='margin-bottom:0px;'><span title="Task ID: {{task.ID}}">{{task.num}}. {{task.title}}</span></p>
                                                    <div class="task_roles">
                                                        <strong>Roles:</strong>
                                                        {% for role in task.roles %}
                                                            <div class="task_role">
                                                                <span title="Role ID: {{role.ID}}">{{role.name}}</span>
                                                            </div> <!-- task_role -->
                                                        {% endfor %}
                                                    </div> <!-- task_roles -->
                                                </div> <!-- task -->
                                            {% endfor %}
                                        </div> <!-- tasks -->
                                    {% endif %}
                                </div> <!-- project -->
                            {% endfor %}
                        {% endif %}
                    </div> <!-- fund -->
                {% endfor %}
            </div> <!-- projects -->
        {% endif %}

    {% endif %}

{% else %}

<h3>Please choose one of the following actions:</h3>
<ul class='account_actions'>
<li><a href='{{baseUrl}}/new'>Request a New Account</a></li>
<li><a href='{{baseUrl}}/password'>Reset Your Password</a></li>
</ul>

{% endif %}
