<h3>{% if action == 'reset' %}Reset{% else %}Change{% endif %} Your Password</h3>
<form method=post action='{{baseUrl}}/password/{{action}}'>
<p>
Please enter a new password for account: <strong>{{uid}}</strong>.
</p>
New Password: <input type="password" name="password" size=40>
<p>
Verify Password: <input type="password" name="verify_password" size=40>
</p>
<p>
Passwords must meet the following requirements:
<ul>
    <li>must be a minimum of 8 characters long</li>
    <li>must contain at least three of the following:
        <ul>
            <li>an uppercase character</li>
            <li>a lowercase character</li>
            <li>a base 10 digit (0-9)</li>
            <li>a non-alphanumeric character: ~ ! @ # $ % ^ &amp; * _ - + = ` | \ ( ) { } [ ] : ; " ' &lt; &gt; , . ? /</li>
            <li>any alphabetic character that is not uppercase or lowercase (including characters from Asian languages)</li>
        </ul>
    </li>
</ul>
<input type=submit value=Next>
</p>
<input type="hidden" name="uid" value="{{uid}}">
<input type="hidden" name="hash" value="{{hash}}">
</form>
