<p style='font-weight:bold'>You requested that an SSH keypair be generated for you. Here is your keypair:</p>

<p>
Your private key has been encrypted with the password you provided as the passphrase.<br>
Please download your private key and keep it somewhere safe as it will <span style='font-weight:bold;'>not</span> be stored in this system.<br>
If you use Microsoft Windows, you will likely want to download your key in ppk format ({{person.uid.value}}.ppk) for use with <a href='http://www.chiark.greenend.org.uk/~sgtatham/putty/'>PuTTY</a> and/or <a href='http://tortoisehg.bitbucket.org'>TortoiseHg</a>.<br>
Other programs should be able to use the pem formatted private key ({{person.uid.value}}.pem), but may require conversion.<br>
We recommend you download your private key in both formats.
</p>

<div><span style='font-weight:bold'>Private Key:</span><br><textarea rows=8 cols=65 style='margin-bottom:2px;'>{{pki.privKey}}</textarea></div>
<div>
<form method=post action="{{baseUrl}}/dlkey" style='margin-bottom:0px;margin-top:0px;'>
    <input type=hidden name=type value=private>
    <input type=hidden name=uid value='{{person.uid.value}}'>
    <input type=hidden name=key value='{{pki.privKey}}'>
    <input type=submit value='Download: {{person.uid.value}}.pem'>
</form>
</div>
<div>
<form method=post action="{{baseUrl}}/dlkey" style='margin-top:0px;'>
    <input type=hidden name=type value=ppk>
    <input type=hidden name=uid value='{{person.uid.value}}'>
    <input type=hidden name=key value='{{pki.ppk}}'>
    <input type=submit value='Download: {{person.uid.value}}.ppk'> <span style='font-size:75%;'>(for PuTTY)</span>
</form>
</div>

<p>
Your public key will be stored in this system for authentication.<br>
Downloading your public key is optional and is only useful if you wish to use this keypair for authentication on other systems.<br>
If you don't download it now and decide you need to later, you can do so through the account management portal.
</p>

<div><span style='font-weight:bold'>Public Key:</span><br><textarea rows=8 cols=65 style='margin-bottom:2px;'>{{pki.pubKey}}</textarea></div>
<div>
<form method=post action="{{baseUrl}}/dlkey" style='margin-top:0px;'>
    <input type=hidden name=type value=public>
    <input type=hidden name=uid value='{{person.uid.value}}'>
    <input type=hidden name=key value='{{pki.pubKey}}'>
    <input type=submit value='Download: {{person.uid.value}}.pub'>
</form>
</div>
