<h3>Account Request</h3>
<form method=post action='{{baseUrl}}/request?email={{person.mail.value}}&hash={{hash}}'>
    <table>
        <tr>
            <td colspan=2 style='padding-bottom:15px;'><span class=account_required style='font-size:75%'>(required fields are in bold)</span></td>
        </tr>
        {% include "fields/person.html" %}
        <tr>
            <td><span class=account_required>Password:</span></td>
            <td><input type=password name=userPassword size=20 class="{{person.userPassword.class}}" value='{{person.userPassword.value}}'></td>
        </tr>
        <tr>
            <td><span class=account_required>Confirm Password:</span></td>
            <td><input type=password name=confirmPassword size=20 class="{{person.confirmPassword.class}}" value='{{person.confirmPassword.value}}'></td>
        </tr>
        <tr>
            <td colspan=2>
                Passwords must meet the following requirements:
                <ul>
                    <li>must be a minimum of 8 characters long</li>
                    <li>must contain at least three of the following:
                        <ul>
                            <li>an uppercase character</li>
                            <li>a lowercase character</li>
                            <li>a base 10 digit (0-9)</li>
                            <li>a non-alphanumeric character: ~ ! @ # $ % ^ &amp; * _ - + = ` | \ ( ) { } [ ] : ; " ' &lt; &gt; , . ? /</li>
                            <li>any alphabetic character that is not uppercase or lowercase (including characters from Asian languages)</li>
                        </ul>
                    </li>
                </ul>
            <td>
    </table>

    <h3 style='margin-top:0px; margin-bottom:10px;'>Access Requested</h3>
    <table>
        {% include "fields/access.html" %}
    </table>

    <h3 style='margin-bottom:10px;'>For Code Contributors</h3>
    <table>
        {% include "fields/code_contributors.html" %}
        <tr>
            <td></td>
            <td valign=top>SSH Public Key:<br><span style='font-size:75%'>(required for push access to<br>the Source Code Repository,<br>optional for Secure Shell Account)</span></td>
            <td valign=top>
                <table>
                    <tr>
                        <td valign=top><input type=radio name=pubKeyAction value="pkiNone" onclick="document.getElementById('sshPublicKey').style.display='none';" {{ checked.pkiNone ? 'checked' : '' }}></td>
                        <td valign=top>don't use public key authentication</td>
                    </tr>
                    <tr>
                        <td valign=top><input type=radio name=pubKeyAction value="pkiGenerate" onclick="document.getElementById('sshPublicKey').style.display='none';" {{ checked.pkiGenerate ? 'checked' : '' }}></td>
                        <td valign=top>generate a new keypair</td>
                    </tr>
                    <tr>
                        <td valign=top><input type=radio name=pubKeyAction value="pkiProvide" onclick="document.getElementById('sshPublicKey').style.display='block';" {{ checked.pkiProvide ? 'checked' : '' }}></td>
                        <td valign=top>provide a public key<br><span style='font-size:75%;color:#555'>(if you already have a keypair you'd like to use)</span></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>

    <textarea id=sshPublicKey
              name=sshPublicKey
              rows=8
              cols=60
              style="display:{{ checked.pkiProvide ? 'block' : 'none' }}"
              class="{{person.sshPublicKey.class}}"
              onfocus='if (this.value=="{{PASTE_PUB_KEY}}") this.value="";'
              onblur='if (this.value=="") this.value="{{PASTE_PUB_KEY}}";'>{{person.sshPublicKey.value}}</textarea>
    <p>
    <input type=hidden name=action value=Post>
    <input type=submit value='Request Account'>

</form>
