{% for publication in publications|sortBy(['citationText']) %}

    <div class="publication card cursor-pointer">
    {% if publication.doi is not empty %}
        <a href="https://doi.org/{{ publication.doi }}" target="_blank" class="block"></a>
    {% endif %}
        <p>{{ publication.citationText|default }}</p>
    </div>
{% endfor %}
