<p>
This Web service establishes a REST API for the creation and storage
of a funding organization.
<p>

Web Service Usage:
<ol>
    <li>GET / - This message</li>
    <li>POST /
        <ul>
            <li>* name = string</li>
            <li>logo = image</li>
            <li>emailAddress = string</li>
            <li>description = string</li>
            <li>url = string</li>
            <li>phoneNumber = string</li>
            <li>deliveryPoint = string</li>
            <li>city = string</li>
            <li>administrativeArea = string</li>
            <li>postalCode = string</li>
            <li>country = string</li>
        </ul>
        * = mandatory
   <br />
        Result - Funding organization will be created. JSON
        response will indicate success or failure with error.<br />Authentication
        is required to use this feature.</li>
</ol>
