{% extends "base.html.twig" %}

{% block body %}
<div class="bootstrap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 mx-auto">
                <div class="jumbotron ">
                    <h1 class="display-1 text-primary">{{ status_code }}</h1>
                    <h1 class="display-4">Oops, something went wrong!</h1>
                    <p class="lead">{% block error %}{% endblock %}</p>
                    <p class="lead text-muted">If the problem persists, please contact GRIIDC.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
