{% extends "base.html.twig" %}

{% block body %}
<div class="bootstrap">
    <div class="container">
        <div class="d-flex flex-column align-items-center jumbotron">
            <div class="p-2">
                <h1 class="display-4">Read-Only mode</h1>
                <p class="lead text-muted">
                The dataset information form (DIF) and dataset submission page are currently unavailable as the Pelagos
                system has been temporarily placed in read-only mode. This is typically done during certain system tests
                and if operating short-term from our off-site disaster ready datacenter. Normal operations will be resumed
                as soon as possible. In the meantime, users can still search and retrieve existing data. Thank you for 
                your patience.
            </div>
        </div>
    </div>
</div>
{% endblock %}
