<div class="cleair">
    <span class="legacy-h1 pb-2">Dataset Review</span>
    <fieldset>
        <p>
            Please enter the Unique Dataset Identifier (UDI) that GRIIDC assigned to your dataset and select "Load
            Dataset"
            to load the most recent information for your dataset.
        </p>
        <div class="px-2 block">
            <form id="udiLoadReviewform">
                <label for="udiReview"><b>Unique Dataset Identifier (UDI): </b></label>
                <input minlength="16" type="text" id="udiReview" name="udiReview" style="width: 80%">
                {% if is_granted('ROLE_DATA_REPOSITORY_MANAGER') %}
                    <button class="reviewButtons ml-2"
                            disabled
                            type="button"
                            onclick="window.location.href='{{ path('pelagos_app_ui_datasetreview_default') }}?udiReview=' +
                                    document.getElementById('udiReview').value.trim() + '&mode=review';">Review Dataset
                    </button>
                {% endif %}
                <button class="reviewButtons ml-2"
                        disabled
                        type="button"
                        onclick="window.location.href='{{ path('pelagos_app_ui_datasetreview_default') }}?udiReview=' +
                                document.getElementById('udiReview').value.trim() + '&mode=view';">View Dataset
                </button>
                <label class="error" for="udiReview"></label>
            </form>
        </div>
    </fieldset>
    <fieldset>
        <div class="px-2">
            <b>Submitted Datasets</b>
            {% include 'DatasetReview/datasets-submitted.html.twig' %}
        </div>
    </fieldset>

</div>
