{% extends "base.html.twig" %}

{% block title %}Dataset Information Form{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('dif') }}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('dif') }}
{% endblock javascripts %}

{% block body %}
    <div class="max-w-screen-xl mx-auto py-6">
    <h2>Dataset Information Form</h2>


    </div>
{% endblock %}