{% if isMaintenanceMode() %}
    <header class="max-w-screen-xl mx-auto pt-4">
{% else %}
    <header class="max-w-screen-xl mx-auto">
{% endif %}
    <div class="hidden md:flex">
        <div class="flex w-full justify-end md:py-3.5 md:px-3 0 border-b border-gray-300 border-opacity-30">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 13 16" fill="none">
                <path d="M6.5 8.8C6.25263 8.79715 6.01032 8.86899 5.80567 9.00584C5.60102 9.14269 5.44387 9.33799 5.35536 9.56544C5.26685 9.7929 5.25124 10.0416 5.31062 10.278C5.37 10.5145 5.50153 10.7274 5.6875 10.888V12C5.6875 12.2122 5.7731 12.4157 5.92548 12.5657C6.07785 12.7157 6.28451 12.8 6.5 12.8C6.71549 12.8 6.92215 12.7157 7.07452 12.5657C7.2269 12.4157 7.3125 12.2122 7.3125 12V10.888C7.49847 10.7274 7.63 10.5145 7.68938 10.278C7.74876 10.0416 7.73315 9.7929 7.64464 9.56544C7.55613 9.33799 7.39898 9.14269 7.19433 9.00584C6.98968 8.86899 6.74737 8.79715 6.5 8.8ZM10.5625 5.6V4C10.5625 2.93913 10.1345 1.92172 9.37262 1.17157C8.61075 0.421427 7.57744 0 6.5 0C5.42256 0 4.38925 0.421427 3.62738 1.17157C2.86551 1.92172 2.4375 2.93913 2.4375 4V5.6C1.79103 5.6 1.17105 5.85286 0.713927 6.30294C0.256807 6.75303 0 7.36348 0 8V13.6C0 14.2365 0.256807 14.847 0.713927 15.2971C1.17105 15.7471 1.79103 16 2.4375 16H10.5625C11.209 16 11.829 15.7471 12.2861 15.2971C12.7432 14.847 13 14.2365 13 13.6V8C13 7.36348 12.7432 6.75303 12.2861 6.30294C11.829 5.85286 11.209 5.6 10.5625 5.6ZM4.0625 4C4.0625 3.36348 4.31931 2.75303 4.77643 2.30294C5.23355 1.85286 5.85353 1.6 6.5 1.6C7.14647 1.6 7.76645 1.85286 8.22357 2.30294C8.68069 2.75303 8.9375 3.36348 8.9375 4V5.6H4.0625V4ZM11.375 13.6C11.375 13.8122 11.2894 14.0157 11.137 14.1657C10.9847 14.3157 10.778 14.4 10.5625 14.4H2.4375C2.22201 14.4 2.01535 14.3157 1.86298 14.1657C1.7106 14.0157 1.625 13.8122 1.625 13.6V8C1.625 7.78783 1.7106 7.58434 1.86298 7.43431C2.01535 7.28429 2.22201 7.2 2.4375 7.2H10.5625C10.778 7.2 10.9847 7.28429 11.137 7.43431C11.2894 7.58434 11.375 7.78783 11.375 8V13.6Z" fill="#1A56DB"></path>
            </svg>
            {% if app.user %}
                <span class="block md:ml-2 text-[0.875rem] text-gray-600 leading-[1.25]">
                    <span>Logged in as: {{ app.user.username }}</span>
                    <span class="p-2">|</span>
                    <a href="/logout" class="">Log out</a>
                </span>
            {% else %}
                <a href="/login" class="flex items-center text-gray-600">
                <span class="block md:ml-2 text-[0.875rem] leading-[1.25]">Login</span>
            </a>
            {% endif %}

        </div>
    </div>
    <nav class="border-b border-b-gray-200 z-20 relative mx-auto flex items-center justify-between py-6 px-3.5" aria-label="Global">
        <div class="flex lg:flex-1">
            <a href="/" class="-ml-1 mt-1 md:-mt-2.5">
                <span class="sr-only">Company name</span>
                <img width="213" height="59" src="{{asset('build/images/griidc-logo.png')}}" alt="Site Logo" class="hidden lg:block">
                <img width="160" height="40" src="{{asset('build/images/griidc-logo.png')}}" alt="Site Logo" class="block lg:hidden">
            </a>
        </div>
        <div class="flex md:hidden">
            <div class="flex w-full justify-end md:py-3.5 md:px-3 0">
            {% if app.user %}
                <span class="block md:ml-2 text-[0.875rem] leading-[1.25]">
                    <span>Logged in as: {{ app.user.username }}</span>
                    <span class="p-2">|</span>
                    <a href="/logout" class="flex items-center text-gray-600">Log out</a>
                </span>
            {% else %}
                <a href="/login" class="flex items-center text-gray-600">Login</a>
            {% endif %}
            </div>
            <button type="button" class="inline-flex items-center justify-center rounded-md text-gray-700 ml-5 sm:ml-7 cursor-pointer">
                <span class="sr-only">Open main navigation</span>
                <svg width="21" height="23" viewBox="0 0 21 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.03394 0.00125289H19.8146C21.3951 -0.0663573 21.3951 2.62517 19.8146 2.55756H5.09285C3.54107 2.62517 3.48072 0.00125289 5.0325 0.00125289H5.03394ZM19.8146 10.2233C21.3348 10.2233 21.3348 12.778 19.8146 12.778H11.481C9.92922 12.778 9.92922 10.2233 11.481 10.2233H19.8146ZM19.8146 20.4453C21.3348 20.4453 21.3348 23 19.8146 23H1.14013C-0.380039 23 -0.380039 20.4453 1.14013 20.4453H19.8146Z" fill="#1A56DB"></path>
                </svg>
            </button>
        </div>
        <div id="griidc-menu"
        {% if is_granted('ROLE_DATA_REPOSITORY_MANAGER') %}
            show-admin="true"
        {% endif %}
        />
    </nav>
    <div style="position: fixed; top: 1px; left: 1px; width: 1px; height: 0px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); white-space: nowrap; border-width: 0px; display: none;"></div>
</header>
