<footer id="footer" class="relative z-10 bg-[#233876] text-white py-4 lg:py-16 container-page">
    {# <img width="100%" height="2.625rem" src="/images/bottom-blue-wave.svg" alt="blue wave effect" class="w-full shrink-0 absolute -top-[3rem] sm:-top-[4rem] md:-top-[5rem] lg:-top-[7rem] 2xl:-top-[9rem] 3xl:-top-[10rem] left-0 z-20 h-[3rem] sm:h-[4rem] md:h-[5rem] lg:h-[7rem] 2xl:h-[9rem] 3xl:h-[10rem] object-cover object-top"> #}
    <h2 class="sr-only">Footer</h2>
    <div class="container-content pb-8">
        <div class="lg:px-6 flex flex-wrap justify-between">
            <div class="w-full mb-8 md:mb-0 md:w-1/4">
                <a href="https://www.harteresearch.org" class="mb-4 block"><img width="12.5rem" height="2.625rem" src="/images/hartlogo.svg" alt="Hart logo" class="max-w-[12.5rem] w-full lg:w-52 shrink-0 mb-[1.25rem]"></a>
                <div class="text-base text-blue-100">GRIIDC is a project of the Geospatial Sciences group at the Harte Research Institute for Gulf of Mexico Studies at Texas A&amp;M University-Corpus Christi.</div>
            </div>
            <ul class="md:ml-[5.625rem] flex flex-wrap justify-between grow" aria-label="Footer Primary">
                <li class="block mb-3 lg:mr-5 last:mr-0 md:mb-0 md:text-left w-1/2 lg:w-auto"><a aria-current="page" class="block hover:text-blue-300 transition-all font-medium text-[0.875rem] leading-[1.313rem] uppercase mb-4" href="/">Quick Links</a><a class="block text-blue-300 hover:text-white transition-all text-base mb-4" href="/home">Home</a><a class="block text-blue-300 hover:text-white transition-all text-base mb-4" href="/about-us">About Us</a><a aria-current="page" class="block text-blue-300 hover:text-white transition-all text-base mb-4" href="/">Help</a><a class="block text-blue-300 hover:text-white transition-all text-base mb-4" href="/contact-us">Contact Us</a></li>
                <li class="block mb-3 lg:mr-5 last:mr-0 md:mb-0 md:text-left w-1/2 lg:w-auto"><a aria-current="page" class="block hover:text-blue-300 transition-all font-medium text-[0.875rem] leading-[1.313rem] uppercase mb-4" href="/">Data Management</a><a aria-current="page" class="block text-blue-300 hover:text-white transition-all text-base mb-4" href="/">Submit Data</a><a aria-current="page" class="block text-blue-300 hover:text-white transition-all text-base mb-4" href="/">Search Data</a><a aria-current="page" class="block text-blue-300 hover:text-white transition-all text-base mb-4" href="/">Monitor Data</a></li>
                <li class="block mb-3 lg:mr-5 last:mr-0 md:mb-0 md:text-left w-1/2 lg:w-auto"><a class="block hover:text-blue-300 transition-all font-medium text-[0.875rem] leading-[1.313rem] uppercase mb-4" href="/data.gulfresearchinitiative.org/">Legal</a><a aria-current="page" class="block text-blue-300 hover:text-white transition-all text-base mb-4" href="/">Privacy Policy</a><a aria-current="page" class="block text-blue-300 hover:text-white transition-all text-base mb-4" href="/">Terms &amp; Conditions</a><a aria-current="page" class="block text-blue-300 hover:text-white transition-all text-base mb-4" href="/">EULA</a></li>
            </ul>
        </div>
    </div>
    <div class="w-full pt-4 lg:pt-12 border-t border-t-blue-300 mt-4 lg:mt-12 text-center">
        <div class="text-base text-blue-300">Copyright © 2023 Harte Research Institute</div>
    </div>
</footer>