{% extends "PelagosAppBundle::layout.html.twig" %}

{% block body %}
    {#TODO Create datatable and use API call to get data, in order to populate it.#}
    <h2> Dataset Restrictions - Modifier</h2>
{% endblock %}