{% extends "PelagosAppBundle::layout.html.twig" %}

{% block body %}
<ul>
    <li><a href="{{ path('pelagos_app_list_people') }}" target="_blank">People</a></li>
    <li><a href="{{ path('pelagos_app_list_researchgroups') }}" target="_blank">Research Groups</a></li>
    <li><a href="{{ path('pelagos_app_list_fundingorganizations') }}" target="_blank">Funding Organizations</a></li>
    <li><a href="{{ path('pelagos_app_list_nationaldatacenters') }}" target="_blank">National Data Centers</a></li>
</ul>
{% endblock %}

