{% extends "PelagosAppBundle::layout.html.twig" %}

{% block head %}
    {{
        add_library (
            [
                'ui.dialog'
            ]
        )
    }}

    {{
        add_css (
            [
                '//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css',
                '//cdn.datatables.net/select/1.0.1/css/select.dataTables.min.css'
            ]
        )
    }}

    {% stylesheets  '@PelagosAppBundle/Resources/public/css/entity.css' %}
        {{ add_css(asset_url) }}
    {% endstylesheets  %}

    {{
        add_js(
            [
                '//cdn.datatables.net/1.10.7/js/jquery.dataTables.js',
                '//cdn.datatables.net/select/1.0.1/js/dataTables.select.min.js'
            ]
        )
    }}

    {% javascripts '@PelagosAppBundle/Resources/public/js/common.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

    {% javascripts '@PelagosAppBundle/Resources/public/js/entityList.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

{% endblock %}

{%
set properties = [
    'id',
    'organizationName',
    'organizationUrl',
    'creationTimeStamp',
    'creator.id',
    'creator.firstName',
    'creator.lastName',
    'modificationTimeStamp',
    'modifier.id',
    'modifier.firstName',
    'modifier.lastName',
]
%}

{% block body %}
<table
    viewInterface = "{{ path('pelagos_app_ui_nationaldatacenter_default') }}"
    personInterface = "{{ path('pelagos_app_ui_person_default') }}"
    entityApi = "{{ path('pelagos_api_national_data_center_get_collection') }}"
    entityNiceName = "National Data Center"
    class = "entityTable stripe"
    width = "100%"
    data-ajax = '{
        "url": "{{ path('pelagos_api_national_data_center_get_collection', {'_properties': properties | join(',')}) }}",
        "dataSrc": "",
        "cache": true
    }'
    data-columns = '[
        { "data": "id" },
        { "data": "organizationName" },
        { "data": "organizationUrl" },
        { "data": "creationTimeStamp" },
        { "data": "creator" },
        { "data": "modificationTimeStamp" },
        { "data": "modifier" }
    ]'
    data-order = '[[ 1, "asc" ]]'
    urlColumn = "2"
    creatorColumn = "4"
    modifierColumn = "6"
    creationTimeStampColumn = "3"
    modificationTimeStampColumn = "5"
>
    <thead>
        <tr>
            <th>#</th>
            <th>National Data Center Name</th>
            <th>Website</th>
            <th>Created</th>
            <th>Creator</th>
            <th>Modified</th>
            <th>Modifier</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="buttons" colspan = "7">
                <div>
                    <button id="button_detail">View National Data Center Details</button>
                    <button id="button_delete">Delete National Data Center</button>
                    <span id="selection_comment">
                        <i>For additional options, please make a selection above.</i>
                    </span>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}

