{% extends "PelagosAppBundle::layout.html.twig" %}

{% block head %}
    {{
        add_library (
            [
                'ui.dialog'
            ]
        )
    }}

    {{
        add_css (
            [
                '//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css',
                '//cdn.datatables.net/select/1.0.1/css/select.dataTables.min.css'
            ]
        )
    }}

    {% stylesheets  '@PelagosAppBundle/Resources/public/css/entity.css' %}
        {{ add_css(asset_url) }}
    {% endstylesheets  %}

    {{
        add_js(
            [
                '//cdn.datatables.net/1.10.7/js/jquery.dataTables.js',
                '//cdn.datatables.net/select/1.0.1/js/dataTables.select.min.js',
                '//cdn.datatables.net/plug-ins/1.10.12/sorting/chinese-string.js'
            ]
        )
    }}

    {% javascripts '@PelagosAppBundle/Resources/public/js/common.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

    {% javascripts '@PelagosAppBundle/Resources/public/js/entityList.js' %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

{% endblock %}

{%
set properties = [
    'id',
    'firstName',
    'lastName',
    'emailAddress',
    'creationTimeStamp',
    'creator.id',
    'creator.firstName',
    'creator.lastName',
    'modificationTimeStamp',
    'modifier.id',
    'modifier.firstName',
    'modifier.lastName',
]
%}

{% block body %}
<table
    entityNiceName = "Person"
    viewInterface = "{{ path('pelagos_app_ui_person_default') }}"
    personInterface = "{{ path('pelagos_app_ui_person_default') }}"
    entityApi = "{{ path('pelagos_api_people_get_collection') }}"
    class = "entityTable stripe"
    width = "100%"
    data-ajax = '{
        "url": "{{ path('pelagos_api_people_get_collection', {'_properties': properties | join(',')}) }}",
        "dataSrc": "",
        "cache": true
    }'
    data-columns = '[
        { "data": "id" },
        { "data": "firstName", "type": "chinese-string" },
        { "data": "lastName", "type": "chinese-string" },
        { "data": "emailAddress" },
        { "data": "creationTimeStamp" },
        { "data": "creator" },
        { "data": "modificationTimeStamp" },
        { "data": "modifier" }
    ]'
    data-order = '[
        [ 6, "desc" ]
    ]'
    data-columnDefinitions = '[
        {
            "targets": [ 4, 5, 6, 7 ],
            "searchable": false
        }
    ]'
    creatorColumn = "5"
    modifierColumn = "7"
    creationTimeStampColumn = "4"
    modificationTimeStampColumn = "6"
>
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Address</th>
            <th>Creation Time Stamp</th>
            <th>Creator</th>
            <th>Last Modified</th>
            <th>Modified By</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td class="buttons" colspan = "7">
                <div>
                    <button id="button_detail">View Person Details</button>
                    <button id="button_delete">Delete Person</button>
                    <span id="selection_comment">
                        <i>For additional options, please make a selection above.</i>
                    </span>
                </div>
            </td>
        </tr>
    </tfoot>
</table>
{% endblock %}

