<div id="dialog" style=""></div>

<div id="url_tip" style="display:none;">
    <img src="/images/icons/info.png" style="float:right;" />
    <p>
        <strong>Location (URL):</strong> This is the Uniform Resource Locator (URL) that resolves to the dataset.<br><em>(e.g. http://www.nodc.noaa.gov/cgi-bin/OAS/prd/download/65725.11.11.tar.gz)</em>
    </p>
</div>

<div id="creator_tip" style="display:none;">
    <img src="/images/icons/info.png" style="float:right;" />
    <p>
        <strong>Creator(s):</strong> The primary scientist or researcher in producing the data, or the authors of the publication in priority order. The names may include a corporate, institutions, or personal name. In personal names, list family name before given name, as in Darwin, Charles. Non-roman names should be transliterated according to the ALA-LC schemes. <a href="http://www.loc.gov/catdir/cpso/roman.html" target="_blank"><em>(http://www.loc.gov/catdir/cpso/roman.html)</em></a>. 
    </p>
</div>

<div id="title_tip" style="display:none;">
    <img src="/images/icons/info.png" style="float:right;" />
    <p>
        <strong>Title:</strong> A label by which the data or publication is known. <em>(e.g. Multibeam bathymetry data for east Flower Garden Bank)</em>
    </p>
</div>

<div id="publisher_tip" style="display:none;">
    <img src="/images/icons/info.png" style="float:right;" />
    <p>
        <strong>Publisher:</strong> A holder of the data (e.g., GRIIDC) or the institution responsible for making the data available to the public. 
    </p>
</div>

<div id="txtDate_tip" style="display:none;">
    <img src="/images/icons/info.png" style="float:right;" />
    <p>
        <strong>Publication Date:</strong> A valid ISO 8601 date <em>e.g. (2012-12-23)</em>
    </p>
</div>

<table  border=0 width="45%,*">
<tr>
<td class="cleair cmxform">
<fieldset>
    <p><STRONG> NOTE: </STRONG><FONT COLOR="grey">A <em>Digital Object Identifier</em> (DOI) is a persistent unique identifier of an electronic dataset or document and recognized internationally. The DOI is used by GRIIDC as an alternate to dataset registration identifiers and can be used to resolve back to the data itself. The following form will allow you to submit the appropriate information to receive a DOI for your dataset or document. Once you have completed this form, your information will be sent to GRIIDC for approval, and once approved a DOI will be sent to you.<font></p>
</fieldset>

<strong>NOTICE:</strong> Fields preceded by an asterisk (<em>*</em>) are required inputs.<hr />

<form id="doiForm" name="doiForm" action="" method="post">

<fieldset id="qurl">
    <span id="qtip_url" style="float:right;">
        <img src="/images/icons/info.png">
    </span>
    <label for="txtURL"><em>*</em>Digital Object URL:</label>
    <br />
    <input name="txtURL" id="txtURL" type="url" size="120"/>
</fieldset>

<fieldset id="qcreator">
    <span id="qtip_creator" style="float:right;">
        <img src="/images/icons/info.png">
    </span>
    <label for="txtWho"><em>*</em>Digital Object Creator(s):</label>
    <br />
    <input class="popWho" type="text" name="txtWho" id="txtWho" size="120"/>
</fieldset>

<fieldset id="qtitle">
    <span id="qtip_title" style="float:right;">
        <img src="/images/icons/info.png">
    </span>
    <label for="txtWhat"><em>*</em>Digital Object Title:</label>
    <br />
    <input class="popWhat" type="text" name="txtWhat" id="txtWhat" size="120"/>
    <br />
</fieldset>

<fieldset id="qpub">
    <span id="qtip_pub" style="float:right;">
        <img src="/images/icons/info.png">
    </span>
    <label for="txtWhere"><em>*</em>Digital Object Publisher:</label>
    <br />
    <input class="popWhere" type="text" name="txtWhere" id="txtWhere" size="120"/>
    <br />
</fieldset>

<fieldset id="txtDate_fld">
    <span id="qtip_date" style="float:right;">
        <img src="/images/icons/info.png">
    </span>
    <label for="txtDate"><em>*</em>Digital Object Publication Date:</label>
    <br />
    <input class="popDate" type="text" name="txtDate" id="txtDate" size="120"/>
    <br />
 </fieldset>