<fieldset>
    <legend>Distribution Contact</legend>
    <table class="tab-table distribution-contact">
        <tr>
            <td>
                {% set distPoint = form.distributionPoints | first %}
                {% set dataCenterInfo = distPoint.vars.data.dataCenter | default %}
                <span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                        <img class="info" src="{{ asset_url }}">
                    {% endimage %}
                    <div class="tooltiptext">
                        Please use the drop down list to select the distribution contact who can be contacted
                        about the dataset’s descriptive information. If the contact is not in the
                        list or their contact information is incorrect, please contact
                        griidc@gomri.org.
					</div>
				</span>
                <label for="distributioncontact">Distribution Contact</label>
                <select class="distributioncontact" id="distributioncontact" name="{{ distPoint.dataCenter.vars.full_name }}" required="required">}
                    {% for distContact in distPoint.dataCenter.vars.choices  %}
                        {% if dataCenterInfo.id == distContact.value %}
                            <option selected value="{{ distContact.value }}">
                                {{ distContact.label }}
                            </option>
                        {%  else %}
                            <option value="{{ distContact.value }}">
                                {{ distContact.label }}
                            </option>
                        {% endif %}
                    {% endfor %}
                </select>
                <label for="distributioncontact" class="error"></label>
                <div class="distributioncontactinformation">
                    <span field="address" id="distcontact_address">{{ dataCenterInfo.deliveryPoint|default }}</span><br />
                    <span field="city" id="distcontact_city">{{ dataCenterInfo.city|default }}</span><br />
                    <span field="state" id="distcontact_state">{{ dataCenterInfo.administrativeArea|default }}</span>
                    <span field="postalCode" id="distcontact_postalcode">{{ dataCenterInfo.postalCode|default }}</span><br />
                    <span field="country" id="distcontact_country">{{ dataCenterInfo.country|default }}</span><br />
                    <span field="telephoneNumber" id="distcontact_phonenumber">{{ dataCenterInfo.phoneNumber|default }}</span><br />
                    <span field="emailAdress" id="distcontact_emailaddress">{{ dataCenterInfo.emailAddress|default }}</span><br />
                    <span field="url" id="distcontact_url">{{ dataCenterInfo.organizationUrl|default }}</span> <br />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                        <img class="info" src="{{ asset_url }}">
                    {% endimage %}
                    <div class="tooltiptext">
						CI_RoleCode value associated to this distribution point.
					</div>
				</span>
                {{ form_row(distPoint.roleCode) }}
            </td>
        </tr>
        <tr>
            <td>
                <span class="helpSection">
					{% image '@PelagosAppBundle/Resources/public/images/info32.png' %}
                        <img class="info" src="{{ asset_url }}">
                    {% endimage %}
                    <div class="tooltiptext">
						Please enter the distribution URL for this dataset.
					</div>
				</span>
                {{ form_row(distPoint.distributionUrl, {attr: {'class' : 'distributionurl'}}) }}
            </td>
        </tr>
    </table>
</fieldset>