<div class="distributioncontactinformation">
    <span field="organizationRole"></span><br />
    <span field="telephoneNumber"></span><br />
    <span field="faxNumber"></span><br />
    <span field="address"></span><br />
    <span field="city"></span><br />
    <span field="state"></span>
    <span field="postalCode"></span><br />
    <span field="country"></span><br />
    <span field="emailAdress"></span><br />
    <span field="url"></span> <br />
</div>

