{% extends "PelagosAppBundle::layout.html.twig" %}

{% block head %}
    {{
    add_library (
        [
            'ui.datepicker',
            'ui.dialog',
            'ui.tabs',
            'ui.widget',
        ]
    )
    }}

    {{
        add_css (
            [
                '//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css',
                '//cdn.datatables.net/select/1.0.1/css/select.dataTables.min.css',
                '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css',
                '//cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css',
                '//cdnjs.cloudflare.com/ajax/libs/file-uploader/5.11.8/fine-uploader-new.min.css',
            ]
        )
    }}

    {% stylesheets
        '@PelagosAppBundle/Resources/public/css/dataset-submission.css'
        '@PelagosAppBundle/Resources/public/css/fileBrowser.css'
        '@PelagosAppBundle/Resources/public/css/dataset-submission-uploader.css'
    %}
        {{ add_css(asset_url) }}
    {% endstylesheets  %}

    {{
        add_js(
            [
                '//cdnjs.cloudflare.com/ajax/libs/jquery-noty/2.3.5/packaged/jquery.noty.packaged.min.js',
                '//cdn.datatables.net/1.10.7/js/jquery.dataTables.js',
                '//cdn.datatables.net/select/1.0.1/js/dataTables.select.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.11.1/jquery.validate.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js',
                '//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/datejs/1.0/date.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/spin.js/2.0.1/spin.min.js',
                '//cdnjs.cloudflare.com/ajax/libs/file-uploader/5.11.8/jquery.fine-uploader/jquery.fine-uploader.min.js',
                '//maps.google.com/maps/api/js?v=3&key=' ~ google_maps_api_key,
            ]
        )
    }}

    {% javascripts
        '@PelagosAppBundle/Resources/public/js/pelagosNoty.js'
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
        '@PelagosAppBundle/Resources/public/js/datasetReviewList.js'
        '@PelagosAppBundle/Resources/public/js/datasetReview.js'
        '@PelagosAppBundle/Resources/public/js/geoviz.js'
        '@PelagosAppBundle/Resources/public/js/mapWizard.js'
        '@PelagosAppBundle/Resources/public/js/common.js'
        '@PelagosAppBundle/Resources/public/js/fileBrowser.js'
    %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

    {{ add_js(path('fos_js_routing_js', { callback: 'fos.Router.setData' })) }}

    {% include 'PelagosAppBundle:DatasetReview:uploader-template.html.twig' %}

{% endblock %}

{% block body %}
{% if is_granted('ROLE_DATA_REPOSITORY_MANAGER') or is_granted('ROLE_SUBJECT_MATTER_EXPERT')%}
    <h1>Dataset Review</h1>
        {% if udi is null %}
            {% include 'PelagosAppBundle:DatasetReview:form.html.twig' %}
        {% elseif app.session.flashbag.has('warning') %}
            {% for label, messages in app.session.flashbag.all %}
                {% for message in messages %}
                    <div class="pelagosNoty" text="{{message}}" type="{{label}}"></div>
                {% endfor %}
            {% endfor %}
            {% include 'PelagosAppBundle:DatasetReview:form.html.twig' %}
        {% else %}
            <div>
                <h2 class="element-invisible">Status message</h2>
                {% if mode ==  'view'%}
                    <div class="pelagosNoty" text = "Dataset Identifier <b>'{{ udi }}'</b> was found and is in VIEW mode." type = "success"></div>
                {% elseif mode == 'review' %}
                    <div class="pelagosNoty" text = "Dataset Identifier <b>'{{ udi }}'</b> was found and is in REVIEW mode." type = "success"></div>
                {% endif %}
                {% if app.session.flashbag.has('notice') %}
                    {% for label, messages in app.session.flashbag.all %}
                        {% for message in messages %}
                        <div class="pelagosNoty" text="{{message}}" type="success"></div>
                        {% endfor %}
                    {% endfor %}
            {% endif %}
            </div>
            {% include 'PelagosAppBundle:DatasetReview:submission-form.html.twig' %}
        {% endif %}
{% elseif not (is_granted('ROLE_DATA_REPOSITORY_MANAGER') or is_granted('ROLE_SUBJECT_MATTER_EXPERT')) and is_granted('IS_AUTHENTICATED_FULLY') %}
    <div class="messages error">
        <h2 class="element-invisible">Error message</h2>
        This page is only accessible by Data Repository Managers.
    </div>
{% else %}
    <div class="messages warning">
            <h2 class="element-invisible">Warning message</h2>
            Please log in first!
    </div>
    <h1>Please log in first to use this form!</h1>
{% endif %}

<div class="modal" id="spinner"></div>
<div style="display:none;">
    {% image '@PelagosAppBundle/Resources/public/images/x.png' %}
        <img id="imgwarning" src="{{ asset_url }}">
    {% endimage %}
    {% image '@PelagosAppBundle/Resources/public/images/check.png' %}
        <img id="imgcheck" src="{{ asset_url }}">
    {% endimage %}
</div>
{% endblock %}
