{{ form_start(form, {'attr': {'id': 'regForm'}}) }}
<div id="metatoolbar" class="ui-widget-header ui-corner-all toolbarbutton" style="text-align: center">
    {{ form_widget(form.acceptDatasetBtn, {'label':'Accept Review'} ) }}
    {{ form_widget(form.endReviewBtn, {'label':'End Review'} ) }}
    {{ form_widget(form.requestRevisionsBtn, {'label':'Request Revisions'} ) }}
</div>
    <fieldset>
        <div style="background: transparent;" id="dtabs">
            <ul>
                <li>
                    <a class="dstablink" href="#ds-contact">Dataset Contact</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-information">Dataset Information</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-keywords">Keywords</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-extent">Data Extent</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-distribution">Distribution Info</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-distribution-contact">Distribution Contact</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-metadata-contact">Metadata Contact</a>
                    <img class="tabimg">
                </li>
                <li>
                    <a class="dstablink" href="#ds-submit">Files</a>
                    <img class="tabimg" id="filetabimg">
                </li>
            </ul>

            <fieldset>
                <i><b>NOTE:</b> Fields with <span class="emRequired"/> are required.</i>
            </fieldset>

            <div id="ds-contact" class="ds-metadata">
                {% include 'PelagosAppBundle:DatasetReview:dataset-contact.html.twig' %}
            </div>

            <div id="ds-information" class="ds-metadata">
                {% include 'PelagosAppBundle:DatasetReview:dataset-information.html.twig' %}
            </div>

            <div id="ds-keywords" class="ds-metadata">
                {% include 'PelagosAppBundle:DatasetReview:keywords.html.twig' %}
            </div>

            <div id="ds-extent" class="ds-metadata">
                {% include 'PelagosAppBundle:DatasetReview:extent.html.twig' %}
            </div>

            <div id="ds-distribution" class="ds-metadata">
                {% include 'PelagosAppBundle:DatasetReview:distribution-info.html.twig' %}
            </div>

            <div id="ds-distribution-contact" class="ds-metadata">
                {% include 'PelagosAppBundle:DatasetReview:distribution-contact.html.twig' %}
            </div>

            <div id="ds-metadata-contact" class="ds-metadata">
                {% include 'PelagosAppBundle:DatasetReview:metadata-contact.html.twig' %}
            </div>

            <div id="ds-submit" class="ds-metadata">
                {% include 'PelagosAppBundle:DatasetReview:file-submit.html.twig' %}
            </div>
        </div>
    </fieldset>

{{ form_end(form, {'render_rest': false}) }}

    <div id="navtoolbar" class="ui-widget-header ui-corner-all toolbarbutton">
        <table width="100%" id="navbuttons">
            <tr>
                <td width="50%">
                    <button type="button" id="btn-previous">Previous</button>
                </td>
                <td width="50%">
                    <button type="button" id="btn-next">Next</button>
                </td>
            </tr>
        </table>
    </div>
