<table width="100%" height="100%">
    <tr>
    <td style="vertical-align: top; width:60%" >
    <div class="cleair">
    <fieldset>
        <h1>Dataset Information</h1>
        <strong>NOTE:</strong>
        To create a new DIF, begin by selecting the project title that you would like your dataset associated with from the drop down menu &ldquo;Project Title&rdquo;. To load an existing DIF, left click the dataset tile found in the &ldquo;Datasets&rdquo; list in the right hand panel. The red asterisk (<span class="emRequired"/>) is used to indicate required fields. Once a DIF is submitted, it will be locked to prevent additional changes. Please contact <a href="mailto:griidc@gomri.org?subject=DIF">griidc@gomri.org</a> with the dataset Unique Dataset Identifier (UDI) if you require additional assistance with the completion of this form.<br>
        <hr>
        <div id="statustext" class="statustext"></div>
    <form id="difForm">
        <input type="hidden" id="status" name="status" value="0">
        <input type="hidden" id="projectid" name="projectid">
        <input type="hidden" id="taskid" name="taskid">
        <input type="hidden" id="fundsrcid" name="fundsrcid">
        <input type="hidden" id="udi" name="udi">
        <input type="hidden" id="btn" name="button">
        <input type="hidden" id="submitter" name="submitter">
        <input type="hidden" id="personid" value="{{personid}}">
        {% if isadmin == true %}
        <input type="hidden" id="isadmin" name="isadmin" value="{{isadmin}}">
        {% endif %}
        <div id="udidiv" style="display:none;"><h1>Unique Dataset Identifer (UDI): <span class="title" id="udilabel"></span></h1></div>
            <div class="frmSection">
                <fieldset>
                <span class="helpSection">
                    <img class="info" src="/images/icons/info32.png">
                    <div class="tooltiptext">
                        <p>This is a required field. The drop-down menu will list all projects that you are associated with.</p>
                    </div>
                </span>
                <label class="emRequired" for="difTasks">
                    <b>Project Title:</b>
                </label>
                <select required id="difTasks" name="task" style="width:100%;" disabled>
                    <option value="">[PLEASE SELECT A PROJECT]</option>
                </select>
                </fieldset>
            </div>

            <div class="frmSection">
                <fieldset>
                    <span class="helpSection">
                        <img class="info" src="/images/icons/info32.png">
                        <div class="tooltiptext">
                            <p>This is a required field. Please provide a descriptive title that briefly explains the contents of your dataset. This will be similar to titles used in publications, and may include location where, and time period when the research was completed. It should be understandable by a user unfamiliar with your methods, site collections or research platforms.</p>
                        </div>
                    </span>
                    <label class="emRequired" for="difTitle">
                        <b>Dataset Title:</b></label>
                    <textarea placeholder="Dataset Title (200 Character Maximum)" name="title" id="difTitle" rows="2" style="width:100%;" required maxlength="200"></textarea>
                </fieldset>
            </div>

            <div class="frmSection">
            <table width="100%"><tr><td width="50%" >
            <fieldset >
                <span class="helpSection">
                    <img class="info" src="/images/icons/info32.png">
                    <div class="tooltiptext">
                        <p>This is a required field. This is the person responsible for answering questions associated with this dataset and responding to requests for the dataset. Please select the appropriate person from the dropdown list.</p>
                    </div>
                </span>
            <label class="emRequired" for="difPpoc">
                <b>Primary Point of Contact:</b>
            </label>
                     <select disabled id="difPpoc" name="primarypoc" style="width:100%;"/>
                     <option>[PLEASE SELECT PROJECT FIRST]</option>
            </fieldset></div>
            </td><td width="50%">
            <div class="frmSection">
            <fieldset >
                <span class="helpSection">
                    <img class="info" src="/images/icons/info32.png">
                    <div class="tooltiptext">
                        <p>The secondary point of contact will be contacted if the primary point of contact cannot be reached or is unable to respond to questions about the dataset. Please select the appropriate person from the drop down list.</p></div>
                </span>
            <label for="difPpoc">
                <b>Secondary Point of Contact: </b></label>
                   <select disabled id="difPpoc" name="secondarypoc" style="width:100%;"/>
                   <option>[PLEASE SELECT PROJECT FIRST]</option>
            </fieldset>
            </td>
            </tr>
            </table>
            </div>

            <div class="frmSection">
            <fieldset>
                <span class="helpSection">
                    <img class="info" src="/images/icons/info32.png">
                    <div class="tooltiptext">
                        <p>This is a required field. This field should summarize the rationale for collecting the dataset, methods that will be used to collect or generate the dataset, period of data collection and what the dataset will contain. This may be similar to a publication abstract, however, it does not need to include details about conclusions drawn or statistical analysis completed using the dataset.</p>
                    </div>
                </span>
            <label class="emRequired" for="difAbstract"><b>Dataset Abstract: </b></label>

                <textarea placeholder="Please provide a brief narrative describing: What, where, why, how, and when the data will be or have been collected/generated?  (4000 Character Maximum)"required maxlength="4000" name="abstract" id="difAbstract" rows="6" style="width:100%;"></textarea>
            </fieldset>
            </div>

            <div class="frmSection">
                <fieldset>
                    <span class="helpSection">
                        <img class="info" src="/images/icons/info32.png">
                        <div class="tooltiptext">
                            <p>Datasets may be categorized based on the discipline for which they are collected. Please check all the boxes that categorize the discipline(s) for which your dataset will be created. Note that datasets can be multidisciplinary so select all disciplines that apply. If your field of study is not listed, please specify additional details in the &ldquo;other&rdquo; field.</p>
                        </div>
                    </span>
                <label for="difDatafor"><b>Field of Study:</b></label>
                <table id="difDatafor" width="100%">
                    <tr>
                        <td><input type="checkbox" name="dfeco"  value="Ecological/Biological">Ecological/Biological</td>
                        <td><input type="checkbox" name="dfphys" value="Physical Oceanographical">Physical Oceanography</td>
                        <td> <input type="checkbox" name="dfatm" value="Atmospheric"/>Atmospheric</td>
                    </tr>
                    <tr>
                        <td> <input type="checkbox" name="dfchem" value="Chemical" />Chemical</td>
                        <td> <input type="checkbox" name="dfhumn" value="Human Health"/>Human Health</td>
                        <td> <input type="checkbox" name="dfscpe" value="Social/Cultural/Political">Social/Cultural/Political</td>
                    </tr>
                    <tr>
                    <td>
                        <input type="checkbox" name="dfeconom" value="Economics">Economics</td>
                    <td>
                    <table width="100%">
                        <tr>
                             <td> Others:</td>
                             <td><input style= "width:100%;" type="text" name="dfother" width="100%"></td>
                        </tr>
                        </table>
                    </td>
                    <td></td>
                    </tr>
                </table>
            </fieldset>
            </div>

            <div class="frmSection">
                <fieldset >
                    <span class="helpSection">
                        <img class="info" src="/images/icons/info32.png">
                        <div class="tooltiptext">
                            <p>Please provide an estimate of the total size of the dataset files you expect will be created. This field can be estimated based on data files you have created in the past. This field will help GRIIDC formulate strategies to access and distribute your dataset.</p>
                        </div>
                    </span>
                    <label for="difSize"><b>Approximate Dataset Size: </b></label>
                    <table width="75%">
                    <tr>
                        <td><input id="difSize" type="radio" name="size" checked value="< 1 Gb">&lt; 1GB </td>
                        <td><input id="difSize" type="radio" name="size" value="1GB-10GB">1GB-10GB</td>
                        <td><input id="difSize" type="radio" name="size" value="10GB-200GB">10GB-200GB</td>
                        <td><input id="difSize" type="radio" name="size" value="200GB-1TB">200GB-1TB</td>
                        <td><input id="difSize" type="radio" name="size" value="1TB-5TB">1TB-5TB</td>
                        <td><input id="difSize" type="radio" name="size" value=">5TB">&gt;5TB</td>
                    </tr>
                    </td>
                    </table>
                </fieldset>
            </div>
            <div class="frmSection">
            <fieldset>
                <span class="helpSection">
                    <img class="info" src="/images/icons/info32.png">
                    <div class="tooltiptext">
                        <p>Please expand on information you have provided in the abstract by giving more exact details about all variables or phenomena that you plan to measure, collect or generate. Please separate list items using a comma. </p>
                    </div>
                </span>
                <label  for="difObservation"><b>Phenomenon/Variables Observed or Generated: </b></label>
                <textarea placeholder="Examples: wind speed (km/hr), salinity (ppt), temperature (°C), PCB concentrations in eggs from a specified species (ng/g wet weight), Ionic Strength (mM)" name="observation"  id="difObservation" rows="3" style="width:100%;"></textarea>
            </fieldset>
            </div>

            <div class="frmSection">
                <fieldset>
                    <span class="helpSection">
                        <img class="info" src="/images/icons/info32.png">
                        <div class="tooltiptext">
                            <p>Please select all the procedures or methods that you will use to collect or generate data in the dataset. If not available on the list, please provide additional information in the &ldquo;other&rdquo; field.</p>
                        </div>
                    </span>
                <label for="difApproach"><b>Method(s) for Collecting or Generating the Data: </b></label>
                <table width="100%"><TR>
                     <td><input type="checkbox" name="appField" id="difApproach" value="Field Sampling">Field Sampling</td>
                     <td><input type="checkbox" name="appSim" id="difApproach" value="Simulated or Generated">Simulated/Generated</td>
                     <td><input type="checkbox" name="appLab" id="difApproach" value="Labratory">Laboratory</TD>
                </tr><tr>
                     <td><input type="checkbox" name="appLit" id="difApproach" value="Literature Based">Literature Based</td>
                     <td><input type="checkbox" name="appRemote" id="difApproach" value="Remote Sensing">Remote Sensing</td>
                     <td>
                         <table width="100%"><tr>
                             <td>Others:</td><td> <input style= "width:100%;" type="text" name="appOther"> </td>
                         </tr></table>
                    </td>
                </tr></table>
            </fieldset>
            </div>

           <div class="frmSection">
            <fieldset>
                <span class="helpSection">
                    <img class="info" src="/images/icons/info32.png">
                    <div class="tooltiptext">
                        <p>The approximate time period when the data is expected to be collected and generated based on the information provided in your GoMRI proposal.</p>
                    </div>
                </span>
               <label><b>Estimated Data Sampling/Generation Period: </b></label>
               <center>
               <strong>Start Date</strong>
                   <input placeholder="yyyy-mm-dd" type="text" id="startdate" name="startdate">
                   to
                   <input placeholder="yyyy-mm-dd" type="text" id="enddate" name="enddate">
                   <strong>End Date</strong>
              </center>
            </fieldset>
            </div>

            <div class="frmSection">
                <fieldset>
                    <span class="helpSection">
                        <img class="info" src="/images/icons/info32.png">
                        <div class="tooltiptext">
                            <p>The approximate geographic area where the data will be collected. Alternatively, the geographic area the data will be generated for or about, for example the area to be included in a model. Please use the spatial extent wizard to provide the geographic area. If available, please provide location in latitude and longitude in decimal degrees to create a point or a series to create a closed polygon. Alternatively, the spatial extent tool allows you to create an approximate point or polygon of the area where you expect to collect data, or the area that your data will be generated for or about. If your research is purely lab-based, you can indicate this using the spatial extent wizard.</p>
                        </div>
                    </span>
                    <table>
                    <tr>
                        <td valign="top">
                            <div id="spatial">
                                <label for="cgeoloc"><b>Geographic/Study Area: </b></label>
                                <div>
                                    <div style="width:500px;height:300px;" id="difMap"></div>
                                </div>
                                <textarea hidden name="geoloc" id="difGeoloc"></textarea>

                            </div>
                            <div id="nonspatial" style="display:none;width:500px;margin:15px;">
                                <label for="cgeoloc"><b>Study Area Description: </b></label>
                                <textarea name="spatialdesc" id="spatialdesc" rows="5" style="width:100%;"></textarea>
                            </div>
                        </td>
                        <td>
                            <div id="spatwizbtn"></div>
                        </td>
                    </tr>
                    </table>
                    <div id="geoWizard" style="width:100%;height:100%;"></div>
                </fieldset>
            </div>


        <div class="frmSection">
            <fieldset>
                <span class="helpSection">
                    <img class="info" src="/images/icons/info32.png">
                    <div class="tooltiptext">
                        <p>All research projects funded by the Gulf of Mexico Research Initiative (GoMRI) are required to make data publically accessible. Datasets can be submitted directly to GRIIDC, however, your dataset may also be submitted to a national data archival center. If your dataset is submitted to a national data archive center you must still register your dataset with the GRIIDC system so that the dataset can be catalogued with other datasets produced by GoMRI research projects. If you will be submitting your dataset to a national data center not on the list provided, please specify the data center and associated URL in the &ldquo;other&rdquo; field.</p>
                    </div>
                </span>
            <label for="difNatRepo"><b>Identify a National Data Archive for your Dataset, if applicable: </b></label>

           <input type="checkbox"  name="repoNodc" value="National Oceanographic Data Center" id="difNatRepo">National Oceanographic Data Center<br>
           <input type="checkbox"  name="repoUsepa" value="US EPA Storet" id="difNatRepo">US EPA Storet<br>
           <input type="checkbox"  name="repoGbif" value="Global Biodiversity Information Facility" id="difNatRepo"  />Global Biodiversity Information Facility<br>
           <input type="checkbox"  name="repoNcbi" value="National Center for Biotechnology Information" id="difNatRepo"  />National Center for Biotechnology Information<br>
           <input type="checkbox" name="repoDatagov" value="Data.gov Dataset Management System"  id="difNatRepo"  />Data.gov Dataset Management System<br>
           <table>
           <tr>
             <td>Others:</td>
             <td width="100%"><input style="width:100%;" type="text"  name="repoOther"></td></tr></table>
        </fieldset>
        </div>

            <div class="frmSection">
                <fieldset>
                <span class="helpSection">
                    <img class="info" src="/images/icons/info32.png">
                    <div class="tooltiptext">
                        <p>Datasets that contain human health information or personal identifying information may have ethical and/or privacy issues that prevent the data from being shared or distributed. If such conditions exist, please select &ldquo;yes&rdquo;. If uncertain, please select &ldquo;uncertain&rdquo; and provide a short description of potential issues. GRIIDC staff will then follow up to help determine if privacy or ethical issues apply to your dataset.</p>
                    </div>
                </span>
                <label for="difPrivacy"><b>Will this dataset include any data governed under the IRB or HIPAA, or data with other ethical issues?</b></label>
                    <input type="radio"  name="privacy" id="difPrivacy" value="No"> No<br>
                    <input type="radio"  name="privacy" id="difPrivacy" value="Yes"> Yes<br>
                    <input type="radio"  name="privacy" id="difPrivacy" value="Uncertain"> Uncertain
                    <table width="100%"><tr>
                        <td>If yes or uncertain, please explain:
                           <input style="width:100%" type="text"  name="privacyother">
                        </td>
                   </tr></table>
            </fieldset>
            </div>

            <div class="frmSection">
                <fieldset>
                <span class="helpSection">
                    <img class="info" src="/images/icons/info32.png">
                    <div class="tooltiptext">
                        <p>Please provide any additional information that would help GRIIDC understand the contents or format of your dataset that would assist in GRIIDC obtaining, using or distributing your dataset.</p>
                    </div>
                </span>
                    <label for="difRemarks"><b>Remarks: </b></label>
                    <textarea name="remarks"  id="difRemarks"  rows="3" style="width:100%;"></textarea>
            </fieldset>
            </div>
        </fieldset>
            <div id="diftoolbar" class="ui-widget-header ui-corner-all">
            <center>
            {% if (isdifapprover) and (not isadmin) %}
            <button type="button" id="btnApprove" value="approve">Approve</button>
            <button type="button" id="btnReject" value="reject">Reject</button>
            <button type="button" id="btnUpdate" value="update">Update</button>
            <button type="button" id="btnUnlock" value="unlock">Unlock</button>
            {% elseif isadmin %}
            <button type="button" id="btnApprove" value="approve">Approve</button>
            <button type="button" id="btnReject" value="reject">Reject</button>
            <button type="button" id="btnUpdate" value="update">Update</button>
            <button type="button" id="btnUnlock" value="unlock">Unlock</button>
            <button type="button" id="btnSave" value="save">Save and Continue Later</button>
            <button type="button" id="btnSubmit" value="submit">Save and Submit to GRIIDC</button>
            <button type="button" id="btnReqUnlock" value="requnlock">Request to Unlock</button>
            {% else %}
            <button type="button" id="btnSave" value="save">Save and Continue Later</button>
            <button type="button" id="btnSubmit" value="submit">Save and Submit to GRIIDC</button>
            <button style="display:none;" type="button" id="btnReqUnlock" value="requnlock">Request Unlock</button>
            {% endif %}
            <button type="button" id="btnReset">Reset Form</button>
            <!--button type="button" id="btnTop">Top</button-->
            </center>
            </div>
            </form>
    </div>

    </td>
    <td height="100%" valign="top">
    <div style="height:100%; position:relative;">
    <div class="cleair" style="position:absolute; top:0px; left:0px; right:0px; bottom:0px;">
        <table width="100%" height="100%">
        {% if (isadmin == true) or (isdmanager == true) or (isdifapprover == true) %}
        <tr>
        <td>
            <div id="difFilterTools">
                <table width="100%"><tr>
                <td><label>Show Projects Without Datasets</label><input type="radio" value="1" name="showempty" checked>Yes<input type="radio" value="0" name="showempty">No</td>
                    <td>
                        <label>Filter by Status:</label>
                        <select id="fltStatus" style="width:95%;">
                            <option value="">[SHOW ALL]</option>
                            <option value="0">Open</option>
                            <option value="1">Submitted</option>
                            <option value="2">Approved</option>
                        </select>
                    </td>
                <td>
                    <button style="width:120px;" id="fltReset">Reset Filters</button></td></tr>
                <input type="hidden" id="fltResearcher">
                <tr>
                <td colspan="2">
                    <label>Search in Results</label><input placeholder="Search Title or UDI" style="width:95%;" id="fltResults">
                </td>

                <td><button style="width:120px;" type="button" id="btnSearch">Search</button></td>

                </tr>
                </table>
            </div>
        </td>
        </tr>
        {% endif %}
        <tr>
            <td height="100%">
                <table height="100%" width="100%">
                    <tr>
                        <td>
                            <h3>Legend:&nbsp;
                                <span id="statusicon" title="DIF is Open. DIF has been started and saved for this dataset, but has not yet been submitted to GRIIDC."><img src="/images/icons/cross.png">&nbsp;Open</span>&nbsp;-
                                <span id="statusicon" title="DIF is locked and is in review. DIF has been completed and submitted to GRIIDC for review and approval."><img src="/images/icons/error.png">&nbsp;Submitted</span>&nbsp;-
                                <span id="statusicon" title="DIF is locked and approved. DIF has been submitted to GRIIDC and reviewed and approved by GRIIDC. It is locked to prevent additional changes."><img src="/images/icons/tick.png">&nbsp;Approved</span>&nbsp;-
                                <span id="statusicon" title="This is a project that you are associated with through your GoMRI proposal or grant funding agreement that has datasets identified"><img src="/images/icons/folder.png">&nbsp;Project</span>&nbsp;-
                                <span id="statusicon" title="This is a project that you are associated with through your GoMRI proposal or grant funding agreement that does not yet have datasets identified."><img style="-webkit-filter:grayscale(100%);" src="/images/icons/folder_gray.png">&nbsp;Project Without Datasets</span>
                            </h3>
                            <h1>Datasets</h1>
                            <hr width="100%">
                        </td>
                    </tr>
                    <tr>
                        <td height="100%">
                            <div style="position:relative;height:100%;overflow:auto;">
                                <div id="diftree" class="diftree">
                                    <a class="jstree-anchor" href="#"><img src="/images/icons/throbber.gif"> Loading...</a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </table>
    </div>
    </div>
    </td>
    </tr>
</table>

<div id="noresults" title="Search...">No Results Found.</div>
