{% extends "base.html.twig" %}
{% block title %}System Statistics{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('stats') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    
    {{ encore_entry_script_tags('stats') }}
{% endblock %}

{% block body %}
    <div class="bootstrap">
        <div class="container-fluid">
            <div id="stats">
            </div>
        </div> 
    </div>
{% endblock %}
