{% for researchGroup in researchGroups %}

<div x-data="{ expanded: true }">

<div class="shadow-lg border rounded-lg">
    <div class="block second-header">
        <span class="p-2 text-black font-bold block text-sm font-medium bg-gray-200" @click="expanded = ! expanded">
            <div class="float-end px-2">
                <i :class="expanded ? 'fa-solid fa-chevron-up' : 'fa-solid fa-chevron-down'" style="color: gray-800;"></i>
            </div>
            <div class="mr-10">
                Research Group: {{ researchGroup.name }}
            </div>
        </span>
    </div>
</div>

<div x-show="expanded" x-collapse>
    {% set datasets = researchGroup.datasets|filter(dataset => dataset.researchGroup == researchGroup)|filter(dataset => dataset.creator == person)|sort((a, b) => a.udi <=> b.udi) %}
    <div class="ml-8 relative overflow-x-auto">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 table-auto mt-4 text-sm font-medium">
            <colgroup>
                <col style="width: 140px;">
                <col style="width: 180px;">
                <col style="width: 320px;">
                <col style="width: 120px;">
                <col style="width: 220px;">
                <col style="width: 100px;">
            </colgroup>
            <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                <tr>
                    <th scope="col">Unique Dataset Identifier</th>
                    <th scope="col">Point of Contact</th>
                    <th scope="col">Title</th>
                    <th scope="col">Status</th>
                    <th scope="col">Details</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for dataset in datasets %}
                <tr class="bg-white border-b border-gray-200">
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">{{ dataset.udi }}</th>
                    <td class="px-6 py-4">{{ dataset.getPrimaryPointOfContact.fullName|default }}</td>
                    <td class="px-6 py-4">{{ dataset.title }}</td>
                    <td class="text-center">
                        {% include 'Dashboard/badge.html.twig' with {'dataset': dataset} only %}
                    </td>
                    <td>
                        {% include 'Dashboard/statusText.html.twig' with {'dataset': dataset} only %}
                    </td>
                    <td class="text-center">
                        {% include 'Dashboard/nextAction.html.twig' with {'dataset': dataset} only %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="py-6"></div>
</div>
</div>

{% endfor %}