{% set flashBgColors = {
    'success': 'bg-green-400/30',
    'warning': 'bg-yellow-400/30',
    'error': 'bg-red-400/30',
    'default': 'bg-blue-400/30'
} %}
{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="relative isolate flex items-center gap-x-6 overflow-hidden {{ flashBgColors[label]|default(flashBgColors['default']) }} px-6 py-2.5 after:pointer-events-none after:absolute after:inset-x-0 after:bottom-0 after:h-px after:bg-white/10 sm:px-3.5 sm:before:flex-1">
            <div class="flex flex-wrap items-center gap-x-4 gap-y-2">
                <p class="text-sm/6">
                    {{ message }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endfor %}