{% if not dataland | default %}
<div class="tooltip-note" style="float:right; margin-right:5px; margin-bottom:3px; font-size:8pt;">
    place your mouse over each icon for a description
</div>
{% endif %}
<table class="datasets tablesorter status">
    <thead>
        <tr>
            {% if not dataland | default %}
            <th class="udi" title="sort by UDI">UDI</th>
            <th title="sort by Title">Title</th>
            {% endif %}
            <th class="status" {% if not dataland | default %} title="sort by Identified status" {% endif %}>Identified</th>
            <th class="status" {% if not dataland | default %} title="sort by Submitted status" {% endif %}>Submitted</th>
            <th class="status" {% if not dataland | default %} title="sort by Review status" {% endif %}>Review</th>
            <th class="status" {% if not dataland | default %} title="sort by Available status" {% endif %}>Available</th>
        </tr>
    </thead>
    <tbody>

        {% set identified_green = 0 %}
        {% set identified_yellow = 0 %}
        {% set identified_red = 0 %}
        {% set identified_na = 0 %}
        {% set registered_green = 0 %}
        {% set registered_yellow = 0 %}
        {% set registered_red = 0 %}
        {% set registered_na = 0 %}
        {% set metadata_green = 0 %}
        {% set metadata_yellow = 0 %}
        {% set metadata_red = 0 %}
        {% set metadata_na = 0 %}
        {% set available_green = 0 %}
        {% set available_yellow = 0 %}
        {% set available_red = 0 %}
        {% set available_na = 0 %}

        {% image '@PelagosAppBundle/Resources/public/images/check.png' %}
        {% set green_icon = asset_url %}
        {% endimage %}

        {% image '@PelagosAppBundle/Resources/public/images/check-remote.png' %}
        {% set green_remote_icon = asset_url %}
        {% endimage %}

        {% image '@PelagosAppBundle/Resources/public/images/triangle_yellow.png' %}
        {% set yellow_icon = asset_url %}
        {% endimage %}

        {% image '@PelagosAppBundle/Resources/public/images/x.png' %}
        {% set red_icon = asset_url %}
        {% endimage %}

        {% image '@PelagosAppBundle/Resources/public/images/na.png' %}
        {% set na_icon = asset_url %}
        {% endimage %}

        {% if not dataland | default %}
        {% set datasets = datasets|submittedDIFs%}
        {% endif %}

        {% for dataset in datasets %}

            {% if dataset.identifiedStatus == constant('Pelagos\\Entity\\DIF::STATUS_APPROVED') %}
                {% set identified_green = identified_green + 1 %}
                {% set identified_title = "This dataset has been identified and the DIF has been approved." %}
                {% set identified_icon = green_icon %}
            {% elseif dataset.identifiedStatus == constant('Pelagos\\Entity\\DIF::STATUS_SUBMITTED') %}
                {% set identified_yellow = identified_yellow + 1 %}
                {% set identified_title = "A DIF has been submitted for this dataset and is in review." %}
                {% set identified_icon = yellow_icon %}
            {% else %}
                {% set identified_red = identified_red + 1 %}
                {% set identified_title = "" %}
                {% set identified_icon = red_icon %}
            {% endif %}

            {% if dataset.datasetSubmissionStatus == constant('Pelagos\\Entity\\DatasetSubmission::STATUS_COMPLETE') or dataset.datasetSubmissionStatus == constant('Pelagos\\Entity\\DatasetSubmission::STATUS_IN_REVIEW') %}
                {% set registered_green = registered_green + 1 %}
                {% set registered_title = "This dataset has been submitted successfully." %}
                {% set registered_icon = green_icon %}
            {% elseif dataset.datasetSubmissionStatus == constant('Pelagos\\Entity\\DatasetSubmission::STATUS_INCOMPLETE') %}
                {% set registered_yellow = registered_yellow + 1 %}
                {% set registered_title = "A dataset submission has been saved but not yet submitted to GRIIDC." %}
                {% set registered_icon = yellow_icon %}
            {% else %}
                {% set registered_red = registered_red + 1 %}
                {% set registered_title = "This dataset has not yet been submitted." %}
                {% set registered_icon = red_icon %}
            {% endif %}

            {% if dataset.datasetSubmissionStatus != constant('Pelagos\\Entity\\DatasetSubmission::STATUS_COMPLETE') %}
                {% set metadata_na = metadata_na + 1 %}
                {% set metadata_title = "This dataset has not yet been submitted, and therefore cannot be in review." %}
                {% set metadata_icon = na_icon %}
            {% elseif dataset.metadataStatus == constant('Pelagos\\Entity\\DatasetSubmission::METADATA_STATUS_NONE') %}
                {% set metadata_red = metadata_red + 1 %}
                {% set metadata_title = "This dataset package has been submitted and is in review." %}
                {% set metadata_icon = red_icon %}
            {% elseif dataset.metadataStatus == constant('Pelagos\\Entity\\DatasetSubmission::METADATA_STATUS_SUBMITTED') %}
                {% set metadata_yellow = metadata_yellow + 1 %}
                {% set metadata_title = "This dataset package has been submitted and is in review." %}
                {% set metadata_icon = yellow_icon %}
            {% elseif dataset.metadataStatus == constant('Pelagos\\Entity\\DatasetSubmission::METADATA_STATUS_ACCEPTED') %}
                {% set metadata_green = metadata_green + 1 %}
                {% set metadata_title = "This dataset package has been reviewed and accepted." %}
                {% set metadata_icon = green_icon %}
            {% else %}
                {% set metadata_yellow = metadata_yellow + 1 %}
                {% set metadata_title = "This dataset package has been submitted and is in review." %}
                {% set metadata_icon = yellow_icon %}
            {% endif %}

            {% if dataset.datasetSubmissionStatus != constant('Pelagos\\Entity\\DatasetSubmission::STATUS_COMPLETE') %}
                {% set available_na = available_na + 1 %}
                {% set available_title = "This dataset has not yet been submitted, therefore it is not yet available." %}
                {% set available_icon = na_icon %}
            {% elseif dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_NOT_AVAILABLE') %}
                {% set available_red = available_red + 1 %}
                {% set available_title = "This dataset has been submitted, but the data is not yet available." %}
                {% set available_icon = red_icon %}
            {% elseif dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PENDING_METADATA_SUBMISSION') %}
                {% set available_yellow = available_yellow + 1 %}
                {% set available_title = "This dataset package is still in review and is not available for download." %}
                {% set available_icon = yellow_icon %}
            {% elseif dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PENDING_METADATA_APPROVAL') %}
                {% set available_yellow = available_yellow + 1 %}
                {% set available_title = "This dataset package is still in review and is not available for download." %}
                {% set available_icon = yellow_icon %}
            {% elseif dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_RESTRICTED') %}
                {% set available_yellow = available_yellow + 1 %}
                {% set available_title = "The dataset is restricted for download." %}
                {% set available_icon = yellow_icon %}
            {% elseif dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_RESTRICTED_REMOTELY_HOSTED') %}
                {% set available_yellow = available_yellow + 1 %}
                {% set available_title = "This dataset is restricted for download but is hosted by another website so availability status is not guaranteed to be accurate." %}
                {% set available_icon = yellow_icon %}
            {% elseif dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE') %}
                {% set available_green = available_green + 1 %}
                {% set available_title = "This dataset is available for all users to download." %}
                {% set available_icon = green_icon %}
            {% elseif dataset.availabilityStatus == constant('Pelagos\\Entity\\DatasetSubmission::AVAILABILITY_STATUS_PUBLICLY_AVAILABLE_REMOTELY_HOSTED') %}
                {% set available_green = available_green + 1 %}
                {% set available_title = "This dataset has been marked as available for all users to download, but is remotely hosted on a non-GRIIDC server, so availability status is not guaranteed to be accurate." %}
                {% set available_icon = green_remote_icon %}
            {% else %}
                {% set available_na = available_na + 1 %}
                {% set available_title = "The availability of the dataset could not be determined at this time." %}
                {% set available_icon = na_icon %}
            {% endif %}

            <tr udi="{{dataset.udi}}">
                {% if not dataland | default %}
                <td class="udi details"><a href="{{ path('pelagos_app_ui_dataland_default', { 'udi': dataset.udi }) }}" target="_blank">{{dataset.udi}}</a></td>
                <td class="details"><a href="{{ path('pelagos_app_ui_dataland_default', { 'udi': dataset.udi }) }}" target="_blank">{{dataset.title}}</a></td>
                {% endif %}
                <td class="status" title="{{ identified_title | default }}">
                    <span style="display:none;">
                        {% if identified_icon == na_icon %}
                            0
                        {% elseif identified_icon == red_icon %}
                            1
                        {% elseif identified_icon == yellow_icon %}
                            2
                        {% else %}
                            3
                        {% endif %}
                    </span>
                    <img src="{{ identified_icon | default }}">
                </td>
                <td class="status" title="{{ registered_title | default }}">
                    <span style="display:none;">
                        {% if registered_icon == na_icon %}
                            0
                        {% elseif registered_icon == red_icon %}
                            1
                        {% elseif registered_icon == yellow_icon %}
                            2
                        {% else %}
                            3
                        {% endif %}
                    </span>
                    <img src="{{ registered_icon | default }}">
                </td>
                <td class="status" title="{{ metadata_title | default }}">
                    <span style="display:none;">
                        {% if metadata_icon == na_icon %}
                            0
                        {% elseif metadata_icon == red_icon %}
                            1
                        {% elseif metadata_icon == yellow_icon %}
                            2
                        {% else %}
                            3
                        {% endif %}
                    </span>
                    <img src="{{ metadata_icon | default }}">
                </td>
                <td class="status" title="{{ available_title | default }}">
                    <span style="display:none;">
                        {% if available_icon == na_icon %}
                            0
                        {% elseif available_icon == red_icon %}
                            1
                        {% elseif available_icon == yellow_icon %}
                            2
                        {% else %}
                            3
                        {% endif %}
                    </span>
                    <img src="{{ available_icon | default }}">
                </td>
            </tr>

        {% endfor %}

    {% if not dataland | default %}
        {% if not pdf | default %}
        </tbody>
        <tfoot>
        {% endif %}
            <tr style="border-top:3.25px solid black;">
                <th style="text-align:center; font-weight:bold;" data-column="0" rowspan="4">TOTALS</th>
                <th style="text-align:right;">
                    <img src="{{green_icon}}">
                </th>
                <td class="status">{{identified_green}}</td>
                <td class="status">{{registered_green}}</td>
                <td class="status">{{metadata_green}}</td>
                <td class="status">{{available_green}}</td>
            </tr>
            <tr>
                <th style="text-align:right;">
                    <img src="{{yellow_icon}}">
                </th>
                <td class="status">{{identified_yellow}}</td>
                <td class="status">{{registered_yellow}}</td>
                <td class="status">{{metadata_yellow}}</td>
                <td class="status">{{available_yellow}}</td>
            </tr>
            <tr>
                <th style="text-align:right;">
                    <img src="{{red_icon}}">
                </th>
                <td class="status" bgcolor='#D8D8D8'></td>
                <td class="status">{{registered_red}}</td>
                <td class="status">{{metadata_red}}</td>
                <td class="status">{{available_red}}</td>
            </tr>
            <tr>
                <th style="text-align:right;">
                    <img src="{{na_icon}}">
                </th>
                <td class="status" bgcolor='#D8D8D8'></td>
                <td class="status" bgcolor='#D8D8D8'></td>
                <td class="status">{{metadata_na}}</td>
                <td class="status">{{available_na}}</td>
            </tr>
            <tr>
                <td style="border: 0px;"></td>
                <td style="border: 0px;"></td>
                <th>Identified</th>
                <th>Submitted</th>
                <th>Review</th>
                <th>Available</th>
            </tr>
        {% if pdf | default %}
        </tbody>
        {% else %}
        </tfoot>
        {% endif %}
    {% endif %}
</table>
<div
    class="dotTotal"
    total-available="{{available_green}}"
    total-registered="{{registered_green - available_green}}"
    total-identified="{{identified_green - registered_green}}"
/>
