{% extends "PelagosAppBundle:template:UI.html.twig" %}

{% block head %}
    {{ parent() }}

    {% stylesheets
        '@PelagosAppBundle/Resources/public/css/dataset-monitoring.css'
        '@PelagosAppBundle/Resources/public/css/scrollbars.css'
        '@PelagosAppBundle/Resources/public/css/projects.css'
    %}
        {{ add_css(asset_url) }}
    {% endstylesheets %}

    {{ add_js(
        [
            '//cdnjs.cloudflare.com/ajax/libs/jquery-hashchange/1.3/jquery.ba-hashchange.min.js',
            '//cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.15.5/js/jquery.tablesorter.min.js',
            '//cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js',
        ]
    ) }}

    {% javascripts
        '@PelagosAppBundle/Resources/public/js/dataset-monitoring.js'
        '@PelagosAppBundle/Resources/public/js/tree.js'
        '@PelagosAppBundle/Resources/public/js/dotgraph.js'
        '@FOSJsRoutingBundle/Resources/public/js/router.js'
    %}
        {{ add_js(asset_url) }}
    {% endjavascripts %}

    {{ add_js(path('fos_js_routing_js', { callback: 'fos.Router.setData' })) }}
{% endblock %}

{% block body %}

    <div class="display-table">

        <div class="display-table-row">
            <div class="display-table-cell">
                <h1>Dataset Monitoring</h1>
            </div>
        </div>

        <div class="display-table-row">
            <div class="display-table-cell" style="height:100%">
                <div id="container">
                    <div id="left">
                        <div id="menu">
                            <div class="viewport">
                                <div class="overview">
                                    <script type="text/javascript">
                                        var tree = {
                                                    theme: "pelagos",
                                                    max_depth: 2,
                                                    expand_to_depth: 0,
                                                    animation: 250,
                                                    type: "ra",

                                                    rfp_color: "#00A",
                                                    rfp_action: "updateHash(\{\{fundSrc.id\}\});showProjects('fundSrc',\{\{fundSrc.id\}\});",

                                                    project_color: "#00A",
                                                    project_action: "updateHash(\{\{project.fundingCycle.id\}\},\{\{project.id\}\});showProjects('projectId',\{\{project.id\}\});",

                                                    researcher_color: "#00A",
                                                    researcher_action: "location.href='#';showProjects('peopleId',\{\{person.id\}\});",

                                                    afteropen: "$(window).hashchange();"
                                                   }

                                        insertTree(tree);
                                    </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="right">
                        <div id="content">
                            <div class="viewport">
                                <div class="overview"></div>
                                <div class="spinner">
                                    <div>
                                        {% image '@PelagosAppBundle/Resources/public/images/spinner.gif' %}
                                            <img src="{{ asset_url }}">
                                        {% endimage %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
