#container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#left {
    position: absolute;
    width: 40%;
    height: 100%;
}

#right {
    position: absolute;
    left: 40%;
    width: 60%;
    height: 100%;
}

#right .spinner {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -30px;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-row {
    display: table-row;
}

.display-table-cell {
    display: table-cell;
}
