

.twolines
 {
	width:4em;
	display: inline-block;
	position: relative;
	padding: 0;
	word-wrap:normal;
	margin-right: .1em;
	vertical-align: middle;
	text-align: center;
	overflow: visible;
 }

.placeholder
 {
	 display: inline-block;
	 position: relative;
	 padding: 0;
	 margin-right: .1em;
	 vertical-align: middle;
	 overflow: visible;
	 filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	 -moz-opacity: 0.5;
	 opacity: 0.5;
 }

.dsstats
 {
	 display: inline-block;
	 position: relative;
	 padding: 5px;
	 margin-right: .1em;
	 vertical-align: middle;
	 overflow: visible;
 }

.minitoolbar
{
	text-align:right;
	padding: 5px;
}

.minitool
{
	cursor: pointer; cursor: hand;
}

.minitool img
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
}

.minitool:hover img
{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
 }

.mptoolbar
{
	color: #555;
	padding: 5px;
}

.mptool img
{
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	-moz-opacity: 0.5;
	opacity: 0.5;
	padding: 1px;
}

.mptool:hover img
{
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
  -moz-opacity: 1;
  cursor: pointer; cursor: hand;
  opacity: 1;
  border: 2px solid red;
  padding: 0px;

}

.grmap
{
	border-style: solid;
    border-width: 1px;
    position: relative;
    width: 100%;
    height: 800px;
    background-color: #CCC;
}

.dscol
{
	width:50%;
	vertical-align:text-top;
}

.datasethl
{
	background-color: #DFD;
}

tr:hover.dsrow
{
	background-color: #DFD;
}

.datasets td
{
    padding: 0px;
}

.dsdetails
{
	border:2px solid;
	border-radius:0px;
	padding:10px;

}

.dataset_details {

    padding: 5px;
}

div.attr {
    margin-bottom: .5em;
}

span.attr {
    font-weight: bold;
}

.tabb
{
	/*height:500px;
	max-height:500px;*/
	overflow: auto;

}

.pubcite {
    font-weight: normal;
}

#metadatadl {
    vertical-align: middle;
}

#metadatadl-dis {
    vertical-align: middle;
}

#downloaddsdenmd {
    vertical-align: middle;
}

#downloaddsdenrestricted {
    vertical-align: middle;
}

#tabs li.ui-state-disabled {
    opacity: .5;
}
