table.datasets {
    width: 100%;
    border-collapse: collapse;
}

table.datasets td {
    padding: 5px 10px;
}

table.datasets tr:hover td {
    background-color: #DFD;
}

table.datasets tr td.highlight {
    background-color: #DFD;
}

table.datasets .checkbox {
    width: 1em;
    text-align: center;
    vertical-align: top;
}

table.datasets .status {
    width: 4em;
    text-align: center;
}

table.datasets .status img {
    vertical-align: middle;
}

table.datasets .attributes {
    text-align: right;
    font-size: 80%;
}

table.datasets .disabled {
    color: #888;
}


div.nodata {
    margin-top: 0.75em;
    color: red;
}

div.spinner {
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -30px;
}

div.dataset_header {
    font-size: 120%;
    background-color: #40626a;
    color: white;
    padding: 5px;
    margin-bottom: 1em;
}
