.hiddenFormField{
    display:none;
}

.toolbarbutton {
    padding: 4px;
    font-size: 12px;
}

#helpinfo .ui-button{
    display:block;
}

#navbuttons .ui-button{
    display:block;
}

.emRequired::before
{
    font-weight: bold; color:#FF0000;
    content:"*";
}

.keywordbutton {
    width:80px;
}

.keywordinput {
    width:350px;
}

.dstablink {
    outline:none;
}

.topictooltip {
    display:none;
}

.tab-table {
    width: 100%;
    margin: 2px;
}

.tab-table td {
    padding: 5px;
}

input[type=text],select,textarea,input[type=email] {
    width:90%;
}

textarea{
    resize: vertical;
}

.tab-table tr:nth-child(even) {
    background-color: #CCC
}

.tab-table tr:nth-child(odd) {
    background-color: #DDD
}

.field-help {
    font-family: monospace;
}

legend
	{
		text-shadow: 2px 2px 3px rgba(150, 150, 150, 0.75);
		font-family:Verdana, Geneva, sans-serif;
		font-size:1.4em;
		padding: 3px;
		border-top: 1px solid #000;
		border-left: 1px solid #000;
		border-right:  1px solid #000;
		border-bottom:  1px solid #000;
		background-color: white;
	}

fieldset
{
    border: 1px dotted #AAA;
}

.sftphidden {
    display: none;
}

.validdsform {
    display: none;
}

.tabimg {
    margin: 2px;
    height: 16px;
    width: 16px;
    display: none;
}

.cleair {
    margin:auto;
    position:relative;
    text-align: left;
    width:90%;
    font-family: sans-serif, Tahoma, Geneva;
    font-size: 12px;
    line-height: 24px;
    background: #f1f7fb;
    //background: #bfcacd;
    color: #40626b;
    vertical-align: middle;
    text-decoration: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:50px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

#filetabs .file_force label {
    display: inline;
}

#spinner {
    display: none;
}

#restrictions label{
    display: inline;
}

table.dataTable.stripe tbody tr:hover {
    cursor: pointer;
    background-color: #becacd;
}

.helpSection img
{
    opacity:.5;
}

.helpSection img:hover
{
    opacity:1;
}

.helpSection
{
    float:right;
	margin-right:42px;
}

.tooltiptext
{
    display: none;
}

.delete-contact
{
    outline:2px solid rgba(255,0,0,0.5);
    padding:2px;
    opacity:.7;
}

#contact-prototype
{
    display:none;
}
