select,textarea {
    width:100%;
}

label:not(.button) 
{
    font-weight: bold;
    display: block;
}

.choice-label label {
    font-weight: normal;
    display: inline;
}

.choice-label input[type=text] {
    width:100%;
}

.ui-dialog {
    /* z-index:20000000000 !important; /* The default is 100. !important overrides the default. */
}

.ui-button:focus {
  outline: none;
}

.ui-button:disabled {
  background: #cccccc;
  border: 1px solid #777777;
  opacity: .35;
  cursor: default;
}

.openlayers-map img{ margin:none }

.statustext
{
   font-size:1.5em; 
}

.emRequired::before
{
    font-weight: bold; color:#FF0000;
    content:"*";
}

.helpSection img
{
    opacity:.5;   
}

.helpSection img:hover
{
    opacity:1;   
}

.helpSection
{
    float:right;margin-right:-42px;
    
}

.frmSection fieldset
{
    padding-right:48px;
    
}

.tooltiptext
{
    display: none;
}

.cleair {
    background: #f1f7fb;
    color: #40626b;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

.jstree-default .jstree-anchor {
    white-space: normal !important;
    height: auto;
    padding-right: 30px;
}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 0, 0, 0, .2 ) ;

}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
* we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 300px;
}
.ui-autocomplete-loading {
    background: white url('/images/icons/throbber.gif') right center no-repeat;
}

.diftoolbar
{
    padding:5px;
    width:650px;
    height:40px;
    position:fixed;
    top:93%;
    right:45px;
    opacity:0.7;
    z-index:2;
}

.diftoolbar:hover
{
    opacity:1;
}

.customqtip
{
    font-family:Sans-serif;
    line-height: 1.2em;
    font-size:1.2em;
}

.diftree
{
  position:absolute;top:0px;left:0px;bottom:0px;right:0px;overflow-y:auto;overflow-x:hidden;
  padding-bottom:20px;
}

#noresults
{
    display:hidden;
}
