table.display {
    margin: left;
    width: 100%;
    clear: both;
    border-collapse: collapse;
}

#linkList_filter {
    float: right;
}

#linkList_length {
    float: left;
}

#linkList_info {
    float: left;
}

#linkList_paginate {
    float: right;
}

.dataTables_paginate span a {
    padding-left: 5px;
    padding-right: 5px;
}

.dataTables_paginate .previous {
    padding-right: 5px;
}

.dataTables_paginate .next {
    padding-left: 5px;
}
