#page #login {
        float:left;
        margin:0 -296px 0 0;
        padding:15px;
        width:258px;
        min-height:15em;
        position:relative;
        border:0;
    }
#page #login h2 {
    border-bottom:1px solid #ddd;
    padding:3px 0;
    font:normal 400 17px Georgia, "Times New Roman", Times, serif; color:#333;
}
#page #login label {
    font-size:11px;
}
#page #login label span.accesskey {
    text-decoration:underline;
}
#page #login input {
    letter-spacing:1px;
}
#page #login .check input {
    position:relative; left:-4px; height:auto;
}
#page #login .check label {
    float:none;
    xwidth:auto;
    line-height:1.8;
}
#page #login .btn-row {
    padding-top:10px;
    border-top:1px solid #ddd;
}
#page #login .btn-submit {
    float:none;
    clear:none;
    display:inline;
    letter-spacing:0;
}
#page #login .btn-reset {
    float:none;
    clear:none;
    margin-left:5px;
    border:0;
    border-left:1px solid #ddd;
    background:transparent;
    color:#777;
    text-transform:lowerpagee;
    letter-spacing:0;
}
#page #sidebar {
    float:left;
    margin-left:296px;
    padding:18px 15px;
}
#page #sidebar h3 {
    font:normal 400 14px Georgia, "Times New Roman", Times, serif;
    color:#555;
    margin:18px 0 0;
    padding:6px 0 3px;
}
#page #sidebar p {
    margin:0 0 18px;
    padding:0;
    color:#555;
    font-size:1.1em;
}
#page #list-languages ul {
    margin:0;
    padding:0;
    line-height:1.5;
    list-style:none;
}
#page #list-languages ul li {
    display:inline;
    padding:0 5px;
    border-right:1px solid #ccc;
}
#page #list-languages ul li.first {
    padding-left:0;
}
#page #list-languages ul li.last {
    padding-right:0; border:0;
}

/* CONTENT --------------------------------- */
/*#main {clear:both; padding:15px 0; margin:0 15px 2em;}*/
#main h2 {
    margin:0 0 .5em 0;
    font-size:1.3em;
    font-weight:400;
    color:#000;
    xborder-bottom:1px solid #eee;
    padding:3px 0;
    xletter-spacing:-1px;
}
#main h3 {
    font:1em arial, helvetica, sans-serif;
    font-weight:400;
}
#main p {
    line-height:1.5;
    font-size:1.1em;
    padding:0 0 18px;
}

/* MESSAGES --------------------------------- */
.info, .errors, .success {
    clear:both;
    margin:18px 0;
    padding:20px 20px 20px 100px;
    font-size:10px;
    line-height:1.5;
}
.info p, .errors p, .success p {
    margin-top:10px;
}
.info {
    border:1px dotted 008;
}
.errors {
    border:1px dotted #d21033;
}
.success {
    border:1px dotted #390;
}
#main .errors h2, #main .success h2 {
    font-family:Georgia,"Times New Roman",Times,serif;
    font-size:18px;
    font-weight:400;
    margin:0 18px 0 0;
    padding:0;
}
#main .success h2 {
    color: #008 !important;
}
#main .errors h2 {
    color:#b00 !important;
}
#main .success h2 {
    color:#060 !important;
}

/* static messages */
#main #msg p {
    padding:0;
}

/* FORMS --------------------------------- */
label {
    cursor:pointer;
    font-size:1.1em;
    color:#777;
}
input {
    border-width:1px;
    font-family:Verdana,sans-serif;
    font-size:1.1em;
    color:#000;
    padding:3px;
    min-height:1.5em;
}
input.btn-submit {
    border-width:2px;
}

.fm-v div.row {
    margin:0;
    padding:.5em 0;
    width:100%;
}
.fm-v div.row label {
    float:left;
    width:100%;
    line-height:1.5;
}
.fm-v div.row input.btn-submit {
    display:block;
    margin:0;
}

/* highlight errors */
input.error {
    background:#FFEFEF;
    color:#b00;
}

/* mark as required */
.required {
    background:#ffd;
}
.error {
    background:#ffefef;
}
input.required {
    border-width:1px;
}

#list-languages {
    display:none;
}
.check {
    display:none;
}
#login_logout {
    display: none;
}
#branding {
    margin-left: 10px;
}
.region-content {
    margin: 0 10px;
}
#content.column {
    padding: 0px;
}
#page #login #edit-name {
    width: 250px;
}
#page #login #edit-pass {
    width: 250px;
}
#page-title {
    display: none;
}