.header {
    padding: 60px;
    text-align: center;
    color: white;
    font-size: 30px;
    height: 100%;
}

a {
    color: #2e6da4;
    font-family: 'Raleway', "Helvetica", Arial, sans-serif;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: black;
}

a:visited {
    color: purple;
}

.ibox-content {
    background-color: #FFFFFF;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #E7EAEC;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.search-form {
    margin-top: 10px;
}

.search-result h4 {
    margin-bottom: 0;
    color: #1E0FBE;
    font-weight: bold;
}

.search-result .search-link {
    color: #006621;
}

.search-result p {
    font-size: 12px;
    margin-top: 5px;
}

.hr-line-dashed {
    border-top: 1px dashed #E7EAEC;
    color: #ffffff;
    background-color: #ffffff;
    height: 1px;
    margin: 20px 0;
}

h2 {
    font-size: 24px;
    font-weight: 100;
}
#custom-search-input {
    margin:0;
    margin-top: 10px;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
}

#custom-search-input button {
    border: #1E0FBE;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 10px;
    color: #004250;
}

.search-query:focus + button {
    z-index: 3;
}
