.spinner {
    display:none;
}

.side-table {
    width: 100%;
}

.version-select {
    height:25px;
}

.grid-container {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: start;
    overflow:auto;
    height:100%;
}

.grid-group {
   display:contents;
   grid-auto-rows: 1fr;
}

#left.grid-group > div.ds-metadata {
    grid-column: 1;
}

#right.grid-group > div.ds-metadata {
    grid-column: 2;
}

.grid-group > div.ds-metadata:nth-child(1) {
  grid-row: 1;

}

.grid-group > div.ds-metadata:nth-child(2) {
  grid-row: 2;
}

.grid-group > div.ds-metadata:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}

.grid-group > div.ds-metadata:nth-child(4) {
  grid-row: 4;
  grid-column: 1;
}

.grid-group > div.ds-metadata:nth-child(5) {
  grid-row: 5;
  grid-column: 1;
}

.grid-group > div.ds-metadata:nth-child(6) {
  grid-row: 6;
  grid-column: 1;
}

.grid-group > div.ds-metadata:nth-child(7) {
  grid-row: 7;
  grid-column: 1;
}

.grid-group > div.ds-metadata:nth-child(8) {
  grid-row: 8;
  grid-column: 1;
}

.contentbox[tagname="TEXTAREA"] {
    padding: 2px;
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    border: 1px solid darkgray;
    font: medium -moz-fixed;
    font: -webkit-small-control;
    font: 15px monospace;
    overflow: auto;
    resize: both;
    background-color: white;
    margin-top: 2px;
    margin-bottom: 5px;
}

.contentbox[tagname="INPUT"] {
    -moz-appearance: textfield;
    -webkit-appearance: textfield;
    background-color: white;
    background-color: -moz-field;
    border: 1px solid darkgray;
    box-shadow: 1px 1px 1px 0 lightgray inset;
    font: -moz-field;
    font: -webkit-small-control;
    font: 15px Arial;
    margin-top: 0px;
    padding: 2px 3px;
}

.deloption {
    background: #ffe6e6;
    text-decoration: line-through;
}

.insoption {
    background: #e6ffe6;
    text-decoration: underline;
}





