

.flex-container {
    display: flex;
}

.flex-row {
    flex-direction: column;
    display: flex;

}

.ds-metadata {
    flex-direction: column;
    display: flex;
    flex: 1 0;
    overflow: auto;
    min-height: fill-available;
    white-space: nowrap;
}

