.sideheader {
    width: 100%;
    height: 150px;
    background: #f1f7fb;
    color: #40626b;
}

.sidemain {
    overflow: scroll; 
    height: 100%; 
    width: 100%;
    background: #f1f7fb;
    color: #40626b;
}

.sidetable {
    width: 100%;
}
.sidetable td {
    vertical-align:top
}