<style type="text/css">
* {margin:0;padding:0;border:0;outline:0}
BODY { font-family: "Trebuchet MS", Arial,Helvetica,Sans Serif; font-size: 10pt; }
a  { text-decoration : none; }
a:hover  { text-decoration: underline; }
p { padding-bottom: 8px; }
#map_canvas { height: 600px; width:100%; }
.clear { clear:both; }
#coords1 {
    padding: 5px;
    font-weight: bold;
}
#myzoom {
    font-weight: bold;
    color: #335e5e;
}
#zoom {
    position: absolute;
    top: 35px;
    left: 34px;
    background-color: #ffffff;
	border:0;
}
#bottom {
    position: absolute;
    top: 600px;
    left: 0px;
    width:100%;
    height:150px;
    background-color: #335e5e;
}
#presenter {
    position: absolute;
    top: 610px;
    left: 5px;
    width: 98%;
    height: 110px;
    border: 4px solid #84d0dc;
    background-color: #cdcdcd;
	z-index:10000;

}
#presenter2 {
    position: absolute;
    top: 20px;
    left: 200px;
	z-index:10000;
}
#top {
    width: 100%;
    //background-color: #D8C6AE;
    background-color: #ffffff;
    position: absolute;
    top: 0px;
    left: 0px;
}
#heading {
    width: 100%;
    height:50px;
    background-color: #335e5e;
    position: absolute;
    top: 0px;
    left: 0px;
}
#polygonstuff {
    position: absolute;
    top: 400px;
    left: 5px;
    width: 70px;
    height: 60px;
    background-color: #335e5e;
    color: #ffffff;
    visibility: hidden;
}
#title {
    background-color: transparent;
    width: 270px;
    float: left;
}
.choice {
    background-color: transparent;
    width: 100px;
    float: left;
}
h1 {
    font-size:25px;
    font-weight: bold;
    color: #eeeeee;
    padding-top: 4px;
    padding-left: 10px;
    padding-bottom: 11px;
}
.topbutton {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border:4px; float: left; 
}
#googlead {
    margin: 0 auto;
    width: 800px;
    padding-top: 5px;
}
 p.dotted {
 
 border: dotted 2px #959695;
 padding: 10px;   
 background: #F4F4F4; 
 
 }
#content { 
   margin: 10px 
}
#polylineoptions {
    position: absolute;
    background-color: #ffffff;
    top: 200px;
    left: 560px;
    width: 260px;
    height: 210px;
    border: 2px solid #337EB7;
    visibility: hidden;
}
#polygonoptions {
    position: absolute;
    background-color: #ffffff;
    top: 200px;
    left: 560px;
    width: 260px;
    height: 255px;
    border: 2px solid #337EB7;
    visibility: hidden;
}
#rectang {
    position: absolute;
    background-color: #ffffff;
    top: 200px;
    left: 560px;
    width: 260px;
    height: 260px;
    border: 2px solid #337EB7;
    visibility: hidden;
}
#circleoptions {
    position: absolute;
    background-color: #ffffff;
    top: 200px;
    left: 560px;
    width: 260px;
    height: 260px;
    border: 2px solid #337EB7;
    visibility: hidden;
}
#markeroptions {
    width: 950px;
    height: 310px;
    background-color: #ffffff;
    margin: 2px 2px 2px 2px;
    padding: 8px;
    border: 1px solid #aaa;
    position: absolute;
    top: 45px;
    left: 10px;
    z-index:99999;
    visibility:hidden;
}
#directionstyles {
    position: absolute;
    background-color: #ffffff;
    top: 200px;
    left: 560px;
    width: 260px;
    height: 210px;
    border: 2px solid #337EB7;
    visibility: hidden;
}
#iconimages {
    width: 430px;
    height: 300px;
    background-color: #ffffff;
    margin: 2px 2px 2px 2px;
    padding: 8px;
    float: left;
}
#stylestext {
    width: 485px;
    height: 280px;
    background-color: #ffffff;
    margin: 0px 0px 2px 2px;
    padding: 5px;
    float: left;
}
#toppers {
    width: 405px;
    height: 300px;
    background-color: #ffffff;
    margin: 2px 2px 2px 2px;
    padding: 8px;
    position: absolute;
    top: 165px;
    left: 90px;
    z-index:99999;
    visibility: hidden;
}
#dirtoppers {
    width: 405px;
    height: 350px;
    background-color: #ffffff;
    margin: 2px 2px 2px 2px;
    padding: 8px;
    position: absolute;
    top: 165px;
    left: 90px;
    z-index:99999;
    visibility: hidden;
}
.styletitle {
    margin-left:5px;
    padding:0 3px 0 5px;
    font-weight:bold;
    background-color: #CCCCFF;
}
.closebutton {
    border:1px solid #000000;
    padding:1px 4px 1px 4px;
    margin:1px 3px 1px 0px;
    color:#ffffff;
    background-color: #337EB7;
}
#RegretButton {
    visibility: hidden;
}
.cleair {
    height: 90px;
   margin:auto;
   text-align: left;
   width:150px;
   font-family: sans-serif, Tahoma, Geneva;
   font-size: 12px;
   line-height: 24px;
   background: #f1f7fb;
   color: #40626b;
   vertical-align: middle;
   text-decoration: none;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   padding:2px;
   -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
   -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
   z-index:10000;
}
.label {
	float: left;
	text-align: right;
	margin-right: 5px;
	width: 80px;
	padding-top: 5px;
}
.input {
     border: 2px solid #84d0dc;
     background: #eeeeee;
    font-weight:bold;
    padding: 5px 5px 5px 5px;
 }
 .input:hover {
     border: 2px solid #84d0dc;
     background: #bfcacd;
    font-weight:bold;
    padding: 5px 5px 5px 5px;
 }
 .button {
     border: none;
     background: url('http://proteus.tamucc.edu/~jlann/lawsonite/images/up.png') no-repeat top left;
     padding: 10px;
 }
 .button:hover {
     border: none;
     background: url('http://proteus.tamucc.edu/~jlann/lawsonite/images/down.png') no-repeat top left;
     padding: 10px;
 }
   .info {
     border: none;
	 
     background: url('http://proteus.tamucc.edu/~jlann/lawsonite/images/info.png') no-repeat top left;
     padding: 10px;

 }
  .marker_button {
     border: none;
     background: url('images/polygon_icon.png') no-repeat top left;
     padding: 10px;
 }
 .marker_button:hover {
     border: none;
     background: url('images/marker_icon.png') no-repeat top left;
     padding: 10px;
 }
 </style>
