[paths]
; path to the data store (no trailing /)
data_store = /sftp/data

; for each email address, a list of the type of notifications to send to that address
; types:
;     filed - list datasets whose files have been copied to the data store
;     remote - list datasets whose files are remote (and therefore have not been filed)
;     unknown - list datasets whose file url specifies an unknown protocol (including no protocol)
;     missing - list datasets whose file url points to a local file that does not exist
[notifications]
first.last@tamucc.edu = filed,remote,unknown,missing
