{% set distPoint = dataset.datasetSubmission.distributionPoints | first %}
<gmd:MD_Distribution>
    <gmd:distributor>
        <gmd:MD_Distributor>
            <gmd:distributorContact>
                <gmd:CI_ResponsibleParty>
                    <gmd:organisationName>
                        <gco:CharacterString> {{ distPoint.dataCenter.organizationName }}</gco:CharacterString>
                    </gmd:organisationName>
                    <gmd:contactInfo>
                        <gmd:CI_Contact>
                            <gmd:phone>
                                <gmd:CI_Telephone>
                                    <gmd:voice>
                                        {% if distPoint.dataCenter.phoneNumber is empty %}
                                            <gco:CharacterString/>
                                        {% else %}
                                            <gco:CharacterString>{{ distPoint.dataCenter.phoneNumber }}</gco:CharacterString>
                                        {% endif %}
                                    </gmd:voice>
                                </gmd:CI_Telephone>
                            </gmd:phone>
                            <gmd:address>
                                <gmd:CI_Address>
                                    <gmd:deliveryPoint>
                                        {% if distPoint.dataCenter.deliveryPoint is empty %}
                                            <gco:CharacterString/>
                                        {% else %}
                                            <gco:CharacterString><![CDATA[{{ distPoint.dataCenter.deliveryPoint }}]]></gco:CharacterString>
                                        {% endif %}
                                    </gmd:deliveryPoint>
                                    <gmd:city>
                                        {% if distPoint.dataCenter.city is empty %}
                                            <gco:CharacterString/>
                                        {% else %}
                                            <gco:CharacterString>{{ distPoint.dataCenter.city }}</gco:CharacterString>
                                        {% endif %}
                                    </gmd:city>
                                    <gmd:administrativeArea>
                                        {% if distPoint.dataCenter.administrativeArea is empty %}
                                            <gco:CharacterString/>
                                        {% else %}
                                            <gco:CharacterString>{{ distPoint.dataCenter.administrativeArea }}</gco:CharacterString>
                                        {% endif %}
                                    </gmd:administrativeArea>
                                    <gmd:postalCode>
                                        {% if distPoint.dataCenter.postalCode is empty %}
                                            <gco:CharacterString/>
                                        {% else %}
                                            <gco:CharacterString>{{ distPoint.dataCenter.postalCode }}</gco:CharacterString>
                                        {% endif %}
                                    </gmd:postalCode>
                                    <gmd:country>
                                        {% if distPoint.dataCenter.country is empty %}
                                            <gco:CharacterString/>
                                        {% else %}
                                            <gco:CharacterString>{{ distPoint.dataCenter.country }}</gco:CharacterString>
                                        {% endif %}
                                    </gmd:country>
                                    <gmd:electronicMailAddress>
                                        {% if distPoint.dataCenter.emailAddress is empty %}
                                            <gco:CharacterString/>
                                        {% else %}
                                            <gco:CharacterString>{{ distPoint.dataCenter.emailAddress }}</gco:CharacterString>
                                        {% endif %}
                                    </gmd:electronicMailAddress>
                                </gmd:CI_Address>
                            </gmd:address>
                            <gmd:onlineResource>
                                <gmd:CI_OnlineResource>
                                    <gmd:linkage>
                                        <gmd:URL>{{ distPoint.dataCenter.organizationUrl }}</gmd:URL>
                                    </gmd:linkage>
                                </gmd:CI_OnlineResource>
                            </gmd:onlineResource>
                        </gmd:CI_Contact>
                    </gmd:contactInfo>
                    <gmd:role>
                        {% include "PelagosAppBundle:MetadataGenerator:CI_RoleCode.xml.twig" with {"role" : distPoint.roleCode} %}
                    </gmd:role>
                </gmd:CI_ResponsibleParty>
            </gmd:distributorContact>
            <gmd:distributorFormat>
                <gmd:MD_Format>
                    <gmd:name>
                        <gco:CharacterString>{{ dataset.datasetSubmission.distributionFormatName|default }}</gco:CharacterString>
                    </gmd:name>
                    <gmd:version gco:nilReason="inapplicable" />
                    <gmd:fileDecompressionTechnique>
                        <gco:CharacterString>{{ dataset.datasetSubmission.fileDecompressionTechnique|default }}</gco:CharacterString>
                    </gmd:fileDecompressionTechnique>
                </gmd:MD_Format>
            </gmd:distributorFormat>
            <gmd:distributorTransferOptions>
                <gmd:MD_DigitalTransferOptions>
                    {% if dataset.datasetSubmission.datasetFileSize|default is empty %}
                        <gmd:transferSize/>
                    {% else %}
                        <gmd:transferSize>
                            <gco:Real>{{ (dataset.datasetSubmission.datasetFileSize / 1000000) | round(4) }}</gco:Real>
                        </gmd:transferSize>
                    {% endif %}
                    <gmd:onLine>
                        <gmd:CI_OnlineResource>
                            <gmd:linkage>
                                <gmd:URL>{{ distPoint.distributionUrl }}</gmd:URL>
                            </gmd:linkage>
                            <gmd:protocol>
                                <gco:CharacterString>https</gco:CharacterString>
                            </gmd:protocol>
                        </gmd:CI_OnlineResource>
                    </gmd:onLine>
                </gmd:MD_DigitalTransferOptions>
            </gmd:distributorTransferOptions>
        </gmd:MD_Distributor>
    </gmd:distributor>
</gmd:MD_Distribution>
