<gmd:MD_DataIdentification>
    <gmd:citation>
        <gmd:CI_Citation>
            <gmd:title>
                <gco:CharacterString><![CDATA[{{dataset.datasetSubmission.title | raw}}]]></gco:CharacterString>
            </gmd:title>
            <gmd:alternateTitle>
                <gco:CharacterString>{{dataset.datasetSubmission.shortTitle}}</gco:CharacterString>
            </gmd:alternateTitle>
            <gmd:date>
                <gmd:CI_Date>
                    <gmd:date>
                        <gco:Date>{{ dataset.datasetSubmission.referenceDate | date("Y-m-d", "UTC") }}</gco:Date>
                    </gmd:date>
                    <gmd:dateType>
                        {% if dataset.datasetSubmission.referenceDateType == "creation" %}
                            {% set codespace = "001" %}
                        {% elseif dataset.datasetSubmission.referenceDateType == "publication" %}
                            {% set codespace = "002" %}
                        {% elseif dataset.datasetSubmission.referenceDateType == "revision" %}
                            {% set codespace = "003" %}
                        {% endif %}
                        <gmd:CI_DateTypeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#CI_DateTypeCode" codeListValue="{{dataset.datasetSubmission.referenceDateType}}" codeSpace="{{codespace|default}}">{{dataset.datasetSubmission.referenceDateType}}</gmd:CI_DateTypeCode>
                    </gmd:dateType>
                </gmd:CI_Date>
            </gmd:date>
        </gmd:CI_Citation>
    </gmd:citation>
    <gmd:abstract>
        <gco:CharacterString><![CDATA[{{dataset.datasetSubmission.abstract | trim | raw}}]]></gco:CharacterString>
    </gmd:abstract>
    <gmd:purpose>
        <gco:CharacterString><![CDATA[{{dataset.datasetSubmission.purpose | raw}}]]></gco:CharacterString>
    </gmd:purpose>
    <gmd:status>
        <gmd:MD_ProgressCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_ProgressCode" codeListValue="completed" codeSpace="001">completed</gmd:MD_ProgressCode>
    </gmd:status>
    {% for contact in dataset.datasetSubmission.datasetContacts %}
    <gmd:pointOfContact>
        {% include "PelagosAppBundle:MetadataGenerator:CI_ResponsibleParty.xml.twig" with
            {
                "Person" : contact.person,
                "role" : contact.role,
            }
        %}
    </gmd:pointOfContact>
    {% endfor %}
    <gmd:descriptiveKeywords>
        {% include "PelagosAppBundle:MetadataGenerator:MD_Keywords.xml.twig" with
            {
                "keywords" : dataset.datasetSubmission.themeKeywords,
                "type" : {"name" : "theme", "code" : "005"},
            }
        %}
    </gmd:descriptiveKeywords>
    <gmd:descriptiveKeywords>
        {% include "PelagosAppBundle:MetadataGenerator:MD_Keywords.xml.twig" with
            {
                "keywords" : dataset.datasetSubmission.placeKeywords,
                "type" : {"name" : "place", "code" : "002"},
            }
        %}
    </gmd:descriptiveKeywords>
    <gmd:language>
        <gco:CharacterString>eng; USA</gco:CharacterString>
    </gmd:language>
    {% for topickeyword in dataset.datasetSubmission.topicKeywords %}
    <gmd:topicCategory>
        <gmd:MD_TopicCategoryCode>{{topickeyword}}</gmd:MD_TopicCategoryCode>
    </gmd:topicCategory>
    {% endfor %}
    {% if dataset.datasetSubmission.spatialExtent or
        dataset.datasetSubmission.spatialExtentDescription or
        dataset.datasetSubmission.temporalExtentBeginPosition or
        dataset.datasetSubmission.temporalExtentEndPosition
    %}
    <gmd:extent>
        {% if dataset.datasetSubmission.spatialExtent and not dataset.datasetSubmission.spatialExtentDescription %}
        <gmd:EX_Extent id="boundingExtent">
        {% elseif dataset.datasetSubmission.spatialExtentDescription and not dataset.datasetSubmission.spatialExtent %}
        <gmd:EX_Extent id="descriptiveExtent">
        {% else %}
        <gmd:EX_Extent>
        {% endif %}
            {% if dataset.datasetSubmission.spatialExtentDescription %}
            <gmd:description>
                <gco:CharacterString><![CDATA[{{dataset.datasetSubmission.spatialExtentDescription | raw}}]]></gco:CharacterString>
            </gmd:description>
            {% endif %}
            {% if dataset.datasetSubmission.spatialExtent %}
                <gmd:geographicElement>
                    <gmd:EX_GeographicBoundingBox>
                        <gmd:westBoundLongitude>
                            <gco:Decimal>{{ boundingBoxArray.westBoundLongitude }}</gco:Decimal>
                        </gmd:westBoundLongitude>
                        <gmd:eastBoundLongitude>
                            <gco:Decimal>{{ boundingBoxArray.eastBoundLongitude }}</gco:Decimal>
                        </gmd:eastBoundLongitude>
                        <gmd:southBoundLatitude>
                            <gco:Decimal>{{ boundingBoxArray.southBoundLatitude }}</gco:Decimal>
                        </gmd:southBoundLatitude>
                        <gmd:northBoundLatitude>
                            <gco:Decimal>{{ boundingBoxArray.northBoundLatitude }}</gco:Decimal>
                        </gmd:northBoundLatitude>
                    </gmd:EX_GeographicBoundingBox>
                </gmd:geographicElement>
            <gmd:geographicElement>
                <gmd:EX_BoundingPolygon>
                    <gmd:polygon>
                        {{dataset.datasetSubmission.spatialExtent | raw}}
                    </gmd:polygon>
                </gmd:EX_BoundingPolygon>
            </gmd:geographicElement>
            {% endif %}
            {% if dataset.datasetSubmission.temporalExtentBeginPosition or dataset.datasetSubmission.temporalExtentEndPosition %}
            <gmd:temporalElement>
                <gmd:EX_TemporalExtent>
                    <gmd:extent>
                        <gml:TimePeriod gml:id="boundingTemporalExtent">
                            {% if dataset.datasetSubmission.temporalExtentDesc %}
                            <gml:description>{{dataset.datasetSubmission.temporalExtentDesc}}</gml:description>
                            {% else %}
                            <gml:description />
                            {% endif %}
                            {% if dataset.datasetSubmission.temporalExtentBeginPosition %}
                                <gml:beginPosition>{{dataset.datasetSubmission.temporalExtentBeginPosition|date("Y-m-d", "UTC")}}</gml:beginPosition>
                            {% else %}
                                <gml:beginPosition />
                            {% endif %}
                            {% if dataset.datasetSubmission.temporalExtentEndPosition %}
                                <gml:endPosition>{{dataset.datasetSubmission.temporalExtentEndPosition|date("Y-m-d", "UTC")}}</gml:endPosition>
                            {% else %}
                                <gml:endPosition />
                            {% endif %}
                        </gml:TimePeriod>
                   </gmd:extent>
               </gmd:EX_TemporalExtent>
            </gmd:temporalElement>
            {% elseif dataset.datasetSubmission.temporalExtentNilReasonType %}
                <gmd:temporalElement gco:nilReason="{{ dataset.datasetSubmission.temporalExtentNilReasonType }}"/>
            {% endif %}
        </gmd:EX_Extent>
    </gmd:extent>
    {% endif %}
    <gmd:supplementalInformation>
        <gco:CharacterString><![CDATA[{{dataset.datasetSubmission.suppParams | raw}}|{{dataset.datasetSubmission.suppMethods | raw}}|{{dataset.datasetSubmission.suppInstruments | raw}}|{{dataset.datasetSubmission.suppSampScalesRates | raw}}|{{dataset.datasetSubmission.suppErrorAnalysis | raw}}|{{dataset.datasetSubmission.suppProvenance | raw}}]]></gco:CharacterString>
    </gmd:supplementalInformation>
</gmd:MD_DataIdentification>
