<?xml version="1.0" encoding="UTF-8"?>
<gmi:MI_Metadata xmlns="http://www.isotc211.org/2005/gmi" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:gmi="http://www.isotc211.org/2005/gmi" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmx="http://www.isotc211.org/2005/gmx" xmlns:gsr="http://www.isotc211.org/2005/gsr" xmlns:gss="http://www.isotc211.org/2005/gss" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.isotc211.org/2005/gmi https://www.ngdc.noaa.gov/metadata/published/xsd/schema.xsd">
    <gmd:fileIdentifier>
        <gco:CharacterString>{{metadataFilename}}</gco:CharacterString>
    </gmd:fileIdentifier>
    <gmd:language>
        <gco:CharacterString>eng; USA</gco:CharacterString>
    </gmd:language>
    <gmd:characterSet>
        <gmd:MD_CharacterSetCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_CharacterSetCode" codeListValue="utf8" codeSpace="004">utf8</gmd:MD_CharacterSetCode>
    </gmd:characterSet>
    <gmd:hierarchyLevel>
        <gmd:MD_ScopeCode codeList="http://www.isotc211.org/2005/resources/Codelist/gmxCodelists.xml#MD_ScopeCode" codeListValue="dataset" codeSpace="005">dataset</gmd:MD_ScopeCode>
    </gmd:hierarchyLevel>
    {% for contact in dataset.datasetSubmission.metadataContacts %}
    <gmd:contact>
        {% include "PelagosAppBundle:MetadataGenerator:CI_ResponsibleParty.xml.twig" with
            {
            "Person" : contact.person,
            "role" : contact.role,
            }
        %}
    </gmd:contact>
    {% endfor %}
    <gmd:dateStamp>
        <gco:DateTime>{{ dataset.datasetSubmission.modificationTimeStamp|date("c", "UTC") }}</gco:DateTime>
    </gmd:dateStamp>
    <gmd:metadataStandardName>
        <gco:CharacterString>ISO 19115-2 Geographic Information - Metadata - Part 2: Extensions for Imagery and Gridded Data</gco:CharacterString>
    </gmd:metadataStandardName>
    <gmd:metadataStandardVersion>
        <gco:CharacterString>ISO 19115-2:2009(E)</gco:CharacterString>
    </gmd:metadataStandardVersion>
    <gmd:dataSetURI>
        <gco:CharacterString>https://data.gulfresearchinitiative.org/metadata/{{dataset.udi}}</gco:CharacterString>
    </gmd:dataSetURI>
    <gmd:identificationInfo>
        {% include "PelagosAppBundle:MetadataGenerator:MD_DataIdentification.xml.twig" %}
    </gmd:identificationInfo>
    <gmd:distributionInfo>
        {% include "PelagosAppBundle:MetadataGenerator:MD_Distribution.xml.twig" %}
    </gmd:distributionInfo>
    <gmd:metadataMaintenance>
        <gmd:MD_MaintenanceInformation>
            <gmd:maintenanceAndUpdateFrequency gco:nilReason="unknown"/>
            <gmd:maintenanceNote>
                <gco:CharacterString>This ISO metadata record was automatically generated from information provided to GRIIDC for dataset: {{dataset.udi}} on {{ "now" | date("c") }}</gco:CharacterString>
            </gmd:maintenanceNote>
        </gmd:MD_MaintenanceInformation>
    </gmd:metadataMaintenance>
</gmi:MI_Metadata>
