<?php

define('LDAP_HOST','triton.tamucc.edu');
define('LDAP_BIND_DN','cn=ldapadmin,dc=griidc,dc=org');
define('LDAP_BIND_PW','changeme');
define('LDAP_GROUPS_BASE','ou=groups,dc=griidc,dc=org');

define('GRIIDC_PEOPLE_HOST','triton.tamucc.edu');
define('GRIIDC_PEOPLE_DBNAME','griidc_people');
define('GRIIDC_PEOPLE_USER','griidc_people_user');
define('GRIIDC_PEOPLE_PASSWORD','changeme');

define('SPOOL_DIR','/var/spool/account_requests');

$GLOBALS['APPLICATIONS'] = array('Drupal'=>'user','JIRA'=>'users','Mercurial'=>'users');

$GLOBALS['LDAP_AFFILIATIONS'] = array(
                                    array('ou'=>'GoMRI','objectClass'=>'groupOfNames'),
                                    array('ou'=>'consortia','objectClass'=>'organizationalUnit','defaultGroup'=>'members')
                                );

?>
