{% extends "PelagosAppBundle::layout.html.twig" %}

{% block body %}
    {% if is_granted('ROLE_DATA_REPOSITORY_MANAGER') %}
        <ul>
            <li><a href="{{ path("pelagos_app_ui_account_default") }}">Request Account</a></li>
            <li><a href="{{ path("pelagos_app_ui_datarepository_default", {id:1}) }}">Data Repository</a></li>
            <li><a href="{{ path("pelagos_app_ui_mdapp_default") }}">Metadata Approval Tool (MDApp)</a></li>
            <li><a href="{{ path("pelagos_app_ui_datasetsummary_default") }}">Dataset Summary and Deletion</a></li>
            <li><a href="{{ path("pelagos_app_ui_datasetrestrictions_default") }}">Dataset Restrictions</a></li>
            <li><a href="{{ path("pelagos_app_ui_datasetreview_default") }}">Dataset Review</a></li>
            <li><a href="{{ path("pelagos_app_ui_endreview_default") }}">End Review Tool</a></li>
            <li>
                Lists
                <ul>
                    <li><a href="{{ path("pelagos_app_list_fundingorganizations") }}">Funding Organizations</a></li>
                    <li><a href="{{ path("pelagos_app_list_researchgroups") }}">Research Groups</a></li>
                    <li><a href="{{ path("pelagos_app_list_people") }}">People</a></li>
                    <li><a href="{{ path("pelagos_app_ui_publicationdatasetlink_list") }}">Dataset - Publication Links</a></li>
                    <li><a href="{{ path("pelagos_app_list_nationaldatacenters") }}">National Data Centers</a></li>
                </ul>
            </li>
            <li>
                Create New:
                <ul>
                    <li><a href="{{ path("pelagos_app_ui_fundingorganization_default") }}">Funding Organization</a></li>
                    <li><a href="{{ path("pelagos_app_ui_fundingcycle_default") }}">Funding Cycle</a></li>
                    <li><a href="{{ path("pelagos_app_ui_researchgroup_default") }}">Research Group</a></li>
                    <li><a href="{{ path("pelagos_app_ui_person_default") }}">Person</a></li>
                    <li><a href="{{ path("pelagos_app_ui_persondatarepository_default") }}">Person to Data Repository Association</a></li>
                    <li><a href="{{ path("pelagos_app_ui_personfundingorganization_default") }}">Person to Funding Organization Association</a></li>
                    <li><a href="{{ path("pelagos_app_ui_publicationdatasetlink_default") }}">Dataset - Publication Link</a></li>
                    <li><a href="{{ path("pelagos_app_ui_nationaldatacenter_default") }}">National Data Center</a></li>
                </ul>
            </li>
            <li>
                Reports:
                <ul>
                    <li><a href="{{ path("pelagos_app_ui_reportresearchgroupdatasetstatus_default") }}">Report Research Group Dataset Status</a></li>
                    <li><a href="{{ path("pelagos_app_ui_gomrireport_default") }}">GOMRI Dataset Report</a></li>
                    <li><a href="{{ path("pelagos_app_ui_datasetdownloadreport_default") }}">Dataset Download Report</a></li>
                    <li><a href="{{ path("pelagos_app_ui_searchtermsreport_default") }}">Search Terms Report</a></li>
                </ul>
            </li>
        </ul>
    {% else %}
        {% include '@templates/AdminOnly.html.twig' %}
    {% endif %}
{% endblock %}
