<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
    {% for dataset in datasets %}
    <url>
        <loc>{{ url('pelagos_app_ui_dataland_default', {'udi': dataset.udi}) }} </loc> 
    </url>
    {% endfor %}
</urlset>